<%= form_for(@tipo_tarefa) do |f| %>
  <% if @tipo_tarefa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_tarefa.errors.count, "error") %> prohibited this tipo_tarefa from being saved:</h2>

      <ul>
      <% @tipo_tarefa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<ul class="tabs">
      <li><a href="#tab1"> tipo_tarefas - [Edicion]</a></li>
</ul>

<div class="tab_container">
      <div id="tab1" class="tab_content">
        <table>
          <tr>
            <td width="1000">
              <fieldset>

                <table>
                  <tr>
                                      
                      <td align="right">nome :</td>                    
                      <td><%= f.text_field :nome %></td>
                                      
                      <td align="right">icon :</td>                    
                      <td><%= f.text_area :icon %></td>
                                      </tr>                 
                </table>
              </fieldset>
            </td>
          </tr>
        </table>
      </div>
      
      <div class="buttons">
        <%= f.submit :value => " Grabar ", :class => "button" %>
        <%= link_to 'Volver', tipo_tarefas_path, :class => "button back" %>        
      </div>

    </div>
<% end %>