<h1 id="header"><%= t('LISTING') %> Acerto Modal</h1>
  <div class="group">
    <%= form_tag resultado_acerto_clientes_clientes_path, :method => "get" do %>
    <div class="row">
      <div class="col-md-12">
        <label>Periodo</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <div class="input-group">
            <%= text_field_tag :inicio, nil, onkeyup: "Formatadata(this,event)", required: true %>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" >
                <i class="icon-calendar" aria-hidden="true"></i>
              </button>
            </span>
          </div>
      </div>

      <div class="col-md-6">
          <div class="input-group">
            <%= text_field_tag :final, nil, onkeyup: "Formatadata(this,event)", required: true %>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" >
                <i class="icon-calendar" aria-hidden="true"></i>
              </button>
            </span>
          </div>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Cliente</label>
        <%= select("busca", "persona", Persona.where("tipo_cliente = 1 and tipo_vendedor = 1").select('id,nome').order('nome').collect {|p| [ p.nome, p.id ] }, { prompt: 'Selecione o Cliente' }) %>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <fieldset>
          <legend><%= t('COIN') %></legend>
          <input type="radio" id="moeda" name="moeda" value="0" <%= 'checked' if current_unidade.moeda.to_i == 0 %> /> <%= t('DOLLARS') %>
          <input type="radio" id="moeda" name="moeda" value ="1" <%= 'checked' if current_unidade.moeda.to_i == 1 %> /> <%= t('GUARANIS') %>
          <input type="radio" id="moeda" name="moeda" value="2" <%= 'checked' if current_unidade.moeda.to_i == 2 %> /> <%= t('REAIS') %>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <br>
        <input type="submit" class="btn btn-green" value="Informe"  style="cursor:pointer;" id="acao" data-toggle="modal" data-width="500" data-height="781" data-dismiss="modal" />
        <input  id="button" type="submit" class="btn btn-blue" value="Excel" onclick = "Tipo('1')"/>
        <input type="hidden" name="tipo" id="tipo" size="5" value="0"/>

      </div>
    </div>
   </div>
 <% end %>


<script>



  function Tipo(d){
    document.getElementById('tipo').value = d
  }

  $('#busca_vendedor').selectize();
  $('#busca_persona').selectize();
  $('#busca_direcao').selectize();
  $('#busca_classif').selectize();
  $('#busca_cc').selectize();

</script>

<script>
      $(function() {
      $( "#persona_nome" ).autocomplete({
          source: function( request, response ) {
          $.ajax({
            url: "/personas/busca",
            dataType: "json",
            data: {
              tipo: 'DESCRIPCION',
              busca: request.term
            },
            success: function( data ) {
              response( data );
            },
          });
        },
        minLength: 2,
        change: function( event, ui ) {
          $("#persona_id").val("");
          $('#persona_id').val(ui.item.id);
          return false;
        }
      });
      $( "#cobro_persona_nome" ).change(function(){
        if ($( "#persona_id" ).val() == ''){
        }
      });
    });
</script>

<script>

    $(document).on('submit', 'form', function(event) {
      if ($("#tipo").val() == '0' ) {
        event.preventDefault();
        $('#myiframe').modal('show');
        var width  = $(this).attr('data-width') || 640;
        var height = $(this).attr('data-height') || 760;

        var allowfullscreen = $(this).attr('data-video-fullscreen');

        $("#myiframe iframe").attr({
          'src': '/clientes/resultado_acerto_modal?' + $('form').serialize(),
          'height': height,
          'width': width,
          'allowfullscreen':''
        });

        $('#myiframe').on('hidden.bs.modal', function(){
          $(this).find('iframe').html("");
          $(this).find('iframe').attr("src", "");
        });
      }
    });


</script>


<div class="modal fade" id="myiframe" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document" style=" width: 1100px !important; ">
    <div class="modal-content">
      <div class="modal-header">
        <div class="close-button">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <h4 class="modal-title" id="myModalLabel"><%= t('LISTING') %> de <%= t('ACCOUNT') %>s a <%= t('RECEIVE') %></h4>
      </div>
      <div class="modal-body" align="center">
        <div class="embed-responsive embed-responsive-16by9" style="height: 460px">
          <iframe class="embed-responsive-item" id="iframeModal" frameborder="0 " border="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
