<h1 id="header">Extracto de Empleados</h1>
  <div class="group">
    <%= form_tag resultado_extracto_funcionario_clientes_path, :method => "get" do %>
    <div class="row">
      <div class="col-md-12">
        <label>Periodo</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= select_tag 'tipo_data', options_for_select([['Emición','emicao'],['Vencimiento','vencimento']]), autofocus: true %>
      </div>
      <div class="col-md-4">
          <div class="input-group">
            <%= text_field_tag :inicio, nil, onkeyup: "Formatadata(this,event)", required: true %>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" >
                <i class="icon-calendar" aria-hidden="true"></i>
              </button>
            </span>
          </div>
      </div>

      <div class="col-md-4">
          <div class="input-group">
            <%= text_field_tag :final, nil, onkeyup: "Formatadata(this,event)", required: true %>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" >
                <i class="icon-calendar" aria-hidden="true"></i>
              </button>
            </span>
          </div>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Empleados</label>
          <%= select("busca", "funcionario", Persona.all(:select => 'id,nome',:conditions => ["tipo_funcionario = 1"],:order => 'nome').collect {|p| [ p.nome, p.id ] }, { prompt: 'Todos...'}) %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label><%= t('DOC') %></label>
        <%= text_field_tag :doc,'', class: 'panel-field' %>

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <fieldset>
          <legend>Filtros</legend>
          <input id="filtro" name="filtro" type="radio" value="0"  checked/> <%= t('EM') %> <%= t('OPEN') %>
          <input id="filtro" name="filtro" type="radio" value="1"/> Canceladas
          <input id="filtro" name="filtro" type="radio" value="2"/> Todos
        </fieldset>
      </div>
      <div class="col-md-6">
        <fieldset>
          <legend>Empleado</legend>
          <input type="radio" id="cliente_status" name="cliente_status" value="0" checked/> Activos
          <input type="radio" id="cliente_status" name="cliente_status" value="1"/> Bloqueados
          <input type="radio" id="cliente_status" name="cliente_status" value=""/> Todos
        </fieldset>        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <fieldset>
          <input type="radio" id= "detalhe" name="detalhe" value="1"/>
          Analitico
          <input type="radio" id= "detalhe" name="detalhe" value="8"/>
          Analitico y Productos

         </fieldset>        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= check_box_tag :lancamento,'1', checked: true %> Todos lo lanzamientos
        <%= check_box_tag :saldo_periodo, '1' %> Saldo del Periodo
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <fieldset>
          <legend><%= t('COIN') %></legend>
          <input type="radio" id="moeda" name="moeda" value="0" <%= 'checked' if current_unidade.moeda.to_i == 0 %> /> <%= t('DOLLARS') %>
          <input type="radio" id="moeda" name="moeda" value ="1" <%= 'checked' if current_unidade.moeda.to_i == 1 %> /> <%= t('GUARANIS') %>
          <input type="radio" id="moeda" name="moeda" value="2" <%= 'checked' if current_unidade.moeda.to_i == 2 %> /> <%= t('REAIS') %>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <br>
        <input type="submit" class="btn btn-green" value="Informe"  style="cursor:pointer;" id="acao" data-toggle="modal" data-width="500" data-height="781" data-dismiss="modal" />
        <input id="button" type="submit" class="btn btn-blue" value="Excel" onclick = "Tipo('1')"/>
        <input type="hidden" name="tipo" id="tipo" size="5" value="0"/>
        
      </div>
    </div>
   </div>
 <% end %>


<script>
  function Tipo(d){
    document.getElementById('tipo').value = d
  }

  $('#busca_vendedor').selectize();
  $('#busca_direcao').selectize();
  $('#busca_classif').selectize();

</script>



<script>
  
    $(document).on('submit', 'form', function(event) {
      if ($("#tipo").val() == '0' ) {
        event.preventDefault();
        $('#myiframe').modal('show');
        var width  = $(this).attr('data-width') || 640; 
        var height = $(this).attr('data-height') || 760;
        
        var allowfullscreen = $(this).attr('data-video-fullscreen');

        $("#myiframe iframe").attr({
          'src': '/clientes/resultado_extracto_funcionario?' + $('form').serialize(),
          'height': height,
          'width': width,
          'allowfullscreen':''
        });

        $('#myiframe').on('hidden.bs.modal', function(){
          $(this).find('iframe').html("");
          $(this).find('iframe').attr("src", "");
        });
      }
    });
  

</script>


<div class="modal fade" id="myiframe" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document" style=" width: 1100px !important; ">
    <div class="modal-content">
      <div class="modal-header">
        <div class="close-button">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>  
        <h4 class="modal-title" id="myModalLabel">Extracto de Empleados</h4>
      </div>
      <div class="modal-body" align="center">
        <div class="embed-responsive embed-responsive-16by9" style="height: 460px">
          <iframe class="embed-responsive-item" id="iframeModal" frameborder="0 " border="0"></iframe>
        </div>
      </div>      
    </div>
  </div>
</div>
