<div class="row">
  <div class="col-md-7">
  	<div class="row">
  		<div class="col-md-12">
		    <div class="panel">
          <h1 id="header">
		    		Factura
          </h1>

		      <table class="head_grid">
		        <tr>
		          <td width="70">Lanz.</td>
		          <td width="100">Factura</td>
              <td width="60">CDC</td>
              <td width="100">Estado SET</td>
		        </tr>
		      </table>

		      <div class="rolagem" dir="div" style="height: 180px">
		        <table>
		          <% @fts.each do |ft| %>
              <%= render partial: "/form_fiscals/consulta_estado", locals: {cdc: ft.cdc} %>
		          <% if ft.status == 2 %>
		            <% anulada  = 'li-ft' %>

		          <% end %>

		            <tr class = "<%= cycle("cor1", "cor2") %> <%= raw anulada %>">

  		            <td width="70"><%= link_to ft.id, form_fiscal_path(ft.id), target: '_blank?' %></td>
		              <td width="100"><%= ft.doc_01 %>.<%= ft.doc_02 %>.<%= ft.doc %></td>
                  <td width="60" title="<%= ft.cdc %>"><small><%= ft.cdc.to_s[38..44] %></small></td>
                  <td>
                    <%= @get_resp["deList"][0]["situacion"].to_s %> -
                    <% if @get_resp["deList"][0]["situacion"].to_s == '0' %>
                      Generado DE
                    <% elsif @get_resp["deList"][0]["situacion"].to_s == '1' %>
                      Enviado en un Lote
                    <% elsif @get_resp["deList"][0]["situacion"].to_s == '2' %>
                      Aprobado
                    <% elsif @get_resp["deList"][0]["situacion"].to_s == '3' %>
                      Aprobado con observacion
                    <% elsif @get_resp["deList"][0]["situacion"].to_s == '4' %>
                      <span style="color: red">Rechazado</span>
                    <% elsif @get_resp["deList"][0]["situacion"].to_s == '98' %>
                      Inexistente
                    <% elsif @get_resp["deList"][0]["situacion"].to_s == '99' %>
                      Cancelado
                    <% end %><br>
                    <%= @get_resp["deList"][0]["respuesta_mensaje"] %>
                  </td>
		              <% if ft.status == 1 %>
                    <td><span class="btn-success">Activo</span></td>
		                <td><%= link_to 'Anular', form_anula_nc_form_fiscal_path(ft, status: '2', modal: 'true') %></td>
		                <td><%= link_to 'Retroceder', form_anula_nc_form_fiscal_path(ft, status: '0', modal: 'true') %></td>
                    <% if ft.tipo_emissao.to_i == 0 %>
                      <td><%= link_to 'Re-imprimir', "#",  :onclick => "MultiplaFaturaVenda(#{ft.id})" %></td>
                    <% else %>
                      <td><%= link_to 'Gerar pdf', gera_pdf_cdc_form_fiscals_path( cdc: ft.cdc, id: ft.id) %></td>
                      <td>
                        <%= link_to image_tag('whats.png', height: 25), '#', onclick:"SendWhats( '#{ ft.doc_01 }-#{ ft.doc_02 }-#{ ft.doc.to_s.rjust(5,'0') }','#{ft.arquivo_pdf.to_s.gsub!(/\s+/, '')}')" %>
                      </td>
                    <% end %>
                  <% elsif ft.status == 2 %>
                    <td><span class="btn-danger">Anulado</span></td>
                    <% if ft.tipo_emissao.to_i == 1 %>
                      <td><%= link_to 'Gerar pdf', gera_pdf_cdc_form_fiscals_path( cdc: ft.cdc, id: ft.id) %></td>
                    <% end %>
		              <% elsif ft.status == 3 %>
                    <td><span class="btn-warning">Inutilizado</span></td>
                    <% if ft.tipo_emissao.to_i == 1 %>
                      <td><%= link_to 'Gerar pdf', gera_pdf_cdc_form_fiscals_path( cdc: ft.cdc, id: ft.id) %></td>
                    <% end %>
		              <% end %>
		            </tr>


                  <div class="modal fade" id="detalhe-doc-<%= ft.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content modal-sm">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <h4 class="modal-title" id="myModalLabel">Resumen Factura</h4>
                        </div>
                      </div>
                    </div>
                  </div>

		          <% end %>
		        </table>
		      </div>
		    </div>
  		</div>

  		<div class="col-md-12">
				<div class="panel">
         <% unless @fts.present? %>
            <div class="panel-content">
              <% if @cliente.persona.cidade.api_id.blank? %>
               <div class="alert alert-danger" role="alert">
                  Atualize a Cidade do Cadastro <%= link_to 'Aqui', edit_persona_path(@cliente.persona_id), target: '_blank' %>
               </div>
              <% end %>
              <%= render partial: "form_fiscals/attr_forms/cliente_update_ft" %>
            </div>
          <% else %>
            <div class="panel-content">
            <% if @fts.first.status.to_i != 1 %>
              <%= render partial: "form_fiscals/attr_forms/cliente_update_ft" %>
            <% end %>
            </div>

            <!-- controle de impressao !-->
            <% if @fts.first.status.to_i == 1 and  @fts.first.impressao.to_i == 0 %>
              <script type="text/javascript">
                function MultiplaFaturaVenda(){
                  window.open('/form_fiscals/' + <%= @fts.first.id %> +'/impressao_ft', 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');

                    $.ajax({
                        type: "POST",
                        url: '/form_fiscals/'+ <%= @fts.first.id %> +'/update_impressao',
                        data: 'id=' + <%= @fts.first.id %>,
                        dataType: 'script'
                    })

                }
                window.onload = MultiplaFaturaVenda;
              </script>
            <% else %>
              <script type="text/javascript">
                function MultiplaFaturaVenda(id){
                  window.open('/form_fiscals/' + id +'/impressao_ft', 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
                    $.ajax({
                        type: "POST",
                        url: '/form_fiscals/'+ id +'/update_impressao',
                        data: 'id=' + id,
                        dataType: 'script'
                    })
                }
              </script>
            <% end %>
            <% end %>
				</div>
  		</div>
  	</div>
  </div>

  <div class="col-md-5">
    <div class="panel">
    	<header class="panel-heading" style="font-family: 'prox'; font-size: 18px; padding-bottom: 10px;">
    		Productos/Servicos
    	</header>

    	<div class="panel-content">
        <table class="head_grid">
          <tr>
            <td width="200">Productos/Servicos</td>
            <td width="70" align="right">Cant.</td>
            <td width="55"></td>
            <td width="70" align="right"><%= t('VALUE') %></td>
            <td width="70" align="right">Total</td>
          </tr>
        </table>
        <div class="rolagem" dir="div">
          <table>
            <% @contra_servis.each do |cs| %>
              <tr class = "<%= cycle("cor1", "cor2") %>">
                <td width="200"><small><%= cs.produto.nome %> - <%= cs.obs %></small></td>
                <td width="70" align="right"><%= cs.quantidade %></td>
                <% if @cliente.moeda.to_i == 0 %>
                  <td width="55" align="center"><span class="us">U$</span></td>
                  <td width="70" align="right"><b><span class="us"><%= format_decimal(cs.unitario_us) %></span></b></td>
                  <td width="70" align="right"><b><span class="us"><%= format_decimal(cs.total_us) %></span></b></td>
                <% elsif @cliente.moeda.to_i == 1 %>
                  <td width="55" align="center"><span class="gs">Gs</span></td>
                  <td width="70" align="right"><b><span class="gs"><%= format_int(cs.unitario_gs) %></span></b></td>
                  <td width="70" align="right"><b><span class="gs"><%= format_int(cs.total_gs) %></span></b></td>

                <% elsif @cliente.moeda.to_i == 2 %>
                  <td width="55" align="center"><span class="rs">R$</span></td>
                  <td width="70" align="right"><b><span class="rs"><%= format_decimal(cs.unitario_rs) %></span></b></td>
                  <td width="70" align="right"><b><span class="rs"><%= format_decimal(cs.total_rs) %></span></b></td>
                <% end %>

              </tr>
            <% end %>
          </table>
        </div>
    	</div>
    </div>
  </div>

</div>


