<div class="modal fade" id="modal-tarefa" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title" id="myModalLabel">Adicionar atividade</h4>
        </div>
         <div class="modal-body">
          <%= form_for(Tarefa.new) do |f| %>
            <div class="row panel-modal-body">
              <div class="col-md-12">
                <label>Responsable</label>
                <%= f.collection_select :vendedor_id, Persona.where(tipo_vendedor: 1).select('id,nome').order('2'), :id, :nome, { prompt: 'Selecione lo responsable' }, {class: 'panel-field'} %>
              </div>


              <div class="col-md-12">
                <label>Cliente</label>
                <%= f.text_field :persona_nome, class: "panel-field" %>
                <%= f.hidden_field :persona_id %>
              </div>

              <div class="col-md-12">
                <label>Servicios/Productos</label>
                <%= f.collection_select :produto_ids, Produto.select('id,nome'), :id, :nome, {}, {:multiple => true} %>
              </div>

              <div class="col-md-12">
                <label>Inicio</label>
                <%= f.datetime_select :dia_inicio, class: "panel-field" %>
              </div>

              <div class="col-md-12">
                <label>Final</label>
                <%= f.datetime_select :dia_final, class: "panel-field" %>
              </div>

              <div class="col-md-12">
                <label>Obs</label>
                <%= f.text_area :descricao, rows: 3, class: "panel-field" %>
              </div>

                <div class="col-md-12">
                <br>
                <%= f.submit t('SAVE'), class: "btn btn-green", disable_with: "Aguarde...", "dia-plus-as-tab" => "false" %>
             </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
