<div class="modal fade" id="modal-new-persona" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 style="font-size: 16px; font-weight: bold;">Nueva Persona</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 35px 20px 35px 20px">
          <%= form_for(Persona.new, remote: true) do |f| %>
            <%= f.hidden_field :tabela_preco_id, value: 1 %>
            <%= f.hidden_field :tipo_fornecedor, value: 1 %>
            <div class="row">
              <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-12">
                        <label><%= t('DOC_PER') %></label>
                        <%= f.text_field :ruc, size: 13, required: false, class: 'panel-field', autofocus: true %>
                      </div>

                      <div class="col-md-12">
                        <label><%= t('NAME') %> Fantasia</label>
                        <%= f.text_field :nome, class: 'panel-field', required: true %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <label>Razão Social</label>
                        <%= f.text_field :nome_fatura, class: 'panel-field' %>
                      </div>
                    </div>

                    <div class="row">


                      <div class="col-md-12">
                        <label>Telefone 01</label>
                        <%= f.text_field :telefone, size: 21, class: 'panel-field' %>
                      </div>

                      <div class="col-md-12">
                        <label>E-mail</label>
                        <%= f.email_field :email, size: 36, class: 'panel-field' %>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-md-12" align="center">
                        <hr>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <label><%= t('ADDRESS') %></label>
                        <%= f.text_field :direcao, class: 'panel-field' %>
                      </div>
                    </div>
                   <div class="footer-buttons">
                      <%= f.submit 'Gravar', class: "btn btn-green bt-persona-new", disable_with: "Aguarde...", "data-plus-as-tab" => "false" %>
                   </div>

                  </div>
                </div>
          <% end %>

          <script type="text/javascript">

            $('#modal-new-persona').on('shown.bs.modal', function() {
              $('#persona_ruc').focus();
              $('#persona_nome').val($('.prov-persona_nome').val());
            })

            $('#persona_seguimento_id').selectize();
            $('#persona_cidade_id').selectize();

            $('.bt-persona-new').click(function() {
              $('#modal-new-persona').modal().hide();
              $('.prov-persona_nome').val('');
              $('.prov-persona_nome').focus();
            });
          </script>

      </div>
    </div>
  </div>
</div>
