<div class="row">
  <div class="col-md-4">
    <%= render 'btns_receber_pagar' %>
    <%= render 'saldo_moedas' %>
  </div>

  <div class="col-md-4">
    <%= render 'contas_pagar' %>
  </div>

  <div class="col-md-4">
    <%= render 'contas_receber' %>
  </div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="row">
  <div class="col-md-8">
    <%= render 'fluxo_caixa_semana' %>
    <%= render 'proximos_10_dias' %>
  </div>
  <div class="col-md-4">
    <%= render 'receber_classif' %>
    <%= render 'pagar_classif' %>
  </div>
</div>
