
<p>
  <strong>Conferencia:</strong>
  <%= @conferencia_produto.conferencia_id %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @conferencia_produto.produto_id %>
</p>

<p>
  <strong>Produtos grade:</strong>
  <%= @conferencia_produto.produtos_grade_id %>
</p>

<p>
  <strong>Produto <%= t('NAME') %>:</strong>
  <%= @conferencia_produto.produto_nome %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @conferencia_produto.cor_id %>
</p>

<p>
  <strong>Tamanho:</strong>
  <%= @conferencia_produto.tamanho_id %>
</p>

<p>
  <strong>Cor <%= t('NAME') %>:</strong>
  <%= @conferencia_produto.cor_nome %>
</p>

<p>
  <strong>Tamanho <%= t('NAME') %>:</strong>
  <%= @conferencia_produto.tamanho_nome %>
</p>

<p>
  <strong>Fabricante cod:</strong>
  <%= @conferencia_produto.fabricante_cod %>
</p>


