<div class="group">
  <table class="head_grid">
    <tr>
      <td width="50" align="center"><%= t('CODE') %></td>
      <td width="70" align="center"><%= t('DATE') %></td>
      <td width="150">Operación</td>
      <td width="200">Cuenta <%= t('SOURCE_S') %></td>
      <td width="200">Cuenta Destino</td>
      <td width="80" align="right">Valor Gs.</td>
      <td width="80" align="right">Valor U$.</td>
      <td width="80" align="right">Valor R$.</td>
    </tr>
  </table>
  <div class="rolagem" id="div">
    <table>

      <% @transferencia_contas.each do |tc| %>
      <% if (tc.valor_us.to_f + tc.valor_gs.to_f + tc.valor_rs.to_f) == 0 %>
        <% color = '#fa3e40' %>
      <% else %>
        <% color = '' %>
      <% end %>
        <tr class = "<%= cycle("cor1", "cor2")%>">
          <td width="50" align="center" bgcolor="<%= color%>"><%= tc.id.to_s.rjust(6,'0') %></td>
          <td width="70" align="center" bgcolor="<%= color%>"><%= tc.data.strftime("%d/%m/%y") %></td>
          <td width="150" bgcolor="<%= color%>">
            <% if tc.deposito == 0 %>
              TRANF. CONTAS
            <% elsif tc.deposito == 1 %>
              DEPOSITO
            <% elsif tc.deposito == 2 %>
              TRANF CHEQ./EFETIVO
            <% end %>
          </td>
          <td width="200" align="left" bgcolor="<%= color%>"><%= truncate(tc.ingreso_nome,:length => 25) %></td>
          <td width="200" align="left" bgcolor="<%= color%>"><%= truncate(tc.destino_nome,:length => 25) %></td>
          <td width="80" align="right" bgcolor="<%= color%>"><%= number_to_currency(tc.valor_gs, :format=>' %n ', :precision => 0) %></td>
          <td width="80" align="right" bgcolor="<%= color%>"><%= number_to_currency(tc.valor_us, :format=>' %n ', :separator => ",") %></td>
          <td width="80" align="right" bgcolor="<%= color%>"><%= number_to_currency(tc.valor_rs, :format=>' %n ', :separator => ",") %></td>
          <td bgcolor="<%= color%>"><%= link_to '', edit_transferencia_conta_path(tc), class: 'icon-pencil' %></td>
          <td bgcolor="<%= color%>"><%= link_to '', tc, :confirm => t('CONFIRMATION_MESSAGE'), :method => :delete, class: 'icon-trash' %></td>
          <td bgcolor="<%= color%>"><%= link_to '', comprovante_transferencia_conta_path(tc), class: 'icon-print' %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="head_grid">
  <%= will_paginate @transferencia_contas %>
</div>
