
<p>
  <strong>Contrato:</strong>
  <%= @contrato_custo_dt.contrato_id %>
</p>

<p>
  <strong><%= t('DATE') %>:</strong>
  <%= @contrato_custo_dt.data %>
</p>

<p>
  <strong><%= t('PERSON') %>:</strong>
  <%= @contrato_custo_dt.persona_id %>
</p>

<p>
  <strong>Valor rs:</strong>
  <%= @contrato_custo_dt.valor_rs %>
</p>

<p>
  <strong>Valor us:</strong>
  <%= @contrato_custo_dt.valor_us %>
</p>

<p>
  <strong>Valor gs:</strong>
  <%= @contrato_custo_dt.valor_gs %>
</p>

<p>
  <strong>Contrato custo:</strong>
  <%= @contrato_custo_dt.contrato_custo_id %>
</p>


