
<!-- Interacao com real !-->
  <%= form_for(@ingresso) do |f| %>
    <% if @ingresso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingresso.errors.count, "erros") %> encontrados:</h2>

      <ul>
        <% @ingresso.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="tabs">
     <li><a href="#tab1">Ingresos - [Edicion]</a></li>
  </ul>

   <div class="tab_container">
         <div id="tab1" class="tab_content">
            <table>
               <tr>
                  <td>
                    <fieldset>
                        <table>
                          <tr>
                            <td align="right">Fecha:</td>
                            <td colspan="3"> <%= f.date_select :data %></td>
                          </tr>

                          <tr>
                            <td align="right">Cotizaci贸n :</td>
                            <td> <%= text_field  :ingresso,:cotacao ,
                              :size     => 10,
                              :value    => @ingresso.cotacao.to_i %>
                            </td>

                            <td align="right">R$ :</td>
                            <td> <%= text_field  :ingresso, :cotacao_real ,
                              :size     => 10,
                              :value    => @ingresso.cotacao.to_i %>
                            </td>
                          </tr>
                        <tr>
                          <td></td>
                          <td colspan="4">
                          <fieldset>
                            <legend>Moneda</legend>
                              <%= f.radio_button :moeda, 1 %> Gs.
                              <%= f.radio_button :moeda, 0 %> D贸lar
                              <%= f.radio_button :moeda, 2 %> Real
                          </fieldset>
                          </td>
                        </tr>

                        <tr>
                          <td align="right">Documento :</td>
                          <td><%= f.collection_select :documento_id, Documento.all( :select => ' id, nome',
                                                      :order  => '2' ), :id,
                                                      :nome %></td>
                        </tr>
                        <tr>
                          <td align="right">Persona :</td>
                          <td colspan="8"><%= f.collection_select :persona_id, Persona.all( :select => ' id, nome', conditions: "tipo_cliente = 1",
                                                      :order  => '2' ), :id, :nome, {prompt: 'Seleccione la Persona'}, {class: 'selc_medium'} %></td>
                        </tr>

                      </table>
                    </fieldset>
                  </td>
                </tr>

                <tr>
                  <td>
                    <fieldset>
                        <table>
                        <tr>
                          <td align="right">Cuenta :</td>
                          <td><%= f.collection_select :conta_id, Conta.all( :select => ' id, nome',
                                                                            :conditions => ["unidade_id = #{current_unidade.id}"],
                                                                            :order  => '2' ), :id,
                                                                            :nome, {:prompt => "Seleccione caja/banco"} %></td>

                        </tr>

                        <tr>
                          <td align="right"></td>
                          <td><%= f.check_box :cheque_status %> Cheque?</td>
                        </tr>

                        <tr>
                          <td align="right">Cheque :</td>
                          <td><%= f.text_field  :cheque, :size => 15 %></td>

                          <td align="right">Fecha Diferido :</td>
                          <td><%= f.date_select :diferido%></td>

                        </tr>

                        <tr>
                          <td align="right">Titular :</td>
                          <td><%= f.text_field  :titular, :size => 25 %></td>

                          <td align="right">Banco :</td>
                          <td colspan="4">
                          <%= f.collection_select :banco_id, Persona.all( :select => ' id, nome', :conditions => ["tipo_banco = 1"],
                                                                            :order  => '2' ), :id, :nome, {:prompt => "Seleccione el Banco"} %>

                          </td>
                        </tr>

                        <tr>
                          <%= field_gs 'Valor Gs.:',f, :valor_guarani,
         							    :onchange   => "GsToUsRs('ingresso_cotacao','ingresso_cotacao_real','ingresso_valor_guarani','ingresso_valor_dolar','ingresso_valor_real')"  %>

                          <%= field_us 'Valor U$:',f, :valor_dolar,
         							    :onchange   => "UsToGsRs('ingresso_cotacao','ingresso_cotacao_real','ingresso_valor_dolar','ingresso_valor_guarani','ingresso_valor_real')" %>

                          <%= field_us 'Valor R$:',f, :valor_real,
         							    :onchange   => "RsToUsGs('ingresso_cotacao','ingresso_cotacao_real','ingresso_valor_guarani','ingresso_valor_dolar','ingresso_valor_real')" %>
                        </tr>

                        <tr>
                          <td align="right">Clasificaci贸n:</td>
                          <td colspan="4"><%= f.collection_select :rubro_id, Rubro.all( :select => ' id, descricao',
                                                                            :order  => '2' ), :id, :descricao, {prompt: 'Seleccione la Classificaci贸n'}, {class: 'selc_medium'} %></td>
                        </tr>

                      </table>
                    </fieldset>
                  </td>
                </tr>
                <tr>
                  <td colspan="8"><%= f.text_area :concepto, cols: 120, rows: 5, placeholder: 'Concepto:' %></td>
                </tr>
              </table>
            </div>
              <div class="buttons">
              <%= f.submit "   Grabar  ",:disable_with => "Aguarde..." , :class => "button" %>

              <%= link_to 'Volver', ingressos_path, :class => "button back" %>
              </div>
        </div>
  <% end %>

<script type="text/javascript">
//busca cotacao dolar
  $(document).ready(function() {
    $('#ingresso_cotacao').focus();
  });

$("#ingresso_cotacao").focus(function(){
  $.ajax({url: '/buscas/cotz_us_compra',
          type: 'POST',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          data: 'data=' + $('#ingresso_data_3i').val()+'/'+
                          $('#ingresso_data_2i').val()+'/'+
                          $('#ingresso_data_1i').val(),
          success: function(data){
          $('#ingresso_cotacao').val(data);} })
});
//busca cotacao real
$("#ingresso_cotacao_real").focus(function(){
  $.ajax({url: '/buscas/cotz_rs_compra',
          type: 'POST',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          data: 'data=' + $('#ingresso_data_3i').val()+'/'+
                          $('#ingresso_data_2i').val()+'/'+
                          $('#ingresso_data_1i').val(),
          success: function(data){
          $('#ingresso_cotacao_real').val(data);} })
});
</script>
