
<p>
  <strong><%= t('CHARGE') %>:</strong>
  <%= @cobros_fatura.cobro_id %>
</p>

<p>
  <strong><%= t('DATE') %>:</strong>
  <%= @cobros_fatura.data %>
</p>

<p>
  <strong>Documento numero 01:</strong>
  <%= @cobros_fatura.documento_numero_01 %>
</p>

<p>
  <strong>Documento numero 02:</strong>
  <%= @cobros_fatura.documento_numero_02 %>
</p>

<p>
  <strong>Documento numero:</strong>
  <%= @cobros_fatura.documento_numero %>
</p>

<p>
  <strong>Valor us:</strong>
  <%= @cobros_fatura.valor_us %>
</p>

<p>
  <strong>Valor gs:</strong>
  <%= @cobros_fatura.valor_gs %>
</p>

<p>
  <strong>Moeda:</strong>
  <%= @cobros_fatura.moeda %>
</p>

<p>
  <strong><%= t('PERSON') %>:</strong>
  <%= @cobros_fatura.persona_id %>
</p>

<p>
  <strong>Persona <%= t('NAME') %>:</strong>
  <%= @cobros_fatura.persona_nome %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @cobros_fatura.tipo %>
</p>


