<div class="row">
  <div class="col-md-12">

    <div class="panel">
      <div class="panel-content">
        <%= form_for [:crm, Etapa.new] do |f| %>
          <%= f.hidden_field :pipeline_id, value: @pipeline.id %>
          <%= f.hidden_field :ordem, value: (Etapa.where(pipeline_id: @pipeline.id).count(:id).to_i + 1) %>
          <div class="row">
            <div class="col-md-6">
              <label>Etapa</label>
              <%= f.text_field :nome, class: 'panel-field' %>
            </div>
            <div class="col-md-3 padding-btn"><%= f.submit t('SAVE'), class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false"%></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>    

  <div class="col-md-12">
    <div class="panel">
      <div class="panel-content">
      <script>
      $( function() {

        $("#sortable" ).sortable({
           update: function(e,ui){
             var lis = $("#sortable li");
             var ids = lis.map(function(i,el){return {id:el.id, priority:el.dataset.priority}}).get();
             console.log(JSON.stringify(ids));
             $.ajax({
               url:'/crm/etapas/update_order_etapas',
               method:'GET',
               data: {
                 ids:ids
               }
             });
           } 
        });          
      } );
      </script>
      <ul id="sortable" class="list-group">
        <% @pipeline.etapas.order(:ordem).each do |pe| %>
          <li class="list-group-item" id="<%= pe.id %>">
            <b><%= pe.nome %></b> 
            <div class="pull-right">
              <%= link_to '', edit_crm_etapa_path(pe), class: 'icon-pencil' %>
              <%= link_to '', [:crm, pe], :confirm => 'Estas Seguro?', :method => :delete , class: 'icon-trash' %>
            </div>
          </li>
        <% end %>
      </ul>

      </div>
    </div>
  </div>    
</div>
