<div class="panel">
  <h1 id="header">
    Pipelines
    <div class="pull-right">
      <%= link_to t("NEW"), '#', class: 'button add', 'data-toggle' => "modal", 'data-target' => "#form_modal", 'data-dismiss' => "modal", 'aria-labe' => "Close" %>
    </div>
  </h1>
  <div class="panel-body">

<table class="head_grid">
  <tr>
    <td width="50">Codigo</td>
    <td width="200">Funil</td>
    <td width="100">Status</d>
  </tr>
</table>

<div class="rolagem" dir="div">
  <table>
    <% @pipelines.each do |pipeline| %>
      <tr class = "<%= cycle("cor1", "cor2") %>">
        <td width="50"><%= pipeline.id.to_s.rjust(6,'0') %></td>
        <td width="200"><%= link_to pipeline.nome, crm_pipeline_path(pipeline) %></td>
        <td width="100"><%= pipeline.status %></td>
        <td><%= link_to '', configs_crm_pipeline_path(pipeline), class: 'icon-list' %></td>
        <td><%= link_to '', edit_crm_pipeline_path(pipeline), class: 'icon-pencil' %></td>
        <td width="30">
          <%= link_to '', [:crm, pipeline], :confirm => 'Estas Seguro?', :method => :delete , class: 'icon-trash' %>
        </td>       
      </tr>
    <% end %>
  </table>
</div>
</div>
</div>




<div class="modal fade" id="form_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document" style=" width: 300px !important; ">
    <div class="modal-content">
      <div class="modal-header">
        <div class="close-button">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <h4 class="modal-title" id="myModalLabel"><%= t('NEW') %> <span class="cota"></span></h4>
      </div>
      <div class="modal-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>