
<p>
  <strong>Pago:</strong>
  <%= @pagos_adelanto.pago_id %>
</p>

<p>
  <strong><%= t('DATE') %>:</strong>
  <%= @pagos_adelanto.data %>
</p>

<p>
  <strong><%= t('PERSON') %>:</strong>
  <%= @pagos_adelanto.persona_id %>
</p>

<p>
  <strong>Liquidacao:</strong>
  <%= @pagos_adelanto.liquidacao %>
</p>

<p>
  <strong>Documento numero 01:</strong>
  <%= @pagos_adelanto.documento_numero_01 %>
</p>

<p>
  <strong>Documento numero 02:</strong>
  <%= @pagos_adelanto.documento_numero_02 %>
</p>

<p>
  <strong>Documento numero:</strong>
  <%= @pagos_adelanto.documento_numero %>
</p>

<p>
  <strong>Cota:</strong>
  <%= @pagos_adelanto.cota %>
</p>

<p>
  <strong>Valor us:</strong>
  <%= @pagos_adelanto.valor_us %>
</p>

<p>
  <strong>Valor gs:</strong>
  <%= @pagos_adelanto.valor_gs %>
</p>

<p>
  <strong>Valor rs:</strong>
  <%= @pagos_adelanto.valor_rs %>
</p>


