
<p>
  <strong>Provi:</strong>
  <%= @provi_detalhe.provi_id %>
</p>

<p>
  <strong><%= t('DATE') %>:</strong>
  <%= @provi_detalhe.data %>
</p>

<p>
  <strong>Centro custo:</strong>
  <%= @provi_detalhe.centro_custo_id %>
</p>

<p>
  <strong>Rubro:</strong>
  <%= @provi_detalhe.rubro_id %>
</p>

<p>
  <strong>Valor us:</strong>
  <%= @provi_detalhe.valor_us %>
</p>

<p>
  <strong>Valor gs:</strong>
  <%= @provi_detalhe.valor_gs %>
</p>

<p>
  <strong>Valor rs:</strong>
  <%= @provi_detalhe.valor_rs %>
</p>

<p>
  <strong>Moeda:</strong>
  <%= @provi_detalhe.moeda %>
</p>


