<table class="head_grid">
   <tr>
      <td width="50"><%= t('SHARE') %></td>
      <td width="80" align="center">Venci.</td>
      <td width="70" align="right"><%= t('VALUE') %></td>
      <td width="200">Cuenta p/ Pago</td>
      <td width="165"></td>
   </tr>
</table>
<div class="rolagem" dir="div" style="height: 150px">
   <table>
      <% tot_us = 0 %>
      <% tot_gs = 0 %>
      <% tot_rs = 0 %>
      <% tot_eu = 0 %>
      <% compras_financas.each do |cf| %>
        <tr class = "<%= cycle("cor1", "cor2") %>">
          <td width="50"><%= cf.cota %></td>
          <td width="80" align="center"><%= cf.vencimento.to_date.strftime("%d/%m/%y") %></td>
          <% if @compra.moeda.to_i == 0 %>
            <td width="70" align="right"><%= format_decimal(cf.valor_dolar) %></td>
            <% tot_us += cf.valor_dolar.to_f %>
          <% elsif @compra.moeda.to_i == 1 %>
            <td width="70" align="right"><%= format_int(cf.valor_guarani) %></td>
            <% tot_gs += cf.valor_guarani.to_f %>
          <% elsif @compra.moeda.to_i == 2 %>
            <td width="70" align="right"><%= format_decimal(cf.valor_real) %></td>
            <% tot_rs += cf.valor_real.to_f %>
          <% elsif @compra.moeda.to_i == 4 %>
            <td width="70" align="right"><%= format_decimal(cf.valor_euro) %></td>
            <% tot_eu += cf.valor_euro.to_f %>

          <% end %>
          <td width="200"><%= cf.conta.nome unless cf.conta_id.blank? %></td>
          <td><%= link_to '', edit_compras_financa_path(cf), class: 'icon-pencil' %></td>
          <td><%= link_to '', cf, method: :delete, class: 'icon-trash', title: t('DELETE'), data: { confirm: 'Esta Seguro?' }  %></td>
        </tr>
      <% end %>
   </table>
</div>
<table class="head_grid">
   <tr>
      <td width="50"></td>
      <td width="80" align="center"></td>
      <% if @compra.moeda.to_i == 0 %>
        <td width="70" align="right"><%= format_decimal(tot_us) %></td>
      <% elsif @compra.moeda.to_i == 1 %>
        <td width="70" align="right"><%= format_int(tot_gs) %></td>
      <% elsif @compra.moeda.to_i == 2 %>
        <td width="70" align="right"><%= format_decimal(tot_rs) %></td>
      <% elsif @compra.moeda.to_i == 4 %>
        <td width="70" align="right"><%= format_decimal(tot_eu) %></td>
      <% end %>
      <td width="200"></td>
      <td width="165"></td>
   </tr>
</table>
