  <div class="panel">
    <h1 id="header">
      Devolución de Cheque Cliente
    </h1>      
    <%= form_for(@dev_cheque_cliente) do |f| %>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-7">
            <label><%= t('DATE') %></label>
            <%= f.date_select :data %>
          </div>
          <div class="col-md-2">
            <label>Cotz.</label>
           <%= f.text_field :cotacao, :size  => 8, :dir   => "rtl", :class => "money_gs", :required => true %>
          </div> 
          <div class="col-md-2">
            <label>R$xG$</label>
            <%= f.text_field :cotacao_real, :size  => 8, :dir   => "rtl", :class => "money_gs", :required => true %>           
          </div>   
        </div>
        <div class="row">
          <div class="col-md-12">
            <label>Motivo</label>
            <%= f.collection_select :motivos_dev_cheque_id, MotivosDevCheque.all( :select => ' id,nome', :order  => '2' ), :id, :nome,{:prompt => 'Seleccione el Motivo'},{onchange: "fp(this.options[this.selectedIndex].value)", :class => "selectize"} %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label>Cliente</label>
            <%= f.collection_select :persona_id, Persona.all( :select => ' id,nome', :conditions => ["tipo_cliente = 1"], :order  => '2' ), :id, :nome,{:prompt => 'Seleccione el Cliente'},{:class => "selectize"} %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <label>Cuenta</label>
            <%= f.collection_select :conta_id, Conta.all( :select => ' id,nome', :conditions => ["unidade_id = #{current_unidade.id}"], :order  => '2' ), :id, :nome,{:prompt => 'Seleccione la Cuenta'}, { class: "selectize"} %>           
          </div>
        </div>

        <div class="row vueldo" hidden>
          <div class="col-md-12">
            <label>Cuenta Vuelto</label>
            <%= f.collection_select :vuelto_conta_id, Conta.all( :select => ' id,nome', :conditions => ["unidade_id = #{current_unidade.id} and tipo = 0 "], :order  => '2' ), :id, :nome,{:prompt => 'Seleccione la Cuenta'}, { class: "selectize"} %>
          </div>    
        </div>

        <div class="row">
          <div class="col-md-12">
            <br>
            <%= f.text_area :obs, rows: '4', class: 'panel-field', placeholder: 'Concepto' %>            
          </div>
        </div>

      <div class="footer-buttons">
        <%= f.submit t('SAVE'), class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false"%>
      </div>    
    </div>
    <% end %>
</div>

<% if params[:action] == 'new' %>
  <script type="text/javascript">
    $.ajax({url: '/buscas/cotz_us_compra',
            type: 'POST',
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            data: 'data=' + $('#cobro_data_3i').val()+'/'+
                            $('#cobro_data_2i').val()+'/'+
                            $('#cobro_data_1i').val(),
            success: function(data){
            $('#dev_cheque_cliente_cotacao').val(number_format( data,0, ',', '.') );} });

    $.ajax({url: '/buscas/cotz_rs_compra',
            type: 'POST',
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            data: 'data=' + $('#cobro_data_3i').val()+'/'+
                            $('#cobro_data_2i').val()+'/'+
                            $('#cobro_data_1i').val(),
            success: function(data){
            $('#dev_cheque_cliente_cotacao_real').val(number_format( data,0, ',', '.'));} });

  </script>
<% end %>




    <script type="text/javascript">

    function fp(v){
      $.ajax({url: '/dev_cheque_clientes/dynamic_motivo_dev_cheque',
        type: 'POST',
        data: 'id=' + v,
        success: function(data){
          if(data == 'false'){
          $(".vueldo").show();
        }else{
          $(".vueldo").hide();
        };
        }
      });
    }
    </script>
