<%= form_tag gerar_cotas_credito_adelantos_path, :method => "get" do %>
  <%= hidden_field_tag :id, @adelanto.id %>
  <div class="row">
    <div class="col-md-3">
      <label>Primeiro Venc.</label>
      <%= text_field_tag :venci, @adelanto.data.strftime("%d/%m/%Y"), size: 10,  class: "input-addon", onkeyup: "Formatadata(this,event)", autofocus: true %>
      <div class="input-group-addon-f">
        <span class="icon-calendar"></span>
      </div>       
    </div>

    <div class="col-md-3">
      <label>Cuotas</label>
      <input type="text"  name="cotas" id="cotas" min="1" value="1" class="panel-field" />
    </div>

    <div class="col-md-3">
      <label>Valor</label>
      <% if @adelanto.moeda == 0 %>
        <input type="hidden"  name="valor_us" id="valor_us" value="<%= @adelanto.valor_dolar %>" class = "money_gs panel-field" dir="rtl" />
      <% elsif @adelanto.moeda == 1 %>
        <input type="hidden"  name="valor_gs" id="valor_gs" value="<%= (@adelanto.valor_guarani.to_f) %>" class = "money_gs panel-field" dir   = "rtl" />
      <% else %>
        <input type="text"  name="valor_rs" id="valor_rs" value="<%= @adelanto.valor_real %>" class = "money_rs panel-field" dir="rtl" />
      <% end %>
    </div>

    <div class="col-md-3 padding-btn">
      <%= submit_tag t('SAVE'), class: 'btn btn-green', disable_with: "Aguarde...", "data-plus-as-tab" => "false" %>      
    </div>    
  </div> 
<% end %>
