
<p>
  <strong><%= t('ADVANCE') %>:</strong>
  <%= @adelanto_cota.adelanto_id %>
</p>

<p>
  <strong><%= t('PERSON') %>:</strong>
  <%= @adelanto_cota.persona_id %>
</p>

<p>
  <strong>Cota:</strong>
  <%= @adelanto_cota.cota %>
</p>

<p>
  <strong><%= t('DATE') %>:</strong>
  <%= @adelanto_cota.data %>
</p>

<p>
  <strong>Vencimento:</strong>
  <%= @adelanto_cota.vencimento %>
</p>

<p>
  <strong>Moeda:</strong>
  <%= @adelanto_cota.moeda %>
</p>

<p>
  <strong>Valor us:</strong>
  <%= @adelanto_cota.valor_us %>
</p>

<p>
  <strong>Valor gs:</strong>
  <%= @adelanto_cota.valor_gs %>
</p>

<p>
  <strong>Valor rs:</strong>
  <%= @adelanto_cota.valor_rs %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @adelanto_cota.tipo %>
</p>


