<!-- MEDITER SRL -->
<body  onload="print()">
<% if @adelanto.moeda == 0
	 	d = "DOLAR"
	 else
	 	d = "GUARANIES"
	 end
 %>

<style type="text/css">
	table {
		font-family:arial ;font-size:9px;

	}	

	.grid {
		border-collapse: collapse;
		
	}
	.header {
		border-collapse: collapse;
		border: 1px solid black;
	}

	#totales {
		border-collapse: collapse;
		border-left: 2px solid #fff;
		border-right: 2px solid #fff;
	}

	.cond {
		font-family:arial ;font-size:7px;
	}

	.grid tr td {
		border-collapse: collapse;
		border-bottom: 1px solid black;
	}


</style>
<!-- PRIMEIRA VIA -->

			<table align="left"  valign="top"  border="0" style="margin-left: 10px">
				<tr>
					<td height="115" align="right" valign="bottom"  colspan="4" width="478">
						<small><%= @ft.doc_01 %>-<%= @ft.doc_02 %>-<%= @ft.doc.to_s.rjust(7,'0') %>/<%= @adelanto.id %></small></td>
				</tr>
				<tr>
					<td colspan="5">

					<table  border="1" style="border-collapse: collapse;">
						<tr>
							<td>

						<table>
							<tr>
								<td  width="65" align="right"><%= t('DATE') %> :</td>
								<td width="90"><%=l @adelanto.data.to_date.to_date %></td>
								<td align="right">Moneda:</td>
								<td width="70" ><%= d %> </td>
							</tr>

	
							<tr>
								<td align="right">Cliente :</td>
								<td width="400"><%= @adelanto.persona.nome %></td>

								<td align="right" width="80">RUC/CI :</td>
								<td width="80"><%= @adelanto.persona.ruc %></td>
							</tr>

							<tr>
								<td align="right">Dirección :</td>
								<td colspan="4"><%= @adelanto.persona.direcao %></td>
							</tr>
						</table>
						</td>
        		</tr>
					</table>

					</td>
        	</tr>
        	<tr><td height="10"></td></tr>
        	<tr>
        		<td width="480" align="right">
							<div style="font-size:16px; border:1px solid; display:table;">
							<% if @adelanto.moeda == 0 %>
								<b>Total: U$  <%= number_to_currency( @adelanto.valor_dolar.to_f,      :format =>' %n ', :separeitor => "," )%> </b> 
							<% else %>
								<b>Total: G$	<%= number_to_currency(  @adelanto.valor_guarani.to_f, :format =>' %n ', :precision =>0 )%> </b> 
							<% end %>
							</div>
        		</td>
        	</tr>

					<tr>
						<td valign="bottom" colspan="4" width="478">
							En Letras
							<% if @adelanto.moeda == 0 %>				
								<% real,cents=("%.2f" % @adelanto.valor_dolar.to_f).split(/\./).map{ |m| m.to_i}
                valor_cents=Extenso.por_extenso(cents%100)
                valor_cents+= case cents.to_i%100
                when 0 then ""
                when 1 then " "
                when 2..99 then " "
                end %>										
								<%= I18n.with_locale(:es) { @adelanto.valor_dolar.to_i.to_words.upcase } %> <%= 'CON ' + cents.to_s.rjust(2,'0') + '/100 DOLARES AMERICANOS' %> )
							<% else %>
								<%= I18n.with_locale(:es) { ( @adelanto.valor_guarani.to_f ).to_i.to_words.upcase } %>
							<% end %>
						</td>
					</tr>

					<tr valign="top">
						<td width="480" height="100" style="border:1px solid">
							<%= @adelanto.concepto %>
							<br>
							<br>
							<br>
							Forma de Pago 
							<% if @adelanto.cheque_status == true %>
							<table>
								<tr>
									<td><%= ('cheque Nº: ' + @adelanto.cheque) unless @adelanto.cheque.blank? %></td>
									<td><%= ('Titular: ' + @adelanto.titular)  unless @adelanto.cheque.blank? %></td>
								</tr>
							</table>
							<% else %>
							CONTADO
							<% end%>
						</td>
					</tr>
					<tr>
						<td align="right">
							<br>
							<table>
								<tr>
									<td>____________________________</td>
								</tr>
								<tr>
									<td align="center">Firma</td>
								</tr>
							</table>
							<br>
						</td>
					</tr>
				</table>
