<style>
	div{
		font-family: arial;
		font-size: 12 ;
	}
</style>
<% space_1 = 400 %>
<% space_2 = 800 %>


<div style="position: absolute;top:60px;left:585px;">
	/<%= @cobro.id %>
</div>

<% if @cobro.moeda == 0 %>
	<div style="position: absolute;top:95px;left:532px;">
		XX
	</div>
<% else %>
	<div style="position: absolute;top:80px;left:532px;">
		XX
	</div>
<% end %>


<div style="position: absolute;top:90px;left:600px;">
	<% if @cobro.moeda == 0 %>
	<%= number_to_currency(  @total_us, :format =>' %n ', :precision =>2 )%>
<% else %>
<%= number_to_currency(  @tot_cobro_gs.to_f - @tot_des_gs.to_f, :format =>' %n ', :precision =>0 )%>
<% end %>	
</div>

<div style="position: absolute;top:125px;left:115px;">
	<%= @cobro.persona.nome %>
</div>

<div style="position: absolute;top:125px;left:560px;">
	<%= @cobro.persona.ruc %>
</div>

<% if @cobro.moeda == 0 %>
	<div style="position: absolute;top:160px;left:117px;">
		XX
	</div>
<% else %>
	<div style="position: absolute;top:145px;left:117px;">
		XX
	</div>
<% end %>


	<% if @cobro.moeda == 0 %>
		<% real,cents=("%.2f" % @fecha_result_us.to_f).split(/\./).map{ |m| m.to_i}
		    valor_cents=Extenso.por_extenso(cents%100)
		    valor_cents+= case cents.to_i%100
		    when 0 then ""
		    when 1 then " "
		    when 2..99 then " "
		    end %>
		<%  em_letras_us = (I18n.with_locale(:es) { @fecha_result_us.to_i.to_words.upcase } + ' CON ' + cents.to_s.rjust(2,'0') + '/100 DOLARES AMERICANOS') %>
    <div style="position: absolute;top:150px;left:280px;">
		<%= em_letras_us.to_s[0, 51] %>
	</div>

    <div style="position: absolute;top:190px;left:70px;">
		<%= em_letras_us.to_s[52, 150] %>
	</div>

	<% else %>
		<%= I18n.with_locale(:es) { (@tot_cobro_gs.to_f - @tot_des_gs.to_f).to_i.to_words.upcase } %>
	<% end %>
</div>

<div style="position: absolute;top:225px;left:120px;">
	<%= raw @cf_last.descricao %>
</div>

<div style="position: absolute;top:305px;left:120px;">
	<% if @cf_last.cheque_status.to_i == 1 %>
		XX
	<% end %>
</div>

<div style="position: absolute;top:305px;left:150px;">
	<%= @cf_last.cheque %>
</div>

<div style="position: absolute;top:305px;left:220px;">
	<% unless @cf.last.banco_id.nil? %>
		<% bc = Persona.find_by_id(@cf.last.banco_id) %>
		<%= bc.nome %>
	<% end %>
</div>



<div style="position: absolute;top:340px;left:130px;">
	      <%= @cobro.data.strftime("%d") %>  
</div>
<div style="position: absolute;top:340px;left:200px;">  
	<%= l @cobro.data, :format => :mes %> 
</div>
<div style="position: absolute;top:340px;left:380px;">                       
	<%= @cobro.data.strftime("%y").to_s[1,1] %>
</div>

<!-- segunda via !-->

<div style="position: absolute;top: <%= space_1.to_i + 60 %>px;left:585px;">
	/<%= @cobro.id %>
</div>

<% if @cobro.moeda == 0 %>
	<div style="position: absolute;top: <%= space_1.to_i + 95 %>px;left:532px;">
		XX
	</div>
<% else %>
	<div style="position: absolute;top:<%= space_1.to_i + 80 %>px;left:532px;">
		XX
	</div>
<% end %>


<div style="position: absolute;top:<%= space_1.to_i + 90 %>px;left:600px;">
<% if @cobro.moeda == 0 %>
	<%= number_to_currency(  @total_us, :format =>' %n ', :precision =>2 )%>
<% else %>
<%= number_to_currency(  @tot_cobro_gs.to_f - @tot_des_gs.to_f, :format =>' %n ', :precision =>0 )%>
<% end %>	
</div>
</div>

<div style="position: absolute;top:<%= space_1.to_i + 125 %>px;left:115px;">
	<%= @cobro.persona.nome %>
</div>

<div style="position: absolute;top: <%= space_1.to_i + 125 %>px;left:560px;">
	<%= @cobro.persona.ruc %>
</div>

<% if @cobro.moeda == 0 %>
	<div style="position: absolute;top: <%= space_1.to_i + 160 %>px;left:117px;">
		XX
	</div>
<% else %>
	<div style="position: absolute;top: <%= space_1.to_i + 145 %>px;left:117px;">
		XX
	</div>
<% end %>


	<% if @cobro.moeda == 0 %>
		<% real,cents=("%.2f" % @fecha_result_us.to_f).split(/\./).map{ |m| m.to_i}
		    valor_cents=Extenso.por_extenso(cents%100)
		    valor_cents+= case cents.to_i%100
		    when 0 then ""
		    when 1 then " "
		    when 2..99 then " "
		    end %>
		<%  em_letras_us = (I18n.with_locale(:es) { @fecha_result_us.to_i.to_words.upcase } + ' CON ' + cents.to_s.rjust(2,'0') + '/100 DOLARES AMERICANOS') %>
    <div style="position: absolute;top: <%= space_1.to_i + 150 %>px;left:280px;">
		<%= em_letras_us.to_s[0, 51] %>
	</div>

    <div style="position: absolute;top:<%= space_1.to_i + 190 %>px;left:70px;">
		<%= em_letras_us.to_s[52, 150] %>
	</div>

	<% else %>
		<%= I18n.with_locale(:es) { (@tot_cobro_gs.to_f - @tot_des_gs.to_f).to_i.to_words.upcase } %>
	<% end %>
</div>

<div style="position: absolute;top: <%= space_1.to_i + 225 %>px;left:120px;">
	<%= raw @cf_last.descricao %>
</div>

<div style="position: absolute;top: <%= space_1.to_i + 340 %>px;left:130px;">
	      <%= @cobro.data.strftime("%d") %>  
</div>
<div style="position: absolute;top: <%= space_1.to_i + 340 %>px;left:200px;">  
	<%= l @cobro.data, :format => :mes %> 
</div>
<div style="position: absolute;top: <%= space_1.to_i + 340 %>px;left:380px;">                       
	<%= @cobro.data.strftime("%y").to_s[1,1] %>
</div>


<!-- terceira via !-->

<div style="position: absolute;top: <%= space_2.to_i + 60 %>px;left:585px;">
	/<%= @cobro.id %>
</div>

<% if @cobro.moeda == 0 %>
	<div style="position: absolute;top: <%= space_2.to_i + 95 %>px;left:532px;">
		XX
	</div>
<% else %>
	<div style="position: absolute;top:<%= space_2.to_i + 80 %>px;left:532px;">
		XX
	</div>
<% end %>


<div style="position: absolute;top:<%= space_2.to_i + 90 %>px;left:600px;">
<% if @cobro.moeda == 0 %>
	<%= number_to_currency(  @total_us, :format =>' %n ', :precision =>2 )%>
<% else %>
<%= number_to_currency(  @tot_cobro_gs.to_f - @tot_des_gs.to_f, :format =>' %n ', :precision =>0 )%>
<% end %>	
</div>
</div>

<div style="position: absolute;top:<%= space_2.to_i + 125 %>px;left:115px;">
	<%= @cobro.persona.nome %>
</div>

<div style="position: absolute;top: <%= space_2.to_i + 125 %>px;left:560px;">
	<%= @cobro.persona.ruc %>
</div>

<% if @cobro.moeda == 0 %>
	<div style="position: absolute;top: <%= space_2.to_i + 160 %>px;left:117px;">
		XX
	</div>
<% else %>
	<div style="position: absolute;top: <%= space_2.to_i + 145 %>px;left:117px;">
		XX
	</div>
<% end %>


	<% if @cobro.moeda == 0 %>
		<% real,cents=("%.2f" % @fecha_result_us.to_f).split(/\./).map{ |m| m.to_i}
		    valor_cents=Extenso.por_extenso(cents%100)
		    valor_cents+= case cents.to_i%100
		    when 0 then ""
		    when 1 then " "
		    when 2..99 then " "
		    end %>
		<%  em_letras_us = (I18n.with_locale(:es) { @fecha_result_us.to_i.to_words.upcase } + ' CON ' + cents.to_s.rjust(2,'0') + '/100 DOLARES AMERICANOS') %>
    <div style="position: absolute;top:<%= space_2.to_i + 150 %>px;left:280px;">
		<%= em_letras_us.to_s[0, 51] %>
	</div>
    <div style="position: absolute;top:<%= space_2.to_i + 190 %>px;left:70px;">
		<%= em_letras_us.to_s[52, 150] %>
	</div>

	<% else %>
		<%= I18n.with_locale(:es) { (@tot_cobro_gs.to_f - @tot_des_gs.to_f).to_i.to_words.upcase } %>
	<% end %>
</div>

<div style="position: absolute;top: <%= space_2.to_i + 225 %>px;left:120px;">
	<%= raw @cf_last.descricao %>
</div>

<div style="position: absolute;top: <%= space_2.to_i + 340 %>px;left:130px;">
	      <%= @cobro.data.strftime("%d") %>  
</div>
<div style="position: absolute;top: <%= space_2.to_i + 340 %>px;left:200px;">  
	<%= l @cobro.data, :format => :mes %> 
</div>
<div style="position: absolute;top: <%= space_2.to_i + 340 %>px;left:380px;">                       
	<%= @cobro.data.strftime("%y").to_s[1,1] %>
</div>


