<%= form_for(@ordem_entrega_produto) do |f| %>
  <% if @ordem_entrega_produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ordem_entrega_produto.errors.count, "error") %> prohibited this ordem_entrega_produto from being saved:</h2>

      <ul>
      <% @ordem_entrega_produto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<ul class="tabs">
      <li><a href="#tab1"> ordem_entrega_produtos - [Edicion]</a></li>
</ul>

<div class="tab_container">
      <div id="tab1" class="tab_content">
        <table>
          <tr>
            <td width="1000">
              <fieldset>

                <table>
                  <tr>
                                      
                      <td align="right">ordem_entrega_id :</td>                    
                      <td><%= f.number_field :ordem_entrega_id %></td>
                                      
                      <td align="right">produto_id :</td>                    
                      <td><%= f.number_field :produto_id %></td>
                                      
                      <td align="right">quantidade :</td>                    
                      <td><%= f.text_field :quantidade %></td>
                                      </tr>                 
                </table>
              </fieldset>
            </td>
          </tr>
        </table>
      </div>
      
      <div class="buttons">
        <%= f.submit :value => " Grabar ", :class => "button" %>
        <%= link_to 'Volver', ordem_entrega_produtos_path, :class => "button back" %>        
      </div>

    </div>
<% end %>