<h1 id="header">pipeline_usuarios</h1>
<div class="acessos">
  <%= link_to 'Nuevo', new_pipeline_usuario_path, :class => "button add" %>
</div>

<table class="head_grid">
  <tr>
            <td>Pipeline</t>
            <td>Usuario</t>
            <td>Permissao</t>
      </tr>
</table>

<div class="rolagem" dir="div">
  <table>
    <% @pipeline_usuarios.each do |pipeline_usuario| %>
      <tr>
                  <td><%= pipeline_usuario.pipeline_id %></td>
                  <td><%= pipeline_usuario.usuario_id %></td>
                  <td><%= pipeline_usuario.permissao %></td>
                <td><%= link_to 'Editar', edit_pipeline_usuario_path(pipeline_usuario) %></td>
        <td><%= link_to 'Borrar', pipeline_usuario, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </table>
</div>

