<h1 id="header">Cargos</h1>
<div class="acessos">
  <%= link_to t('NEW'), new_cargo_path, :class => "button add" %>
</div>

<table class="head_grid">
  <tr>
    <td width="100">Cod.</td>
    <td width="200">Cargo</td>
  </tr>
</table>

<div class="rolagem" dir="div">
  <table>
    <% @cargos.each do |cargo| %>
      <tr class = "<%= cycle("cor1", "cor2") %>">
        <td width="100"><%= cargo.id.to_s.rjust(6,'0') %></td>
        <td width="200"><%= cargo.nome %></td>
        <td><%= link_to '', edit_cargo_path(cargo), class: 'icon-pencil' %></td>
        <td><%= link_to '', cargo, :confirm => 'Estas Seguro?', :method => :delete, class: 'icon-trash' %></td>
      </tr>
    <% end %>
  </table>
</div>

