<h1 id="header">produto_cors</h1>
<div class="acessos">
  <%= link_to t('NEW'), new_produto_cor_path, :class => "button add" %>
</div>

<table class="head_grid">
  <tr>
            <td>Produto</td>
            <td>Cor</td>
      </tr>
</table>

<div class="rolagem" dir="div">
  <table>
    <% @produto_cors.each do |produto_cor| %>
      <tr>
                  <td><%= produto_cor.produto_id %></td>
                  <td><%= produto_cor.cor_id %></td>
                <td><%= link_to 'Editar', edit_produto_cor_path(produto_cor) %></td>
        <td><%= link_to t('DELETE'), produto_cor, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </table>
</div>

