<% sql = "SELECT CD.DATA,
                 CD.COBRO_ID,
                 CD.PERSONA_ID,
                 P.NOME AS PERSONA_NOME,
                 CD.COBRO_GUARANI,
                 CD.VENDA_ID,
				 (SELECT V.TURMA_ID FROM VENDAS V WHERE V.ID = CD.VENDA_ID LIMIT 1) AS TURMA_ID,
(SELECT TR.PERSONA_ID FROM TURMA_RESPONSAVELS TR WHERE TR.TURMA_ID = (SELECT V.TURMA_ID FROM VENDAS V WHERE V.ID = CD.VENDA_ID LIMIT 1) LIMIT 1 ) AS RESPONSAVEL_ID,
(SELECT TR.comissao FROM TURMA_RESPONSAVELS TR WHERE TR.TURMA_ID = (SELECT V.TURMA_ID FROM VENDAS V WHERE V.ID = CD.VENDA_ID LIMIT 1) LIMIT 1 ) AS respo_comissao

FROM COBROS_DETALHES CD
LEFT JOIN PERSONAS P
ON P.ID = CD.PERSONA_ID
WHERE
CD.DATA BETWEEN '#{params[:inicio].split("/").reverse.join("-")}' and '#{params[:final].split("/").reverse.join("-")}'
ORDER BY 8,1"

lista_cobros = CobrosDetalhe.find_by_sql(sql)
%>
<table>
	<tr class="head">
		<td>Cod</td>
		<td>Responsable</td>
		<td>Fecha</td>
		<td>Turma</td>
		<td>Cliente</td>
		<td align="right">%</td>
		<td align="right">Cobrado</td>
	</tr>

	<% quebra = "" %>
	<% sub_tot = 0 %>
	<% sub_tot_c = 0 %>
	<% tot = 0 %>
	<% tot_c = 0 %>

<% lista_cobros.each do |lc| %>
	<% responsavel_nome = Persona.find(lc.responsavel_id).nome unless lc.responsavel_id.blank?%>
  <% if quebra !=  responsavel_nome %>
    <% if quebra != "" %>
      <tr class="head">
        <td colspan="6">Sub Total</td>
        <td width="60" align="right"><%= format_int(sub_tot) %></td>
        <td width="60" align="right"><%= format_int(sub_tot_c) %></td>
      </tr>
      <% sub_tot   = 0 %>
      <% sub_tot_c = 0 %>

    <% end %>
    <tr>
      <td class="head" colspan="10"><%= quebra = responsavel_nome %>
    </tr>
  <% end %>


	<tr class = "<%= cycle( "cor1", "cor2" )%>">
		<td width="60" align="cented">CB<%= lc.cobro_id.to_s.rjust(6,'0') %>  VT<%= lc.venda_id.to_s.rjust(6,'0') %></td>
		<td width="250"><%= responsavel_nome %></td>
		<td width="250"><%= lc.persona_nome %></td>
		<td width="60" align="cented"><%= lc.data.strftime("%d/%m/%y") %></td>
		<td width="200"><%= Turma.find(lc.turma_id).nome unless lc.turma_id.blank? %></td>
		<td width="70" align="right"><%= format_decimal(lc.respo_comissao) %>%</td>
		<td width="70" align="right"><%= format_int(lc.cobro_guarani) %></td>
		<td width="70" align="right"><%= format_int(lc.cobro_guarani.to_f * (lc.respo_comissao.to_f / 100)) %></td>
		<% sub_tot += (lc.cobro_guarani.to_f) %>
		<% sub_tot_c += (lc.cobro_guarani.to_f * (lc.respo_comissao.to_f / 100)) %>

		<% tot += (lc.cobro_guarani.to_f) %>
		<% tot_c += (lc.cobro_guarani.to_f * (lc.respo_comissao.to_f / 100)) %>

	</tr>
<% end %>
  <tr class="head">
    <td colspan="6">Sub Total</td>
    <td width="60" align="right"><%= format_int(sub_tot) %></td>
    <td width="60" align="right"><%= format_int(sub_tot_c) %></td>

  </tr>

  <tr class="head">
    <td colspan="6">Sub Total</td>
    <td width="60" align="right"><%= format_int(tot) %></td>
    <td width="60" align="right"><%= format_int(tot_c) %></td>

  </tr>
</table>

