
<table>
  <% quebra  = "" %>
  <% tot_gs  = 0 %>
  <% sub_tot_gs  = 0 %>

  <% @comissaos.each do |d| %>
    <% if quebra != d.vendedor_nome %>
      <% if quebra != "" %>

	    <tr class="head">
	      <td colspan="7"></td>
	      <td align="right"><%= format_int(sub_tot_gs) %></td>
	      <td align="right">
	       
	      </td>
	    </tr>
     <% sub_tot_gs  = 0 %>

      <% end %>
      <tr>
        <td class="head" colspan="5"><%= quebra = d.vendedor_nome %></td>
      </tr>
    <% end %>

    <tr class = "<%= cycle("cor1", "cor2") %>">
      <td width="30">
	        <% if d.tipo.to_i == 0 %>
	          CT
	        <% elsif d.tipo.to_i == 3 %>
	          NC
	        <% else %>
	          CR
	        <% end %>
        </td>
      </td>
      <td width="40"><%= d.id.to_s.rjust(6,'0') %></td>
      <td width="60"><%= d.doc.to_s.rjust(7,'0') %></td>
      <td width="60" align="center"><%= d.data.to_date.strftime("%d/%m/%y") %></td>
      <td width="200"><%= d.persona_nome %></td>
      <td width="70" align="right"><%= format_int( d.total_guarani.to_f) %> </td>
      <td width="70" align="right"><%= format_int( d.desconto_gs.to_f) %> </td>
      <td width="70" align="right"><%= format_int( d.total_guarani.to_f - d.desconto_gs.to_f ) %> </td>
      <td></td>
      <% tot_gs  += ( d.total_guarani.to_f - d.desconto_gs.to_f) %>
      <% sub_tot_gs  += ( d.total_guarani.to_f - d.desconto_gs.to_f) %>
    </tr>
  <% end %>
	    <tr class="head">
	      <td colspan="7"></td>
	      <td align="right"><%= format_int(sub_tot_gs) %></td>
	      <td align="right">
	        
	      </td>
	    </tr>
     <% sub_tot_gs  = 0 %>
    <tr class="head">
      <td colspan="7"></td>
      <td align="right"><%= format_int(tot_gs) %></td>
      <td align="right">
      </td>
    </tr>
</table>
