<body onload="window.print()">
<style type="text/css">
  table {
    font-family:Arial ;font-size:11px;
  }
</style>
<table align="">
	<tr> 
		<td colspan="6" align="center"><h2><%= current_unidade.nome_sys %></h2></td>
	</tr>
  <tr> 
    <td colspan="6" align="center"><h2>CONSUMICIÓN INTERNA</h2></td>
  </tr>
  <tr style="font-weight: bold;">
    <td>Nº:</td>
    <td><%= @consumicao_interna.id.to_s.rjust(6,'0') %></td>

  </tr>
  <tr>
   <td width="80"><%= t('DATE') %>:</td>
     <td><%= @consumicao_interna.data.strftime("%d/%m/%y") %> - <%= Time.now.strftime("%H:%M")%></td>
  </tr>
	<tr>	
		<td>Usuário:</td>
		<% us = Usuario.find_by_id(@consumicao_interna.usuario_created)%>
		<td><%= @consumicao_interna.usuario_created.to_s.rjust(4,'0') %> - <%= us.usuario_nome %></td>
	</tr>
  <tr>
    <td>Rodado:</td>
    <td><%= @consumicao_interna.rodado.placa unless @consumicao_interna.rodado.blank? %></td>
  </tr>
</table>
<hr>
<table> 
  <tr style="font-weight: bold;">
  	<td align="center" width="40">#</td>
    <td width="150">Producto</td>
    <td align="right" width="50">Cantidad</td>
    <td align="right" width="60">Unit.</td>
    <td align="right" width="60">Tot.</td>
  </tr>
      <% qtd    = 0 %>
      <% tot    = 0 %>
      <% indice = 1 %>
      <% @consumicao_interna_produtos.each do |pc|%>
      <tr class="<%= cycle("cor1", "cor2")%>">
      	<td align="center" width="40"><%= indice %></td>
        <td align="left" width="150"><%= pc.produto_id.to_s.rjust(6,'0') %>-<%= pc.produto.nome %></td>
        <td align="right" width="50"><%= pc.quantidade %></td>
        <% if @consumicao_interna.moeda.to_i == 0 %>
          <td align="right" width="60"><%= format_decimal(pc.unitario_dolar) %></td>
          <td align="right" width="60"><%= format_decimal(pc.total_dolar) %></td>
          <% tot    += pc.total_dolar %>
        <% else %>
          <td align="right" width="60"><%= format_int(pc.unitario_guarani) %></td>
          <td align="right" width="60"><%= format_int(pc.total_guarani) %></td>
          <% tot    += pc.total_guarani %>
        <% end %>
      </tr>
      <% qtd    += pc.quantidade %>
      <% indice + 1 %>
     <% end %>
     <tr class="head">
      <td colspan="2" align="right">Total</td>
      <td align="right"> <%= qtd.to_f %></td>
      <td></td>
      <% if @consumicao_interna.moeda.to_i == 0 %>
        <td align="right" width="70"><%= format_decimal(tot) %></td>
      <% else %>
        <td align="right" width="70"><%= format_int(tot) %></td>
      <% end %>

     </tr>
   </table>
<hr>
<table>
    <tr style="font-weight: bold;">
      <td colspan="10">CONCEPTO:</td>
    </tr>
    <tr>
      <td><%= @consumicao_interna.concepto %></td>
    </tr>

  <tr>
    <td colspan="10">
      <br>
      <br>
      <br>
      <br>
    ___________________________________________
    </td>
  </tr>

  <tr>
    <td colspan="10">Favorecido: <%= @consumicao_interna.persona.nome unless @consumicao_interna.persona.blank? %></td>
  </tr>

</table>
<hr>
</body>