
<p>
  <strong><%= t('DATE') %>:</strong>
  <%= @retencao_doc.data %>
</p>

<p>
  <strong><%= t('PERSON') %>:</strong>
  <%= @retencao_doc.persona_id %>
</p>

<p>
  <strong>Persona <%= t('NAME') %>:</strong>
  <%= @retencao_doc.persona_nome %>
</p>

<p>
  <strong>Moeda:</strong>
  <%= @retencao_doc.moeda %>
</p>

<p>
  <strong>Documento numero 01:</strong>
  <%= @retencao_doc.documento_numero_01 %>
</p>

<p>
  <strong>Documento numero 02:</strong>
  <%= @retencao_doc.documento_numero_02 %>
</p>

<p>
  <strong>Documento numero:</strong>
  <%= @retencao_doc.documento_numero %>
</p>

<p>
  <strong>Cota:</strong>
  <%= @retencao_doc.cota %>
</p>

<p>
  <strong>Retencao 01:</strong>
  <%= @retencao_doc.retencao_01 %>
</p>

<p>
  <strong>Retencao 02:</strong>
  <%= @retencao_doc.retencao_02 %>
</p>

<p>
  <strong>Retencao:</strong>
  <%= @retencao_doc.retencao %>
</p>

<p>
  <strong>Valor us:</strong>
  <%= @retencao_doc.valor_us %>
</p>

<p>
  <strong>Valor gs:</strong>
  <%= @retencao_doc.valor_gs %>
</p>

<p>
  <strong>Cotacao:</strong>
  <%= @retencao_doc.cotacao %>
</p>

<p>
  <strong>Iva us:</strong>
  <%= @retencao_doc.iva_us %>
</p>

<p>
  <strong>Iva gs:</strong>
  <%= @retencao_doc.iva_gs %>
</p>

<p>
  <strong>Retencao us:</strong>
  <%= @retencao_doc.retencao_us %>
</p>

<p>
  <strong>Retencao gs:</strong>
  <%= @retencao_doc.retencao_gs %>
</p>


