<style>
.grid  td{
   padding: 10px; border-bottom: 1px solid #efefef !important;cursor: pointer;
}
</style>
<div class="group">  
  <table class="head_grid">
    <tr>
      <td width="80" align="center">Código</td>
      <td width="80" align="center">Fecha</td>
      <td width="45" align="center">Dias</td>
      <td width="315">Clientes</td>
      <td width="255">Vendedor</td>
      <td width="40" align="right">Qtd</td>
      <td width="50" align="center"></td>
      <td width="80" align="right">Monto</td>
      <td width="80" align="center">Status</td>

    </tr>
  </table>
  <div class="grid" dir="div">
    <table>
      <% @condicionals.each do |os| %>
        <tr class= "<%= cycle( "cor1", "cor2" )%>">
          <td width="80"  align="center"><%= os.id.to_s.rjust(6,'0') %></td>
          
          <td width="80"  align="center"><%= os.data.strftime("%d/%m/%y")%></td>
          <% dias = (Time.now.to_date - os.data.to_date ).to_i %>
          <td width="45"  align="center">
            <% if os.status == 'PENDIENTE' %>
              <% if dias > 4 %>
                <span class="gs"><%= dias %></span>
              <% elsif dias < 4 %>
                <span class="us"><%= dias %></span>
              <% elsif dias == 4 %>
                <span class="rs"><%= dias %></span>
              <% end %>
            <% end %>
          </td>
          <td width="315" align="left"><%= os.persona_nome %></td>
          <td width="255" align="left"><%= os.responsavel_nome %></td>
          <td width="40" align="right"><%= format_int(os.qtd) %></td>
          <% if os.moeda.to_i == 1 %>
            <td width="50"  align="center"><span class="gs">Gs</span></td>
            <td width="80" align="right"><%= format_int(os.tot_gs) %></td>
          <% elsif os.moeda.to_i == 0 %>
            <td width="50"  align="center"><span class="us">U$</span></td>
            <td width="80" align="right"><%= format_decimal(os.tot_us) %></td>
          <% else %>
            <td width="50"  align="center"><span class="rs">R$</span></td>
          <% end %>
            <td width="80"  align="center"><%= os.status %></td>
            <td><%= link_to image_tag("002-upload.png", width: '12px'), condicional_path(os) , title: 'Salida'%></td>
            <td><%= link_to image_tag("001-download.png", width: '12px'), entrada_condicional_path(os), title: 'Entrada' %></td>
            <% if os.status == 0 %>
              <td><%= link_to '', edit_condicional_path(os), class: 'icon-pencil' %></td>
              <% if current_user.tipo.to_i == 0 %>
                <td><%= link_to '', os, :confirm => 'Estas Seguro?', :method => :delete, class: 'icon-trash' %></td>
              <% end %>
            <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="head_grid">
  <%= will_paginate @ordem_servs, "data-remote" => "true" %>
</div>