
<p>
  <strong>Comanda:</strong>
  <%= @comanda_produto.comanda_id %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @comanda_produto.produto_id %>
</p>

<p>
  <strong>Produto nome:</strong>
  <%= @comanda_produto.produto_nome %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @comanda_produto.quantidade %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @comanda_produto.obs %>
</p>

<p>
  <strong>Persona:</strong>
  <%= @comanda_produto.persona_id %>
</p>

<p>
  <strong>Unit gs:</strong>
  <%= @comanda_produto.unit_gs %>
</p>

<p>
  <strong>Tot gs:</strong>
  <%= @comanda_produto.tot_gs %>
</p>

<p>
  <strong>Unit us:</strong>
  <%= @comanda_produto.unit_us %>
</p>

<p>
  <strong>Tot us:</strong>
  <%= @comanda_produto.tot_us %>
</p>


