<h1 id="header">avaliacao_func_refs</h1>
<div class="acessos">
  <%= link_to 'Nuevo', new_avaliacao_func_ref_path, :class => "button add" %>
</div>

<table class="head_grid">
  <tr>
            <td>Avaliacao func</t>
            <td>Avaliacao ref</t>
            <td>Nota</t>
      </tr>
</table>

<div class="rolagem" dir="div">
  <table>
    <% @avaliacao_func_refs.each do |avaliacao_func_ref| %>
      <tr>
                  <td><%= avaliacao_func_ref.avaliacao_func_id %></td>
                  <td><%= avaliacao_func_ref.avaliacao_ref_id %></td>
                  <td><%= avaliacao_func_ref.nota %></td>
                <td><%= link_to 'Editar', edit_avaliacao_func_ref_path(avaliacao_func_ref) %></td>
        <td><%= link_to 'Borrar', avaliacao_func_ref, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </table>
</div>

