
<p>
  <strong>Compra:</strong>
  <%= @compras_empaque.compra_id %>
</p>

<p>
  <strong>Produtos grade:</strong>
  <%= @compras_empaque.produtos_grade_id %>
</p>

<p>
  <strong>Compras produto:</strong>
  <%= @compras_empaque.compras_produto_id %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @compras_empaque.produto_id %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @compras_empaque.quantidade %>
</p>


