 <h1 id="header">Produción</h1>
  <div class="group">
   <%= form_for(@producao) do |f| %>

    <% if @producao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producao.errors.count, "error") %> <%=  t('ERROR_ASSET_MESSAGE') %></h2>

      <ul>
        <% @producao.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>


     <div class="row">
        <div class="col-md-12">
           <label><%= t('DATE') %></label>
           <%= f.date_select :data %>
        </div>
     </div>
     <div class="row">
        <div class="col-md-12">
           <label>Descriptición</label>
           <%= f.text_field :nome, required: true, class: 'panel-field' %>
        </div>
     </div>
     <div class="row">
       <div class="col-md-8">
          <label>Producto a ser produzido</label>
          <%= f.text_field :produto_nome, required: true, class: 'panel-field'  %>
          <%= f.hidden_field :produto_id %>
       </div>

       <div class="col-md-4">
          <label>Cantidad</label>
          <%= f.text_field :quantidade, required: true, class: 'panel-field' %>
       </div>

     </div>
     <% unless Safra.all.blank? %>
       <div class="row">
          <div class="col-md-12">
            <label>Zafra</label>
            <%= f.collection_select :safra_id, Safra.all( :select => 'id,nome', :order  => '2' ),:id, :nome,{:prompt => 'Seleccione'} %>
          </div>
       </div>
     <% end %>

     <% unless Cultivo.all.blank? %>
       <div class="row">
          <div class="col-md-12">
            <label>Cultivo</label>
            <%= f.collection_select :cultivo_id, Cultivo.all( :select => 'id,nome', :order  => '2' ),:id, :nome,{:prompt => 'Seleccione'} %>
          </div>
       </div>
     <% end %>

     <% unless Parcela.all.blank? %>
       <div class="row">
          <div class="col-md-12">
            <label>Parcela</label>
            <%= f.collection_select :cultivo_id, Parcela.all( :select => 'id,nome', :order  => '2' ),:id, :nome,{:prompt => 'Seleccione'} %>
          </div>
       </div>
     <% end %>

     <div class="footer-buttons">
        <%= f.submit t('SAVE'), class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false"%>
        <%= link_to t('BACK'), producaos_path, :class => "btn btn-back" %>
     </div>
<% end %>

</div>

<script>
   $('#producao_safra_id, #producao_cultivo_id, #producao_parcela_id').selectize();
</script>



<script type="text/javascript">

$(function() {
  $( "#producao_produto_nome" ).autocomplete({
      source: function( request, response ) {
      $.ajax({
        url: "/buscas/search_all_produtos",
        dataType: "json",
        data: {
          tipo: 'DESCRIPCION',
          busca: request.term
        },
        success: function( data ) {
          response( data );
        },
      });
    },
    minLength: 2,
    select: function( event, ui ) {
      $("#producao_produto_id").val("");
      $('#producao_produto_id').val(ui.item.id);
      $('#producao_produto_nome').val(ui.item.name);
      return false;
    }
  });
});

</script>