<script>
function checkForEnter(event) {
    var lfound = false 
    if (event.keyCode == 13) {
        var obj = this;
        $("input[type=text],select").each(function() {
            if (this == obj) {
                lfound = true
            } else {
                if (lfound) {
                    $(this).focus()
                    $(this).select();
                    event.preventDefault();
                    return false;
                }
            }
        });
    }


    if(event.keyCode == 40){
            valor = parseInt($("#foco").val()) + 1;
            $("#foco").val(valor)
             campo = '#'+ valor
            $(campo).focus()
           return false;
         }

         if(event.keyCode == 38){
            valor = parseInt($("#foco").val()) - 1;
            $("#foco").val(valor)
             campo = '#'+ valor
            $(campo).focus()
           return false;
         }
    } 
  </script>

  <div class="group">
    <%= form_tag dinamic_busca_venda_produto_produtos_path, :method => "get" do %>
    <select name="tipo" id="tipo">
      <option>REFERENCIA</option>
      <option>DESCRIPCION</option>
      <option>BARRA</option>
    </select>
      <input id         ="busca"
             name       ="busca"
             type       ="text"
             size       ="40"
             value="<%= params[:busca]%>"
             autofocus/>

      <input type   ="button"
             id     ="button"
             class="button_info"
             onclick="pesquisa(document.getElementById('busca').value)"
             value  ="Buscar"/>

    <% end %>
    <hr/>
</div>



    <%= hidden_field_tag :tabela_preco, params[:cliente] %>
    <%= hidden_field_tag :moeda, @presupuesto.moeda %>
    <%= hidden_field_tag :unidade, params[:unidade] %>
    <%= hidden_field_tag :colecao, @presupuesto.colecao_id %>
    <%= hidden_field_tag :presupuesto_id, @presupuesto.id %>

<script language="javascript">
   function pesquisa(valor){
      tipo = document.getElementById('tipo').value
      var tabela_preco = document.getElementById('tabela_preco').value
      var unidade  = document.getElementById('unidade').value
      var colecao  = document.getElementById('colecao').value
      var tabela_preco = document.getElementById('tabela_preco').value
      var presupuesto = document.getElementById('presupuesto_id').value

      //FUNÇÃO QUE MONTA A URL E CHAMA A FUNÇÃO AJAX

      location.href="/presupuestos/"+presupuesto+"/resultado_grade?cliente="+tabela_preco+"&tipo="+tipo+"&colecao="+colecao+"&busca="+valor+"&unidade="+unidade+"";

   }
</script>
<table class="head_grid">
  <tr>
    <td width="85" align="right"><b>Cantidad</b></td>
    <td width="50">Tamanho</td>
    <td width="345">Color</td>
    <td width="70" align="right"><b>Precio</b></td>
    <td width="120">Ref.</td>
    <td width="445">Producto</td>

  </tr>
</table>

<style>
.RolagemPre
{
    font-family: Arial,sans-serif;
    background-color: white;
    border: 1px solid #cccccc;
    height:482px;
    font-size:12px;
    overflow:auto;
    padding: 1px 1px 1px 1px;
}
</style>
<div class="RolagemPre" id="div">
<%= form_tag "/presupuestos/#{params[:id]}/add_produtos", method: 'post' do %>
  <table>
    <% count  = 0 %>
    <% qtd    = 0 %>
    <% @produtos.each do |p| %>
      <% presu_count = PresupuestoProduto.count(:conditions => ["produtos_grade_id = #{p.produtos_grade_id} and presupuesto_id = ?",@presupuesto.id]) %>
      <% if presu_count.to_i > 0 %>
        <% find_presu = PresupuestoProduto.find_by_produtos_grade_id(p.produtos_grade_id, :conditions => ["presupuesto_id = ?",@presupuesto.id]) %>
        <% qtd = find_presu.quantidade %>
      <% else %>
        <% qtd = 0 %>
      <% end %>
      <%= hidden_field_tag "fields[#{count}][presupuesto_id]", @presupuesto.id %>
      <%= hidden_field_tag "fields[#{count}][produto_id]", p.produto_id %>
      <%= hidden_field_tag "fields[#{count}][produtos_grade_id]", p.produtos_grade_id %>
      <%= hidden_field_tag "fields[#{count}][fabricante_cod]", p.fabricante_cod %>
      <%= hidden_field_tag "fields[#{count}][clase_id]", p.clase_id %>
      <%= hidden_field_tag "fields[#{count}][grupo_id]", p.grupo_id %>
      <%= hidden_field_tag "fields[#{count}][sub_grupo_id]", p.sub_grupo_id %>
      <%= hidden_field_tag "fields[#{count}][cor_id]", p.cor_id %>
      <%= hidden_field_tag "fields[#{count}][tamanho_id]", p.tamanho_id %>
      <%= hidden_field_tag "fields[#{count}][colecao_id]", p.colecao_id %>
      <%= hidden_field_tag "fields[#{count}][cotacao]", @presupuesto.cotacao.to_i %>
      <%= hidden_field_tag "fields[#{count}][data]", @presupuesto.data %>
      <%= hidden_field_tag "fields[#{count}][persona_id]", @presupuesto.persona_id %>
      <%= hidden_field_tag "fields[#{count}][persona_nome]", @presupuesto.persona_nome %>
      <%= hidden_field_tag "fields[#{count}][moeda]", @presupuesto.moeda %>
      <%= hidden_field_tag "fields[#{count}][cor_nome]", p.cor_nome %>
      <%= hidden_field_tag "fields[#{count}][tamanho_nome]", p.tamanho_nome %>
      <%= hidden_field_tag "fields[#{count}][produto_nome]", p.nome %>

      <% if @presupuesto.tabela_preco.to_s == '1' %>
        <% preco_us = p.preco_1_us  %>
        <% preco_gs = p.preco_1_gs  %>
        <% preco_rs = p.preco_1_rs  %>
      <% elsif @presupuesto.tabela_preco.to_s == '2' %>
        <% preco_us = p.preco_2_us  %>
        <% preco_gs = p.preco_2_gs  %>
        <% preco_rs = p.preco_2_rs  %>
      <% elsif @presupuesto.tabela_preco.to_s == '3' %>
        <% preco_us = p.preco_3_us  %>
        <% preco_gs = p.preco_3_gs  %>
        <% preco_rs = p.preco_3_rs  %>
      <% elsif @presupuesto.tabela_preco.to_s == '4' %>
        <% preco_us = p.preco_4_us  %>
        <% preco_gs = p.preco_4_gs  %>
        <% preco_rs = p.preco_4_rs  %>
      <% end %>


      <% if @presupuesto.moeda == 0 %>
        <%= hidden_field_tag "fields[#{count}][unitario_dolar]", number_to_currency(preco_us, :format=>' %n ', :separator => ","), size: 15, dir: "rtl" %>
      <% elsif @presupuesto.moeda == 1 %>
        <%= hidden_field_tag "fields[#{count}][unitario_guarani]", number_to_currency(preco_gs, :format=>' %n ', :precision => 0), size: 15, dir: "rtl" %>
      <% else %>
        <%= hidden_field_tag "fields[#{count}][unitario_real]", number_to_currency(preco_rs, :format=>' %n ', :separator => ","), size: 15, dir: "rtl" %>
      <% end %>

      <% if @presupuesto.moeda == 0 %>
        <%= hidden_field_tag "fields[#{count}][total_dolar]","#{number_to_currency(preco_us.to_f * qtd.to_f, :format=>' %n ', :separator => ",")}", size: 15, dir: "rtl" %>
      <% elsif @presupuesto.moeda == 1 %>
        <%= hidden_field_tag "fields[#{count}][total_guarani]","#{number_to_currency(preco_gs.to_f * qtd.to_f, :format=>' %n ', :precision => 0)}", size: 15, dir: "rtl" %>
      <% else %>
        <%= hidden_field_tag "fields[#{count}][total_real]","#{number_to_currency(preco_rs.to_f * qtd.to_f, :format=>' %n ', :separator => ",")}", size: 15, dir: "rtl" %>
      <% end %>

      <tr class = "<%= cycle( "cor1", "cor2" )%>"
          onMouseOver="javascript:this.style.backgroundColor='#949494'"
          onMouseOut="javascript:this.style.backgroundColor=''">
        <% if @presupuesto.moeda.to_s == '0' %>
          <td> <%= text_field_tag "fields[#{count}][quantidade]","#{qtd.to_i}", size: 10, :onblur => "CalcQtdDescimal('fields_#{count}_unitario_dolar','fields_#{count}_quantidade','fields_#{count}_total_dolar')" %> </td>
        <% elsif @presupuesto.moeda.to_s == '1' %>
          <td> <%= text_field_tag "fields[#{count}][quantidade]","#{qtd.to_i}", size: 10, :onblur => "CalcQtd('fields_#{count}_unitario_guarani','fields_#{count}_quantidade','fields_#{count}_total_guarani')" %> </td>
        <% else %>
          <td> <%= text_field_tag "fields[#{count}][quantidade]","#{qtd.to_i}", size: 10, :onblur => "CalcQtdDescimal('fields_#{count}_unitario_real','fields_#{count}_quantidade','fields_#{count}_total_real')" %> </td>
        <% end %>

        <td width="50" align="center"><b> <%= p.tamanho_nome %></b> </td>
        <td width="350">
          <div style="background-color: #<%= p.cod_cor %>; width: 10px;height: 10px;border: 2px solid black;float:left;margin: 3px;"></div>
          <%= p.cor_nome %>
       </td>
        <% if @presupuesto.moeda.to_s == '0' %>
          <td width="71" align="right"> <%= number_to_currency(preco_us, :format=>' %n ', :separator => ",")  %></td>
        <% elsif @presupuesto.moeda.to_s == '1' %>
          <td width="71" align="right"> <%= number_to_currency(preco_gs, :format=>' %n ', :precisio => 0)  %></td>
        <% else %>
          <td width="71" align="right"> <%= number_to_currency(preco_rs, :format=>' %n ', :separator => ",")  %></td>
        <% end %>

        <td width="120"> <%= p.fabricante_cod %> </td>
        <td width="450"> <%= p.nome %> </td>
      </tr>
      <% count += 1 %>
    <% end %>
  </table>
</div>
<%= submit_tag "Agregar ao Pedido",:disable_with => "Aguarde...", :class => "button" %>
<%= link_to t('BACK'), presupuesto_path(@presupuesto.id), :class => "button back" %>
<% end %>
<input type="hidden" id="foco" value="-1">

<script>
function CalcQtdDescimal(unit,qtd,tot)                                      //
{
    var total = eval( parseFloat( document.getElementById(unit).value.replace(/\./g, "").replace(",", ".") ) * parseFloat( document.getElementById(qtd).value.replace(/\./g, "").replace(",", ".") ) )  ;
    document.getElementById(tot).value = ( number_format(total,2, ',', '.') );
}

function CalcQtd(unit,qtd,tot)                                      //
{
    var total = eval( parseFloat( document.getElementById(unit).value.replace(/\./g, "").replace(",", ".") ) * parseFloat( document.getElementById(qtd).value.replace(/\./g, "").replace(",", ".") ) )  ;
    document.getElementById(tot).value = ( number_format(total,0, ',', '.') );
}




</script>
