<div class="panel">
  <h1 id="header">Lista de Carga</h1>
    <%= form_for(@lista_carga) do |f| %>
      <% if @lista_carga.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@lista_carga.errors.count, "error") %> prohibited this lista_carga from being saved:</h2>

          <ul>
          <% @lista_carga.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <div class="panel-content">
    <div class="row">
      <div class="col-md-12">
        <label>Fecha</label>
        <%= f.date_select :data %>
      </div>
    </div>
      <div class="row">
        <div class="col-md-12">
          <label>Rodado</label>
          <%= f.collection_select :rodado_id, ListaCarga.veiculos_disponiveis,:id, :placa, {prompt: "Selecione lo Veiculo", required: true }, {class: 'selectize'} %>
        </div>
      </div>


    <div class="row">
      <div class="col-md-6">
        <label>Km Inicio</label>
        <%= f.text_field :km_inicio, class: "panel-field" %>
      </div>


      <div class="col-md-6">
        <label>Km Final</label>
        <%= f.text_field :km_final, class: "panel-field" %>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <br>
        <%= f.text_area :obs, class: "panel-field", placeholder: 'Obs.', rows: '3' %>
      </div>
    </div>
  </div>
  <div class="footer-buttons">
    <%= f.submit "Seguir", class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false"%>
    <%= link_to t('BACK'), lista_cargas_path, :class => "btn btn-back" %>
  </div>

</div>
<% end %>
