<body onunload="window.opener.location.reload()">
  <ul class="tabs">
    <li>
      <a href="#tab1">
        Pedido: <%= params[:pedido].to_s.rjust(6,'0') %> - Cliente: <%= @pedido.persona.nome %>
      </a>
    </li>
  </ul>
  <div class="group">
    <h2><%= t('DISCOUNT') %> Solicitado: <%= @pedido.desconto %> - Obs.: <%= @pedido.obs %></h2>
  </div>
  <div class="tab_container">
    <div id="tab1" class="tab_content">
      
      <table class="head_grid">
        <tr>
          <td width="55" align="center">Pedido</td>
          <td width="450">Producto</td>
          <td width="70" align="right">Peso</td>
          <td width="70" align="right">Cantidad</td>
          <td width="55"></td>
        </tr>
      </table>

      <div class="rolagem" dir="div"  style="height: 320px">
        <table>
          <% ps = 0 %>
          <% qtd  = 0 %>
          <% @lista_carga_produtos.each do |p| %>
            <tr class="<%= cycle("cor1", "cor2")%>">
              <td width="55" align="center"><%= p.presupuesto_id.to_s.rjust(6,'0') %></td>
              <td width="450"><%= p.produto.nome %></td>
              <td width="70" align="right"><%= (p.produto.peso.to_f *  p.quantidade.to_f) %></td>
              <td width="70" align="right"><%= p.quantidade.to_f %></td>
              <td><%= link_to '', edit_lista_carga_produto_path(p), class: 'icon-pencil' %></td>
              <td><%= link_to '', p, :confirm => 'Estas Seguro?', :method => :delete, class: 'icon-trash' %></td>
              <% ps += (p.produto.peso.to_f *  p.quantidade.to_f) %>
              <% qtd  += p.quantidade.to_f %>
            </tr>
          <% end %>
        </table>
      </div>
        <table>
          <tr class="head_grid">
            <td width="505"></td>
            <td width="70" align="right"><b><%= ps %></b></td>
            <td width="70" align="right"><b><%= qtd %></b></td>
            <td width="55"></td>
          </tr>
        </table>



    </div> 	
  </div> 	
