<h1 id="header">Tareas - [<%= t('EDITION') %>]</h1>
 <div class="group">

<%= form_for(@tarefa) do |f| %>
  <% if @tarefa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tarefa.errors.count, "error") %> prohibited this tarefa from being saved:</h2>
      <ul>
      <% @tarefa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row panel-modal-body">
    <div class="col-md-12">
      <label>Responsable</label>
      <%= f.collection_select :vendedor_id, Persona.where(tipo_vendedor: 1).select('id,nome').order('2'), :id, :nome, { prompt: 'Selecione lo responsable' }, {class: 'panel-field'} %>
    </div>


    <div class="col-md-12">
      <label>Cliente</label>
      <%= f.text_field :persona_nome, class: "panel-field" %>
      <%= f.hidden_field :persona_id %>
    </div>

    <div class="col-md-12">
      <label>Servicios/Productos</label>
      <%= f.collection_select :produto_ids, Produto.all, :id, :nome, {}, {:multiple => true} %>
    </div>

    <div class="col-md-12">
      <label>Inicio</label>
      <%= f.datetime_select :dia_inicio, class: "panel-field" %>
    </div>

    <div class="col-md-12">
      <label>Final</label>
      <%= f.datetime_select :dia_final, class: "panel-field" %>
    </div>

    <div class="col-md-12">
      <label>Obs</label>
      <%= f.text_area :descricao, rows: 3, class: "panel-field" %>
    </div>

      <div class="col-md-12">
      <br>
      <%= f.submit t('SAVE'), class: "btn btn-green", disable_with: "Aguarde...", "dia-plus-as-tab" => "false" %>
   </div>
  </div>

<% end %>

</div>
<script>
  $('#tarefa_produto_ids, #busca_vendedor').selectize();

  $(function() {
    $( "#tarefa_persona_nome" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "/personas/busca",
          dataType: "json",
          data: {
            tipo: 'DESCRIPCION',
            per:  'CLIENTE',
            busca: request.term
          },
          success: function( data ) {
            response( data );
          },
        });
      },
      minLength: 2,
      change: function( event, ui ) {
        $("#tarefa_persona_id").val("");
        $('#tarefa_persona_id').val(ui.item.id);
        return false;
      }
    });
  });

</script>
