<h1 id="header">fact_indep_produtos</h1>
<div class="acessos">
  <%= link_to t('NEW'), new_fact_indep_produto_path, :class => "button add" %>
</div>

<table class="head_grid">
  <tr>
            <td>Fact indep</td>
            <td>Produto</td>
      </tr>
</table>

<div class="rolagem" dir="div">
  <table>
    <% @fact_indep_produtos.each do |fact_indep_produto| %>
      <tr>
                  <td><%= fact_indep_produto.fact_indep_id %></td>
                  <td><%= fact_indep_produto.produto_id %></td>
                <td><%= link_to 'Editar', edit_fact_indep_produto_path(fact_indep_produto) %></td>
        <td><%= link_to t('DELETE'), fact_indep_produto, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </table>
</div>

