<%= form_for(@produtos_custo) do |f| %>
  <% if @produtos_custo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@produtos_custo.errors.count, "error") %> prohibited this produtos_custo from being saved:</h2>

      <ul>
      <% @produtos_custo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<ul class="tabs">
      <li><a href="#tab1"> produtos_custos - [<%= t('EDITION') %>]</a></li>
</ul>

<div class="tab_container">
      <div id="tab1" class="tab_content">
        <table>
          <tr>
            <td width="1000">
              <fieldset>

                <table>
                  <tr>
                                      
                      <td align="right">unidade_id :</td>                    
                      <td><%= f.number_field :unidade_id %></td>
                                      
                      <td align="right">custo_medio_us :</td>                    
                      <td><%= f.text_field :custo_medio_us %></td>
                                      
                      <td align="right">custo_medio_gs :</td>                    
                      <td><%= f.text_field :custo_medio_gs %></td>
                                      
                      <td align="right">custo_medio_rs :</td>                    
                      <td><%= f.text_field :custo_medio_rs %></td>
                                      
                      <td align="right">quantidade :</td>                    
                      <td><%= f.text_field :quantidade %></td>
                                      
                      <td align="right">stock :</td>                    
                      <td><%= f.text_field :stock %></td>
                                      
                      <td align="right">saldo_us :</td>                    
                      <td><%= f.text_field :saldo_us %></td>
                                      
                      <td align="right">saldo_gs :</td>                    
                      <td><%= f.text_field :saldo_gs %></td>
                                      
                      <td align="right">saldo_rs :</td>                    
                      <td><%= f.text_field :saldo_rs %></td>
                                      
                      <td align="right">produto_id :</td>                    
                      <td><%= f.number_field :produto_id %></td>
                                      
                      <td align="right">produtos_grade_id :</td>                    
                      <td><%= f.number_field :produtos_grade_id %></td>
                                      </tr>                 
                </table>
              </fieldset>
            </td>
          </tr>
        </table>
      </div>
      
      <div class="buttons">
        <%= f.submit :value => t('SAVE'), :class => "button" %>
        <%= link_to t('BACK'), produtos_custos_path, :class => "button back" %>        
      </div>

    </div>
<% end %>