
<p>
  <strong>Unidad:</strong>
  <%= @produtos_custo.unidade_id %>
</p>

<p>
  <strong>Custo medio us:</strong>
  <%= @produtos_custo.custo_medio_us %>
</p>

<p>
  <strong>Custo medio gs:</strong>
  <%= @produtos_custo.custo_medio_gs %>
</p>

<p>
  <strong>Custo medio rs:</strong>
  <%= @produtos_custo.custo_medio_rs %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @produtos_custo.quantidade %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @produtos_custo.stock %>
</p>

<p>
  <strong>Saldo us:</strong>
  <%= @produtos_custo.saldo_us %>
</p>

<p>
  <strong>Saldo gs:</strong>
  <%= @produtos_custo.saldo_gs %>
</p>

<p>
  <strong>Saldo rs:</strong>
  <%= @produtos_custo.saldo_rs %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @produtos_custo.produto_id %>
</p>

<p>
  <strong>Produtos grade:</strong>
  <%= @produtos_custo.produtos_grade_id %>
</p>


