

<p>
  <strong>Produto:</strong>
  <%= @contrato_servico.produto.nome %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @contrato_servico.quantidade %>
</p>

<p>
  <strong>Unitario us:</strong>
  <%= @contrato_servico.unitario_us %>
</p>

<p>
  <strong>Unitario gs:</strong>
  <%= @contrato_servico.unitario_gs %>
</p>

<p>
  <strong>Total us:</strong>
  <%= @contrato_servico.total_us %>
</p>

<p>
  <strong>Total gs:</strong>
  <%= @contrato_servico.total_gs %>
</p>


