
<p>
  <strong>Compra:</strong>
  <%= @compra_produto_grade.compra_id %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @compra_produto_grade.produto_id %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @compra_produto_grade.cor_id %>
</p>

<p>
  <strong>Tamanho:</strong>
  <%= @compra_produto_grade.tamanho_id %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @compra_produto_grade.quantidade %>
</p>


