
<p>
  <strong>Acao:</strong>
  <%= @persona_acao.acao_id %>
</p>

<p>
  <strong><%= t('DATE') %>:</strong>
  <%= @persona_acao.data %>
</p>

<p>
  <strong><%= t('PERSON') %>:</strong>
  <%= @persona_acao.persona_id %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @persona_acao.obs %>
</p>

<p>
  <strong>Responsavel:</strong>
  <%= @persona_acao.responsavel_id %>
</p>

<p>
  <strong>Horas:</strong>
  <%= @persona_acao.horas %>
</p>

<p>
  <strong>Retorno:</strong>
  <%= @persona_acao.retorno %>
</p>

<p>
  <strong>Status:</strong>
  <%= @persona_acao.status %>
</p>

<p>
  <strong>Retorno data:</strong>
  <%= @persona_acao.retorno_data %>
</p>

<p>
  <strong>Retorno horas:</strong>
  <%= @persona_acao.retorno_horas %>
</p>


