
<p>
  <strong><%= t('DATE') %>:</strong>
  <%= @comissao.data %>
</p>

<p>
  <strong><%= t('DATE') %> lib:</strong>
  <%= @comissao.data_lib %>
</p>

<p>
  <strong>Vendedor:</strong>
  <%= @comissao.vendedor_id %>
</p>

<p>
  <strong>Vendedor <%= t('NAME') %>:</strong>
  <%= @comissao.vendedor_nome %>
</p>

<p>
  <strong><%= t('PERSON') %>:</strong>
  <%= @comissao.persona_id %>
</p>

<p>
  <strong>Persona <%= t('NAME') %>:</strong>
  <%= @comissao.persona_nome %>
</p>

<p>
  <strong>Valor us:</strong>
  <%= @comissao.valor_us %>
</p>

<p>
  <strong>Valor gs:</strong>
  <%= @comissao.valor_gs %>
</p>

<p>
  <strong>Valor rs:</strong>
  <%= @comissao.valor_rs %>
</p>

<p>
  <strong>Comissao:</strong>
  <%= @comissao.comissao %>
</p>

<p>
  <strong>Valor comi us:</strong>
  <%= @comissao.valor_comi_us %>
</p>

<p>
  <strong>Valor comi gs:</strong>
  <%= @comissao.valor_comi_gs %>
</p>

<p>
  <strong>Valor comi rs:</strong>
  <%= @comissao.valor_comi_rs %>
</p>


