<h1 id="header"><%= t('CENTER_OF_COSTOS') %></h1>
<div class="acessos">
  <%= link_to t('NEW'), new_centro_custo_path,:class => 'button add' %>
</div>

<div class="group">
  <table class="head_grid">
    <tr>
      <td width="110" align="center"><%= t('CODE') %></td>
      <td width="250"><%= t('UNIT') %></td>
      <td width="250"><%= t('DESCRIPTION') %></td>
      <td width="100">Status</td>
      <td width="81"></td>
    </tr>
  </table>
  <div class="rolagem" id="div">
    <table>
      <% @centro_custos.each do |c| %>
        <tr class = "<%= cycle("cor1", "cor2")%>">    
          <td width="110" align="center"><%= c.id.to_s.rjust(6,'0') %></td>
          <td width="250" align="left"><%= c.unidade.unidade_nome unless c.unidade.nil? %></td>
          <td width="250" align="left"><%= c.nome %></td>
          <td width="100" ><%= c.active %></td>
          <td><%= link_to '', edit_centro_custo_path(c), class: 'icon-pencil' %></td>
          <td><%= link_to '', c, :confirm => 'Estas Seguro?', :method => :delete, class: 'icon-trash' %></td>
        </tr>
      <% end %>
    </table>

  </div>
</div>

