
<p>
  <strong><%= t('NAME') %>:</strong>
  <%= @centro_custo.nome %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @centro_custo.obs %>
</p>

<p>
  <strong><%= t('DATE') %> inicio:</strong>
  <%= @centro_custo.data_inicio %>
</p>

<p>
  <strong><%= t('DATE') %> final:</strong>
  <%= @centro_custo.date_final %>
</p>

<p>
  <strong><%= t('PERSON') %>:</strong>
  <%= @centro_custo.persona_id %>
</p>


