<div class="group">
   <table class="head_grid">
      <tr>
         <td width="55" align="center"><%= t('CODE') %></td>
         <td width="55" align="center">Status</td>
         <td width="350" >Cliente</td>
         <td width="250" >Vendedor</td>
         <td width="250" >Direcion</td>
         <td width="70" align="right">Qtd</td>
         <td width="70" align="right" >Itens</td>

      </tr>
   </table>
   <div class="rolagem" dir="div">
      <table>
         <tr>
          <% @vendas.each do |v| %>
            <tr class = "<%= cycle("cor1", "cor2") %>">
              <td width="50" align="right"><%= v.venda_id.to_s.rjust(6,'0') %></td>
              <td width="50" align="right"><%= v.status %></td>
              <td width="350"><%= v.persona_nome %></td>
              <td width="250"><%= v.vendedor_nome %></td>
              <td width="250"><%= v.direcion %></td>
              <td width="70" align="right"><%= v.qtd %></td>
              <td width="70" align="right"><%= v.qtd_itens %></td>
              <td><a href="#" class="btn" data-toggle="modal" data-load-url="<%= modal_ordem_entrega_venda_path(v.venda_id, logistica: true, set_status: v.status) %>" data-target="#ModalOrdemEntrega"><span class="material-symbols-outlined">order_approve</span></a></td>
            </tr>
          <% end %>
      </table>
   </div>
</div>
