<%= form_for(nota_creditos_doc) do |f| %>

    <%= f.hidden_field :nota_credito_id %>
    <%= f.hidden_field :data, :value => @nota_credito.data %>
    <%= f.hidden_field :persona_id, :value => @nota_credito.persona_id %>
    <%= f.hidden_field :persona_nome, :value => @nota_credito.persona_nome %>
    <%= f.hidden_field :moeda, :value => @nota_credito.moeda %>
    <%= f.hidden_field :vencimento, :value => @nota_credito.data %>
    <%= f.hidden_field :vendedor_id %>
    <%= f.hidden_field :vendedor_nome %>
    <%= f.hidden_field :clase_produto %>
	  <%= hidden_field_tag :cotacao, nil, :value => @nota_credito.cotacao.to_i %>
	

	<table>
		<tr>
			<td align="right">Doc. N.: </td>
			<td><%= f.text_field :documento_numero_01, :size => 5, :value => '000' %> -
				<%= f.text_field :documento_numero_02, :size => 5, :value => '000' %> - 
				<%= f.text_field :documento_numero, :size => 15, :value => "NC#{@nota_credito.id}" %> </td>

			<td align="right">Cuota : </td>
			<td><%= f.text_field :cota, :size => 5, :value => '0' %></td>
			<% if @nota_credito.operacao == 0 %>

				<% if @nota_credito.moeda == 0 %>
	          <%=  field_us 'Valor U$:',f,:valor_dolar, :value => number_to_currency(@total_nota_dolar.to_f - @total_doc_dolar.to_f,    :format=>' %n ', :separator => ",") %>
				<% else %>
	        <%=  field_gs 'Valor Gs.:',f,:valor_guarani, :value => number_to_currency(@total_nota_guarani.to_f - @total_doc_guarani.to_f,    :format=>' %n ', :precision => 0) %>
					
				<% end %>

			<% else %>
			<% if @nota_credito.moeda == 0 %>
          <%=  field_us 'Valor U$:',f,:valor_dolar %>
			<% else %>
        <%=  field_gs 'Valor Gs.:',f,:valor_guarani %>
				
			<% end %>
			<% end %>

		</tr>
		<tr>
			<td></td>
			<td>
				<fieldset>
					<%= f.radio_button :liquidacao, 0, :checked => 'checked' %>Parte
					<%= f.radio_button :liquidacao, 1 %>Cancelacion
				</fieldset>
				</td>
				<td colspan="2" align="right">
					<%= f.submit t('SAVE'), :class => 'button' %>
				</td>
		</tr>				
	</table>
<% end %>
