<style>
  .group td{
    padding: 6px;
    font-size: 12px;
  }

</style>
<table>
  <tr>
    <td align="left"></td>
  </tr>
</table>

<div class="group" align="center">

  <table>
    <tr>
      <td width="250"></td>
      <td width="250" align="left"><%= current_unidade.cidade.nome %>, <%= Time.now.strftime("%d de %B de %Y")%></td>
    </tr>
    <tr>
      <td colspan="2">Señor(a):</td>
    </tr>
    <tr>
      <td colspan="2"><%= current_unidade.persona.nome unless  current_unidade.persona.nil? %></td>
    </tr>
  </table>
  <br>
  <table>

    <tr>
      <td style="text-align: justify;" width="500">
        De mi mayor consideración, <br>
        Tengo el agrado de dirigirme a usted con el objetivo de solicitar me concedan el goce de mis vacaciones a partir del día <%= l(@pf.inicio.to_date, :format => :dia_semana, locale: 'es') %><%= @pf.inicio.strftime(" %d de ") %> <%= Date::MONTHNAMES[@pf.inicio.strftime("%m").to_i] %> <%= @pf.inicio.strftime(" del %Y ") %> hasta completar los días de vacaciones que me corresponden. <br>
        En espera de una respuesta favorable a lo peticionado, le saludo con todo el respeto que se merece.
      </td>
    </tr>

    
  </table>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p>___________________________________</p>
  <p><%= @persona.nome %></p>

  <br>
  <br>
  <br>

  <p>Aclaración:.............................</p>
</div>
