
<p>
  <strong>Promo:</strong>
  <%= @promo_dt.promo_id %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @promo_dt.produto_id %>
</p>

<p>
  <strong>Desc porce:</strong>
  <%= @promo_dt.desc_porce %>
</p>

<p>
  <strong>Preco venda gs:</strong>
  <%= @promo_dt.preco_venda_gs %>
</p>

<p>
  <strong>Preco venda us:</strong>
  <%= @promo_dt.preco_venda_us %>
</p>


