<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <ss:Styles>
    <ss:Style ss:ID="1">
      <ss:Font ss:Bold="1"/>
      <ss:Alignment ss:Horizontal="Center"/>
      <ss:Interior ss:Pattern="Gray25"/>
    </ss:Style>
    <ss:Style ss:ID="2">
      <ss:Alignment ss:Horizontal="Center"/>
    </ss:Style>
  </ss:Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"><%= t('DATE') %></Data></Cell>      
        <Cell><Data ss:Type="String"> Venc.</Data></Cell>      
        <Cell><Data ss:Type="String"><%=  t('DATE')  %>Pg</Data></Cell>      
        <Cell><Data ss:Type="String">Cliente</Data></Cell>      
        <Cell><Data ss:Type="String">CC</Data></Cell>      
        <Cell><Data ss:Type="String">Desc.</Data></Cell>
        <Cell><Data ss:Type="String">Doc.</Data></Cell>
        <Cell><Data ss:Type="String"><%= t('QUOTA') %></Data></Cell>
        <Cell><Data ss:Type="String">Valor</Data></Cell>
        <Cell><Data ss:Type="String">Pg</Data></Cell>
        <Cell><Data ss:Type="String">Saldo</Data></Cell>
      </Row> 

      <% @proveedores.each do |c| %>
        <% saldo_real = (c.divida_real.to_f - c.anterior_rs.to_f) %>
        <Row>         
          <Cell><Data ss:Type="String"><%= c.data.strftime("%d/%m/%Y")%></Data></Cell>
          <Cell><Data ss:Type="String"><%= c.vencimento.strftime("%d/%m/%Y")%></Data></Cell>
          <Cell><Data ss:Type="String"><%= c.pg_data.to_date.strftime("%d/%m/%Y") unless c.pg_data.nil? %></Data></Cell>
          <Cell><Data ss:Type="String"><%= c.persona_nome %></Data></Cell>
          <Cell><Data ss:Type="String"><%= c.centro_custo_nome %></Data></Cell>
          <Cell><Data ss:Type="String"><%= c.descricao %></Data></Cell>
          <Cell><Data ss:Type="String"><%= c.documento_numero %></Data></Cell>
          <Cell><Data ss:Type="String"><%= c.cota %>/<%= c.tot_cotas %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= c.divida_real.to_f %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= c.anterior_rs.to_f %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= saldo_real.to_f %></Data></Cell>
        </Row> 
      <% end %>    
    </Table>
  </Worksheet>
</Workbook>
