<h1 id="header">Saldo Inicial <%= t('PROVIDER') %> - [<%= t('EDITION') %>]</h1>
<div class="group">

<%= form_for(@proveedore) do |f| %>
  <% if @proveedore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proveedore.errors.count, "error") %> <%=  t('ERROR_ASSET_MESSAGE') %></h2>

      <ul>
        <% @proveedore.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <%= f.hidden_field :tipo, :value => 1%>
   <%= f.hidden_field :clase_produto, :value => 0 %>
   <%= f.hidden_field :liquidacao, :value => 0 %>
   <%= f.hidden_field :tabela, :value => 'SALDO' %>
    <%= hidden_field_tag :cotacao, nil ,value: '4500' %> 
    <%= hidden_field_tag :cotacao_real, nil, value: '1800' %>


        <table>
            <tr>
              
              <td>
                <label><%= t('DATE') %></label>
                <%= f.date_select :data %>
              </td>
              <td>
                <label><%= t('EXPIRATION') %></label>
                <%= f.date_select :vencimento %>
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <label><%= t('PROVIDER') %></label>
                <%= f.text_field :persona_nome, required: true, class: 'autocomplete panel-field' %>
                 <span id="sppiner" class="sppiner"><%= image_tag 'select2-spinner.gif' %></span>
                <%= f.hidden_field :persona_id %>
               </td>
            <tr>
            <tr>
               <td>
                  <fieldset>
                  <legend><%= t('COIN') %></legend>
                     <%= f.radio_button :moeda, 1,  :Checked => "True" %> Gs.
                     <%= f.radio_button :moeda, 0 %> Dolar
                     <%= f.radio_button :moeda, 2 %> Real

                  </fieldset>
               </td>
            </tr>            
            <tr>
              <td colspan="2">
                <label><%= t('DOC') %></label>
                <%= f.text_field :documento_numero_01, required: true, size: 5 %>-<%= f.text_field :documento_numero_02, required: true, size: 5 %>-<%= f.text_field :documento_numero, required: true %>
              </td>
              <td>
                <label><%= t('QUOTA') %></label>
                <%= f.text_field :cota, size: 5 %>
              </td>
            </tr>
            <tr>
              <%= field_gs_label 'Divida Gs.:',f,:divida_guarani,
                           :onchange   => "GsToUsRs('cotacao','cotacao_real','proveedore_divida_guarani','proveedore_divida_dolar','proveedore_divida_real')" %>

              <%= field_us_label 'U$:',f,:divida_dolar,
                                :onchange   => "UsToGsRs('cotacao','cotacao_real','proveedore_divida_dolar','proveedore_divida_guarani','proveedore_divida_real')" %>

              <%= field_us_label 'R$:',f,:divida_real,
                           :onchange   => "RsToUsGs('cotacao','cotacao_real','proveedore_divida_guarani','proveedore_divida_dolar','cotacao_real')"  %>
            </tr>
            <tr>
              <%= field_gs_label 'Pago Gs.:',f,:pago_guarani,
                           :onchange   => "GsToUsRs('cotacao','cotacao_real','proveedore_pago_guarani','proveedore_pago_dolar','proveedore_pago_real')" %>

              <%= field_us_label 'U$:',f,:pago_dolar,
                                :onchange   => "UsToGsRs('cotacao','cotacao_real','proveedore_pago_dolar','proveedore_pago_guarani','proveedore_pago_real')" %>

              <%= field_us_label 'R$:',f,:pago_real,
                           :onchange   => "RsToUsGs('cotacao','cotacao_real','proveedore_pago_guarani','proveedore_pago_real','proveedore_pago_reais')"%>
            </tr>
        </table>
    <div class="footer-buttons">
      <%= f.submit t('SAVE'), class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false"%>
      <%= link_to t('BACK'), proveedores_path, :class => "btn btn-back" %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  function CalcSaca(qtd,us,gs,rs,div_us,div_gs,div_rs){
    var sus = eval( parseFloat( document.getElementById(qtd).value.replace(/\./g, "").replace(",", ".") ) * parseFloat( document.getElementById(us).value.replace(/\./g, "").replace(",", ".") ) );    
    document.getElementById(div_us).value = ( number_format( sus, 2, ',', '.') )

    var sgs = eval( parseFloat( document.getElementById(qtd).value.replace(/\./g, "").replace(",", ".") ) * parseFloat( document.getElementById(gs).value.replace(/\./g, "").replace(",", ".") ) );
    document.getElementById(div_gs).value = ( number_format( sgs, 0, ',', '.') )

    var srs = eval( parseFloat( document.getElementById(qtd).value.replace(/\./g, "").replace(",", ".") ) * parseFloat( document.getElementById(rs).value.replace(/\./g, "").replace(",", ".") ) );
    document.getElementById(div_rs).value = ( number_format( srs, 2, ',', '.') )
}
</script>

<script type="text/javascript">
  $(function() {
    $( "#proveedore_persona_nome" ).autocomplete({
        source: function( request, response ) {
          $("#sppiner").addClass("sppiner_show");
        $.ajax({
          url: "/personas/busca?per=PROVEEDOR",
          dataType: "json",

          data: {
            tipo: 'DESCRIPCION',
            busca: request.term
          },
          beforeSend: function(){
          $("#spinner").addClass("sppiner_show");
          },

          success: function( data ) {
            $("#sppiner").removeClass("sppiner_show");
            response( data );
          },
        });
      },
      minLength: 2,
      change: function( event, ui ) {
        $("#proveedore_persona_id").val("");
        $('#proveedore_persona_id').val(ui.item.id);
        return false;
      }
    });
    $( "#proveedore_persona_nome" ).change(function(){
      if ($( "#proveedore_persona_id" ).val() == ''){
      }
    });
  });

</script>
