<div class="modal fade" id="titulo-historico" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header btn-primary">
        <h1 style="font-size: 16px; font-weight: bold; padding: 0px !important; color: #fff">Titulo #<span id="data-titulo">
        </h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #fff">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 5px 20px 20px 20px">
        <div class="panel-content" id="pagina-titulo"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $('#titulo-historico').on('shown.bs.modal', function(event) {
    $("#data-titulo").text($(event.relatedTarget).data('titulo-descr'));


    url="/proveedores/titulo_historico?titulo="+ $(event.relatedTarget).data('titulo');

    AjaxTitulo(url);
      $('#modal-estorno').on('shown.bs.modal', function(event2) {
        $("#estorno_id").val($(event2.relatedTarget).data('estorno-id'));
        $("#data-estorno-id").text($(event2.relatedTarget).data('estorno-id'));
        $('#estorno_motivo').focus();
      });


    function AjaxTitulo(url){
      $('#spinner2').show();

      req = null;

      if (window.XMLHttpRequest) {

        req = new XMLHttpRequest();
        req.onreadystatechange = processReqChange;
        req.open("GET",url,true);
        req.send(null);


      } else if (window.ActiveXObject) {

        req = new ActiveXObject("Microsoft.XMLHTTP");

        if (req){
          req.onreadystatechange = processReqChange;
          req.open("GET",url,true);
          req.send();
        }
      }
    }

    function processReqChange(){
      if (req.readyState == 4) {
        if (req.status ==200) {
            onSuccess:$('#spinner2').hide();
            document.getElementById('pagina-titulo').innerHTML = req.responseText;
        } else {
            alert("Houve um problema ao obter os dados:n" + req.statusText);
        }
      }
    }

  });
</script>

<div class="modal" id="modal-estorno" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header btn-danger">
        <h1 style="font-size: 16px; font-weight: bold; padding: 0px !important; color: #fff">Estorno #<span id="data-estorno-id"></span></h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #fff">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 5px 20px 20px 20px">

        <%= form_tag estorno_titulo_proveedores_path, :method => "get" do %>
          <div class="row">
            <div class="col-md-12">
              <label>Data</label>
              <div class="input-group">
                <%= text_field_tag :estorno_data, Time.now.strftime("%d/%m/%Y"), class: 'date', onkeyup: "Formatadata(this,event)", required: true %>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" >
                    <i class="icon-calendar" aria-hidden="true"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col-md-12">
              <%= hidden_field_tag :estorno_id, nil %>
              <%= text_area_tag 'estorno_motivo', nil, rows: 5, class: 'panel-field', placeholder: 'Motivo do Estorno' %>
            </div>
            <div class="col-md-12" align="center">
              <%= submit_tag "Grabar", class: "btn btn-green" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
