    <div class="modal-content">
      <div class="modal-header btn-primary">
        <h1 style="font-size: 16px; font-weight: bold; padding: 0px !important; color: #fff">Pagar Titulo #<span id="data-id"><%= @proveedore.id %></span> -
          <span id="data_doc_01"></span>-<span id="data_doc_02"></span>-<span id="data_doc"><%= @proveedore.titulo %></span>
        </h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #fff">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 5px 20px 20px 20px">
        <%= form_for(@proveedore) do |fr| %>

        <div class="row">
          <div class="col-md-12">
            <br>
            <span id="data-descricao"><%= @proveedore.descricao %></span>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label>Conta</label>
            <%= fr.collection_select :conta_id,
                   Conta.select('id,nome').order(2), :id, :nome, {:prompt => 'Selecione'}, {required: true, class: 'panel-field'} %>
          </div>
        </div>


        <div class="row">
            <div class="col-md-7">
              <label>Data</label>
                <%= fr.text_field :data, size: 12, class: "input-addon date", onkeyup: "Formatadata(this,event)", autocomplete: 'off', required: true %>
                <div class="input-group-addon-f">
                  <span class="icon-calendar"></span>
                </div>
            </div>
            <div class="col-md-5">
              <label>Moeda</label>
              <%= fr.select :moeda, options_for_select([['Dolar', 0], ['Guarani', 1], ['Reais', 2]]), {}, {class: 'panel-field pg-moeda'} %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5">
            </div>
            <div class="col-md-7" align="right">
              <div class="pg-divida-us">
                <%= field_us_label 'Valor U$', fr, :divida_dolar, class: 'pg_divida_dolar money_us' %>
                <%= field_us_label 'Taxa', fr, :taxa_us %>
              </div>
              <div class="pg-divida-gs" hidden>
                <%= field_gs_label 'Valor Gs.', fr, :divida_guarani, class: 'pg_divida_guarani money_gs' %>
                <%= field_gs_label 'Taxa', fr, :taxa_gs %>
              </div>
              <div class="pg-divida-rs" hidden>
                <%= field_us_label 'Valor R$', fr, :divida_real, class: 'pg_divida_real money_us' %>
                <%= field_us_label 'Taxa', fr, :taxa_rs %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 footer-buttons" >
              <%= fr.submit "Grabar", class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

<script>

$('.pg-moeda').change(function(){

  if ($('.pg-moeda').val() == '0') {
    $(".pg-divida-us").show();
    $(".pg-divida-gs").hide();
    $(".pg-divida-rs").hide();
  } else if ($('.pg-moeda').val() == '1') {
    $(".pg-divida-us").hide();
    $(".pg-divida-gs").show();
    $(".pg-divida-rs").hide();
  } else if ($('.pg-moeda').val() == '2') {
    $(".pg-divida-us").hide();
    $(".pg-divida-gs").hide();
    $(".pg-divida-rs").show();
  };
})

$(document).ready(function() {
  $(".pg-moeda").val(<%= @proveedore.moeda.to_s %>);
  if (<%= @proveedore.moeda.to_s %> == '0') {
        $(".pg-divida-us").show();
        $(".pg-divida-gs").hide();
        $(".pg-divida-rs").hide();
      } else if (<%= @proveedore.moeda.to_s %> == '1') {
        $(".pg-divida-us").hide();
        $(".pg-divida-gs").show();
        $(".pg-divida-rs").hide();
      } else if (<%= @proveedore.moeda.to_s %> == '2') {
        $(".pg-divida-us").hide();
        $(".pg-divida-gs").hide();
        $(".pg-divida-rs").show();
      };
});
</script>

<script type="text/javascript">

  $('#modal-efetivar-pg').on('shown.bs.modal', function(event) {
    $('#proveedore_conta_id').selectize();
    $('#proveedore_conta_id')[0].selectize.focus();
    $("#data-id").text($(event.relatedTarget).data('id'));
    $("#data-descricao").text($(event.relatedTarget).data('descricao'));
    $("#data_doc").text($(event.relatedTarget).data('documento-numero'));
    $("#data_doc_01").text($(event.relatedTarget).data('documento-numero-01'));
    $("#data_doc_02").text($(event.relatedTarget).data('documento-numero-02'));

    $(".pg-moeda").val($(event.relatedTarget).data('moeda'));
    $(".pg_divida_dolar").val($(event.relatedTarget).data('saldo-us'));
    $(".pg_divida_guarani").val($(event.relatedTarget).data('saldo-gs'));
    $(".pg_divida_real").val($(event.relatedTarget).data('saldo-rs'));
    $(".pg_saldo_real").val($(event.relatedTarget).data('saldo-rs'));
    $(".pg_cota").val($(event.relatedTarget).data('cota'));

    $(".pg_doc").val($(event.relatedTarget).data('documento-numero'));
    $(".pg_doc_01").val($(event.relatedTarget).data('documento-numero-01'));
    $(".pg_doc_02").val($(event.relatedTarget).data('documento-numero-02'));

    $(".pg_rubro_id").val($(event.relatedTarget).data('rubro-id'));
    $(".pg_tot_cotas").val($(event.relatedTarget).data('tot-cotas'));
    $(".pg_descricao").val($(event.relatedTarget).data('descricao'));
    $(".pg_persona_id").val($(event.relatedTarget).data('persona-id'));
    $(".pg_titulo").val($(event.relatedTarget).data('titulo'));

      if ($(event.relatedTarget).data('moeda') == '0') {
        $(".pg-divida-us").show();
        $(".pg-divida-gs").hide();
        $(".pg-divida-rs").hide();
      } else if ($(event.relatedTarget).data('moeda') == '1') {
        $(".pg-divida-us").hide();
        $(".pg-divida-gs").show();
        $(".pg-divida-rs").hide();
      } else if ($(event.relatedTarget).data('moeda') == '2') {
        $(".pg-divida-us").hide();
        $(".pg-divida-gs").hide();
        $(".pg-divida-rs").show();
      };

  })


</script>
