<table class="head_grid">
  <tr>
    <td width="100"><%= t('COUNTRY') %></td>
    <td width="100"><%= t('STATE') %></td>
    <td width="100">Ciudad</td>
    <td width="50">Nº</td>
    <td width="150">Direción</td>
    <td width="200">Obs</td>
  </tr>
</table>

<div class="rolagem" dir="div">
  <table>
    <% persona_locais_entregas.each do |ple| %>
      <tr class="<%= cycle("cor1", "cor2")%>">
        <td width="100"><%= ple.paise.nome unless ple.paise_id.blank? %></td>
        <td width="100"><%= ple.estado.nome unless ple.estado_id.blank? %></td>
        <td width="100"><%= ple.cidade.nome unless ple.cidade_id.blank? %></td>
        <td width="50"><%= ple.nr %></td>
        <td width="150"><%= ple.direcao %></td>
        <td width="200"><%= ple.obs %></td>
        <td><%= link_to 'Editar', edit_persona_locais_entrega_path(ple) %></td>
        <td><%= link_to t('DELETE'), ple, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </table>
</div>

