<%= form_for(persona_locais_entrega) do |f| %>
  <% if persona_locais_entrega.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(persona_locais_entrega.errors.count, "error") %> prohibited this persona_locais_entrega from being saved:</h2>

      <ul>
      <% persona_locais_entrega.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :persona_id %>

  <div class="row panel-modal-body">
    <div class="col-md-12">
      <label>Ciudad</label>
          <%= f.collection_select :cidade_id, Cidade.find_by_sql("SELECT C.ID, (E.NOME || ' > ' ||  C.NOME || ' > ' || D.NOME) AS NOME FROM CIDADES C
            INNER JOIN DISTRITOS D
            ON D.ID = C.DISTRITO_ID

            INNER JOIN ESTADOS E
            ON E.ID = D.ESTADO_ID

            ORDER BY 2
            "), :id, :nome, {prompt: 'Selecione a cidade'} %>      
    </div>

    <div class="col-md-12">
      <label>Direción</label>
      <%= f.text_field :direcao, class: "panel-field" %>
    </div>
    <div class="col-md-12">
      <br>
      <%= f.text_area :obs, :rows => 3, placeholder: 'Complemento', class: "panel-field" %>
    </div>
  
    <div class="footer-buttons">
      <%= f.submit t('SAVE'), class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false"%>  
    </div>
  </div>

<% end %>


<script type="text/javascript">
  $(' #persona_locais_entrega_cidade_id').selectize();
</script>
