
<p>
  <strong><%= t('PERSON') %>:</strong>
  <%= @persona_locais_entrega.persona_id %>
</p>

<p>
  <strong><%= t('DATE') %>:</strong>
  <%= @persona_locais_entrega.data %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @persona_locais_entrega.pais_id %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @persona_locais_entrega.estado_id %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @persona_locais_entrega.cidade_id %>
</p>

<p>
  <strong>Regiao:</strong>
  <%= @persona_locais_entrega.regiao_id %>
</p>

<p>
  <strong>Nr:</strong>
  <%= @persona_locais_entrega.nr %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @persona_locais_entrega.cep %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @persona_locais_entrega.obs %>
</p>

<p>
  <strong><%= t('NAME') %>:</strong>
  <%= @persona_locais_entrega.nome %>
</p>

<p>
  <strong>Status:</strong>
  <%= @persona_locais_entrega.status %>
</p>


