
<p>
  <strong>Tipo form:</strong>
  <%= @config_form.tipo_form %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @config_form.modelo %>
</p>

<p>
  <strong>M data:</strong>
  <%= @config_form.m_data %>
</p>

<p>
  <strong>Dia x:</strong>
  <%= @config_form.dia_x %>
</p>

<p>
  <strong>Dia y:</strong>
  <%= @config_form.dia_y %>
</p>

<p>
  <strong>Mes x:</strong>
  <%= @config_form.mes_x %>
</p>

<p>
  <strong>Mes y:</strong>
  <%= @config_form.mes_y %>
</p>

<p>
  <strong>N fatura x:</strong>
  <%= @config_form.n_fatura_x %>
</p>

<p>
  <strong>N fatura y:</strong>
  <%= @config_form.n_fatura_y %>
</p>

<p>
  <strong>Cred x:</strong>
  <%= @config_form.cred_x %>
</p>

<p>
  <strong>Cred y:</strong>
  <%= @config_form.cred_y %>
</p>

<p>
  <strong>Cont x:</strong>
  <%= @config_form.cont_x %>
</p>

<p>
  <strong>Cont y:</strong>
  <%= @config_form.cont_y %>
</p>

<p>
  <strong>Cliente x:</strong>
  <%= @config_form.cliente_x %>
</p>

<p>
  <strong>Cliente y:</strong>
  <%= @config_form.cliente_y %>
</p>

<p>
  <strong>Ruc x:</strong>
  <%= @config_form.ruc_x %>
</p>

<p>
  <strong>Ruc y:</strong>
  <%= @config_form.ruc_y %>
</p>

<p>
  <strong>Direcao x:</strong>
  <%= @config_form.direcao_x %>
</p>

<p>
  <strong>Direcao y:</strong>
  <%= @config_form.direcao_y %>
</p>

<p>
  <strong>Telefone x:</strong>
  <%= @config_form.telefone_x %>
</p>

<p>
  <strong>Telefone y:</strong>
  <%= @config_form.telefone_y %>
</p>

<p>
  <strong>Box produto x:</strong>
  <%= @config_form.box_produto_x %>
</p>

<p>
  <strong>Box produto y:</strong>
  <%= @config_form.box_produto_y %>
</p>

<p>
  <strong>Sub tot ext x:</strong>
  <%= @config_form.sub_tot_ext_x %>
</p>

<p>
  <strong>Sub tot ext y:</strong>
  <%= @config_form.sub_tot_ext_y %>
</p>

<p>
  <strong>Sub tot 05 x:</strong>
  <%= @config_form.sub_tot_05_x %>
</p>

<p>
  <strong>Sub tot 05 y:</strong>
  <%= @config_form.sub_tot_05_y %>
</p>

<p>
  <strong>Sub tot 10 x:</strong>
  <%= @config_form.sub_tot_10_x %>
</p>

<p>
  <strong>Sub tot 10 y:</strong>
  <%= @config_form.sub_tot_10_y %>
</p>

<p>
  <strong>En letras x:</strong>
  <%= @config_form.en_letras_x %>
</p>

<p>
  <strong>En letras y:</strong>
  <%= @config_form.en_letras_y %>
</p>

<p>
  <strong>Iva 05 x:</strong>
  <%= @config_form.iva_05_x %>
</p>

<p>
  <strong>Iva 05 y:</strong>
  <%= @config_form.iva_05_y %>
</p>

<p>
  <strong>Iva 10 x:</strong>
  <%= @config_form.iva_10_x %>
</p>

<p>
  <strong>Iva 10 y:</strong>
  <%= @config_form.iva_10_y %>
</p>

<p>
  <strong>Tot iva x:</strong>
  <%= @config_form.tot_iva_x %>
</p>

<p>
  <strong>Tot iva y:</strong>
  <%= @config_form.tot_iva_y %>
</p>

<p>
  <strong>Tot x:</strong>
  <%= @config_form.tot_x %>
</p>

<p>
  <strong>Tot y:</strong>
  <%= @config_form.tot_y %>
</p>

<p>
  <strong>Terminal:</strong>
  <%= @config_form.terminal_id %>
</p>


