<table class="head_grid">
  <tr>
    <td width="100"><%= t('DOC') %></td>
    <td width="70" align="right"><%= t('VALUE') %></td>
  </tr>
</table>

<div class="rolagem_cobro" dir="div">
  <table>
    <% cobros_ncs.each do |cobros_nc| %>
    <% if cobros_nc.status == 1 %>
      <% color = '#fa3e40' %>
    <% end %>

      <tr class = "<%= cycle("cor1", "cor2") %>">
        <td  width="100"  bgcolor="<%=color%>"><%= cobros_nc.documento_numero_01 %>.<%= cobros_nc.documento_numero_02 %>.<%= cobros_nc.documento_numero %></td>
        <td  width="70"  align="right"  bgcolor="<%=color%>"><%= format_int(cobros_nc.valor_gs) %></td>
        <% if cobros_nc.status == 0 %>
          <td><%= link_to 'Anular', edit_cobros_nc_path(cobros_nc) %></td>
          <td><%= link_to 'Impri.', edit_cobros_nc_path(cobros_nc) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

