<div class="panel">
  <header class="panel-heading">
  	<b>Mov. Efetivo Gs</b>
    <div style="float:right">
    	Saldo Inicial: <b><%= format_int(@fechamento_caixa.abertura_caixa.saldo_gs.to_f) %></b>
    	<% saldo = @fechamento_caixa.abertura_caixa.saldo_gs.to_f %>
    </div>
  </header>

		<table  class="head_grid">
			<tr>
        <td width="200">Origen</td>
        <td width="200">Qtd Mov</td>
        <td width="200">Forma Pago</td>
        <td width="200" align="right">Valor</td>
			</tr>
		</table>
		<div class="rolagem" dir="div" style="height: 260px;">
			<table>
				<% qtd  = 0 %>
				<% desc = 0 %>
				<% tot  = 0 %>
				<% @mov_efetivo_gs.each do |o_gs| %>
					<tr class = "<%= cycle("cor1", "cor2") %>">
		        <td width="200"><%= o_gs.sigla_proc %></td>
		        <td width="200"><%= o_gs.count_reg %></td>
		        <td width="200"><%= o_gs.forma_pago_nome %></td>
		        <td align="right" width="200"><%= format_int(o_gs.saldo_gs) %></td>
						<td width="60" align="right"><%= format_int( saldo  += o_gs.saldo_gs.to_f ) %></td>
					</tr>
				<% end %>
			</table>
		</div>
</div>
