<% cc = "AND C.CENTRO_CUSTO_ID = #{params[:busca_centro_custos]}" %>

<% sql_saldo_cx = "SELECT C.NOME AS CONTA_NOME,
                          SUM(F.ENTRADA_GUARANI - F.SAIDA_GUARANI) AS SALDO_GS
                    FROM FINANCAS F

                    INNER JOIN CONTAS C
                    ON C.ID = F.CONTA_ID
                    WHERE C.TIPO = 0 #{cc} AND C.MOEDA = #{params[:moeda]} AND DATA < '#{params[:inicio].split("/").reverse.join("-")}'
                    GROUP BY 1"

saldo_cx = Financa.find_by_sql(sql_saldo_cx)
%>


<% sql_saldo_bc = "SELECT C.NOME AS CONTA_NOME,
                          SUM(F.ENTRADA_GUARANI - F.SAIDA_GUARANI) AS SALDO_GS
                    FROM FINANCAS F

                    INNER JOIN CONTAS C
                    ON C.ID = F.CONTA_ID
                    WHERE C.TIPO = 1 #{cc} AND C.MOEDA = #{params[:moeda]} AND F.DATA < '#{params[:inicio].split("/").reverse.join("-")}'
                    GROUP BY 1"
  saldo_bc = Financa.find_by_sql(sql_saldo_bc)
%>


<% sql_mov_fc = "SELECT C.VENCIMENTO,
                   COALESCE(C.PERSONA_NOME, 'OP. FINANCEIRA') AS PERSONA_NOME,
                 C.DESCRICAO,
                 COALESCE(CC.NOME, 'OP. FINANCEIRA') AS CENTRO_CUSTO_NOME,
                 'OP. FINANCEIRA' AS RUBRO_NOME,
                 C.DOCUMENTO_NUMERO_01,
                 C.DOCUMENTO_NUMERO_02,
                 C.DOCUMENTO_NUMERO,
                 C.COTA,
                 C.DIVIDA_GUARANI AS ENTRADA_GUARANI,
                 0 AS SAIDA_GUARANI
            FROM CLIENTES C
            LEFT JOIN CENTRO_CUSTOS CC
            ON CC.ID = C.CENTRO_CUSTO_ID

            WHERE C.LIQUIDACAO = 0  #{cc}
            AND C.MOEDA = #{params[:moeda]}
            AND C.VENCIMENTO BETWEEN '#{params[:inicio].split("/").reverse.join("-")}' AND '#{params[:final].split("/").reverse.join("-")}'

            UNION ALL

            SELECT C.VENCIMENTO,
                   COALESCE(C.PERSONA_NOME, 'OP. FINANCEIRA') AS PERSONA_NOME,
                 C.DESCRICAO,
                 COALESCE(CC.NOME, 'OP. FINANCEIRA') AS CENTRO_CUSTO_NOME,
                 COALESCE(R.DESCRICAO, 'OP. FINANCEIRA') AS RUBRO_NOME,
                 C.DOCUMENTO_NUMERO_01,
                 C.DOCUMENTO_NUMERO_02,
                 C.DOCUMENTO_NUMERO,
                 C.COTA,
                 0 AS ENTRADA_GUARANI,
                 C.DIVIDA_GUARANI AS SAIDA_GUARANI
            FROM PROVEEDORES C
            LEFT JOIN CENTRO_CUSTOS CC
            ON CC.ID = C.CENTRO_CUSTO_ID
            LEFT JOIN RUBROS R
            ON R.ID = C.RUBRO_ID

            WHERE C.LIQUIDACAO = 0 #{cc}
            AND C.MOEDA = #{params[:moeda]}
            AND C.VENCIMENTO BETWEEN '#{params[:inicio].split("/").reverse.join("-")}' AND '#{params[:final].split("/").reverse.join("-")}'

            ORDER BY 1"

mov_fc = Financa.find_by_sql(sql_mov_fc)
%>



<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-content">
        <div class="modal-grid" style="padding: 10px; color: #444;font-family: 'prox-bold';">
            <table>

            <% saldo_ant = 0 %>
            <% saldo_cx.each do |sc| %>
              <tr>
                <td width="200"><%= sc.conta_nome %></td>
                <td width="70" align="right"><%= format_int(sc.saldo_gs) %></td>
                <% saldo_ant += sc.saldo_gs.to_f %>
              </tr>
            <% end %>

            <% saldo_bc.each do |sb| %>
              <tr>
                <td width="200"><%= sb.conta_nome %></td>
                <td width="70" align="right"><%= format_int(sb.saldo_gs) %></td>
                <% saldo_ant += sb.saldo_gs.to_f %>
              </tr>
            <% end %>
              <tr>
                <td width="200">Saldo Conciliado <small>(<%= Financa.where(conciliacao: true).last.updated_at.strftime("%d/%m/%y - %H:%M") unless Financa.where(conciliacao: true).last.nil? %>)</small></td>
                <td width="70" align="right"><%= format_int(saldo_ant) %></td>
              </tr>

            </table>
        </div>
      </div>

      <div class="panel-content">
        <div class="modal-grid">
          <table class="head_grid">
            <tr>
              <td width="350">Favorecido</td>
              <td width="200">CC</td>
              <td width="200"><%= t('CLASSIFICATION') %></td>
              <td width="400">Descrição</td>
              <td width="150"><%= t('DOC') %></td>
              <td width="70" align="right">Entrada</td>
              <td width="70" align="right">Saida</td>
              <td width="70" align="right">Saldo</td>
            </tr>
          </table>
          <div class="rolagem_rl" dir="div" style="hieght: 100% !important">
          <table>
            <% quebra = '' %>
            <% sub_c = 0 %>
            <% sub_d = 0 %>

            <% tot_c = 0 %>
            <% tot_d = 0 %>
            <% saldo_rec = saldo_ant.to_f %>

            <% mov_fc.each do |mf| %>



          <% if quebra != mf.vencimento %>
            <% if quebra != "" %>
               <tr class="head_grid" style="background-color: #eeedff">
                  <td><b>Saldo do dia</b></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td width="70" align="right"><b class="us" style="font-family: 'prox-bold';"><%= format_int(sub_c) %></b></td>
                  <td width="70" align="right"><b class="gs" style="font-family: 'prox-bold';"><%= format_int(sub_d) %></b></td>
                  <td width="70" align="right"><b class="rs" style="font-family: 'prox-bold';"><%= format_int( saldo_rec) %></b></td>

                  <% sub_c = 0 %>
                  <% sub_d = 0 %>
               </tr>
              <% end %>
              <tr>
                <td colspan="6"><b style="font-family: 'prox-bold';"><% quebra = mf.vencimento %> <%= Date::DAYNAMES[mf.vencimento.wday].to_s %> - <%= mf.vencimento.to_date.strftime("%d/%m/%y") %> </b></td>
              </tr>

            <% end %>

              <tr class = "<%= cycle("cor1", "cor2") %>">
                <td width="350"><%= mf.persona_nome %></td>
                <td width="200"><%= mf.centro_custo_nome %></td>
                <td width="200"><small><%= mf.rubro_nome %></small></td>
                <td width="400"><%= mf.descricao %></td>
                <td width="150"><%= mf.documento_numero %> - <%= mf.cota %></td>
                <td width="70" align="right"><b class="us"><%= format_int(mf.entrada_guarani) %></b></td>
                <td width="70" align="right"><b class="gs"><%= format_int(mf.saida_guarani) %></b></td>
                <td width="70" align="right"><b class="rs"><%= format_int( saldo_rec += (mf.entrada_guarani.to_f - mf.saida_guarani.to_f)) %></b></td>

                <% sub_c += mf.entrada_guarani.to_f %>
                <% sub_d += mf.saida_guarani.to_f %>
              </tr>
            <% end %>
             <tr class="head_grid" style="background-color: #eeedff">
                <td><b>Saldo do dia</b></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td width="70" align="right"><b class="us" style="font-family: 'prox-bold';"><%= format_int(sub_c) %></b></td>
                <td width="70" align="right"><b class="gs" style="font-family: 'prox-bold';"><%= format_int(sub_d) %></b></td>
                <td width="70" align="right"><b class="rs" style="font-family: 'prox-bold';"><%= format_int(saldo_rec) %></b></td>

                <% sub_c = 0 %>
                <% sub_d = 0 %>
             </tr>
          </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<style>

  .rolagem_rl{
    background: white;
    overflow: auto;
    padding: 1px 1px 1px 1px;
  }

  .rolagem_rl td {
    padding: 10px;
    border-bottom: 1px solid #efefef !important;
    cursor: pointer;
  }
</style>
