
<p>
  <strong>Data:</strong>
  <%= @viatico.data %>
</p>

<p>
  <strong>Persona:</strong>
  <%= @viatico.persona_id %>
</p>

<p>
  <strong>Valor gs:</strong>
  <%= @viatico.valor_gs %>
</p>

<p>
  <strong>Valor rs:</strong>
  <%= @viatico.valor_rs %>
</p>

<p>
  <strong>Valor us:</strong>
  <%= @viatico.valor_us %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @viatico.obs %>
</p>

<p>
  <strong>Forma pago:</strong>
  <%= @viatico.forma_pago_id %>
</p>

<p>
  <strong>Conta:</strong>
  <%= @viatico.conta_id %>
</p>


