<div class="c-entity-detail-info__header">
  <div class="c-entity-detail-info__header__wrap">
    <div class="c-avatar c-avatar--square c-entity-detail-info__header__avatar c-entity-detail-info__header__avatar--deal">
      <span class="c-icon material-icons c-avatar__icon">
       <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#6d758d"><path d="M160-120q-33 0-56.5-23.5T80-200v-160h280v80h240v-80h280v160q0 33-23.5 56.5T800-120H160Zm280-240v-80h80v80h-80ZM80-440v-200q0-33 23.5-56.5T160-720h160v-80q0-33 23.5-56.5T400-880h160q33 0 56.5 23.5T640-800v80h160q33 0 56.5 23.5T880-640v200H600v-80H360v80H80Zm320-280h160v-80H400v80Z"/></svg>
      </span>
    </div>
  </div>
 <br>
  <div class="c-entity-detail-info__header__text-block">
    <div class="c-entity-detail-info__header__title"><%= @negocio.titulo %></div>
    <div class="c-entity-detail-info__header__subtitle">Criado <%= l(@negocio.created_at, :format => '%d %B %Y') %></div>
  </div>
</div>
<hr class="c-entity-detail-info__divider">

<div class="c-entity-detail-info__detail">
   <ul class="c-entity-detail-info__detail__list">
      <li class="c-entity-detail-info__detail__item">
         <div class="c-detail-field-info">
            <i class="c-icon material-icons c-icon--moskit-icon moskit-icon-dollar c-detail-field-info__icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#6d758d"><path d="M446-216h67v-47q49-8 81-42t32-79q0-45-27.5-77T514-514q-61-22-80.5-37.5T414-592q0-20 17.5-33t45.5-13q28 0 49 13.5t28 36.5l59-25q-12-33-38.5-55.5T513-697v-47h-66v48q-45 10-72 38.5T348-591q0 45 30.5 76.5T475-460q45 16 65.5 34t20.5 42q0 26-21 43.5T488-323q-33 0-58.5-22T395-402l-62 26q12 42 42 71.5t71 40.5v48Zm34 120q-79 0-149-30t-122.5-82.5Q156-261 126-331T96-480q0-80 30-149.5t82.5-122Q261-804 331-834t149-30q80 0 149.5 30t122 82.5Q804-699 834-629.5T864-480q0 79-30 149t-82.5 122.5Q699-156 629.5-126T480-96Z"/></svg>             
            </i>
            <span class="c-detail-field-info__label">Monto</span><!---->
            <span class="c-detail-field-info__value">
              <% if @negocio.moeda.to_i == 0 %>
                <span class="us"> U$. <%= format_decimal(@negocio.negocio_produtos.sum(:tot_us)) %></span>
              <% else %>
                <span class="gs">Gs. <%= format_int(@negocio.negocio_produtos.sum(:tot_gs)) %></span>
              <% end %>
            </span><!---->
         </div>
      </li>
      <li class="c-entity-detail-info__detail__item">
         <div class="c-detail-field-info">
            <i class="c-icon material-icons c-icon--moskit-icon moskit-icon-field-date c-detail-field-info__icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#6d758d"><path d="M380-733.33h66.67V-800H380v66.67Zm133.33 0V-800H580v66.67h-66.67ZM380-466.67v-66.66h66.67v66.66H380ZM646.67-600v-66.67h66.66V-600h-66.66Zm0 133.33v-66.66h66.66v66.66h-66.66Zm-133.34 0v-66.66H580v66.66h-66.67Zm133.34-266.66V-800h66.66v66.67h-66.66Zm-200 66.66v-66.66h66.66v66.66h-66.66ZM246.67-160v-640h66.66v66.67H380v66.66h-66.67V-600H380v66.67h-66.67V-160h-66.66ZM580-533.33V-600h66.67v66.67H580Zm-133.33 0V-600h66.66v66.67h-66.66ZM380-600v-66.67h66.67V-600H380Zm133.33 0v-66.67H580V-600h-66.67ZM580-666.67v-66.66h66.67v66.66H580Z"/></svg>

            </i><span class="c-detail-field-info__label">Fecha Prevista</span><!---->
            <span class="c-detail-field-info__value"><%= l(@negocio.expect_fechamento, format: '%d %b') unless @negocio.expect_fechamento.blank? %> -  Faltam <%= (@negocio.expect_fechamento.to_date - Time.now.to_date).to_i unless @negocio.expect_fechamento.blank?  %> Dias </span><!---->
         </div>
      </li>
      <li class="c-entity-detail-info__detail__item">
         <div class="c-detail-field-info" data-popover-setting-name="responsiblePopoverSettings">
            <i class="c-icon material-icons c-icon--moskit-icon moskit-icon-person c-detail-field-info__icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#6d758d"><path d="M237-285q54-38 115.5-56.5T480-360q66 0 127.5 18.5T723-285q35-41 52-91t17-104q0-129.67-91.23-220.84-91.23-91.16-221-91.16Q350-792 259-700.84 168-609.67 168-480q0 54 17 104t52 91Zm243-123q-60 0-102-42t-42-102q0-60 42-102t102-42q60 0 102 42t42 102q0 60-42 102t-102 42Zm.28 312Q401-96 331-126t-122.5-82.5Q156-261 126-330.96t-30-149.5Q96-560 126-629.5q30-69.5 82.5-122T330.96-834q69.96-30 149.5-30t149.04 30q69.5 30 122 82.5T834-629.28q30 69.73 30 149Q864-401 834-331t-82.5 122.5Q699-156 629.28-126q-69.73 30-149 30Z"/></svg>              
            </i><span class="c-detail-field-info__label">Responsáble</span><!---->
            <span class="c-detail-field-info__value"><%= @negocio.usuario.usuario_nome %></span><!---->
         </div>
      </li>
      <!---->
   </ul>
</div>
<hr class="c-entity-detail-info__divider">
<div class="footer-buttons">
  <%= link_to '', edit_crm_negocio_path(@negocio), class: 'icon-pencil' %>
  <%= link_to '', [:crm, @negocio], :confirm => 'Estas Seguro?', :method => :delete , class: 'icon-trash' %>
  <br>
  <br>
</div>
