
<div class="c-entity-detail-timeline" entity-id="32422154">
   <div class="c-schedule-content">
			<header class="c-entity-detail-last-communications__header">
					<div class="row">
						<div class="col-md-1">

				<div class="list_pendente_header">
				  <div class="c-entity-detail-info__header__wrap">
				    <div class="c-avatar c-avatar--square c-entity-detail-info__header__avatar c-entity-detail-info__header__avatar--deal" style="margin-left: 4px">
				      <span class="c-icon material-icons c-avatar__icon">
				       <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 640 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#6d758d" d="M128 72a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm32 97.3c28.3-12.3 48-40.5 48-73.3c0-44.2-35.8-80-80-80S48 51.8 48 96c0 32.8 19.7 61 48 73.3V224H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H288v54.7c-28.3 12.3-48 40.5-48 73.3c0 44.2 35.8 80 80 80s80-35.8 80-80c0-32.8-19.7-61-48-73.3V288H608c17.7 0 32-14.3 32-32s-14.3-32-32-32H544V169.3c28.3-12.3 48-40.5 48-73.3c0-44.2-35.8-80-80-80s-80 35.8-80 80c0 32.8 19.7 61 48 73.3V224H160V169.3zM488 96a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zM320 392a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/></svg>
				      </span>
				    </div>
				  </div>
				</div>

			</div>
			<div class="col-md-11">
			<div class="c-text c-entity-detail-last-communications__header__title c-texts">Linha do Tempo(<%= @historico.count(:id) %>)</div>	
			</div>
			</div>

				
			</header>
      <section class="c-schedule-content__body">
         <header class="c-entity-detail-timeline__header">
            <div class="c-entity-row c-entity-row--space-left">
               <ul class="c-entity-detail-timeline__header__filter">
                  <li class="c-entity-detail-timeline__header__filter__option"><button class="c-entity-detail-timeline__header__filter__button c-entity-detail-timeline__header__filter__button--active"><span class="c-text c-texts">Todas</span></button></li>
                  <li class="c-entity-detail-timeline__header__filter__option"><button class="c-entity-detail-timeline__header__filter__button"><span class="c-text c-texts">Email</span></button></li>
                  <li class="c-entity-detail-timeline__header__filter__option"><button class="c-entity-detail-timeline__header__filter__button"><span class="c-text c-texts">Notas</span></button></li>
                  <li class="c-entity-detail-timeline__header__filter__option"><button class="c-entity-detail-timeline__header__filter__button"><span class="c-text c-texts">Atividades</span></button></li>
                  <li class="c-entity-detail-timeline__header__filter__option"><button class="c-entity-detail-timeline__header__filter__button"><span class="c-text c-texts">WhatsApp</span></button></li>
               </ul>
            </div>
         </header>
         <div class="c-entity-detail-timeline__body">
            <ul class="c-entity-detail-timeline__events">
            <% @historico.each do |h| %>
               <% if h.origem == 'TAREFA FINALIZADA' %>      
               <li class="c-entity-detail-timeline__events__item">
                  <div class="c-entity-detail-timeline-entity activity-completed">
                     <div class="c-entity-detail-timeline-card-header">
                        <div class="c-entity-detail-timeline-card-header__avatar">
                           <div class="c-avatar c-avatar--color-blue c-avatar--square">
                              <i class="c-icon material-icons c-icon--moskit-icon moskit-icon-calendar-double-check c-avatar__icon">
                                 <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#78A75A"><path d="M434.67-227.33 295.33-366l47.34-47.33 92 90.66 178.66-178.66 47.34 48-226 226ZM186.67-80q-27 0-46.84-19.83Q120-119.67 120-146.67v-600q0-27 19.83-46.83 19.84-19.83 46.84-19.83h56.66V-880h70v66.67h333.34V-880h70v66.67h56.66q27 0 46.84 19.83Q840-773.67 840-746.67v600q0 27-19.83 46.84Q800.33-80 773.33-80H186.67Zm0-66.67h586.66v-420H186.67v420Zm0-486.66h586.66v-113.34H186.67v113.34Zm0 0v-113.34 113.34Z"/></svg>
                              </i><!---->
                           </div>
                        </div>
                        <div class="c-entity-detail-timeline-card-header__body">
                           <div class="c-entity-detail-timeline-card-header__title">Atividade concluída</div>
                           <div class="c-entity-detail-timeline-card-header__subtitle"><%= h.titulo %></div>
                        </div>
                        <div class="c-entity-detail-timeline-card-header__datetime">
                           <span class="c-timestamp"><span class="c-entity-detail-timeline-card-header__datetime__parts"></span><span class="c-entity-detail-timeline-card-header__datetime__separator">&nbsp;<br class="c-entity-detail-timeline-card-header__datetime__break"></span><span class="c-entity-detail-timeline-card-header__datetime__parts"> <%= h.created_at.strftime("%d %b, %H:%M") %></span></span></div>
                        <div class="c-entity-detail-timeline-card-header__responsible"  data-toggle="tooltip" data-placement="top" title="<%= h.usuario.usuario_nome %>">
                           <div class="c-avatar c-avatar--color-blueberry c-avatar--size-xss" tabindex="0">
                              <span class="c-avatar__initial"><%= h.usuario.usuario_nome[0..1] %></span><!---->
                           </div>
                           <!---->
                        </div>
                     </div>
                     <div class="c-entity-detail-timeline-entity__body">
                        <div class="c-entity-detail-timeline-entity__wrapper">
                           <div class="c-excerpt-content">
                              <div class="c-excerpt-content__value"><%=raw h.detalhe %></div>
                           </div>
                        </div>
                     </div>
                     <!---->
                  </div>
               </li>

               <% elsif h.origem == 'TAREFA CANCELADA' %>      
               <li class="c-entity-detail-timeline__events__item">
                  <div class="c-entity-detail-timeline-entity activity-completed">
                     <div class="c-entity-detail-timeline-card-header">
                        <div class="c-entity-detail-timeline-card-header__avatar">
                           <div class="c-avatar c-avatar--color-blue c-avatar--square"  style="background-color: #fac3cd;">
                              <i class="c-icon material-icons c-icon--moskit-icon moskit-icon-calendar-double-check c-avatar__icon">
                                 <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#BB271A"><path d="M383.33-216 336-263.33 433.33-360 336-456.67 383.33-504 480-406.67 576.67-504 624-456.67 526.67-360 624-263.33 576.67-216 480-313.33 383.33-216ZM186.67-80q-27 0-46.84-19.83Q120-119.67 120-146.67v-600q0-27 19.83-46.83 19.84-19.83 46.84-19.83h56.66V-880h70v66.67h333.34V-880h70v66.67h56.66q27 0 46.84 19.83Q840-773.67 840-746.67v600q0 27-19.83 46.84Q800.33-80 773.33-80H186.67Zm0-66.67h586.66v-420H186.67v420Zm0-486.66h586.66v-113.34H186.67v113.34Zm0 0v-113.34 113.34Z"/></svg>
                              </i><!---->
                           </div>
                        </div>
                        <div class="c-entity-detail-timeline-card-header__body">
                           <div class="c-entity-detail-timeline-card-header__title">Atividade Cancelada</div>
                           <div class="c-entity-detail-timeline-card-header__subtitle"><%= h.titulo %></div>
                        </div>
                        <div class="c-entity-detail-timeline-card-header__datetime">
                           <span class="c-timestamp"><span class="c-entity-detail-timeline-card-header__datetime__parts"></span><span class="c-entity-detail-timeline-card-header__datetime__separator">&nbsp;<br class="c-entity-detail-timeline-card-header__datetime__break"></span><span class="c-entity-detail-timeline-card-header__datetime__parts"> <%= h.created_at.strftime("%d %b, %H:%M") %></span></span></div>
                        <div class="c-entity-detail-timeline-card-header__responsible"  data-toggle="tooltip" data-placement="top" title="<%= h.usuario.usuario_nome %>">
                           <div class="c-avatar c-avatar--color-blueberry c-avatar--size-xss" tabindex="0">
                              <span class="c-avatar__initial"><%= h.usuario.usuario_nome[0..1] %></span><!---->
                           </div>
                           <!---->
                        </div>
                     </div>
                     <div class="c-entity-detail-timeline-entity__body">
                        <div class="c-entity-detail-timeline-entity__wrapper">
                           <div class="c-excerpt-content">
                              <div class="c-excerpt-content__value"><%=raw h.detalhe %></div>
                           </div>
                        </div>
                     </div>
                     <!---->
                  </div>
               </li>

             <% elsif h.origem == 'TAREFA REENVIADA' %>

               <li class="c-entity-detail-timeline__events__item">
                  <div class="c-entity-detail-timeline-notification activity-try-created" origin="Moskit" unique-id="activity-try-created-4386947-ALL-3">
                     <div class="c-entity-detail-timeline-card-header">
                        <div class="c-entity-detail-timeline-card-header__avatar">
                           <div class="c-avatar c-avatar--color-blue c-avatar--square">
                              <i class="c-icon material-icons c-avatar__icon">replay</i><!---->
                           </div>
                        </div>
                        <div class="c-entity-detail-timeline-card-header__body">
                           <div class="c-entity-detail-timeline-card-header__title">Tentativa na atividade</div>
                           <div class="c-entity-detail-timeline-card-header__subtitle">reunião teste 3 (Reunião)</div>
                        </div>
                        <div class="c-entity-detail-timeline-card-header__datetime"><span class="c-timestamp"><span class="c-entity-detail-timeline-card-header__datetime__parts">Hoje</span><span class="c-entity-detail-timeline-card-header__datetime__separator">,&nbsp;<br class="c-entity-detail-timeline-card-header__datetime__break"></span><span class="c-entity-detail-timeline-card-header__datetime__parts"> 21:31</span></span></div>
                        <div class="c-entity-detail-timeline-card-header__responsible">
                           <div v-tooltip="mairon" id="timeline-created-by-avatar-tooltip-activity-try-created-4386947-ALL-3" class="c-avatar c-avatar--color-blueberry c-avatar--size-xss" tabindex="0">
                              <span class="c-avatar__initial">m</span><!---->
                           </div>
                           <!---->
                        </div>
                     </div>
                     <div class="c-entity-detail-timeline-notification__body">
                        <div class="c-entity-detail-timeline-notification__wrapper">
                           <div class="c-excerpt-content">
                              <div class="c-excerpt-content__value"><iframe scrolling="true" allowfullscreen="" frameborder="0" class="c-excerpt-content__frame" style="height: 48px;"></iframe></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </li>
             <% elsif h.origem == 'NOTA GERADA' %>
               <li class="c-entity-detail-timeline__events__item">
                  <div class="c-entity-detail-timeline-note note-added">
                     <div class="c-entity-detail-timeline-card-header">
                        <div class="c-entity-detail-timeline-card-header__avatar">
                           <div class="c-avatar c-avatar--color-blue c-avatar--square">
                              <i class="c-icon material-icons c-icon--moskit-icon moskit-icon-note c-avatar__icon" style="top: -3px">
                                 <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#EAC452"><path d="M319.33-246.67h321.34v-66.66H319.33v66.66Zm0-166.66h321.34V-480H319.33v66.67ZM226.67-80q-27 0-46.84-19.83Q160-119.67 160-146.67v-666.66q0-27 19.83-46.84Q199.67-880 226.67-880H574l226 226v507.33q0 27-19.83 46.84Q760.33-80 733.33-80H226.67Zm314-542.67v-190.66h-314v666.66h506.66v-476H540.67Zm-314-190.66v190.66-190.66 666.66-666.66Z"/></svg>                              
                              </i><!---->
                           </div>
                        </div>
                        <div class="c-entity-detail-timeline-card-header__body">
                           <div class="c-entity-detail-timeline-card-header__title">Nota adicionada</div>
                           <!---->
                        </div>
                        <div class="c-entity-detail-timeline-card-header__datetime">
                           <span class="c-timestamp"><span class="c-entity-detail-timeline-card-header__datetime__parts"></span><span class="c-entity-detail-timeline-card-header__datetime__separator">&nbsp;<br class="c-entity-detail-timeline-card-header__datetime__break"></span><span class="c-entity-detail-timeline-card-header__datetime__parts"> <%= h.created_at.strftime("%d %b, %H:%M") %></span></span></div>
                        <div class="c-entity-detail-timeline-card-header__responsible"  data-toggle="tooltip" data-placement="top" title="<%= h.usuario.usuario_nome %>">
                           <div class="c-avatar c-avatar--color-blueberry c-avatar--size-xss" tabindex="0">
                              <span class="c-avatar__initial"><%= h.usuario.usuario_nome[0..1] %></span><!---->
                           </div>
                           <!---->
                        </div>
                     </div>
                     <div class="c-entity-detail-timeline-note__body">
                        <div class="c-entity-detail-timeline-note__wrapper">
                           <div class="c-excerpt-content">
                              <div class="c-excerpt-content__value"><%=raw h.detalhe %></div>
                           </div>
                        </div>
                     </div>
                     <!---->
                     <div class="pull-right" align="right" style="padding: 9px">
                        <%= link_to '', crm_nota_path(h.nota_id), :confirm => 'Estas Seguro?', :method => :delete , class: 'icon-trash' %>
                     </div>
 
                  </div>
               </li>

              <% elsif h.origem == 'NEGOCIO CRIADO' %>

               <li class="c-entity-detail-timeline__events__item">
                  <div class="c-entity-detail-timeline-notification deal-stage-changed" origin="Carga de dados" unique-id="timeline-154763879-ALL-7">
                     <div class="c-entity-detail-timeline-card-header">
                        <div class="c-entity-detail-timeline-card-header__avatar">
                           <div class="c-avatar c-avatar--color-blue c-avatar--square">
                              <i class="c-icon material-icons c-icon--moskit-icon moskit-icon-outline-circle c-avatar__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#6d758d"><path d="M168-144q-29.7 0-50.85-21.15Q96-186.3 96-216v-432q0-29.7 21.15-50.85Q138.3-720 168-720h168v-72.21Q336-822 357.18-843q21.17-21 50.91-21h144.17Q582-864 603-842.85q21 21.15 21 50.85v72h168q29.7 0 50.85 21.15Q864-677.7 864-648v432q0 29.7-21.15 50.85Q821.7-144 792-144H168Zm0-72h624v-432H168v432Zm240-504h144v-72H408v72ZM168-216v-432 432Z"/></svg>
                              </i><!---->
                           </div>
                        </div>
                        <div class="c-entity-detail-timeline-card-header__body">
                           <div class="c-entity-detail-timeline-card-header__title"><%= h.titulo %></div>
                           <div class="c-entity-detail-timeline-card-header__subtitle"><%=raw h.detalhe %></div>
                        </div>
                        <div class="c-entity-detail-timeline-card-header__datetime"><span class="c-timestamp"><span class="c-entity-detail-timeline-card-header__datetime__parts"><%= h.created_at.strftime("%d %b, %H:%M") %></span></div>
                        <div class="c-entity-detail-timeline-card-header__responsible">
                           <div v-tooltip="mairon" id="timeline-created-by-avatar-tooltip-timeline-154763879-ALL-7" class="c-avatar c-avatar--color-blueberry c-avatar--size-xss" tabindex="0">
                              <span class="c-avatar__initial"><%= h.usuario.usuario_nome[0..1] %></span><!---->
                           </div>
                           <!---->
                        </div>
                     </div>
                     <!---->
                  </div>
                </li>
              <% elsif h.origem == 'ETAPA ALTERADA' %>

               <li class="c-entity-detail-timeline__events__item">
                  <div class="c-entity-detail-timeline-notification deal-stage-changed" origin="Carga de dados" unique-id="timeline-154763879-ALL-7">
                     <div class="c-entity-detail-timeline-card-header">
                        <div class="c-entity-detail-timeline-card-header__avatar">
                           <div class="c-avatar c-avatar--color-blue c-avatar--square">
                              <i class="c-icon material-icons c-icon--moskit-icon moskit-icon-outline-circle c-avatar__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#6d758d"><path d="M432-99q-71-9-132.5-42T193-225q-45-51-71-116.5T96-480q0-87 35-160.5T226-768h-82v-72h216v216h-72v-102q-55 43-87.5 107T168-480q0 118 76 204.5T432-172v73Zm-3-237L293-472l51-51 85 85 187-186 51 50-238 238Zm171 216v-216h72v102q55-43 87.5-107T792-480q0-118-76-204.5T528-788v-73q143 18 239.5 125.5T864-480q0 87-35 160.5T734-192h82v72H600Z"/></svg>                                
                              </i><!---->
                           </div>
                        </div>
                        <div class="c-entity-detail-timeline-card-header__body">
                           <div class="c-entity-detail-timeline-card-header__title"><%= h.titulo %></div>
                           <div class="c-entity-detail-timeline-card-header__subtitle"><%=raw h.detalhe %></div>
                        </div>
                        <div class="c-entity-detail-timeline-card-header__datetime"><span class="c-timestamp"><span class="c-entity-detail-timeline-card-header__datetime__parts"><%= h.created_at.strftime("%d %b, %H:%M") %></span></div>
                        <div class="c-entity-detail-timeline-card-header__responsible">
                           <div v-tooltip="mairon" id="timeline-created-by-avatar-tooltip-timeline-154763879-ALL-7" class="c-avatar c-avatar--color-blueberry c-avatar--size-xss" tabindex="0">
                              <span class="c-avatar__initial"><%= h.usuario.usuario_nome[0..1] %></span><!---->
                           </div>
                           <!---->
                        </div>
                     </div>
                     <!---->
                  </div>
                </li>
             <% end %>
            <% end %>
            </ul>
         </div>
      </section>
   </div>
</div>


