<header class="c-entity-detail-last-communications__header">
		<div class="row">
			<div class="col-md-1">

	<div class="list_pendente_header">
	  <div class="c-entity-detail-info__header__wrap">
	    <div class="c-avatar c-avatar--square c-entity-detail-info__header__avatar c-entity-detail-info__header__avatar--deal">
	      <span class="c-icon material-icons c-avatar__icon">
	       <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#6d758d"><path d="M216-600h528v-96H216v96Zm0 0v-96 96Zm0 504q-29.7 0-50.85-21.15Q144-138.3 144-168v-528q0-29 21.5-50.5T216-768h72v-96h72v96h240v-96h72v96h72q29 0 50.5 21.5T816-696v210q-17-7-35.03-11-18.04-4-36.97-6v-25H216v360h250q5 20 13.5 37.5T499-96H216Zm503.77 48Q640-48 584-104.23q-56-56.22-56-136Q528-320 584.23-376q56.22-56 136-56Q800-432 856-375.77q56 56.22 56 136Q912-160 855.77-104q-56.22 56-136 56ZM775-151l34-34-65-65v-86h-48v106l79 79Z"/></svg>	
	      </span>
	    </div>
	  </div>
	</div>

</div>
<div class="col-md-11">
<div class="c-text c-entity-detail-last-communications__header__title c-texts">Actividades Pendientes(<%= @tarefas_pendentes.count(:id) %>)</div>	
</div>
</div>

	
</header>
<br>
<% @tarefas_pendentes.each do |t| %>
	<div class="panel panel-list-pendente">
		<div class="row">
			<div class="col-md-1" style="padding-top: 6px; padding-left: 20px">
        <div class="c-entity-timeline-form__body__avatar">
        	<button class="c-button-mds-icon__button" type="button">
           <div  data-toggle="tooltip" data-placement="top" title="<%= t.usuario.usuario_nome %>" id="entity-timeline-form-avatar-tooltip-115502" class="c-avatar c-avatar--color-blueberry c-avatar--size-xs" tabindex="0">
              <span class="c-avatar__initial"><%= t.usuario.usuario_nome[0..1] %></span><!---->
           </div>
        </button>
        </div>
			</div>			
			<div class="col-md-1">
				<div class="list_pendente">
				  <div class="c-entity-detail-info__header__wrap">
				    <div class="c-avatar c-avatar--square c-entity-detail-info__header__avatar c-entity-detail-info__header__avatar--deal">
				      <span class="c-icon material-icons c-avatar__icon">
				       <%=raw t.tipo_tarefa.icon unless t.tipo_tarefa.nil? %>
				      </span>
				    </div>
				  </div>
				</div>
			</div>	



			<div class="col-md-6">
				<p class="c-texts"><%= t.descricao.truncate(35) %></p>
        <b>Quanto <%= l(t.dia_inicio, format: :long) %></b>
			</div>
			<div class="col-md-3" align="right" style="padding-top: 5px;">
				<div class="c-entity-activity-item-header__control">

				   <div class="c-button-mds-icon c-button-mds-icon--surface-flat c-button-mds-icon--size-custom c-button-mds-icon--shape-rect c-entity-activity-item-header__action" data-toggle="tooltip" data-placement="bottom" title="Echo">
			      <button class="c-button-mds-icon__button" type="button"  tabindex="0"  data-toggle="modal" data-target="#form_update_status_tasks" data-tk-id="<%= t.id %>" data-tk-descricao="<%= t.descricao %>" data-tk-status="finalizado" data-tk-negocio_id="<%= @negocio.id %>" data-tk-quando="<%= l(t.dia_inicio, format: :long) %>" aria-labe="Close">
			         <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#6d758d">
			            <path d="M378-246 154-470l43-43 181 181 384-384 43 43-427 427Z"/>
			         </svg>
			      </button>
				   </div>

				   <div class="c-button-mds-icon c-button-mds-icon--surface-flat c-button-mds-icon--size-custom c-button-mds-icon--shape-rect c-entity-activity-item-header__action" data-toggle="tooltip" data-placement="bottom" title="Re-marcar">
				      <button class="c-button-mds-icon__button" type="button"   tabindex="0">
				        <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#6d758d"><path d="M483-120q-75 0-141-28.5T226.5-226q-49.5-49-78-115T120-482q0-75 28.5-140t78-113.5Q276-784 342-812t141-28q80 0 151.5 35T758-709v-106h60v208H609v-60h105q-44-51-103.5-82T483-780q-125 0-214 85.5T180-485q0 127 88 216t215 89q125 0 211-88t86-213h60q0 150-104 255.5T483-120Zm122-197L451-469v-214h60v189l137 134-43 43Z"/></svg>
				      </button>
				   </div>

				   <div class="c-button-mds-icon c-button-mds-icon--surface-flat c-button-mds-icon--size-custom c-button-mds-icon--shape-rect c-entity-activity-item-header__action" data-toggle="tooltip" data-placement="bottom" title="Cancelado">
				   	<button class="c-button-mds-icon__button" type="button"  tabindex="0"  data-toggle="modal" data-target="#form_update_status_tasks" data-tk-id="<%= t.id %>" data-tk-descricao="<%= t.descricao %>" data-tk-status="cancelado" data-tk-negocio_id="<%= @negocio.id %>" data-tk-quando="<%= l(t.dia_inicio, format: :long) %>" aria-labe="Close">
			         <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#6d758d"><path d="M383.33-216 336-263.33 433.33-360 336-456.67 383.33-504 480-406.67 576.67-504 624-456.67 526.67-360 624-263.33 576.67-216 480-313.33 383.33-216ZM186.67-80q-27 0-46.84-19.83Q120-119.67 120-146.67v-600q0-27 19.83-46.83 19.84-19.83 46.84-19.83h56.66V-880h70v66.67h333.34V-880h70v66.67h56.66q27 0 46.84 19.83Q840-773.67 840-746.67v600q0 27-19.83 46.84Q800.33-80 773.33-80H186.67Zm0-66.67h586.66v-420H186.67v420Zm0-486.66h586.66v-113.34H186.67v113.34Zm0 0v-113.34 113.34Z"/></svg>
			      </button>

				   </div>

				</div>

			</div>
			<% if @usuario_pipe.permissao.to_i == 0 %>
				<div class="col-md-1" style="padding-top: 2px; border-left: 1px solid ">
					<%= link_to '', edit_tarefa_path(t), class: 'icon-pencil' %>
				  <%= link_to '', t, :confirm => 'Estas Seguro?', :method => :delete , class: 'icon-trash' %>
				</div>
			<% end %>

		</div>		
	</div>
<% end %>





<div class="modal fade" id="form_update_status_tasks" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document" style=" width: 300px !important; ">
    <div class="modal-content">
      <div class="modal-header">
        <div class="close-button">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <h4 class="modal-title" id="myModalLabel">Actualiza Actividad # <span id="tk-data-id"></span></h4>
      </div>
      <div class="modal-body">
        <%= render 'crm/negocios/update_task' %>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">

  $('#form_update_status_tasks').on('shown.bs.modal', function(event) {
    $("#tk-data-id").text($(event.relatedTarget).data('tk-id'));
    $("#tk-data-descricao").text($(event.relatedTarget).data('tk-descricao'));
    $("#tk-data-negocio_id").text($(event.relatedTarget).data('tk-negocio_id'));
    $("#tk-data-quando").text($(event.relatedTarget).data('tk-quando'));
    $("#tk_status").val($(event.relatedTarget).data('tk-status'));
    $("#tk_tarefa_id").val($(event.relatedTarget).data('tk-id'));
    $('#tk_descricao').focus();
  })


</script>
<style>
	.panel-list-pendente{
		padding: 10px;
		height: 60px;
	}

	.panel-list-pendente .c-entity-activity-item-header__control{
		padding-top: 15px;
		display: ruby;

	}
	.list_pendente .c-entity-detail-info__header__avatar{
		color: #5788fd;
    background: #eef3ff;
    border: 2px solid #eef3ff;
    padding: 10xp;
    border: 1px solid #eef3ff;
    
	}

	.list_pendente_header .c-entity-detail-info__header__avatar{
		color: #5788fd;
    background: #fff;
    border: 2px solid #eef3ff;
    padding: 10xp;
    border: 1px solid #eef3ff;
    
	}

	.c-entity-detail-last-communications__header .c-entity-detail-last-communications__header__title{
		padding-top: 10px;
		color: #31304c;
    font-family: 'prox-bold';
    font-size: 18px !important;	

	}


</style>

