<div class="group">
	<br>
	<%= form_tag update_task_crm_negocios_path, :method => "get" do %>
	<%= hidden_field_tag :tk_status, nil %>
	<%= hidden_field_tag :tk_tarefa_id, nil %>

	<div class="row">
		<div class="col-md-12">
			<label>Quando</label>
			<h1 class="c-texts" id="tk-data-quando"></h1>
		</div>
	</div>	

	<div class="row">
		<div class="col-md-12">
			<label>Actividad</label>
			<h1 class="c-texts" id="tk-data-descricao"></h1>
		</div>
	</div>	
	<hr>
	<div class="row">
		<div class="col-md-12">
			<%= text_area_tag :tk_descricao, nil, required: true %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" align="center">
			<%= submit_tag t('SAVE'), class: "btn btn-blue", disable_with: "Aguarde...", "data-plus-as-tab" => "false"%>
		</div>
	</div>
	<% end %>
</div>

