<h1 id="header">Pantalla de Preparo</h1>
<div class="group">
<%= form_for(@painel_preparo) do |f| %>

  <table>
    <tr>                                     
      <td>
        <label>Descripción</label>
        <%= f.text_field :nome, class: 'panel-field' %>
      </td>
    </tr>
    <tr>
      <td>
        <label>grupo_ids</label>
        <%= f.text_area :grupo_ids, rows: 3 %>
      </td>
    </tr>                 

    <tr>
      <td>
        <label>Print</label>
        <%= f.text_area :set_print, rows: 1 %>
      </td>
    </tr>                 

  </table>

  <div class="footer-buttons">
    <%= f.submit "Seguir", class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false"%>
    <%= link_to t('BACK'), painel_preparos_path, :class => "btn btn-back" %>
  </div>
<% end %>
</div>