


<% @produtos.each do |n| %>

  <script>
    var config = qz.configs.create("TICKET");               // Exact printer name from OS
    var data = [
     '\x1B' + '\x40',          // init
     '\x1B' + '\x61' + '\x31', // center align
     '\x1B' + '\x21' + '\x30', // em mode on
     'Control #<%= n.id %>' + '\x0A',     // text and line break
     '<%= Time.now.strftime("%d/%m/%Y - %H:%M") %>' + '\x0A',     // text and line break
     'Tarjeta: <%= n.cartao_nome %>' + '\x0A',     // text and line break
     '\x1B' + '\x21' + '\x0A' + '\x1B' + '\x45' + '\x0A', // em mode off
     '\x0A',                   // line break
     '\x0A',                   // line break
     '\x0A',                   // line break
     '\x1B' + '\x21' + '\x20', // em mode on
     '\x1B' + '\x61' + '\x30', // left align
     '<%= n.obs %>' + '\x0A',     // text and line break
     '\x0A',                   // line break
     '\x0A',                   // line breakk
     '------------------------' + '\x0A',
     '<%  VendasProduto.joins(:produto).where("produtos.grupo_id in (#{@painel_preparo.grupo_ids}) and produtos.preparacao = true and vendas_produtos.venda_id = #{n.id} AND (vendas_produtos.status_preparo is null or vendas_produtos.status_preparo = 0 )").each do |vp| %>',
     '<%= vp.quantidade.to_i %>x <%= vp.produto_nome %>' + '\x0A',
     '<%= ('Obs.: ' + vp.obs) unless vp.obs.blank? %>' + '\x0A',
     '<% vp.produto_composicaos.each do |pc| %>',
     '- <%= pc.componente_nome %>' + '\x0A',
     '<% end %>',
     '------------------------' + '\x0A',

     '<% end %>',
     '\x0A',                   // line break
     '\x0A',                   // line break
     '\x0A',
     '\x0A' + '\x0A' + '\x0A' + '\x0A' + '\x0A' + '\x0A' + '\x0A',
     '\x1D' + '\x56'  + '\x00' // full cut (new syntax)
     ];

    qz.print(config, data).then(function() {});
  </script>



  <div class="card-stepp"  id="card-<%= n.id %>">
    <div class="card-title">
      #<%= n.id.to_s.rjust(6,'0') %> - Comanda <%= n.cartao_nome %>
      <div class="card-time"><%= n.created_at.to_datetime.strftime("%d/%m/%y - %H:%M") %></div>
    </div>


    <div class="card-cliente">
      <ul>
        <% venda_produto_ids = [] %>
        <%  VendasProduto.joins(:produto).where("produtos.grupo_id in (#{@painel_preparo.grupo_ids}) and produtos.preparacao = true and vendas_produtos.venda_id = #{n.id} AND (vendas_produtos.status_preparo is null or vendas_produtos.status_preparo = 0 ) ").each do |vp| %>
          <% VendasProduto.find(vp.id).update_attribute(:status_preparo, 1) %>
        <li>
          <% venda_produto_ids += [vp.id] %>
          <%= vp.quantidade.to_i %> - <%= vp.produto_nome %>
          <ul>
            <% vp.produto_composicaos.each do |pc| %>
              <li><%= pc.componente_nome %></li>
            <% end %>
            <li><%= vp.obs.to_s %></li>
          </ul>
        </li>

        <% end %>
      </ul>

      <div align="center">
          <%= link_to "EMPEZAR", status_preparo_painel_preparos_path(venda_id: n.id, status_preparo: 1, painel_preparo_id: @painel_preparo.id,  venda_produto_ids: venda_produto_ids), class: 'btn btn-green preparo' %>
          <a href="javascript:void(0)" class="button print" onClick="TicketCozinha(<%= n.id %>, <%= @painel_preparo.id %>, <%= venda_produto_ids %>)">Imprimir</a>
      </div>

    </div>
  </div>
<% end %>