<div class="panel">
  <div class="panel-content">
    
    <table class="head_grid">
      <tr>
        <td width="80" align="center">Cod.</td>
        <td width="80" align="center"><%= t('DATE') %></td>
        <td width="350">Chofer</td>
        <td width="150">Rodado</td>
        <td width="100" align="center">Km</td>
        <td width="250">Obs</td>
      </tr>
    </table>

    <div class="rolagem" dir="div">
      <table>
        <% @controle_kms.each do |controle_km| %>
          <tr>
            <td width="80" align="center"><%= controle_km.id.to_s.rjust(6,'0') %></td>
            <td width="80" align="center"><%= controle_km.data.strftime("%d/%m/%y") %></td>
            <td width="350"><%= controle_km.persona_nome %></td>
            <td width="150"><%= controle_km.rodado_nome %></td>
            <td width="100" align="center"><%= controle_km.km %></td>
            <td width="250"><%= controle_km.obs %></td>
            <td><%= link_to '', edit_controle_km_path(controle_km), class: 'icon-pencil' %></td>        
            <td width="30">
              <%= link_to '', controle_km, :confirm => 'Estas Seguro?', :method => :delete , class: 'icon-trash' %>
            </td>       
          </tr>
        <% end %>
      </table>
    </div>

    <div class="head_grid">
      <%= will_paginate @controle_kms, "data-remote" => "true" %>
    </div>
  </div>
</div> 
