
<p>
  <strong>Rodado:</strong>
  <%= @controle_km.rodado_id %>
</p>

<p>
  <strong>Km:</strong>
  <%= @controle_km.km %>
</p>

<p>
  <strong>Tabela:</strong>
  <%= @controle_km.tabela %>
</p>

<p>
  <strong>Tabela:</strong>
  <%= @controle_km.tabela_id %>
</p>

<p>
  <strong>Cod proc:</strong>
  <%= @controle_km.cod_proc %>
</p>

<p>
  <strong>Sigla proc:</strong>
  <%= @controle_km.sigla_proc %>
</p>

<p>
  <strong><%= t('DATE') %>:</strong>
  <%= @controle_km.data %>
</p>


