<%= form_tag "/form_fiscals/retencao_update_cp" do %>
	<%= hidden_field_tag :cod_proc, @compra.id %>
	<%= hidden_field_tag :sigla_proc, 'CP' %>
	<%= hidden_field_tag :data, @compra.data %>
	<%= hidden_field_tag :status, 1 %>
	<%= hidden_field_tag :tipo, 1 %>
	<%= hidden_field_tag :ruc, @compra.persona.ruc %>
	<%= hidden_field_tag :persona_nome, @compra.persona.nome_fatura %>
	<%= hidden_field_tag :persona_id, @compra.persona_id %>
	<%= hidden_field_tag :cota, 1 %>
	<%= hidden_field_tag :tipo_op, 9 %>
	<%= hidden_field_tag :moeda, 1 %>
	<table>
		<tr>
			<td align="right">Retención:</td>
			<td><%=   select("busca", "doc", FormFiscal.all(:select => 'id,doc,doc_01,doc_02',:conditions => ["tipo_doc = 14 and status = 0 "],limit: 1,:order => 'CAST(doc as integer)').collect {|p| [ p.doc_01 << '.' << p.doc_02 << '.' << p.doc, p.id ] },:class => "select")  %></td></td>
			<td rowspan="2"><%= submit_tag " Grabar ", :disable_with => "Aguarde...", :class => "button", style:'height:40px'  %></td>
		</tr>
		<tr>
			<td align="right">Monto:</td>
			<td><%= text_field_tag :tot_gs, @compra.retencao_gs.to_i %>

		</tr>
	</table>
<% end %>
