
<p>
  <strong><%= t('NAME') %>:</strong>
  <%= @servico.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @servico.descricao %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @servico.tipo %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @servico.valor %>
</p>

<p>
  <strong><%= t('DATE') %> inicio:</strong>
  <%= @servico.data_inicio %>
</p>

<p>
  <strong><%= t('DATE') %> final:</strong>
  <%= @servico.data_final %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @servico.obs %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @servico.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @servico.updated_at %>
</p>


