
<p>
  <strong>Conta:</strong>
  <%= @conta_cheque.conta_id %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @conta_cheque.numero %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @conta_cheque.obs %>
</p>

<p>
  <strong>Text:</strong>
  <%= @conta_cheque.text %>
</p>

<p>
  <strong>Status:</strong>
  <%= @conta_cheque.status %>
</p>


