
<p>
  <strong><%= t('CHARGE') %>:</strong>
  <%= @cobros_recibo.cobro_id %>
</p>

<p>
  <strong><%= t('DATE') %>:</strong>
  <%= @cobros_recibo.data %>
</p>

<p>
  <strong>Documento numero 01:</strong>
  <%= @cobros_recibo.documento_numero_01 %>
</p>

<p>
  <strong>Documento numero 02:</strong>
  <%= @cobros_recibo.documento_numero_02 %>
</p>

<p>
  <strong>Documento numero:</strong>
  <%= @cobros_recibo.documento_numero %>
</p>

<p>
  <strong>Valor us:</strong>
  <%= @cobros_recibo.valor_us %>
</p>

<p>
  <strong>Valor gs:</strong>
  <%= @cobros_recibo.valor_gs %>
</p>

<p>
  <strong>Moeda:</strong>
  <%= @cobros_recibo.moeda %>
</p>

<p>
  <strong><%= t('PERSON') %>:</strong>
  <%= @cobros_recibo.persona_id %>
</p>

<p>
  <strong>Persona <%= t('NAME') %>:</strong>
  <%= @cobros_recibo.persona_nome %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @cobros_recibo.tipo %>
</p>


