<div class="panel">
	<h1 id="header">Dados Titulos</h1>
	<div class="panel-body">
  <table class="head_grid">
    <tr>
      <td width="80" align="center"><%= t('DATE') %></td>
      <td width="100"><%= t('DOC') %></td>
      <td width="80" align="center"><%= t('QUOTA') %></td>
      <td width="120" align="center">Tipo</td>
      <td width="70" align="right"><%= t('VALUE') %></td>
      <td width="70" align="right">interes</td>
      <td width="70" align="right">Desc.</td>
      <td width="70" align="right">Saldo</td>
      <td width="70" align="right">Valor</td>
    </tr>
  </table>

	<table class="list">
      <% valor = 0 %>
      <% @int  = 0 %>
      <% desc  = 0 %>
      <% saldo = 0 %>
      <% CobrosDetalhe.where("cobro_id = #{@form_fiscal.cod_proc}").each do |cobros_detalhe| %>
        <tr class = "<%= cycle( "cor1", "cor2" )%>">              
          <td width="80"  align="center"><%= cobros_detalhe.data.strftime("%d/%m/%y")%></td>          
          <td width="100"><%= cobros_detalhe.documento_numero_01 %>-<%= cobros_detalhe.documento_numero_02 %>-<%= cobros_detalhe.documento_numero %></td>
          <td width="80"  align="center"><%= cobros_detalhe.cota %>/<%= cobros_detalhe.tot_cotas %></td>
          <td width="120"  align="center">
            <% if cobros_detalhe.estado.to_i == 0 %>
              PARTE
            <% else %>
              CANCELACION
            <% end %> 
          </td>
          <% if cobros_detalhe.moeda == 0 %>
             <td width="70" align="right"><%= number_to_currency( cobros_detalhe.valor_dolar, :format =>' %n ', :separator => "," ) %></td>
             <td width="70" align="right"><%= number_to_currency( cobros_detalhe.interes_dolar, :format =>' %n ', :separator => "," ) %></td>
             <td width="70" align="right"><%= number_to_currency( cobros_detalhe.desconto_dolar, :format =>' %n ', :separator => "," ) %></td>
             <td width="70" align="right"><%= number_to_currency( cobros_detalhe.cobro_dolar, :format =>' %n ', :separator => "," ) %></td>
             <td width="70" align="right"><%= number_to_currency( ((cobros_detalhe.cobro_dolar.to_f + cobros_detalhe.interes_dolar.to_f) - cobros_detalhe.desconto_dolar.to_f), :format =>' %n ', :separator => "," ) %></td>
             <td width="70" align="right"><%= format_decimal(cobros_detalhe.saldo_perc) %>%</td>
             <% valor += cobros_detalhe.valor_dolar.to_f %>
             <% @int   += cobros_detalhe.interes_dolar.to_f %>
             <% desc  += cobros_detalhe.desconto_dolar.to_f %>
             <% saldo += cobros_detalhe.cobro_dolar.to_f %>
          <% elsif cobros_detalhe.moeda == 1 %>
             <td width="70" align="right"><%= number_to_currency( cobros_detalhe.valor_guarani, :format =>' %n ', :precision => 0  ) %></td>
             <td width="70" align="right"><%= number_to_currency( cobros_detalhe.interes_guarani, :format =>' %n ', :precision => 0  ) %></td>
             <td width="70" align="right"><%= number_to_currency( cobros_detalhe.desconto_guarani, :format =>' %n ', :precision => 0  ) %></td>
             <td width="70" align="right"><%= number_to_currency( cobros_detalhe.cobro_guarani, :format =>' %n ', :precision => 0 ) %></td>
             <td width="70" align="right"><%= number_to_currency( ((cobros_detalhe.cobro_guarani.to_f + cobros_detalhe.interes_guarani.to_f) - cobros_detalhe.desconto_guarani.to_f), :format =>' %n ', :precision => 0 ) %></td>
             <td width="70" align="right"><%= format_decimal(cobros_detalhe.saldo_perc) %>%</td>
             <% valor += cobros_detalhe.valor_guarani.to_f %>
             <% @int   += cobros_detalhe.interes_guarani.to_f %>
             <% desc  += cobros_detalhe.desconto_guarani.to_f %>
             <% saldo += cobros_detalhe.cobro_guarani.to_f %>
          <% else %>
             <td width="70" align="right"><%= number_to_currency( cobros_detalhe.valor_real, :format =>' %n ', :separator => "," ) %></td>
             <td width="70" align="right"><%= number_to_currency( cobros_detalhe.interes_real, :format =>' %n ', :separator => "," ) %></td>
             <td width="70" align="right"><%= number_to_currency( cobros_detalhe.desconto_real, :format =>' %n ', :separator => "," ) %></td>
             <td width="70" align="right"><%= number_to_currency( cobros_detalhe.cobro_real, :format =>' %n ', :separator => "," ) %></td>
             <td width="70" align="right"><%= number_to_currency( ((cobros_detalhe.cobro_real.to_f + cobros_detalhe.interes_real.to_f) - cobros_detalhe.desconto_real), :format =>' %n ', :separator => "," ) %></td>
             <% valor += cobros_detalhe.valor_real %>
             <% @int  += cobros_detalhe.interes_real %>
             <% desc  += cobros_detalhe.desconto_real %>
             <% saldo += cobros_detalhe.cobro_real %>             
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <table class="head_grid">
      <tr>
        <td width="475"></td>
        <% if @form_fiscal.moeda.to_i == 1 %>
             
             <td width="70" align="right"><%= number_to_currency( @int, :format =>' %n ', :precision => 0  ) %></td>
             <td width="70" align="right"><%= number_to_currency( desc, :format =>' %n ', :precision => 0  ) %></td>
             <td width="70" align="right"><%= number_to_currency( saldo, :format =>' %n ', :precision => 0 ) %></td>
             <td width="70" align="right"><%= number_to_currency( (saldo.to_f + @int.to_f) - desc.to_f, :format =>' %n ', :precision => 0 ) %></td>
        <% else %>
             <td width="70" align="right"><%= number_to_currency( @int, :format =>' %n ', :separator => "," ) %></td>
             <td width="70" align="right"><%= number_to_currency( desc, :format =>' %n ', :separator => "," ) %></td>
             <td width="70" align="right"><%= number_to_currency( saldo, :format =>' %n ', :separator => "," ) %></td>
             <td width="70" align="right"><%= number_to_currency( (saldo.to_f + @int.to_f) - desc.to_f, :format =>' %n ', :separator => ",") %></td>
        <% end %>    
      </tr>
  </table>
  
</div>

