<div class="panel">
	<h1 id="header">Dados Fiscales</h1>
	<div class="panel-body">
  		<table class="list">
  			<tr class="head_grid">
  				<td align="right">Ctd</td>
  				<td>Producto/Servicio</td>
  				<td align="right">Tasa</td>
  				<td align="right">Unit.</td>
  				<td align="right">Grav. 10%</td>
  				<td align="right">Imp. 10%</td>
  				<td align="right">Grav. 5%</td>
  				<td align="right">Imp. 5%</td>
  				<td align="right">Exentas</td>
  				<td align="right">Tot.</td>
  			</tr>

  			<% tot_g_10 = 0 %>
  			<% tot_g_05 = 0 %>
  			<% tot_i_10 = 0 %>
  			<% tot_i_05 = 0 %>
  			<% tot_ex = 0 %>
  			<% tot = 0 %>

  			<tr class = "<%= cycle("cor1", "cor2") %>">
  				<td width="60" align="right"><%= @form_fiscal.qtd %></td>
  				<td width="340"><%= @form_fiscal.produto.nome %></td>
  				<td width="80" align="right"><%= @form_fiscal.produto.taxa.to_i %>%</td>
	  				<% if @form_fiscal.moeda.to_i == 1 %>
	  					<td width="80" align="right"><%= format_int(@form_fiscal.unit_gs) %></td>
	  				<% else %>
	  					<td width="80" align="right"><%= format_decimal(@form_fiscal.unit_us) %></td>
	  				<% end %>

	  				<% if @form_fiscal.produto.taxa.to_i == 10 %>
	  					<% if @form_fiscal.moeda.to_i == 1 %>
								<td width="80" align="right"><%= format_int((@form_fiscal.tot_gs.to_f) -  (@form_fiscal.tot_gs.to_f / 11) ) %></td>
								<td width="80" align="right"><%= format_int((@form_fiscal.tot_gs.to_f / 11) ) %></td>
				  			<% tot_g_10 += (@form_fiscal.tot_gs.to_f) -  (@form_fiscal.tot_gs.to_f / 11) %>
				  			<% tot_i_10 += (@form_fiscal.tot_gs.to_f / 11) %>

	  					<% else %>
								<td width="80" align="right"><%= format_decimal((@form_fiscal.tot_us.to_f) -  (@form_fiscal.tot_us.to_f / 11) ) %></td>
								<td width="80" align="right"><%= format_decimal((@form_fiscal.tot_us.to_f / 11) ) %></td>
				  			<% tot_g_10 += (@form_fiscal.tot_us.to_f) -  (@form_fiscal.tot_us.to_f / 11) %>
				  			<% tot_i_10 += (@form_fiscal.tot_us.to_f / 11) %>
	  					<% end %>

							<td align="right">0</td>
							<td align="right">0</td>
							<td align="right">0</td>


	  				<% elsif @form_fiscal.produto.taxa.to_i == 5 %>
							<td align="right">0</td>
							<td align="right">0</td>
							<% if @form_fiscal.moeda.to_i == 1 %>
								<td width="80" align="right"><%= format_int((@form_fiscal.tot_gs.to_f) -  (@form_fiscal.tot_gs.to_f / 21) ) %></td>
								<td width="80" align="right"><%= format_int((@form_fiscal.tot_gs.to_f / 21) ) %></td>
				  			<% tot_g_05 += (@form_fiscal.tot_gs.to_f) - (@form_fiscal.tot_gs.to_f / 21) %>
			  				<% tot_i_05 += (@form_fiscal.tot_gs.to_f / 21) %>
		  				<% else %>
								<td width="80" align="right"><%= format_int((@form_fiscal.tot_us.to_f) -  (@form_fiscal.tot_us.to_f / 21) ) %></td>
								<td width="80" align="right"><%= format_int((@form_fiscal.tot_us.to_f / 21) ) %></td>
				  			<% tot_g_05 += (@form_fiscal.tot_us.to_f) - (@form_fiscal.tot_us.to_f / 21) %>
			  				<% tot_i_05 += (@form_fiscal.tot_us.to_f / 21) %>
		  				<% end %>

							<td align="right">0</td>


	  				<% elsif @form_fiscal.produto.taxa.to_i == 0 %>
							<td align="right">0</td>
							<td align="right">0</td>
							<td align="right">0</td>
							<td align="right">0</td>
							<% if @form_fiscal.moeda.to_i == 1 %>
								<td width="80" align="right"><%= format_int(@form_fiscal.tot_gs) %></td>
								<% tot_ex += @form_fiscal.tot_gs.to_f %>
							<% else %>
								<td width="80" align="right"><%= format_int(@form_fiscal.tot_us) %></td>
								<% tot_ex += @form_fiscal.tot_us.to_f %>
							<% end %>
	  				<% end %>

	  				<% if @form_fiscal.moeda.to_i == 1 %>
  						<td width="80" align="right"><%= format_int(@form_fiscal.tot_gs) %></td>
  						<% tot += @form_fiscal.tot_gs.to_f %>
						<% else %>
  						<td width="80" align="right"><%= format_int(@form_fiscal.tot_us) %></td>
  						<% tot += @form_fiscal.tot_us.to_f %>
						<% end %>
  			</tr>
  			<tr class="head_grid">
  				<td align="right"></td>
  				<td></td>
  				<td align="right"></td>
  				<td align="right"></td>
  				<td align="right"><b><%= format_int(tot_g_10) %></b></td>
  				<td align="right"><b><%= format_int(tot_i_10) %></b></td>
  				<td align="right"><b><%= format_int(tot_g_05) %></b></td>
  				<td align="right"><b><%= format_int(tot_i_05) %></b></td>
  				<td align="right"><b><%= format_int(tot_ex) %></b></td>
  				<td align="right"><b><%= format_int(tot) %></b></td>
  			</tr>
  		</table>
	</div>
</div>