<%= form_for(@form_fiscal) do |f| %>  
<div class="panel">
  <h1 id="header">Form Fiscal - [Edicion]</h1>
  <div class="panel-body">

    <div class="row">
      <div class="col-md-6">
        <label>Fecha</label>
        <%= f.date_select :data %>
      </div>
      <div class="col-md-6">
        <label>Vencimiento</label>
        <%= f.date_select :vencimento %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label>Moneda</label>
        <%= f.radio_button :moeda, 0 %> U$
        <%= f.radio_button :moeda, 1 %> Gs.
        <%= f.radio_button :moeda, 2 %> R$

      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label>Doc.</label>
        <%= f.text_field :doc_01, size: 5 %>-<%= f.text_field :doc_02, size: 5 %>-<%= f.text_field :doc, size: 15 %>
      </div>
      <div class="col-md-6">
        <label>Timbrado</label>
        <%= f.text_field :timbrado, class: 'panel-field' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Status</label>
        <%= f.radio_button :status, 0 %> Pendente
        <%= f.radio_button :status, 1 %> Activo
        <%= f.radio_button :status, 2 %> Cancelado
      </div>

      <div class="col-md-6">
        <label>Tipo</label>
        <%= f.radio_button :tipo, 0 %> Contado
        <%= f.radio_button :tipo, 1 %> Credito        
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label>RUC/CI</label>
        <%= f.text_field :ruc, class: 'panel-field' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>Razon Social</label>
        <%= f.text_field :persona_id, size: 5 %><%= f.text_field :persona_nome, size: '65%' %>        
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label>Cod Proc.</label>
        <%= f.text_field :cod_proc, class: 'panel-field' %>
      </div>
      <div class="col-md-6">
        <label>Sigla Proc.</label>
        <%= f.text_field :sigla_proc, class: 'panel-field' %>
      </div>
    </div>

    <div class="footer-buttons">
      <%= f.submit "Grabar", class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false"%>
      <%= link_to t('BACK'), form_fiscals_path, :class => "btn btn-back" %>
    </div>
  </div>
</div>
<% end %>