<div class="panel">
<table class="head_grid" >
  <tr>
    <td width="30" align="center">UN</td>
    <td width="30" align="center">TM</td>
    <td width="80">Status Sis</td>
    <td width="80">Tipo Doc.</td>
    <td width="65">Fecha</td>
    <td width="90">Doc</td>
    <td width="70">Timbrado</td>
    <td width="40">Tipo</td>
    <td width="80">RUC/CI</td>
    <td width="300">Razón Social</td>
    <td width="80">Origen</td>

    <% if params[:tipo_emissao] == '1' %>
      <td width="80">Situacion</td>
      <td width="80">Estado SET</td>
    <% end%>

  </tr>
</table>

<div class="rolagem" dir="div">
  <table>
    <% @form_fiscals.each do |form_fiscal| %>
      <tr class = "<%= cycle("cor1", "cor2") %>">
        <td width="30" align="center"><%= form_fiscal.unidade_id %></td>
        <td width="30" align="center"><%= form_fiscal.terminal_id %></td>
        <td width="80">
          <% if form_fiscal.status == 0 %>
              <span class="btn-secondary">Pendiente</span>
          <% elsif form_fiscal.status == 1 %>
            <span class="btn-success">Activo</span>
          <% elsif form_fiscal.status == 2 %>
            <span class="btn-danger">Cancelado</span>
          <% elsif form_fiscal.status == 3 %>
            <span class="btn-warning">Inutilizado</span>
          <% end %>
        </td>

        <td width="80">
          <% if form_fiscal.tipo_doc == 1 %>
            Factura
          <% elsif form_fiscal.tipo_doc == 2 %>
            Nota de débito
          <% elsif form_fiscal.tipo_doc == 3 %>
            Nota de crédito
          <% elsif form_fiscal.tipo_doc == 4 %>
            Despacho
          <% elsif form_fiscal.tipo_doc == 5 %>
            Auto Factura
          <% elsif form_fiscal.tipo_doc == 7 %>
            Pasaje Aérea
          <% elsif form_fiscal.tipo_doc == 8 %>
            Factura del Exterior
          <% elsif form_fiscal.tipo_doc == 9 %>
            Planilla de Sueldos
          <% elsif form_fiscal.tipo_doc == 10 %>
            Comprobante de Ingresos
          <% elsif form_fiscal.tipo_doc == 11 %>
            Retención Absorbida
          <% elsif form_fiscal.tipo_doc == 13 %>
            Pasaje Aérea Electronica
          <% elsif form_fiscal.tipo_doc == 14 %>
            Nota de Retención
          <% end %>
          </td>
        <td width="65"><%= form_fiscal.data.strftime("%d/%m/%y") unless  form_fiscal.data.blank? %></td>
        <td width="90"><%= form_fiscal.doc_01 %>.<%= form_fiscal.doc_02 %>.<%= form_fiscal.doc %></td>
        <td width="70"><%= form_fiscal.timbrado %></td>
        <td width="40"><%= form_fiscal.tipo %></td>
        <td width="80"><%= form_fiscal.ruc %></td>
        <td width="300"><small><%= form_fiscal.persona_nome %></small></td>
        <td width="80"><%= form_fiscal.sigla_proc %>•<%= form_fiscal.cod_proc.to_s.rjust(6,'0') %></td>

        <% if params[:tipo_emissao] == '1' %>

          <%
            data = {cdcList: [{cdc: "#{form_fiscal.cdc}"}]};

             url = URI("https://api.facturasend.com.py/#{form_fiscal.terminal.nome_api_fiscal}/de/estado")

                        http = Net::HTTP.new(url.host, url.port)
                        http.use_ssl = true
                        http.verify_mode = OpenSSL::SSL::VERIFY_NONE

                        request = Net::HTTP::Post.new(url)
                        request["authorization"] = "Bearer api_key_#{form_fiscal.terminal.token_api}"
                        request["content-type"] = 'application/json'
                        request.body = data.to_json
                        response = http.request(request)
                        puts get_resp = JSON.parse(response.body)



          %>

        <td width="80">
          <% if get_resp["deList"][0]["situacion"].to_s == '0' %>
            Generado DE
          <% elsif get_resp["deList"][0]["situacion"].to_s == '1' %>
            Enviado en un Lote
          <% elsif get_resp["deList"][0]["situacion"].to_s == '2' %>
            <span class="us">Aprobado</span>
          <% elsif get_resp["deList"][0]["situacion"].to_s == '3' %>
            Aprobado con observacion
          <% elsif get_resp["deList"][0]["situacion"].to_s == '4' %>
            <span class="gs">Rechazado</span>
          <% elsif get_resp["deList"][0]["situacion"].to_s == '98' %>
            Inexistente
          <% elsif get_resp["deList"][0]["situacion"].to_s == '99' %>
            <span class="gs">Cancelado</span>
          <% end %>
        </td>
        <td class="bold" width="80"><%= get_resp["deList"][0]["respuesta_mensaje"] %></td>
        <% end %>
        <td>
          <%= link_to form_fiscal_path(form_fiscal), target: '_blank?' do %>
            <span class="material-symbols-outlined">more_vert</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
  <div class="head_grid">
    <%= will_paginate @form_fiscals %>
  </div>

</div>