
	<div class="group">
		<h1 id="header">Factura Independente</h1>
		<%= form_tag "/form_fiscals/atualiza_fatura_independente" do %>
			<%= hidden_field_tag :cod_proc %>
			<%= hidden_field_tag :sigla_proc, 'VTI' %>
			<%= hidden_field_tag :status, 1 %>
			<%= hidden_field_tag :tipo  %>
			<%= hidden_field_tag :cota, 1 %>
			<%= hidden_field_tag :tipo_op, 9 %>

		<div class="row">
			<div class="col-md-12">
				<label>Terminal</label>
				<%= select(:busca, :terminal, Terminal.all(:select => 'id,nome', :conditions => ["unidade_id = #{current_unidade.id}"],:order => 'nome').collect {|p| [ p.nome, p.id ] }, {selected: params[:busca_terminal] ,prompt: 'Selecione lo terminal' })  %>
			</div>
		</div>

		<% unless params[:busca_terminal].blank? %>
    <div class="row">
      <div class="col-md-12">
        		<div class="row">
        			<div class="col-md-6">
        				<label>Fecha</label>
        				<%= text_field_tag :data, Time.now.strftime("%d/%m/%Y"), :onkeyup    => "Formatadata(this,event)", autofocus: true, class: 'date' %>
        			</div>
      				<div class="col-md-6">
      					<label>Tipo</label>
      					<%= select(:fatura, :moeda, [['Guaranies', 1], ['Dolar', 0] ], {selected: current_unidade.moeda}) %>
      				</div>
						</div>

      			<div class="row">
        			<div class="col-md-12">
        				<label>Cliente</label>
        				<%= select("busca", "persona", Persona.all(:select => 'id,nome_fatura,ruc',:conditions => ["tipo_cliente = 1"],:order => 'nome_fatura').collect {|p| [ p.nome_fatura, p.id ] },:class => "select")  %>
        			</div>
      			</div>

      			<div class="row">
      				<div class="col-md-4">
      					<label>Tipo</label>
      					<%= select(:fatura, :tipo, [['CONTADO', 0], ['CREDITO', 1]]) %>
      				</div>

      				<div class="col-md-8">
      					<label>Factura</label>
								<%= select("busca", "doc", FormFiscal.all(:select => 'id,doc,doc_01,doc_02',:conditions => ["tipo_doc = 1 and status = 0 and terminal_id = #{params[:busca_terminal]} and unidade_id = #{current_unidade.id}"],limit: 1,:order => 'CAST(doc as integer)').collect {|p| [ p.doc_01 << '.' << p.doc_02 << '.' << p.doc, p.id ] },:class => "select")  %>
      				</div>
      			</div>


      			<div class="row">
      				<div class="col-md-12">
      					<label>Producto</label>
      					<%= select("busca", "produto", Produto.all(:select => 'id,nome',:order => 'nome').collect {|p| [ p.nome, p.id ] }, {prompt: 'Selecione lo producto'})  %>
      				</div>
      			</div>

      			<div class="row">
      				<div class="col-md-4">
      					<label>Cantidad</label>
      					<%= text_field_tag :qtd, nil, size: 15 %>
      				</div>

      				<div class="col-md-8">

      					<div class="row" id="tr-guarani" hidden>
		      				<div class="col-md-6">
		      					<label>Unit Gs.</label>
		      					<%= text_field_tag :unit_gs, nil, size: 15, onchange: "QtdTot()" %>
		      				</div>
		      				<div class="col-md-6">
		      					<label>Total Gs.</label>
		      					<%= text_field_tag :tot_gs, nil, size: 15 %>
		      				</div>
      					</div>


      					<div class="row" id="tr-dolar" hidden>
		      				<div class="col-md-6">
		      					<label>Unit U$</label>
		      					<%= text_field_tag :unit_us, nil, size: 15, onchange: "QtdTotUs()" %>
		      				</div>
		      				<div class="col-md-6">
		      					<label>Total U$</label>
		      					<%= text_field_tag :tot_us, nil, size: 15 %>
		      				</div>
      					</div>

      				</div>

      			</div>

      			<div class="row">
      				<div class="col-md-12 footer-buttons">
      					<%= submit_tag " Facturar ", :disable_with => "Aguarde...", :class => "btn btn-green", "data-plus-as-tab" => "false"  %>
      				</div>
      			</div>
        	</div>
        </div>
        <% end %>
      <% end %>
      </div>
	<script>

	$("#busca_terminal").change(function(){
		window.location.href = "/form_fiscals/fatura_independente?busca_terminal="+ $("#busca_terminal").val();
	});

	$("#fatura_moeda").change(function(){
		if ($("#fatura_moeda").val() == '1') {
	    $("#tr-dolar").hide();
	    $("#tr-guarani").show();

		} else {
	    $("#tr-dolar").show();
	    $("#tr-guarani").hide();
		};
	});


  $().ready(function() {

		if ($("#fatura_moeda").val() == '1') {
	    $("#tr-dolar").hide();
	    $("#tr-guarani").show();

		} else {
	    $("#tr-dolar").show();
	    $("#tr-guarani").hide();
		};

    // validate signup form on keyup and submit
    $("form").validate({
      rules: {
        data: "required",
        busca_persona: "required",
        busca_produto: "required",
        qtd: "required"
        }
    });
  });

  function QtdTot(){
		qtd  = $("#qtd").val();
		unit = $("#unit_gs").val();
		$("#tot_gs").val(parseInt(qtd) * parseInt(unit))
  }

  function QtdTotUs(){
		qtd  = $("#qtd").val();
		unit = $("#unit_us").val();
		$("#tot_us").val(parseInt(qtd) * parseFloat(unit))
  }

  $('#busca_produto').selectize();
  </script>

  <style>
  label.error {
    margin: 0px 10px 0px 10px;
    width: auto;
    color: red;
  }
  </style>
