<div class="panel">
  <h1 id="header">
    Dados Fiscales -

    <% if @form_fiscal.tipo_doc == 1 %>
      Factura
    <% elsif @form_fiscal.tipo_doc == 2 %>
      Nota de débito
    <% elsif @form_fiscal.tipo_doc == 3 %>
      Nota de crédito
    <% elsif @form_fiscal.tipo_doc == 4 %>
      Despacho
    <% elsif @form_fiscal.tipo_doc == 5 %>
      Auto Factura
    <% elsif @form_fiscal.tipo_doc == 7 %>
      Pasaje Aérea
    <% elsif @form_fiscal.tipo_doc == 8 %>
      Factura del Exterior
    <% elsif @form_fiscal.tipo_doc == 9 %>
      Planilla de Sueldos
    <% elsif @form_fiscal.tipo_doc == 10 %>
      Comprobante de Ingresos
    <% elsif @form_fiscal.tipo_doc == 11 %>
      Retención Absorbida
    <% elsif @form_fiscal.tipo_doc == 13 %>
      Pasaje Aérea Electronica
    <% elsif @form_fiscal.tipo_doc == 14 %>
      Nota de Retención
    <% end %>
    <div class="pull-right">
    </div>
  </h1>
  <div class="panel-content">
    <div class="row">
      <div class="col-md-3">
        <label>Status</label>
      <% if @form_fiscal.status == 0 %>
        <td width="80" style="background: green; color: #fff">
          <b>Pendente</b>
        </td>
      <% elsif @form_fiscal.status == 1 %>
        <td width="80" style="background: yellow">
          <b>Activo</b>
        </td>
      <% elsif @form_fiscal.status == 2 %>
        <td width="80" style="background: red;color: #fff">
          <b>Anulado</b>
        </td>
      <% elsif @form_fiscal.status == 3 %>
        <td width="80" style="background: red;color: #fff">
          <b>Inutilizado</b>
        </td>

      <% end %>
      </div>

      <div class="col-md-3">
        <label>Situación SET</label>
        <% if @form_fiscal.tipo_emissao == 1 %>
          <%= render partial: "/form_fiscals/consulta_estado", locals: {cdc: @form_fiscal.cdc} %>

          <td>
            <%= @get_resp["deList"][0]["situacion"].to_s %> -
            <% if @get_resp["deList"][0]["situacion"].to_s == '0' %>
              Generado DE
            <% elsif @get_resp["deList"][0]["situacion"].to_s == '1' %>
              Enviado en un Lote
            <% elsif @get_resp["deList"][0]["situacion"].to_s == '2' %>
              Aprobado
            <% elsif @get_resp["deList"][0]["situacion"].to_s == '3' %>
              Aprobado con observacion
            <% elsif @get_resp["deList"][0]["situacion"].to_s == '4' %>
              <span style="color: red">Rechazado</span>
            <% elsif @get_resp["deList"][0]["situacion"].to_s == '98' %>
              Inexistente
            <% elsif @get_resp["deList"][0]["situacion"].to_s == '99' %>
              Cancelado
            <% end %>
          </td>
        <% end %>
        </div>
        <div class="col-md-3">
          <% if @form_fiscal.tipo_emissao == 1 %>
            <label>Mensaje SET</label>
            <%= @get_resp["deList"][0]["respuesta_mensaje"] %>
          <% end %>
        </div>

      </div>


    <hr>

    <div class="row">
      <div class="col-md-3">
        <label for="">Fecha</label>
        <%= @form_fiscal.data %>
      </div>
      <div class="col-md-3">
        <label for="">Doc.</label>
        <%= @form_fiscal.doc_01.to_s.rjust(3,'0') %>-<%= @form_fiscal.doc_02.to_s.rjust(3,'0') %>-<%= @form_fiscal.doc.to_s.rjust(6,'0') %>
      </div>
      <div class="col-md-3">
        <label for="">Timbrado</label>
        <%= @form_fiscal.timbrado %>
      </div>

      <div class="col-md-3">
        <label for="">CDC</label>
        <%= link_to(@form_fiscal.cdc, "https://ekuatia.set.gov.py/consultas/150/#{@form_fiscal.cdc}", target: '_blank?') %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <label for="">Nombre</label>
        <%= @form_fiscal.persona_nome %>
      </div>

      <div class="col-md-3">
        <label for="">RUC</label>
        <%= @form_fiscal.ruc %>
      </div>

      <div class="col-md-3">
        <label for="">Tipo</label>

        <% if @form_fiscal.tipo == 0 %>
          CONTADO
        <% else %>
          CREDITO
        <% end %>
      </div>

      <div class="col-md-3">
        <label for="">Cod Proc.</label>
        <%= @form_fiscal.cod_proc %>
      </div>
    </div>

  </div>
</div>

<div class="panel">
  <div class="panel-content">
    <% if @form_fiscal.tipo_emissao == 1 %>


      <%= link_to 'Gerar pdf', gera_pdf_cdc_form_fiscals_path( cdc: @form_fiscal.cdc, id: @form_fiscal.id), class: 'btn btn-blue' %>
      <% if @get_resp["deList"][0]["situacion"].to_s == '4' %>
        <%= link_to  "Inutilizacion", "#", "data-toggle" => "modal", "data-target" =>"#modal-inutilizacion", class: 'btn btn-warning' %>
        <%= render partial: "form_fiscals/eventos/inutilizacion", locals: { form_fiscal: @form_fiscal } %>
      <% elsif @get_resp["deList"][0]["situacion"].to_s == '2' %>
        <%= link_to  "Cancelacion", "#", "data-toggle" => "modal", "data-target" =>"#modal-cancelacion", class: 'btn btn-danger' %>
        <%= render partial: "form_fiscals/eventos/cancelacion", locals: { form_fiscal: @form_fiscal } %>
      <% end %>


    <% else %>
      <%= link_to 'Imprimir', "#",  :onclick => "MultiplaFaturaVenda(#{@form_fiscal.id})", class: 'button' %>
      <%= link_to 'Finalizar', form_fiscals_path, class: 'button' %>


        <% if @form_fiscal.status.to_i == 1 and  @form_fiscal.impressao.to_i == 0 %>
        <script type="text/javascript">
          function MultiplaFaturaVenda(){
            window.open('/form_fiscals/' + <%= @form_fiscal.id %> +'/impressao_ft', 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');

              $.ajax({
                  type: "POST",
                  url: '/form_fiscals/'+ <%= @form_fiscal.id %> +'/update_impressao',
                  data: 'id=' + <%= @form_fiscal.id %>,
                  dataType: 'script'
              })

          }
          window.onload = MultiplaFaturaVenda;
        </script>
      <% else %>
        <script type="text/javascript">
          function MultiplaFaturaVenda(id){
            window.open('/form_fiscals/' + id +'/impressao_ft', 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
              $.ajax({
                  type: "POST",
                  url: '/form_fiscals/'+ id +'/update_impressao',
                  data: 'id=' + id,
                  dataType: 'script'
              })
          }
        </script>
      <% end %>

    <% end %>
  </div>
</div>

<% if @form_fiscal.sigla_proc == 'VT' %>
  <%= render 'detalhe_vt' %>
<% elsif @form_fiscal.sigla_proc == 'CL' %>
  <%= render 'detalhe_cl' %>
<% elsif @form_fiscal.sigla_proc == 'CI' %>
  <%= render 'detalhe_ci' %>
<% elsif @form_fiscal.sigla_proc == 'CB' %>
  <%= render 'detalhe_cb' %>
<% elsif @form_fiscal.sigla_proc == 'VTI' %>
  <%= render 'detalhe_vti' %>
<% end %>
