<h1 id="header"><%= t('LISTING') %> de Adelantos</h1>
  <div class="group">
    <%= form_tag resultado_adelantos_relatorios_path, :method => "get" do%>
      <table>
        <tr>
          <td colspan="4"> 
            <label>Periodo</label>
            <%= text_field_tag :inicio, Time.now.strftime("%d/%m/%Y"), size: 10,  class: "input-addon", onkeyup: "Formatadata(this,event)" %>
            <div class="input-group-addon-f">
              <span class="icon-calendar"></span>
            </div>
            <div class="date-separ"><%= t('TO') %></div>
            <%= text_field_tag :final, Time.now.strftime("%d/%m/%Y"), size: 10,  class: "input-addon", onkeyup: "Formatadata(this,event)",required: true %>
            <div class="input-group-addon-f">
            <span class="icon-calendar"></span>
            </div>                  
            </td>
            
        </tr>
        <tr>
          <td colspan="4">
            <label>Persona</label>
             <%=   select("busca", "persona", Persona.all(:select => 'id,nome',:order => 'nome').collect {|p| [ p.nome, p.id ] }, { :prompt => 'Todos...' })   %>
          </td>
        </tr>

        <tr>
          <td>
            <a href="#" data-value="0" title="Tipo" class="Ad checked" >Prestamos</a>
          </td>
          <td align="center">
            <a href="#" data-value="1" title="Tipo" class="Ad" ><%= t('ADVANCE') %>s</a>
          </td>
          <%= hidden_field_tag :ad, 0 %>
        </tr>

        <tr>
          <td>
            <a href="#" data-value="0" title="Status" class="Status checked" >Proveedor</a>
          </td>
          <td align="center">
            <a href="#" data-value="1" title="Status" class="Status" >Cliente</a>
          </td>
          <td align="center">
            <a href="#" data-value="2" title="Status" class="Status" >Empleado</a>
          </td>
          <%= hidden_field_tag :status, 0 %>
        </tr>

        <tr>
          <td>
            <a href="#" data-value="0" title="Tipo" class="TipoAde checked" >Concedido</a>
          </td>
          <td align="center">
            <a href="#" data-value="1" title="Tipo" class="TipoAde" >Recibido</a>
          </td>
          <%= hidden_field_tag :tipo_adelanto, 0 %>
        </tr>

        <tr>
          <td>
            <a href="#" data-value="0" title="Liquidación" class="Liquidacao checked" >En Abiertos</a>
          </td>
          <td align="center">
            <a href="#" data-value="1" title="Liquidación" class="Liquidacao" >Cancelados</a>
          </td>

          <td align="center">
            <a href="#" data-value="2" title="Liquidación" class="Liquidacao" >Todos</a>
          </td>
          <%= hidden_field_tag :liquidacao, 0 %>
        </tr>              

         <tr>
           <td colspan="3">
             <%= check_box_tag :lancamento,'1' %> <%= t('ALL_RELEASES') %>
          </td>
         </tr>

          <tr>
            <td>
              <a href="#" data-value="0" title="Moneda" class="Moeda us <%= 'checked' if current_unidade.moeda.to_i == 0 %>" ><%= t('DOLLARS') %></a>
            </td>
            <td align="center">
              <a href="#" data-value="1" title="Moneda" class="Moeda gs <%= 'checked' if current_unidade.moeda.to_i == 1 %>" ><%= t('GUARANIS') %></a>
            </td>
            <td align="center">
              <a href="#" data-value="2" title="Moneda" class="Moeda rs <%= 'checked' if current_unidade.moeda.to_i == 2 %>" ><%= t('REAIS') %></a>
            </td>
            <%= hidden_field_tag :moeda, current_unidade.moeda %>
          </tr>
          <tr>
            <td colspan="4" class="footer-buttons">
              <input  id="button" class="acao btn btn-green" value="Informe"  style="cursor:pointer;" id="myModalLabel" data-toggle="modal" data-width="500" data-height="781" data-target="#myiframe" data-dismiss="modal" />
              <input  id="button" type="submit" class="btn btn-blue" value="Excel" onclick = "Tipo('1')"/>
          </tr>
         <input type="hidden" name="tipo" id="tipo" size="5" value="0"/>
      </table>
    <% end %>
   </div>

<div class="modal fade" id="myiframe" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document" style=" width: 1100px !important; ">
    <div class="modal-content">
      <div class="modal-header">
        <div class="close-button">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>  
        <h4 class="modal-title" id="myModalLabel"><%= t('LISTING') %> de Adelantos</h4>
      </div>
      <div class="modal-body" align="center">
        <div class="embed-responsive embed-responsive-16by9" style="height: 460px">
          <iframe class="embed-responsive-item" id="iframeModal" frameborder="0 " border="0"></iframe>
        </div>
      </div>      
    </div>
  </div>
</div>

<script>
  $('#busca_persona').selectize();


  $(document).ready(function() {
    $(".Ad").click(function() {
      $("#ad").val($(this).attr('data-value'));
      $(".Ad").css("border-bottom", "none");
      $(".Ad").css("color", "#918f8f");
      $(this).css("border-bottom", "2px solid #B94A48");
      $(this).css("text-align", "center");
      $(this).css("color", "#B94A48");
    });

    $(".Status").click(function() {
      $("#status").val($(this).attr('data-value'));
      $(".Status").css("border-bottom", "none");
      $(".Status").css("color", "#918f8f");
      $(this).css("border-bottom", "2px solid #B94A48");
      $(this).css("text-align", "center");
      $(this).css("color", "#B94A48");
    });

    $(".TipoAde").click(function() {
      $("#tipo_adelanto").val($(this).attr('data-value'));
      $(".TipoAde").css("border-bottom", "none");
      $(".TipoAde").css("color", "#918f8f");
      $(this).css("border-bottom", "2px solid #B94A48");
      $(this).css("text-align", "center");
      $(this).css("color", "#B94A48");
    });

    $(".Liquidacao").click(function() {
      $("#liquidacao").val($(this).attr('data-value'));
      $(".Liquidacao").css("border-bottom", "none");
      $(".Liquidacao").css("color", "#918f8f");
      $(this).css("border-bottom", "2px solid #B94A48");
      $(this).css("text-align", "center");
      $(this).css("color", "#B94A48");
    });

    $(".Moeda").click(function() {
      $("#moeda").val($(this).attr('data-value'));
      $(".Moeda").css("border-bottom", "none");
      $(".Moeda").css("color", "#918f8f");
      $(this).css("border-bottom", "2px solid #B94A48");
      $(this).css("text-align", "center");
      $(this).css("color", "#B94A48");
    });
  });

( function($) {
  
function iframeModalOpen(){

    $('.acao').on('click', function(e) {
      var width  = $(this).attr('data-width') || 640; // larghezza dell'iframe se non impostato usa 640
      var height = $(this).attr('data-height') || 760; // altezza dell'iframe se non impostato usa 360
      
      var allowfullscreen = $(this).attr('data-video-fullscreen'); // impostiamo sul bottone l'attributo allowfullscreen se è un video per permettere di passare alla modalità tutto schermo
      
      // stampiamo i nostri dati nell'iframe
      $("#myiframe iframe").attr({
        'src': '/relatorios/resultado_adelantos?' + $('form').serialize(),
        'height': height,
        'width': width,
        'allowfullscreen':''
      });
    });

    // se si chiude la modale resettiamo i dati dell'iframe per impedire ad un video di continuare a riprodursi anche quando la modale è chiusa
    $('#myiframe').on('hidden.bs.modal', function(){
      $(this).find('iframe').html("");
      $(this).find('iframe').attr("src", "");
    });
  }
  
  $(document).ready(function(){
    iframeModalOpen();
  });
  
  } ) ( jQuery );

</script>

