<body onload="DataFinal(),CampoInicio()">
   <h1 id="header"><%= t('LISTING') %> de Condicionales</h1>
   <div class="group">
      <h2>
         <%= form_tag resultado_condicionals_relatorios_path, :method => "get" do%>
            <table>

               <tr>
                  <td align="right"> Fecha : </td>
                  <td>
                     <input name="inicio" id="inicio"  size="10"  onkeyup="Formatadata(this,event)" type="text" autofocus/>
                     Hasta
                     <input name="final"  id="final"   size="10" onkeyup="Formatadata(this,event)" type="text"/>
                  </td>
               </tr>

               <tr>
                  <td align="right">Cliente :</td>
                  <td>
                     <%=   select("busca", "persona", Persona.all(:select => 'id,nome', :order => 'nome').collect {|p| [ p.nome, p.id ] }, { :prompt => 'Todos...' })   %>
                  </td>
               </tr>

               <tr>
                  <td align="right">Vendedor :</td>
                  <td>
                     <%=   select("busca", "vendedor", Persona.all(:select     => ' id,nome,tipo_vendedor',
                              :conditions => ["tipo_vendedor = 1 and unidade_id = #{current_unidade.id}"],
                              :order      => '2').collect {|p| [ p.nome, p.id ] }, { :prompt => 'Todos...' })   %>
                  </td>
                </tr>

                <tr>
                 <td></td>
                 <td>
                   <%= check_box_tag :lancamento,'1', :onkeyup    => "Formatadata(this,event),EnterTab(event,'moeda')",
                                                  :onkeypress => "return bloqEnter(event)" %> <%= t('ALL_RELEASES') %>
                </td>
              </tr>

              <tr>
                <td align="right">Status :</td>
                <td>
                  <fieldset>
                    <%= radio_button_tag :status, 2,  :Checked => "True"  %> Todos
                    <%= radio_button_tag :status, 0 %> Pendente
                    <%= radio_button_tag :status, 1  %> Liquidado
                  </fieldset>
                </td>
              </tr>

              <tr>
                <td align="right">Status :</td>
                <td>
                  <fieldset>
                    <%= radio_button_tag :listado, 0,  :Checked => "True"  %> Resumido
                    <%= radio_button_tag :listado, 1  %> Detallado
                  </fieldset>
                </td>
              </tr>


              <tr>
                <td align="right"><%= t('COIN') %> :</td>
                <td>
                  <fieldset>
                    <%= radio_button_tag :moeda, 0,  :Checked => "True"%>Dolar
                    <%= radio_button_tag :moeda, 1  %> <%= t('GUARANIS') %>
                    <%= radio_button_tag :moeda, 2  %> <%= t('REAIS') %>
                  </fieldset>
                </td>
              </tr>

               <tr>
                  <td></td>
                  <td>
                     <input  id      = "button"
                             class   = "button_info"
                             type    = "submit"
                             value   = "Informe"
                             onclick = "Tipo('0','html')"/>

                     <input type     = "submit"
                            id       = "button"
                            class    = "button_info"
                            value    = "Excel"
                            onclick  = "Tipo('1','xls')"/>
                  </td>
               </tr>
                <input type  = "hidden"
                      name  = "tipo"
                      id    = "tipo"
                      size  = "5"
                      value = "0"/>
                <input type="hidden" name="format" id="format"  size="5" value="html"/>

            </table>
         <% end %>
      </h2>
   </div>
</body>


<script>
  function Tipo(d,f){
    document.getElementById('tipo').value = d;
    document.getElementById('format').value = f;
  }
</script>
