<h1 id="header"><%= t('LISTING') %> Uso y Consumo </h1>
  <div class="group">
      <h2>
         <%= form_tag resultado_consumicao_interna_relatorios_path, :method => "get" do%>
            <table>
              <tr>
                <td align="right">De:</td>
                <td colspan="2">
                  <%= text_field_tag :inicio, Time.now.strftime("%d/%m/%Y"), size: 10,  class: "input-addon", onkeyup: "Formatadata(this,event)" %>
                  <div class="input-group-addon-f">
                    <span class="icon-calendar"></span>
                  </div>
                <td style="padding-left: 5px"><%= t('TO') %></td>
                <td>
                  <%= text_field_tag :final, Time.now.strftime("%d/%m/%Y"), size: 10,  class: "input-addon", onkeyup: "Formatadata(this,event)",required: true %>
                  <div class="input-group-addon-f">
                    <span class="icon-calendar"></span>
                  </div>
                </td>
              </tr>

              <tr>
                <td align="right"><%= t('COIN') %>:</td>
                <td colspan="4">
                  <fieldset>
                    <%= radio_button_tag :moeda, 0,  :Checked => "True"%>Dolar
                    <%= radio_button_tag :moeda, 1  %> <%= t('GUARANIS') %>
                  </fieldset>
                </td>
              </tr>

              <tr>
                <td></td>
                <td>
                     <input  id      = 'button'
                             class   = 'btn btn-green'
                             type    = 'submit'
                             value   = 'Informe'
                             onclick = 'Tipo('0')'/>

                     <input type     = 'submit'
                            id       = 'button'
                            class    = 'btn btn-blue'
                            value    = 'Excel'
                            onclick  = 'Tipo('1')'/>
                  </td>
               </tr>
               <input type  = "hidden"
                      name  = "tipo"
                      id    = "tipo"
                      size  = "5"
                      value = "0"/>

            </table>
         <% end %>
      </h2>
   </div>
</body>
