<h1 id="header">Vaccaciones</h1>

<div class="group">
    <%= form_tag resultado_ferias_relatorios_path, :method => "get" do %>
    <div class="row">


      <div class="col-md-6">
          <div class="input-group">
            <label>Año</label>
            <%= text_field_tag :ano, Time.now.strftime("%Y"), required: true, placeholder: 'Año', class: 'panel-field'  %>
          </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <label>Unidad</label>
        <%= select("busca", "unidade", Unidade.all(:select => 'id,unidade_nome',:order => 'unidade_nome').collect {|p| [ p.unidade_nome, p.id ] }, { :include_blank => true }) %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>Empleado</label>
        <%= select("busca", "empregado", Persona.all(:select => 'id,nome',:conditions =>["tipo_funcionario = 1"],:order => 'nome').collect {|p| [ p.nome, p.id ] }, { :include_blank => true }) %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
          <fieldset>
          <legend>Formato</legend>
            <input id="tipo_listado" name="tipo_listado" type="radio" value="3" checked/>Fiscal
          </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <br>
        <input type="submit" class="btn btn-green" value="Informe"  style="cursor:pointer;" id="acao" data-toggle="modal" data-width="500" data-height="781" data-dismiss="modal" />
        <a href="#" class="xls btn btn-blue">Excel</a>
        <input type="hidden" name="tipo" id="tipo" size="5" value="0"/>
      </div>
    </div>
    <% end %>
</div>



<script>
  $('#busca_empregado, #busca_unidade').selectize();
    $(document).on('submit', 'form', function(event) {
      if ($("#tipo").val() == '0' ) {
        event.preventDefault();
        $('#myiframe').modal('show');
        var width  = $(this).attr('data-width') || 640;
        var height = $(this).attr('data-height') || 760;

        var allowfullscreen = $(this).attr('data-video-fullscreen');

        $("#myiframe iframe").attr({
          'src': '/relatorios/resultado_ferias?' + $('form').serialize(),
          'height': height,
          'width': width,
          'allowfullscreen':''
        });

        $('#myiframe').on('hidden.bs.modal', function(){
          $(this).find('iframe').html("");
          $(this).find('iframe').attr("src", "");
        });
      }
    });


</script>


<div class="modal fade" id="myiframe" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document" style=" width: 1100px !important; ">
    <div class="modal-content">
      <div class="modal-header">
        <div class="close-button">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <h4 class="modal-title" id="myModalLabel"><%= t('LISTING') %> de Vaccaciones</h4>
      </div>
      <div class="modal-body" align="center">
        <div class="embed-responsive embed-responsive-16by9" style="height: 460px">
          <iframe class="embed-responsive-item" id="iframeModal" frameborder="0 " border="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  function Tipo(d){
    document.getElementById('tipo').value = d
  }
</script>
