<div class="group">
	<tr>
		<td colspan='2'>
			<p style="padding: 5px; font-size:16px">Cheques Emitidos em <%= params[:dtChequeEmitido] %></p>
		</td>
	</tr>
	<table class="head_grid">
		<tr>
			<td width="50" align="center">n°</td>
			<td width="200">Conta</td>
			<td width="200">Persona</td>
			<td width="150" align="center"><%= t('VALUE') %></td>
		</tr>
	</table>

	<div class="rolagem" dir="div">
		<table>
			<% @cheques.each do |cheque| %>
				<tr>
					<td width="50"><%= cheque.id %></td>
					<td width="200"><%= cheque.conta_nome %></td>
					<td width="200"><%= cheque.persona_nome %></td>
					<td width="150" align="center"><%= format_decimal(cheque.valor) %></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>
