<H2 align="center">CIERRE DE CAJA</H2>

<table>

<% sql_saldo = "SELECT SUM(COALESCE(F.ENTRADA_GUARANI,0) - COALESCE(F.SAIDA_GUARANI,0)  ) AS SALDO_GS
          FROM FINANCAS F 
          INNER JOIN CONTAS C
          ON C.ID = F.CONTA_ID
          INNER JOIN TERMINALS T
          ON T.ID = C.TERMINAL_ID
          LEFT JOIN FORMA_PAGOS FP
          ON FP.ID = C.FORMA_PAGO_ID

          WHERE T.ID = #{params[:busca]["terminal"]}
          AND C.MOEDA = 1
          AND F.ESTADO = 0
          AND C.FORMA_PAGO_ID = 1
          AND FP.ID NOT IN (3,4)
          AND F.DATA < '#{params[:inicio].split("/").reverse.join("-")}'" 

saldo_gs = Financa.find_by_sql(sql_saldo)
          %>

<% sql = "SELECT F.CONCEPTO,
                 F.SIGLA_PROC,
                 F.COD_PROC,
                 FP.NOME AS FORMA_PAGO_NOME,
                 F.CHEQUE,
                 F.ENTRADA_GUARANI AS ENTRADA_GUARANI,
                 F.SAIDA_GUARANI AS SAIDA_GUARANI
          FROM FINANCAS F 
          INNER JOIN CONTAS C
          ON C.ID = F.CONTA_ID
          INNER JOIN TERMINALS T
          ON T.ID = C.TERMINAL_ID

          LEFT JOIN FORMA_PAGOS FP
          ON FP.ID = C.FORMA_PAGO_ID


          WHERE T.ID = #{params[:busca]["terminal"]}
          AND C.MOEDA = 1
          AND F.DATA = '#{params[:inicio].split("/").reverse.join("-")}'
          ORDER BY F.ID
          " 

mov_gs = Financa.find_by_sql(sql)
          %>



<% sqlgroup = "SELECT COALESCE(S.NOME, 'VENTAS DIRECTAS') AS SETOR_NOME,
             FP.NOME AS FORMA_PAGO_NOME,
             SUM(VALOR_GUARANI) AS VALOR_GUARANI
             FROM VENDAS_FINANCAS VF

             INNER JOIN VENDAS V
             ON V.ID = VF.VENDA_ID

             LEFT JOIN SETORS S
             ON S.ID = V.SETOR_ID

             INNER JOIN FORMA_PAGOS FP
             ON FP.ID = VF.FORMA_PAGO_ID

             WHERE VF.DATA = '#{params[:inicio].split("/").reverse.join("-")}'
             AND VF.MOEDA = 1
             GROUP BY 1,2

          " 

mov_group_gs = Financa.find_by_sql(sqlgroup)
          %>


  <% cotz = Moeda.find_by_data(params[:inicio].split("/").reverse.join("-"))%>
  <tr>
    <td>Fecha: <b><%= params[:inicio] %></b>  | Terminal: <b><%= Terminal.find_by_id(params[:busca]["terminal"]).nome %></b> </td>
  </tr>
  <tr>
    <td width="500">Cotización: U$ X G$:<%= format_int(cotz.real_compra.to_f) unless cotz.nil? %> | U$ X R$:<%= format_decimal(cotz.rs_us_compra.to_f)  unless cotz.nil? %></td>
  </tr>

  <tr class="head"  style="background-color: #999">
    <td>GUARANIES</td>
    <td width="60">Proc.</td>
    <td width="70">PG</td>
    <td width="50">Cheque</td>
    <td align="right" width="60">Entrada</td>
    <td align="right" width="60">Salida</td>
    <td align="right" width="60">Saldo</td> 
  </tr>

  <tr class="head">
    <td></td>
    <td></td>
    <td >SALDO</td>
    <td></td>
    <td></td>

    <td></td>
    <td align="right"><%= format_int(saldo_gs.last.saldo_gs) %></td>
  </tr>
  <% s_gs = saldo_gs.last.saldo_gs.to_f %>
  <% mov_gs.each do |mg| %>
    <tr class="<%= cycle("cor1", "cor2") %>" >
      <% s_gs += (mg.entrada_guarani.to_f - mg.saida_guarani.to_f ) %>
      <td><%= mg.concepto %></td>
      <td width="60"><%= mg.sigla_proc %><%= mg.cod_proc.to_s.rjust(6,'0') %></td>
      <td width="70"><%= mg.forma_pago_nome %></td>
      <td width="50"><%= mg.cheque %></td>
      <td align="right" width="60"><%= format_int(mg.entrada_guarani) %></td>
      <td align="right" width="60"><%= format_int(mg.saida_guarani) %></td>
      <td align="right" width="60"><%= format_int(s_gs ) %></td>
    </tr>
  <% end %>
</table>
<br>
<br>

<% sqltarjetas = "SELECT F.CONCEPTO,
                 F.SIGLA_PROC,
                 F.COD_PROC,
                 FP.NOME AS FORMA_PAGO_NOME,
                 F.CHEQUE,
                 F.ENTRADA_GUARANI AS ENTRADA_GUARANI,
                 F.SAIDA_GUARANI AS SAIDA_GUARANI,
                 F.DOCUMENTO_NUMERO
          FROM FINANCAS F 
          INNER JOIN CONTAS C
          ON C.ID = F.CONTA_ID
          INNER JOIN TERMINALS T
          ON T.ID = C.TERMINAL_ID

          LEFT JOIN FORMA_PAGOS FP
          ON FP.ID = f.FORMA_PAGO_ID


          WHERE T.ID = #{params[:busca]["terminal"]}
          AND C.MOEDA = 1
          AND FP.ID IN (3,4)
          AND F.DATA = '#{params[:inicio].split("/").reverse.join("-")}'
          ORDER BY F.ID
          " 

mov_tarj_gs = Financa.find_by_sql(sqltarjetas)
          %>


<table>
  <tr class="head"  style="background-color: #999">
    <td>CONTROL TARJETAS</td>
    <td width="60">Proc.</td>
    <td width="70">PG</td>
    <td width="50">Doc.</td>
    <td align="right" width="60">Entrada</td>
    <td align="right" width="60">Salida</td>
  </tr>
  <% mov_tarj_gs.each do |mg| %>
    <tr class="<%= cycle("cor1", "cor2") %>" >
      <td width="365"><%= mg.concepto %></td>
      <td width="60"><%= mg.sigla_proc %><%= mg.cod_proc.to_s.rjust(6,'0') %></td>
      <td width="70"><%= mg.forma_pago_nome %></td>
      <td width="50"><%= mg.documento_numero %></td>
      <td align="right" width="60"><%= format_int(mg.entrada_guarani) %></td>
      <td align="right" width="60"><%= format_int(mg.saida_guarani) %></td>
    </tr>
  <% end %>
</table>

<br>
<br>
<table>
  <tr class="head"  style="background-color: #999">
    <td width="370">RESUMEN VENTAS FORMA DE PAGO</td>
    <td align="right" width="60">Monto</td>
  </tr>

  <% mov_group_gs.each do |mg| %>
    <tr class="<%= cycle("cor1", "cor2") %>" >
      <td width="70"><%= mg.forma_pago_nome %></td>
      <td align="right" width="60"><%= format_int(mg.valor_guarani) %></td>
    </tr>
  <% end %>
</table>

<br>
<br>
<table>

<% sql_saldo = "SELECT SUM(COALESCE(F.ENTRADA_DOLAR,0) - COALESCE(F.SAIDA_DOLAR,0)  ) AS SALDO_US
          FROM FINANCAS F 
          INNER JOIN CONTAS C
          ON C.ID = F.CONTA_ID
          INNER JOIN TERMINALS T
          ON T.ID = C.TERMINAL_ID
          WHERE T.ID = #{params[:busca]["terminal"]}
          AND C.MOEDA = 0
          AND C.FORMA_PAGO_ID = 1
          AND F.DATA < '#{params[:inicio].split("/").reverse.join("-")}'" 

saldo_us = Financa.find_by_sql(sql_saldo)
          %>

<% sql = "SELECT F.CONCEPTO,
                 F.ENTRADA_DOLAR AS ENTRADA_DOLAR,
                 F.SAIDA_DOLAR AS SAIDA_DOLAR
          FROM FINANCAS F 
          INNER JOIN CONTAS C
          ON C.ID = F.CONTA_ID
          INNER JOIN TERMINALS T
          ON T.ID = C.TERMINAL_ID
          WHERE T.ID = #{params[:busca]["terminal"]}
          AND C.MOEDA = 0
          AND C.FORMA_PAGO_ID = 1
          AND F.DATA = '#{params[:inicio].split("/").reverse.join("-")}'
          ORDER BY F.ID
          " 

mov_us = Financa.find_by_sql(sql)
          %>
  <tr class="head"  style="background-color: #999">
    <td>DOLARES</td>
    <td align="right" width="70">Entrada</td>
    <td align="right" width="70">Salida</td>
    <td align="right" width="70">Saldo</td> 
  </tr>

  <tr class="head">
    <td width="500">SALDO</td>
    <td></td>
    <td></td>
    <td align="right"><%= format_decimal(saldo_us.last.saldo_us) %></td>
  </tr>
  <% s_us = saldo_us.last.saldo_us.to_f %>
  <% mov_us.each do |mg| %>
    <tr class="<%= cycle("cor1", "cor2") %>" >
      <% s_us += (mg.entrada_dolar.to_f - mg.saida_dolar.to_f ) %>
      <td><%= mg.concepto %></td>
      <td align="right" width="70"><%= format_decimal(mg.entrada_dolar) %></td>
      <td align="right" width="70"><%= format_decimal(mg.saida_dolar) %></td>
      <td align="right" width="70"><%= format_decimal(s_us ) %></td>
    </tr>
  <% end %>
</table>

<br>
<br>

<table>

<% sql_saldo = "SELECT SUM(COALESCE(F.ENTRADA_REAL,0) - COALESCE(F.SAIDA_REAL,0)) AS SALDO_RS
          FROM FINANCAS F 
          INNER JOIN CONTAS C
          ON C.ID = F.CONTA_ID
          INNER JOIN TERMINALS T
          ON T.ID = C.TERMINAL_ID
          WHERE T.ID = #{params[:busca]["terminal"]}
          AND C.MOEDA = 2
          AND F.DATA < '#{params[:inicio].split("/").reverse.join("-")}'" 

saldo_rs = Financa.find_by_sql(sql_saldo)
          %>

<% sql = "SELECT F.CONCEPTO,
                 F.ENTRADA_REAL AS ENTRADA_REAL,
                 F.SAIDA_REAL AS SAIDA_REAL
          FROM FINANCAS F 
          INNER JOIN CONTAS C
          ON C.ID = F.CONTA_ID
          INNER JOIN TERMINALS T
          ON T.ID = C.TERMINAL_ID
          WHERE T.ID = #{params[:busca]["terminal"]}
          AND C.MOEDA = 2
          AND F.DATA = '#{params[:inicio].split("/").reverse.join("-")}'
          ORDER BY F.ID" 

mov_rs = Financa.find_by_sql(sql)
          %>
  <tr class="head"  style="background-color: #999">
    <td>REALES</td>
    <td align="right" width="70">Entrada</td>
    <td align="right" width="70">Salida</td>
    <td align="right" width="70">Saldo</td> 
  </tr>

  <tr class="head">
    <td width="500">SALDO</td>
    <td></td>
    <td></td>
    <td align="right"><%= format_decimal(saldo_rs.last.saldo_rs) %></td>
  </tr>  
  <% s_rs = saldo_rs.last.saldo_rs.to_f %>
  <% mov_rs.each do |mg| %>
    <tr class="<%= cycle("cor1", "cor2") %>" >
      <% s_rs += (mg.entrada_real.to_f - mg.saida_real.to_f ) %>
      <td><%= mg.concepto %></td>
      <td align="right" width="70"><%= format_decimal(mg.entrada_real) %></td>
      <td align="right" width="70"><%= format_decimal(mg.saida_real) %></td>
      <td align="right" width="70"><%= format_decimal(s_rs ) %></td>
    </tr>
  <% end %>
</table>


<br>
<br>
<br>
<br>
<p>_____________________________________</p>
<p>Firma Responsável</p>
