<style type="text/css">
	.page-break { display:block; clear:both; page-break-after:always; }
	.header {
		border-collapse: collapse;
		font-size: 9px;
	}
	.header {
		font-weight: bold;
		background-color: #999;
	}

</style>

</style>
<div class="page-break">
<table>
	<tr class="header">
		<td class="header" width="200">Empleado</td>
		<td class="header" width="150">Cargo</td>
		<td class="header" width="100">Departamento</td>
		<td class="header" width="60" align="right">Sueldo</td>
		<td class="header" width="50" align="center"><%= t('DATE') %> Ingreso</td>
		<td class="header" width="50" align="center">Meses na Empresa</td>
		<td class="header" width="50" align="center"><%= t('TO') %> 1 año </td>
		<td class="header" width="50" align="center"><%= t('TO') %> 5 años </td>
		<td class="header" width="50" align="center"><%= t('TO') %> 10 años </td>
		<td class="header" width="50" align="center">Mas de 10 años</td>
	</tr>
	<% qtd_1  = 0 %>
	<% qtd_5  = 0 %>
	<% qtd_10 = 0 %>
	<% qtd_11 = 0 %>

	<% sal_1  = 0 %>
	<% sal_5  = 0 %>
	<% sal_10 = 0 %>
	<% sal_11 = 0 %>
	<% @fopags.each do |f| %>
		<tr class="<%= cycle("cor1", "cor2")%>">
			<td width="200"><%= f.nome %></td>
			<td width="150"><%= f.cargo %></td>
			<td width="100"><%= f.departamento %></td>
			<td width="60" align="right"><%= format_decimal(f.salario.to_f) %></td>
			<td width="50" align="center"><%= f.data_entrada.strftime("%d/%m/%y") %></td>
			<td width="50" align="center">
				<% calc_tempo = (( ("01-#{params[:mes]}-#{params[:ano]}").to_date - f.data_entrada.to_date) / 30 ).round %>
				<% if calc_tempo.to_i < 0 %>
					<%= tempo = 0 %>
				<% else %>
					<%= tempo = calc_tempo %>
				<% end %>
			</td>
			<td width="50" align="center">
				<% if tempo.to_i < 12 %>
					<%= 'XX' %>
					<% qtd_1  += 1 %>
					<% sal_1  += f.salario.to_f %>
				<% end%>
			</td>
			<td width="50" align="center">
				<% if tempo.to_i >= 12 and tempo.to_i < 60 %>
					<%= 'XX' %>
					<% qtd_5  += 1 %>
					<% sal_5  += f.salario.to_f %>
				<% end %>
			</td>
			<td width="50" align="center">
				<% if tempo.to_i >= 60 and tempo.to_i < 120 %>
					<%= 'XX' %>
					<% qtd_10 += 1 %>
					<% sal_10 += f.salario.to_f %>
				<% end %>
			</td>
			<td width="50" align="center">
				<% if tempo.to_i >= 120 %>
					<%= 'XX' %>
					<% qtd_11 += 1 %>
					<% sal_11 += f.salario.to_f %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>
</div>

<br>

<div class="page-break">
	<table>
		<tr class="header">
			<td colspan="4" align="center">FOPAG FIXA</td>
		</tr>
		<tr class="header">
			<td class="header" align="center">Tiempo de Servicio</td>
			<td class="header" align="center">Valor dos Sueldos</td>
			<td class="header" align="center">Nº de Empleados</td>
			<td class="header" align="center">Sueldo Médio</td>
		</tr>
		<tr class="<%= cycle("cor1", "cor2")%>">
			<td width="150"><%= t('TO') %> 1 año</td>
			<td align="right" width="70"><%= format_decimal( sal_1.to_f ) %></td>
			<td align="right" width="70"><%= format_decimal( qtd_1.to_f ) %></td>
			<td align="right" width="70"><%= format_decimal( (sal_1.to_f / qtd_1.to_f).nan? ? 0 : (sal_1.to_f / qtd_1.to_f) ) %></td>
		</tr>
		<tr class="<%= cycle("cor1", "cor2")%>">
			<td width="150"><%= t('TO') %> 5 años</td>
			<td align="right" width="70"><%= format_decimal( sal_5.to_f ) %></td>
			<td align="right" width="70"><%= format_decimal( qtd_5.to_f ) %></td>
			<td align="right" width="70"><%= format_decimal( (sal_5.to_f / qtd_5.to_f).nan? ? 0 : (sal_5.to_f / qtd_5.to_f) ) %></td>
		</tr>
		<tr class="<%= cycle("cor1", "cor2")%>">
			<td width="150"><%= t('TO') %> 10 años</td>
			<td align="right" width="70"><%= format_decimal( sal_10.to_f ) %></td>
			<td align="right" width="70"><%= format_decimal( qtd_10.to_f ) %></td>
			<td align="right" width="70"><%= format_decimal( (sal_10.to_f / qtd_10.to_f).nan? ? 0 : (sal_10.to_f / qtd_10.to_f) ) %></td>
		</tr>
		<tr class="<%= cycle("cor1", "cor2")%>">
			<td width="150">Mas de 10 años</td>
			<td align="right" width="70"><%= format_decimal( sal_11.to_f ) %></td>
			<td align="right" width="70"><%= format_decimal( qtd_11.to_f ) %></td>
			<td align="right" width="70"><%= format_decimal( (sal_11.to_f / qtd_11.to_f).nan? ? 0 : (sal_11.to_f / qtd_11.to_f) ) %></td>
		</tr>

		<!-- totais !-->
		<tr class="header">
			<td class="header">Total</td>
			<td class="header" align="right" width="70"><%= format_decimal( sal_1.to_f + sal_5.to_f + sal_11.to_f + sal_11.to_f ) %></td>
			<td class="header"align="right" width="70"><%= format_decimal( qtd_1.to_f + qtd_5.to_f + qtd_10.to_f + qtd_11.to_f ) %></td>
			<td class="header"align="right" width="70"></td>
		</tr>
	</table>

<br>

	<table>
		<tr class="header">
			<td  class="header" width="156">Total Gasto no Mes</td>
			<td class="header" align="right" width="70"><%=  format_decimal(( (sal_1.to_f + sal_5.to_f + sal_11.to_f + sal_11.to_f) + ((sal_1.to_f + sal_5.to_f + sal_11.to_f + sal_11.to_f) * 0.165))) %></td>
		</tr>
		<tr class="<%= cycle("cor1", "cor2")%>">
			<td>Total da Folha</td>
			<td align="right"><%= format_decimal((sal_1.to_f + sal_5.to_f + sal_11.to_f + sal_11.to_f)) %></td>
		</tr>
		<tr class="<%= cycle("cor1", "cor2")%>">
			<td>IPS da Folha</td>
			<td align="right"><%= format_decimal(((sal_1.to_f + sal_5.to_f + sal_11.to_f + sal_11.to_f) * 0.165)) %></td>
		</tr>

	</table>


<br>

	<table>
		<tr class="header">
			<td  class="header" colspan="5" align="center">Provisiónes</td>
		</tr>
		<tr class="<%= cycle("cor1", "cor1")%>">
			<td width="156">Aguinaldo(sin IPS)</td>
			<td></td>
			<td align="right"><%= format_decimal( agui = (sal_1.to_f + sal_5.to_f + sal_11.to_f + sal_11.to_f) / 12) %></td>
		</tr>
		<tr class="<%= cycle("cor2", "cor1")%>">
			<td rowspan="4">Férias(con IPS)</td>
		</tr>
		<tr class="<%= cycle("cor2", "cor2")%>">
			<td width="70"><%= t('TO') %> 5 años</td>
			<td width="70" align="right"><%= format_decimal( fer_5 = ( (sal_1.to_f + sal_5.to_f) * 1.165) / 30 ) %></td>
		</tr>
		<tr class="<%= cycle("cor1", "cor1")%>">
			<td><%= t('TO') %> 10 años</td>
			<td align="right"><%= format_decimal( fer_10 = ( ( ( (sal_10.to_f) * 1.165) / 30 ) * 18 ) / 12 ) %></td>
		</tr>
		<tr class="<%= cycle("cor2", "cor2")%>">
			<td>Mas de 10 años</td>
			<td align="right"><%= format_decimal( fer_11 = ( ( ( (sal_11.to_f) * 1.165) / 30 ) * 30 ) / 12 ) %></td>
		</tr>
	</table>


	<table>
		<tr class="<%= cycle("cor1", "cor1")%>">
			<td width="156">Indenización(con IPS)</td>
			<td></td>
			<td align="right"><%= format_decimal( inde = ( ( ( (sal_1.to_f + sal_5.to_f + sal_11.to_f + sal_11.to_f) * 1.165) ) / 2) / 12 )  %></td>
		</tr>
		<tr class="<%= cycle("cor2", "cor2")%>">
			<td rowspan="4">Pré-aviso(con IPS)</td>
			<td width="70"><%= t('TO') %> 1 años</td>
			<td width="70" align="right"><%= format_decimal( prev_1 = ( ( ( ( ( sal_1.to_f / qtd_1.to_f ) * 1.165) / 30 ) * 30 ) / 12 ).nan? ? 0 : ( ( ( ( ( sal_1.to_f / qtd_1.to_f ) * 1.165) / 30 ) * 30 ) / 12 ) ) %></td>
		</tr>

		<tr class="<%= cycle("cor1", "cor1")%>">
			<td width="70"><%= t('TO') %> 5 años</td>
			<td width="70" align="right"><%= format_decimal( prev_5 = ( ( ( ( ( sal_5.to_f / qtd_5.to_f ) * 1.165) / 30 ) * 45 ) / 12 ).nan? ? 0 : ( ( ( ( ( sal_5.to_f / qtd_5.to_f ) * 1.165) / 30 ) * 45 ) / 12 ) ) %></td>
		</tr>

		<tr class="<%= cycle("cor2", "cor2")%>">
			<td><%= t('TO') %> 10 años</td>
			<td width="70" align="right"><%= format_decimal( prev_10 = ( ( ( ( ( sal_10.to_f / qtd_10.to_f ) * 1.165) / 30 ) * 60 ) / 12 ).nan? ? 0 : ( ( ( ( ( sal_10.to_f / qtd_10.to_f ) * 1.165) / 30 ) * 60 ) / 12 ) ) %></td>
		</tr>
		<tr class="<%= cycle("cor1", "cor1")%>">
			<td>Mas de 10 años</td>
			<td width="70" align="right"><%= format_decimal( prev_11 =  ( ( ( ( ( sal_11.to_f / qtd_11.to_f ) * 1.165) / 30 ) * 90 ) / 12 ).nan? ? 0 : ( ( ( ( ( sal_11.to_f / qtd_11.to_f ) * 1.165) / 30 ) * 90 ) / 12 ) ) %></td>
		</tr>
		<tr class="header">
			<td  class="header" colspan="2">Total de las Provisiónes</td>
			<td width="70" align="right"><%= format_decimal( (agui.to_f + fer_5.to_f + fer_10.to_f + fer_11.to_f + inde.to_f + prev_1.to_f + prev_5.to_f + prev_10.to_f + prev_11.to_f).to_f.nan? ? 0 : (agui.to_f + fer_5.to_f + fer_10.to_f + fer_11.to_f + inde.to_f + prev_1.to_f + prev_5.to_f + prev_10.to_f + prev_11.to_f) ) %></td>
		</tr>


	</table>

</div>
