<!-- MEDITER SRL -->
<body  onload="print()">
<% if @cobro.moeda == 0
	 	d = "DOLAR"
	 else
	 	d = "GUARANIES"
	 end
 %>

<style type="text/css">
	table {
		font-family:arial ;font-size:8px;

	}

	.grid {
		border-collapse: collapse;

	}
	.header {
		border-collapse: collapse;
		border: 1px solid black;
	  background-color: #999;
	}

	#totales {
		border-collapse: collapse;
		border-left: 2px solid #fff;
		border-right: 2px solid #fff;
	}

	.cond {
		font-family:arial ;font-size:7px;
	}

	.cor3{
		background-color: #ccc;
	}


</style>
<!-- PRIMEIRA VIA -->

			<table align="left" valign="top"  border="0" style="margin-left: 10px">
				<tr>
				<td colspan="5">

					<table  border="1" style="border-collapse: collapse;">
					<tr>
						<td width="740">
					<table>
					<td align="left" colspan="3"  width="350">

            				<% if current_unidade.avatar.url.present? %>
            					<%= wicked_pdf_image_tag(current_unidade.avatar.url, :height => 40) %>
            				<% else %>
              					<h2><%= current_unidade.nome_sys %></h2>
            				<% end %><br>
            					<b><%= current_unidade.unidade_nome %></b><br>
            					<b>RUC:</b><%= current_unidade.ruc %><br>
            					<b>Direcíon:</b><%= current_unidade.direcao %><br>
            					<b>Ciudad:</b><%= current_unidade.cidade.nome %> - <%= current_unidade.bairro %><br>
            					<b>Teléfono:</b><%= current_unidade.telefone %><br>
            					<b>Correo Eletronico:</b> <%= current_unidade.email %>

					</td>

					<td width="350" colspan="2" align="center">
						<h1><b>RECIBO DE DINERO</b><br></h1>
						<h2><b><%= @ft.doc_01 %>-<%= @ft.doc_02 %>-<%= @ft.doc.to_s.rjust(7,'0') %></b></h2>
						<small><%= @ft.sigla_proc %>•<%= @ft.cod_proc.to_s.rjust(6,'0') %></small>
						<br>
						<br>
						<h1>

							<% if @cobro.moeda == 0 %>
								<b>USD <%= format_decimal(@fecha_result_us) %></b>
							<% else %>
								<b>Gs. <%= format_int(@fecha_result_gs.to_f )%></b>
							<% end %>

						</h1>
					</td>
					</table>
					</td>
					</tr>
				</table>
			</td>
		</tr>
				<tr>
					<td colspan="5" width="740">

					<table border="1" style="border-collapse: collapse;">
						<tr>
							<td>

						<table>
							<tr>
								<td  width="740" align="left"><b>Lugar y Fecha:</b> <%= current_unidade.cidade.nome %> - <%=l @cobro.data.to_date.to_date %></td>


							</tr>


							<tr>
								<% per = Persona.find_by_id(@cobro.persona_id)%>
								<td align="left"><b>Recibi(mos) de:</b> <%= per.nome_fatura %></td>


							</tr>

							<tr>
								<td align="left"><b>RUC/CI :</b> <%= per.ruc %></td>
							</tr>

							<tr>
						<td valign="bottom">
							<b>La cantidad de:</b>
							<% if @cobro.moeda == 0 %>
								<% real,cents=("%.2f" % @fecha_result_us.to_f).split(/\./).map{ |m| m.to_i}
					      valor_cents=Extenso.por_extenso(cents%100)
					      valor_cents+= case cents.to_i%100
					      when 0 then ""
					      when 1 then " "
					      when 2..99 then " "
					      end %>
					      <% if @fecha_result_us.to_f == 1000 %>
					      UN
					      <% end %>
								<%= I18n.with_locale(:es) { @fecha_result_us.to_i.to_words.upcase } %> <%= 'CON ' + cents.to_s.rjust(2,'0') + '/100 DOLARES AMERICANOS' %> )
							<% else %>
								<%= I18n.with_locale(:es) { ( @tot_cobro_gs.to_f - @tot_des_gs.to_f ).to_i.to_words.upcase } %>
							<% end %>
						</td>
					</tr>

						</table>
						</td>
        		</tr>
					</table>

					</td>
        	</tr>
        	<tr><td height="10"></td></tr>

					<tr valign="top">
						<td height="100" style="border: 1px solid #000" width="740">
							<% count  = 1 %>
							<table>
								<tr>

							<!-- primeira Tabela de faturas -->
									<td>
										<table>
											<tr>
											<td align="center" colspan="5" class="header" width="730">
												<b>
												DETALLES DE FACTURAS
												</b>
											</td>
										</tr>
								<tr  class="header">
									<td align="center" width="100"><b><b>N<sup>o</sup> FACTURA</b></td>
									<td align="center" width="80"><b>CUOTA</b></td>
									<td align="center" width="100"><b>EMISIÓN</b></td>
									<td align="center" width="100"><b>VENCIMIENTO</b></td>
									<td align="right" width="100"><b>IMPORTE</b></td>

								</tr>
								<% docs =  CobrosDetalhe.all(:conditions => ["cobro_id = ?",@cobro.id]) %>

								<% docs.each do |cd| %>
								<tr >
									<td align="center"><%= cd.documento_numero_01 %>-<%= cd.documento_numero_02 %>-<%= cd.documento_numero %></td>
									<td align="center"><%= cd.cota %>/<%= cd.tot_cotas %></td>
									<td align="center"><%=l cd.data.to_date.to_date %></td>
									<td align="center"><%=l cd.vencimento.to_date.to_date %></td>
									<td align="right">
										<% if @cobro.moeda.to_i == 0 %>
											<%= format_decimal((cd.cobro_dolar.to_f + cd.interes_dolar.to_f) - cd.desconto_dolar.to_f) %>
										<% else %>
											<%= format_int( (cd.cobro_guarani.to_f + cd.interes_guarani.to_f) - cd.desconto_guarani.to_f ) %>
										<% end %>
									</td>

								<% count += 1 %>
								<% end %>

								</tr>
								<% lines = 50 - count  %>
								<% lines.times do |l| %>
								<tr >
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								</tr>
								<% end %>
								</table>

								</td>

							</tr>

							<tr>
								<td colspan="6">
								<table border="1" style="border-collapse: collapse;">
									<tr class="header">
										<td width="730">
											<table border="0">
												<tr>
													<td width="620">
														<b>TOTAL DE LAS FATURAS:</b>
													</td>
													<td align="right" width="100">
														<% if @cobro.moeda == 0 %>
															<b><%= format_decimal(@fecha_result_us) %></b>
														<% else %>
															<b><%= format_int(@fecha_result_gs.to_f )%></b>
														<% end %>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								</td>
							</tr>

							</table>


							<table>
								<tr>
									<td>
								<table border="1" style="border-collapse: collapse;">


									<% efe_g = 0 %>
									<% efe_u = 0 %>
									<% che_g = 0 %>
									<% che_u = 0 %>
									<% tar_g = 0 %>
									<% tra_g = 0 %>
									<% tra_u = 0 %>


									<% @cf.each do |cf| %>
										<!-- Transf. Bancaria -->
										<% if cf.forma_pago_id == 15 %>
											<% if cf.moeda == 0 %>
											<% tra_u = ((tra_u + cf.valor_dolar) - @tot_int_us.to_f ) %>
											<% else %>
											<% tra_g = ((tra_g + cf.valor_guarani) - @tot_int_gs.to_f ) %>
											<% end %>

										<!-- Contado -->
										<% elsif cf.forma_pago_id == 1 %>
											<% if cf.moeda == 0 %>
											<% efe_u = ((efe_u + cf.valor_dolar) - @tot_int_us.to_f) %>
											<% else %>
											<% efe_g = ((efe_g + cf.valor_guarani) - @tot_int_gs.to_f) %>
											<% end %>

										<!-- Cheque ao dia ou cheque diferido -->
										<% elsif cf.forma_pago_id == 5 or cf.forma_pago_id == 6 %>
											<% if cf.moeda == 0 %>
											<% che_u = ((che_u + cf.valor_dolar) - @tot_int_us.to_f) %>
											<% else %>
											<% che_g = ((che_g + cf.valor_guarani) - @tot_int_gs.to_f) %>
											<% end %>

										<!-- Tarjeta credito ou debito -->
										<% elsif cf.forma_pago_id == 3 or cf.forma_pago_id == 4 %>

											<% tar_g = ((tar_g + cf.valor_guarani) - @tot_int_gs.to_f) %>

										<% end %>

									<% end %>
										<tr  class="header">
											<td colspan="2"><b>FORMA DE PAGO</b></td>
										</tr>
										<tr>
											<td width="210" align="left">Efectivo G$</td>
											<td width="75" align="right"><%= number_to_currency(efe_g.to_i, :format =>' %n ', :precision =>0) %></td>
										</tr>
										<tr>
											<td width="210" align="left">Efectivo U$</td>
											<td width="75" align="right"><%= number_to_currency(efe_u.to_f,      :format =>' %n ', :separeitor => "," ) %></td>
										</tr>
										<tr>
											<td width="210" align="left">Cheques G$</td>
											<td width="75" align="right"><%= number_to_currency(che_g.to_i, :format =>' %n ', :precision =>0)  %></td>
										</tr>
										<tr>
											<td width="210" align="left">Cheques U$</td>
											<td width="75" align="right"><%= number_to_currency(che_u.to_f,      :format =>' %n ', :separeitor => "," ) %></td>
										</tr>
										<tr>
											<td width="210" align="left">Tarjetas G$</td>
											<td width="75" align="right"><%= number_to_currency(tar_g.to_i, :format =>' %n ', :precision =>0 ) %></td>
										</tr>

										<tr>
											<td width="210" align="left">Transferencia Bancaria G$</td>
											<td width="75" align="right"><%= number_to_currency(tra_g.to_i, :format =>' %n ', :precision =>0 ) %></td>
										</tr>
										<tr>
											<td width="210" align="left">Transferencia Bancaria U$</td>
											<td width="75" align="right"><%= number_to_currency(tra_u.to_f,      :format =>' %n ', :separeitor => "," ) %></td>
										</tr>

								</table>



									</td>

									<td valign="top">
										<table border="1" style="border-collapse: collapse;" >
									<tr  class="header">
										<td width="80"><b>CHEQUE N</b></td>
										<td width="100"><b>BANCO</b></td>
										<td width="80"><b>EMISIÓN</b></td>
										<td width="80"><b>VENCIMIENTO</b></td>
										<td width="80"><b>MONTO</b></td>
									</tr>
									<% linha = 0 %>
									<% @cf.each do |cf| %>

									<% if cf.forma_pago_id == 5 or cf.forma_pago_id == 6 %>


										<% banco = Persona.find_by_id(cf.banco_id) %>
										<tr>
											<td><%= cf.cheque %></td>
											<td><%= banco.nome %></td>
											<td><%= cf.data.to_date %></td>
											<td><%= cf.diferido.to_date %></td>
											<% if cf.moeda == 0 %>
											<td><%= number_to_currency(cf.valor_dolar.to_f,      :format =>' %n ', :separeitor => "," ) %></td>
											<% else %>
											<td><%= number_to_currency(cf.valor_guarani.to_i, :format =>' %n ', :precision =>0 ) %></td>
											<% end %>
											<% linha = linha + 1 %>
									<% end %>
										</tr>

									<% end %>
									<% lines2 = 6 - linha  %>
								<% lines2.times do |l| %>
								<tr>
								<td height="10"></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								</tr>
								<% end %>
								<tr>
									<td colspan="5">
										<b>En caso que la factura sea pagada con cheque o transferencia, queda sujeto a confirmación del banco, en caso de rechazo, la deuda quedará pendiente.</b>
									</td>
								</tr>
								</table>
									</td>
								</tr>
								
							</table>
						</td>
					</tr>

					<tr>
						<td align="right">
							<br>
							<br>
							<br>
							<table>
								<tr>
									<td>____________________________________________</td>
								</tr>
								<tr>
									<td align="center">Firma</td>
								</tr>
							</table>
							<br>
						</td>
					</tr>
					<tr><td><small>Chronos Software - chronos.com.py</small></td></tr>
				</table>
