<div class="panel">

  <h1 id="header" class="us">
    Productos Retirados
    <div class="pull-right">
      <a class="acao btn btn-green">Nuevo Producto</a>
    </div>
  </h1>
  <div class="panel-content">

  <table class="head_grid">
    <tr>
      <td align="center" width="60">Fecha</td>
      <td width="280">Producto</td>
      <td width="60" align="right">Ctd</td>
      <td width="40" align="center">UM</td>
      <td width="75" align="right">Unit</td>
      <td width="75" align="right">Tot</td>
      <td></td>
    </tr>
  </table>
  <div class="rolagem" dir="div" style="height: 250px;">
     <table>
        <% rt = 0 %>
        <% vt = 0 %>
        <% @ordem_serv.ordem_serv_prods.includes(:produto).where(status: true).each do |os| %>
          <tr class = "<%= cycle("cor1", "cor2") %> dv<%= os.id %>">
            <td align="center" width="60"><%= os.data.strftime("%d/%m/%y") %></td>
            <td width="280">
              <small> <%= os.produto.nome %></small>
            </td>
            <td width="60" align="right"><%= format_peso(os.quantidade) %></td>
            <td width="40" align="right"><%= os.produto.unidade_medida.sigla unless os.produto.unidade_medida.blank? %></td>
            <% if @ordem_serv.moeda.to_i == 0 %>
              <td width="75" align="right"><%= format_decimal(os.valor_us) %></td>
              <td width="75" align="right"><%= format_decimal(os.valor_us * os.quantidade.to_f) %></td>
              <% vt += (os.valor_us.to_f * os.quantidade.to_f) %>
            <% elsif @ordem_serv.moeda.to_i == 1 %>
              <td width="75" align="right"><%= format_int(os.valor_gs) %></td>
              <td width="75" align="right"><%= format_int(os.valor_gs * os.quantidade.to_f) %></td>
              <% vt += (os.valor_gs.to_f * os.quantidade.to_f) %>
            <% elsif @ordem_serv.moeda.to_i == 2 %>
              <td width="75" align="right"><%= format_decimal(os.valor_rs) %></td>
              <td width="75" align="right"><%= format_decimal(os.valor_rs * os.quantidade.to_f) %></td>
              <% vt += (os.valor_rs.to_f * os.quantidade.to_f) %>
            <% end %>
            <td><%= link_to '', os, :confirm => 'Estas Seguro?', :method => :delete, class: 'icon-trash' %></td>
          </tr>
          <% rt += os.quantidade.to_f %>



          <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mddv<%= os.id %>">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="close-button">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <h4 class="modal-title gs" id="myModalLabel" align="center">Devolver Producto</h4>
                </div>
                <div class="modal-body" style="padding: 10px 30px 30px 25px">
                  <% retirado =  OrdemServProd.where(status: false, ordem_serv_id: @ordem_serv.id, produto_id: os.produto_id).sum(:quantidade) %>
                  <%= render partial: "/ordem_serv_prods/new_devolvidos", locals: {ordem_serv_prod_dv: OrdemServProd.new(ordem_serv_id: @ordem_serv.id, quantidade: (os.quantidade.to_f - retirado.to_f),  deposito_id: os.deposito_id, produto_id: os.produto_id, valor_gs: os.valor_gs, valor_rs: os.valor_rs, valor_us: os.valor_us)} %>
                </div>
              </div>
            </div>
          </div>

          <script>
            $(".dv<%= os.id %>").click(function() {
              $('#mddv<%= os.id %>').modal('show');
            });
          </script>
        <% end %>
     </table>
  </div>
  <table>
    <tr class="head_grid">
      <td width="330"></td>
      <td width="60" align="right"><%= rt %></td>
      <td width="40" align="center"></td>
      <td width="75" align="right"></td>
      <td width="75" align="right">
        <% if @ordem_serv.moeda.to_i == 1 %>
          <%= format_int(vt.to_i) %>
        <% else %>
          <%= format_decimal(vt.to_f) %>
        <% end %>
      </td>
    </tr>
  </table>
</div>
</div>
