<div class="panel">

  <h1 id="header" class="us">
    Productos Retirados
    <div class="pull-right">
      <a class="acao btn btn-green">Nuevo Producto</a>
    </div>
  </h1>
  <div class="panel-content">

  <table class="head_grid">
    <tr>
      <td align="center" width="60">Fecha</td>
      <td width="280">Producto</td>
      <td width="60" align="right">Ctd</td>
      <td width="40" align="center">UM</td>
      <td width="75" align="right">Unit</td>
      <td width="75" align="right">Tot</td>
      <td></td>
    </tr>
  </table>
  <div class="rolagem" dir="div" style="height: 250px;">
     <table>
        <% rt = 0 %>
        <% vt = 0 %>
        <% @retirados.each do |os| %>
          <tr class = "<%= cycle("cor1", "cor2") %>" onclick="dv('<%= @ordem_serv.id %>',
          '<%= format_peso(os.quantidade.to_f - os.sum_retirados.to_f)%>',
          '<%= os.deposito_id %>',
          '<%= os.produto_id %>',
          '<%= os.produto_nome %>',
          '<%= format_int(os.valor_gs)%>',
          '<%= format_decimal(os.valor_us)%>',
          '<%= format_decimal(os.valor_rs)%>' )">
            <td align="center" width="60"><%= os.data.strftime("%d/%m/%y") %></td>
            <td width="280">
              <small> <%= os.produto_nome %></small>
            </td>
            <td width="60" align="right"><%= format_peso(os.quantidade) %></td>
            <td width="40" align="right"><%= os.unidade_medida_sigla %></td>
            <% if @ordem_serv.moeda.to_i == 0 %>
              <td width="75" align="right"><%= format_decimal(os.valor_us) %></td>
              <td width="75" align="right"><%= format_decimal(os.valor_us * os.quantidade.to_f) %></td>
              <% vt += (os.valor_us.to_f * os.quantidade.to_f) %>
            <% elsif @ordem_serv.moeda.to_i == 1 %>
              <td width="75" align="right"><%= format_int(os.valor_gs) %></td>
              <td width="75" align="right"><%= format_int(os.valor_gs * os.quantidade.to_f) %></td>
              <% vt += (os.valor_gs.to_f * os.quantidade.to_f) %>
            <% elsif @ordem_serv.moeda.to_i == 2 %>
              <td width="75" align="right"><%= format_decimal(os.valor_rs) %></td>
              <td width="75" align="right"><%= format_decimal(os.valor_rs * os.quantidade.to_f) %></td>
              <% vt += (os.valor_rs.to_f * os.quantidade.to_f) %>
            <% end %>
            <td><%= link_to '', os, :confirm => 'Estas Seguro?', :method => :delete, class: 'icon-trash' %></td>
          </tr>
          <% rt += os.quantidade.to_f %>

        <% end %>
     </table>
  </div>
  <table>
    <tr class="head_grid">
      <td width="330"></td>
      <td width="60" align="right"><%= rt %></td>
      <td width="40" align="center"></td>
      <td width="75" align="right"></td>
      <td width="75" align="right">
        <% if @ordem_serv.moeda.to_i == 1 %>
          <%= format_int(vt.to_i) %>
        <% else %>
          <%= format_decimal(vt.to_f) %>
        <% end %>
      </td>
    </tr>
  </table>
</div>
</div>


<script>

  function dv(id, saldo, deposito_id, produto_id, produto_nome, valor_gs, valor_us, valor_rs){
    $('#myModal').modal('show');
    $('#ordem_serv_prod_status').val('false');
    $('#ordem_serv_prod_ordem_serv_id').val(id);
    $('#ordem_serv_prod_produto_id').val(produto_id);
    $('#ordem_serv_prod_produto_nome').val(produto_nome);
    $('#ordem_serv_prod_deposito_id').val(deposito_id);
    $('#ordem_serv_prod_quantidade').val(saldo);
    $('#ordem_serv_prod_valor_gs').val(valor_gs);
    $('#ordem_serv_prod_valor_us').val(valor_us);
    $('#ordem_serv_prod_valor_rs').val(valor_rs);
  }

</script>