<style>
  .decr td{
    padding: 18px;
  }
</style>
<div class="group">
<%= form_for(condicional_produto) do |f| %>

  <%= f.hidden_field :condicional_id %>
  <%= f.hidden_field :produto_id, required: true %>
  <%= f.hidden_field :quantidade, value: 1 %>
  <%= f.hidden_field :status, value: true %>
  <%= f.hidden_field :deposito_id, value: @condicional.deposito_id %>
  <%= f.hidden_field :data, value: @condicional.data %>

    <table>
      <tr>
        <td>
          <table border="1" class="decr" style="margin-top: 15px">

            <tr>
              <td>Referencia:</td> <td width="400"><span id="label_ref"></span></td>
            </tr>
            <tr>
              <td>Descriptión:</td> <td><span id="label_nome"></span></td>
            </tr>
            <tr>
              <td>Color:</td> <td><span id="label_cor"></span></td>
            </tr>
            <tr>
              <td>Tamaño:</td> <td><span id="label_tamanho"></span></td>
            </tr>
          </table>
        </td>

        <td>
          <table>
            <tr>
              <td>
                <label>Deposito</label>
                <b><%= @condicional.deposito.nome unless @condicional.deposito.nil? %></b>
              </td>
            </tr>

            <tr>
              <td>
                <label>Barra</label>
                <input type="text" id="referencia" size="25" autofocus>
                                  <%= f.submit :value => " Grabar ", :disable_with => "Aguarde...", :class => "btn btn-green", "data-plus-as-tab" => "false" %>
                                  <%= link_to "Buscar", "#", class: 'btn btn-blue', onclick: 'BuscaProd()' %>




                <%= image_tag("load.gif",
                                :align => "absmiddle",
                                :border => 0,
                                :id => "spinner",
                                :width => 21,
                                :height => 21,
                                :style =>"display: none;" ) %>
                </td>              
            </tr>
            <tr>
              <%= field_gs_label 'Monto G$:',f,:valor_gs, :readonly => "readonly" %>
            </tr>
            <tr>
              <td><span id="label_promo"></span></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
<% end %>
</div>

<script>
  
$(document).ready(function() {
      var deposito = $("#ordem_serv_prod_deposito_id").val();
      $("#referencia").change(function(){
        var data=$('#referencia').val();
        $.ajax({
          type: "GET",
           url: "/dynamic_condicional_empaque_produto?persona_id="+ <%= @condicional.persona_id %> +"&periodo=<%= @condicional.data.to_date %>&id="+ <%= @condicional.id %> +"&deposito_id="+ <%= @condicional.deposito_id %> + "&fabricante=" + escape(data) +"",
          beforeSend: function()
          {
              $('#spinner').show();
          },

          success: function(response)
          {
            $('#spinner').hide();
          }

        });
      });
  });

function BuscaProd(){
      window.open('/produtos/busca_condicional_produto?data=<%= @condicional.data %>&moeda=<%= @condicional.moeda %>&cliente=<%= @condicional.persona.tabela_preco_id %> &deposito_id='+<%= @condicional.deposito_id %>+'&unidade='+<%= current_unidade.id %>+'', 'Pagina', ' SCROLLBARS=YES, TOP=0, LEFT=50, WIDTH=1200, HEIGHT=700');
}

  document.onkeydown= function(e) {
    //LISTA DE PRODUTOS
    if(e.which == 113){
      window.open('/produtos/busca_condicional_produto?data=<%= @condicional.data %>&moeda=<%= @condicional.moeda %>&cliente=<%= @condicional.persona.tabela_preco_id %> &deposito_id='+<%= @condicional.deposito_id %>+'&unidade='+<%= current_unidade.id %>+'', 'Pagina', ' SCROLLBARS=YES, TOP=0, LEFT=50, WIDTH=1200, HEIGHT=700');

    };
    if(e.which == 27){
      self.close();
    }
  }
</script>
