
<p>
  <strong>Data:</strong>
  <%= @condicional_produto.data %>
</p>

<p>
  <strong>Condicional:</strong>
  <%= @condicional_produto.condicional_id %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @condicional_produto.produto_id %>
</p>

<p>
  <strong>Produto nome:</strong>
  <%= @condicional_produto.produto_nome %>
</p>

<p>
  <strong>Colecao:</strong>
  <%= @condicional_produto.colecao_id %>
</p>

<p>
  <strong>Colecao nome:</strong>
  <%= @condicional_produto.colecao_nome %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @condicional_produto.cor_id %>
</p>

<p>
  <strong>Cor nome:</strong>
  <%= @condicional_produto.cor_nome %>
</p>

<p>
  <strong>Tamanho:</strong>
  <%= @condicional_produto.tamanho_id %>
</p>

<p>
  <strong>Tamanho nome:</strong>
  <%= @condicional_produto.tamanho_nome %>
</p>

<p>
  <strong>Fabricante cod:</strong>
  <%= @condicional_produto.fabricante_cod %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @condicional_produto.quantidade %>
</p>

<p>
  <strong>Unitario us:</strong>
  <%= @condicional_produto.unitario_us %>
</p>

<p>
  <strong>Unitario gs:</strong>
  <%= @condicional_produto.unitario_gs %>
</p>

<p>
  <strong>Total us:</strong>
  <%= @condicional_produto.total_us %>
</p>

<p>
  <strong>Total gs:</strong>
  <%= @condicional_produto.total_gs %>
</p>

<p>
  <strong>Deposito:</strong>
  <%= @condicional_produto.deposito_id %>
</p>

<p>
  <strong>Clase:</strong>
  <%= @condicional_produto.clase_id %>
</p>

<p>
  <strong>Grupo:</strong>
  <%= @condicional_produto.grupo_id %>
</p>

<p>
  <strong>Produtos grade:</strong>
  <%= @condicional_produto.produtos_grade_id %>
</p>


