<div class="panel">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-10">
				<h3><%= t('DATA_S') %> Bancarios</h3>
				<label>Banco</label>
				<b><%= @persona.banco %></b>
				<label>Nº <%= t('ACCOUNT') %></label>
				<b><%= @persona.conta %></b>
				<label>Oficial <%= t('ACCOUNT') %></label>
				<b><%= @persona.oficial_conta %></b>
				<label><%= t('CONTACT') %> Oficial <%= t('ACCOUNT') %></label>
				<b><%= @persona.conta_numero %></b>
			</div>
			<div class="col-md-2">
  			<a class="modalButton-frma panel-icon-right" data-toggle="modal" data-width="500" data-height="781" data-target="#form-bc">
  				<%= image_tag("icon-edit.png", width: '13') %>
  			</a>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="form-bc" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="close-button">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <h4 class="modal-title" id="myModalLabel">Direción</h4>
      </div>
      <div class="modal-body">
				<%= form_for(@persona) do |f| %>
					<div class="row panel-modal-body">

						<div class="col-md-12">
							<label>Banco</label>
							<%= f.text_field :banco, class: 'panel-field' %>
						</div>

						<div class="col-md-8">
							<label>Nº <%= t('ACCOUNT') %></label>
							<%= f.text_field :conta, class: 'panel-field' %>
						</div>

						<div class="col-md-4">
							<label>Oficial <%= t('ACCOUNT') %></label>
							<%= f.text_field :oficial_conta, class: 'panel-field' %>
						</div>

						<div class="col-md-12">
							<label><%= t('CONTACT') %> Oficial <%= t('ACCOUNT') %></label>
							<%= f.text_field :conta_numero, class: 'panel-field' %>
						</div>

						<div class="col-md-12">
							<label><%= t('COIN') %></label>
							<%= f.select :conta_moeda, [['USD','USD'],['PYG','PYG'],['BRL','BRL']], {prompt: 'Selecione'} %>
						</div>
	         <div class="col-md-12">
	         		<br>
	            <%= f.submit t('SAVE'), class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false"%>
	         </div>

					</div>

      	<% end %>
      </div>
    </div>
  </div>
</div>

<script>

( function($) {

function iframeModalOpen(){

    $('.acao').on('click', function(e) {
      var width  = $(this).attr('data-width') || 640; // larghezza dell'iframe se non impostato usa 640
      var height = $(this).attr('data-height') || 760; // altezza dell'iframe se non impostato usa 360

      var allowfullscreen = $(this).attr('data-video-fullscreen'); // impostiamo sul bottone l'attributo allowfullscreen se è un video per permettere di passare alla modalità tutto schermo

      // stampiamo i nostri dati nell'iframe
    });

    // se si chiude la modale resettiamo i dati dell'iframe per impedire ad un video di continuare a riprodursi anche quando la modale è chiusa
    $('#form-bc').on('hidden.bs.modal', function(){
      $(this).find('iframe').html("");
      $(this).find('iframe').attr("src", "");
    });
  }

  $(document).ready(function(){
    iframeModalOpen();
  });

  } ) ( jQuery );

</script>
