<%= f.hidden_field :tipo_cliente, value: 1 %>
<table>
   <tr>     
      <td valign="top">
       <fieldset>
       <legend><small>PE02</small></legend>
       <table>
          <tr>
            <td align="right" width="90"> CI/RUC:</td>
            <td colspan="4"><%= f.text_field :ruc,
                                :size => 15,
                                :onkeypress => "return bloqEnter(event)", autofocus: true %>
            Nombre Fantasia:<%= f.text_field :nome, size: 46 %>
          </td>

          </tr>

          <tr>
            <td align="right">Razão Social:</td>
            <td colspan="6"><%= f.text_field :nome_fatura, :size => 80 %>
          </td>

         </tr>


          <tr>
            <td align="right">Seguimento:</td>
            <td><%= f.collection_select :seguimento_id, Seguimento.all(:select => 'id,nome', :order => '2'), :id, :nome, {prompt: 'Selecione o seguimento'} %>
            </td>
            <td width="100"  align="right">Telefone 01:</td>
            <td><%= f.text_field :telefone, :size => 20 %></td>
          </tr>
          <tr>
            <td align="right">Email:</td>
            <td><%= f.email_field :email, :size => 40 %></td>

            <td align="right">Telefone 02:</td>
            <td><%= f.text_field :telefone2, :size => 20 %></td>
          </tr>
          
          <tr>
            <td align="right">Nacionalidad:</td>

            <td>
              <%= f.select :estado_civil,
                          (
                          [["Paraguaya", "Paraguaya"],
                          ["Brasilera", "Brasilera"],
                          ["Otros", "Otros"]])%>
            </td>
            <td align="right">Profesión :</td>
            <td><%= f.text_field :profisao,
                                 :size => 20,
                                 :onkeypress => "return bloqEnter(event)"%></td>

          </tr>

          <tr>
            <td align="right">F. Nacimiento:</td>
            <td><%= f.date_select :data_nascimento,
                                  :start_year => 1930%></td>

            <td align="right">Estado Civil:</td>

            <td>
              <%= f.select :estado_civil,
                          (
                          [["Solteiro(a)", "Solteiro(a)"],
                          ["Casado(a)", "Casado(a)"],
                          ["Divorciado(a)", "Divorciado(a)"],
                          ["Viúvo(a)", "Viúvo(a)"]])%>
            </td>

          </tr>
      </table>
     </fieldset>
    </td>
  </tr>

  <tr>
    <td>
      Tabla de Precio:
      <%= f.collection_select :tabela_preco_id, TabelaPreco.all(:select => 'id,nome', :order => '2'), :id, :nome %>
    </td>
  </tr>


  <tr valign="top">
    <td>
      <fieldset>
        <legend>Direción</legend>
        <table>
          <tr>
            <td align="right">Pais:</td>
            <td><%= f.collection_select :paise_id, Paise.all(:select => 'id,nome',
                                                               :order => '2'),:id,
                                                               :nome, {prompt: 'Selecione o pais'},{style:'width:230px;'} %>
              <%= image_tag("load.gif",
                        :align => "absmiddle",
                        :border => 0,
                        :id => "spinner",
                        :width => 21,
                        :height => 21,
                        :style =>"display: none;" ) %>
            </td>
            <td align="right">Estado.:</td>
            <td>
              <%= f.collection_select :estado_id, Estado.all(:select => 'id,nome', :order => '2'),:id, :nome, {prompt: 'Selecione o Estado'},{style:'width:230px;'} %>
              <%= image_tag("load.gif",
                        :align => "absmiddle",
                        :border => 0,
                        :id => "spinner2",
                        :width => 21,
                        :height => 21,
                        :style =>"display: none;" ) %>
            </td>
          </tr>
          <tr>

            <td align="right">Região:</td>
            <td><%= f.collection_select :regiao_id, Regiao.all(:select => 'id,nome',
                                                               :order => '2'), :id, :nome, {prompt: 'Selecione a regiao'},{style:'width:230px;'} %>


                <%= image_tag("load.gif",
                          :align => "absmiddle",
                          :border => 0,
                          :id => "spinne4",
                          :width => 21,
                          :height => 21,
                          :style =>"display: none;" ) %>
              </td>

            <td align="right">Cidade:</td>
            <td><%= f.collection_select :cidade_id, Cidade.all(:select => 'id,nome',
                                                               :order => '2'), :id, :nome, {prompt: 'Selecione a cidade'},{style:'width:230px;'} %>
                <%= image_tag("load.gif",
                          :align => "absmiddle",
                          :border => 0,
                          :id => "spinner3",
                          :width => 21,
                          :height => 21,
                          :style =>"display: none;" ) %>
              </td>
          </tr>
          <tr>
            <td align="right">Áreas:</td>
            <td><%= f.collection_select :cidade_area_id, CidadeArea.all(:select => 'id,nome',
                                                               :order => '2'), :id, :nome, {prompt: 'Selecione a Área'},{style:'width:230px;'} %>
                <%= image_tag("load.gif",
                          :align => "absmiddle",
                          :border => 0,
                          :id => "spinner4",
                          :width => 21,
                          :height => 21,
                          :style =>"display: none;" ) %>

          </tr>
         <tr>

            <td align="right">Endereço:</td>
            <td colspan="4"><%= f.text_field :direcao, :size => 68 %></td>
          </tr>
          <tr>                
            <td align="right">Bairro:</td>
            <td><%= f.text_field :bairro, :size => 35 %></td>
            <td align="right" >N.:</td>
            <td><%= f.text_field :residencia_numero, :size => 5 %></td>

          </tr>

          <tr>
            <td align="right" valign="top">Complemento :</td>
            <td colspan="8"><%= f.text_area :direcao_complemento, :cols => 65, :rows => 3 %></td>
          </tr>

        </table>
      </fieldset>
    </td>
  </tr>
</table>
<script type="text/javascript">
 $(document).ready(function() {
      $("#persona_paise_id").change(function() {
        var data=$('#persona_paise_id').val();
        $.ajax({
          type: "GET",
           url: "/personas/dynamic_estados/"+data,
          data: data,
          beforeSend: function()
          {
              $('#spinner').show();
          },

          success: function(response)
          {
            $('#spinner').hide();
          }

        });
    });

      $("#persona_estado_id").change(function() {
        var data=$('#persona_estado_id').val();
        $.ajax({
          type: "GET",
           url: "/personas/dynamic_regioes/"+data,
          data: data,
          beforeSend: function()
          {
              $('#spinner2').show();
          },

          success: function(response)
          {
            $('#spinner2').hide();
          }

        });
    });

      $("#persona_regiao_id").change(function() {
        var data=$('#persona_regiao_id').val();
        $.ajax({
          type: "GET",
           url: "/personas/dynamic_cidades/"+data,
          data: data,
          beforeSend: function()
          {
              $('#spinner3').show();
          },

          success: function(response)
          {
            $('#spinner3').hide();
          }

        });
    });

      $("#persona_cidade_id").change(function() {
        var data=$('#persona_cidade_id').val();
        $.ajax({
          type: "GET",
           url: "/personas/dynamic_areas/"+data,
          data: data,
          beforeSend: function()
          {
              $('#spinner4').show();
          },

          success: function(response)
          {
            $('#spinner4').hide();
          }

        });
    });

  });
</script>