<table>
  <tr>
    <td></td>
    <td>
      <fieldset>
        <legend>Comision de Venta (+)</legend>
        <%= f.radio_button :comissao_vendas, 0,  :Checked => "True" %>Sin Comision de Venta
        <br/>
        <%= f.radio_button :comissao_vendas, 1 %> Comision Sobre las Ventas deste Vendedor ao Contado
        <br/>
        <%= f.radio_button :comissao_vendas, 2 %> Comision Sobre las Ventas deste Vendedor ao Contado y Credito
        <br/>
        <%= f.radio_button :comissao_vendas, 3 %> Todas las Ventas ao Contado
        <br/>
        <%= f.radio_button :comissao_vendas, 4 %> Todas las Ventas ao Contado y Credito
      </fieldset>           
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <fieldset>
        <legend>Comision de <%= t('CHARGE') %>(+)</legend>
        <%= f.radio_button :comissao_cobros, 0,  :Checked => "True" %>Sin Comision de <%= t('CHARGE') %>s
        <br/>
        <%= f.radio_button :comissao_cobros, 1 %> Comision Sobre los <%= t('CHARGE') %> de las Vendas deste Vendedor
        <br/>
        <%= f.radio_button :comissao_cobros, 2 %> Todas los <%= t('CHARGE') %>s
      </fieldset>           
    </td>
  </tr>

	<tr>
    <td></td>
    <td>
      <fieldset>
        <legend>Comision de Adelanto(+)</legend>
        <%= f.radio_button :comissao_adelantos, 0,  :Checked => "True" %>Sin Comision de Adelantos
        <br/>
        <%= f.radio_button :comissao_adelantos, 1 %> Comision Sobre los Adelantos de Cliente referentes a este  Vendedor
        <br/>
        <%= f.radio_button :comissao_adelantos, 2 %> Todas los Adelantos de Cliente
      </fieldset>           
    </td>
  </tr>  

	<tr>
    <td></td>
    <td>
      <fieldset>
        <legend>Comision de Nota De Credito(-)</legend>
        <%= f.radio_button :comissao_nota_creditos, 0,  :Checked => "True" %>Sin Descuento Comision de Nota de Credito
        <br/>
        <%= f.radio_button :comissao_nota_creditos, 1 %>Descuentar las Nota de Creditos referentes a este as Ventas deste Vendedor
        <br/>
        <%= f.radio_button :comissao_nota_creditos, 2 %>Descuentar todas las Nota de Creditos
        <br/>
      </fieldset>           
    </td>
  </tr>  

</table>