<%= form_tag "/cobros/#{@cobro.id}/baixa_divida" do %>
<div class="group">
  <% empresa = Empresa.last(:select => "taxa_interes,segmento") %>
   <table class="head_grid" >
      <tr>
        <td width="20" align="center"><input type="checkbox" id="selectAllM" value="selectAllM"></td>
        <td width="60" align="center"><%= t('DATE') %></td>
        <td width="40"></td>
        <td width="50"></td>
        <td width="100"><%= t('SOURCE_S') %></td>
        <td width="150">CC</td>
        <% if empresa.segmento.to_i == 1 %>
          <td width="150">Aluno</td>
        <% end %>
        <td width="100"><%= t('DOC') %></td>
        <td width="50" align="center"><%= t('QUOTA') %></td>
        <td width="80" align="center">Venc.</td>
        <td width="40" align="center">Dias</td>
        <td width="70" align="right"><%= t('INTEREST') %></td>
        <td width="70" align="right"><%= t('VALUE') %></td>
        <td width="70" align="right">Anterior</td>
        <td width="70" align="right">Saldo</td>

      </tr>
    </table>

    <div class="rolagem" dir="div" style="height: 220px">

      <table>
        <% tot_interes_gs   = 0 %>
        <% tot_divida_gs    = 0 %>
        <% tot_corrigida_gs = 0 %>
        <% @cliente.each do |c| %>

            <% if @cobro.moeda.to_i == 0 %>
              <% if c.moeda.to_i == 0 %>
                <% saldo_dolar = (c.divida_dolar.to_f - c.anterior_us.to_f) %>
                <% saldo_dolar_original = (c.divida_dolar.to_f - c.anterior_us.to_f) %>
              <% else %>
                <% saldo_dolar_original = (c.divida_dolar.to_f - c.anterior_us.to_f) %>
                <% saldo_dolar = ((c.divida_guarani.to_f - c.anterior_gs.to_f) / @cobro.cotacao.to_f) %>
              <% end %>

              <!-- calculo de interes -->
              <%  dias = Date.today - c.vencimento.to_date if c.liquidacao == 0  %>
              <%  if dias >= 0  %>           
                  <%  interes_us = ( ( dias.to_i * empresa.taxa_interes.to_f ) * saldo_dolar.to_f) / 100 %>          
              <% else %>
                 <%  interes_us = 0  %>          
              <% end %>
              <% saldo_guarani = (c.divida_guarani.to_f - c.anterior_gs.to_f) %>
              <tr title="<%= c.descricao %>" class = "<%= cycle( "cor1", "cor2" ) %>"                  
                  onMouseOver="javascript:this.style.backgroundColor='#e6ebf2'"
                  onMouseOut="javascript:this.style.backgroundColor=''"
                  onClick="Fecha( '<%= c.vencimento.strftime("%d").to_i %>',
                                  '<%= c.vencimento.strftime("%m").to_i %>',
                                  '<%= c.vencimento.strftime("%Y").to_i %>',
                                  '<%= c.documento_numero_01 %>',
                                  '<%= c.documento_numero_02 %>',
                                  '<%= c.documento_numero %>',
                                  '<%= c.vendedor_id %>',
                                  '<%= c.persona_id %>',
                                  '<%= c.aluno_nome %>',
                                  '<%= c.cota %>',
                                  '<%= c.tot_cotas %>',
                                  '<%= number_to_currency(interes_us.to_f, :format=>'%n', :separeitor => ',') %>',
                                  '<%= number_to_currency(c.divida_dolar.to_f, :format=>'%n', :separeitor => ',') %>',
                                  '<%= number_to_currency(c.anterior_us.to_f, :format=>'%n', :separeitor => ',') %>',
                                  '<%= number_to_currency(saldo_guarani.to_f, :format=>'%n', :separeitor => ',') %>',
                                  '<%= number_to_currency(saldo_dolar.to_f, :format=>'%n', :separeitor => ',') %>',
                                  '<%= number_to_currency(saldo_dolar_original.to_f, :format=>'%n', :separeitor => ',') %>',
                                  '<%= number_to_currency((saldo_dolar.to_f - saldo_dolar_original.to_f), :format=>'%n', :separeitor => ',') %>',
                                  '<%= c.venda_id %>')">

            <% elsif @cobro.moeda.to_i == 1 %>
             
              <% if c.moeda.to_i == 1 %>
                <% saldo_guarani = (c.divida_guarani.to_f - c.anterior_gs.to_f) %>
                <% saldo_guarani_original = (c.divida_guarani.to_f - c.anterior_gs.to_f) %>
              <% else %>
                <% saldo_guarani_original = (c.divida_guarani.to_f - c.anterior_gs.to_f) %>
                <% saldo_guarani = ((c.divida_dolar.to_f - c.anterior_us.to_f) * @cobro.cotacao.to_f) %>
              <% end %>

              <!-- calculo de interes -->
              <%  dias = Date.today - c.vencimento.to_date if c.liquidacao == 0  %>
              <%  if dias >= 0  %>           
                  <%  interes_gs = ( ( dias.to_i * empresa.taxa_interes.to_f ) * saldo_guarani.to_f) / 100  %>      
              <% else %>
                 <%  interes_gs = 0  %>    
              <% end %>

              <% saldo_dolar = (c.divida_dolar.to_f - c.anterior_us.to_f) %>
              <tr title="<%= c.descricao %>"
                  class = "<%= cycle( "cor1", "cor2" ) %>"
                  onMouseOver="javascript:this.style.backgroundColor='#e6ebf2'"
                  onMouseOut="javascript:this.style.backgroundColor=''"
                  onClick="Fecha( '<%= c.vencimento.strftime("%d").to_i %>',
                                  '<%= c.vencimento.strftime("%m").to_i %>',
                                  '<%= c.vencimento.strftime("%Y").to_i %>',
                                  '<%= c.documento_numero_01 %>',
                                  '<%= c.documento_numero_02 %>',
                                  '<%= c.documento_numero %>',
                                  '<%= c.vendedor_id %>',
                                  '<%= c.persona_id %>',
                                  '<%= c.aluno_nome %>',
                                  '<%= c.cota %>',
                                  '<%= c.tot_cotas %>',
                                  '<%= number_to_currency(interes_gs.to_f, :format=>'%n', :precision => 0 ) %>',
                                  '<%= number_to_currency(c.divida_guarani.to_f, :format=>'%n', :precision => 0 ) %>',
                                  '<%= number_to_currency(c.anterior_gs.to_f, :format=>'%n', :precision => 0 ) %>',
                                  '<%= number_to_currency(saldo_dolar.to_f, :format=>'%n', :separeitor => ',' ) %>',
                                  '<%= number_to_currency(saldo_guarani.to_f, :format=>'%n', :precision => 0 ) %>',
                                  '<%= number_to_currency(saldo_guarani_original.to_f, :format=>'%n', :precision => 0 ) %>',
                                  '<%= number_to_currency(saldo_guarani.to_f - saldo_guarani_original.to_f, :format=>'%n', :precision => 0 ) %>',
                                  '<%= c.venda_id %>')"

                                  >

            <% elsif @cobro.moeda.to_i == 2 %>

              <% if c.moeda.to_i == 2 %>
                <% saldo_real = (c.divida_real.to_f - c.anterior_rs.to_f) %>
                <% saldo_real_original = (c.divida_real.to_f - c.anterior_rs.to_f) %>
              <% end %>

              <!-- calculo de interes -->
              <%  dias = Date.today - c.vencimento.to_date if c.liquidacao == 0  %>
              <%  if dias >= 0  %>           
                  <%  interes_rs = ( ( dias.to_i * empresa.taxa_interes.to_f ) * saldo_real.to_f) / 100 %>          
              <% else %>
                 <%  interes_rs = 0  %>          
              <% end %>
              <% saldo_guarani = (c.divida_guarani.to_f - c.anterior_gs.to_f) %>
              <tr title="<%= c.descricao %>" class = "<%= cycle( "cor1", "cor2" ) %>"                  
                  onMouseOver="javascript:this.style.backgroundColor='#e6ebf2'"
                  onMouseOut="javascript:this.style.backgroundColor=''"
                  onClick="Fecha( '<%= c.vencimento.strftime("%d").to_i %>',
                                  '<%= c.vencimento.strftime("%m").to_i %>',
                                  '<%= c.vencimento.strftime("%Y").to_i %>',
                                  '<%= c.documento_numero_01 %>',
                                  '<%= c.documento_numero_02 %>',
                                  '<%= c.documento_numero %>',
                                  '<%= c.vendedor_id %>',
                                  '<%= c.persona_id %>',
                                  '<%= c.aluno_nome %>',
                                  '<%= c.cota %>',
                                  '<%= c.tot_cotas %>',
                                  '<%= number_to_currency(interes_rs.to_f, :format=>'%n', :separeitor => ',') %>',
                                  '<%= number_to_currency(c.divida_real.to_f, :format=>'%n', :separeitor => ',') %>',
                                  '<%= number_to_currency(c.anterior_rs.to_f, :format=>'%n', :separeitor => ',') %>',
                                  '<%= number_to_currency(saldo_real.to_f, :format=>'%n', :separeitor => ',') %>',
                                  '<%= c.venda_id %>')">
            <% end %>
           

            <td width="20" align="center"><%= check_box_tag "cobro[dividas_ids][]", c.id, false, { :class => 'm', onclick: "soma(this)" }  %>
            
            </td>
            <td width="60"  align="center" class="acao"><%= c.data.strftime("%d/%m/%y") %></td>
            <td width="30" align="left" class="acao">
              <% if c.moeda == 0 %>
                <span class='us'>U$</span>
              <% elsif c.moeda == 1 %>
                <span class='gs'>Gs</span>
              <% else c.moeda == 2 %>
                <span class='rs'>R$</span>
              <% end %>
            </td>
            <td class="acao" width="40" align="right"><%= format_int(c.cotacao_venda ) %></td>
            <td class="acao" width="100" align="left"><%= c.sigla_proc %>.<%= c.cod_proc.to_s.rjust(5,'0')%></td>
            <td class="acao" width="150"><small><b><%= c.cc_nome ? c.cc_nome : 'No Informado' %></b></small></td>
            <% if empresa.segmento.to_i == 1 %>
              <td class="acao" width="150"><small><%= c.aluno_nome %></small></td>
            <% end %>
            
            <td class="acao" width="100"><%= c.documento_numero_01 %>•<%= c.documento_numero_02%>•<%= c.documento_numero%></td>
            <td class="acao" width="50"  align="center"><%= c.cota %></td>
            <td class="acao" width="80"  align="center"><%= c.vencimento.strftime("%d/%m/%y")%></td>
            <td class="acao" width="40" align="center">
              <% if dias.to_i > 0 %>
                <b class="gs"><%= dias.to_i %></b>
              <% else %>
                <b class="us"><%= dias.to_i %></b>
              <% end %>
            </td>

            <% if @cobro.moeda.to_i == 0 %>
              <input type="hidden" name="valor_<%= c.id %>" id="valor_<%= c.id %>" value="<%= format_decimal(saldo_dolar) %>" />
              <td class="acao" width="70" align="right"><%= number_to_currency(interes_us, :format=>' %n ', :separeitor => ',')%></td>
              <td class="acao" width="70" align="right"><%= number_to_currency(c.divida_dolar, :format=>' %n ', :separeitor => ',')%></td>
              <td class="acao" width="70" align="right"><%= number_to_currency(c.anterior_us, :format=>' %n ', :separeitor => ',' )%></td>
              <td class="acao" width="70" align="right"><%= number_to_currency(saldo_dolar_original, :format=>' %n ', :separeitor => ',' )%></td>
              <td class="acao" width="70" align="right"><%= number_to_currency(saldo_dolar.to_f, :format=>' %n ', :separeitor => ',' )%></td>
              <td class="acao" width="50" align="right"><%= number_to_currency((saldo_dolar.to_f) - saldo_dolar_original.to_f, :format=>' %n ', :separeitor => ',' )%></td>
            <% elsif @cobro.moeda.to_i == 1 %>
              <input type="hidden" name="valor_<%= c.id %>" id="valor_<%= c.id %>" value="<%= format_int(saldo_guarani) %>" />
              <td class="acao" width="70" align="right"><%= number_to_currency(interes_gs, :format=>' %n ', :precision => 0 )%></td>
              <td class="acao" width="70" align="right"><%= number_to_currency(c.divida_guarani, :format=>' %n ', :precision => 0 )%></td>
              <td class="acao" width="70" align="right"><%= number_to_currency(c.anterior_gs, :format=>' %n ', :precision => 0 )%></td>
              <td class="acao" width="70" align="right"><%= number_to_currency(interes_gs.to_f + saldo_guarani.to_f, :format=>' %n ', :precision => 0 )%></td>
              <% tot_interes_gs   += interes_gs.to_f %>
              <% tot_divida_gs    += saldo_guarani_original.to_f %>
              <% tot_corrigida_gs += ( saldo_guarani.to_f + interes_gs.to_f ) %>

            <% elsif @cobro.moeda.to_i == 2 %>
              <input type="hidden" name="valor_<%= c.id %>" id="valor_<%= c.id %>" value="<%= format_decimal(saldo_real) %>" />
              <td class="acao" width="70" align="right"><%= number_to_currency(interes_rs, :format=>' %n ', :separeitor => ',')%></td>
              <td class="acao" width="70" align="right"><%= number_to_currency(c.divida_real, :format=>' %n ', :separeitor => ',')%></td>
              <td class="acao" width="70" align="right"><%= number_to_currency(c.anterior_rs, :format=>' %n ', :separeitor => ',' )%></td>
              <td class="acao" width="70" align="right"><%= number_to_currency(saldo_real.to_f, :format=>' %n ', :separeitor => ',' )%></td>

            <% end %>

          </tr>
        <% end %>
      </table>
    </div>
    <table>
      <tr class="head_grid">
        <td width="870" align="right"></td>
        <% if @cobro.moeda == 1 %>
        <td width="60" align="right"><span class="bold"><%= format_int(tot_interes_gs.to_f) %></span></td>
        <td width="70"><b class="bold"><%= format_int(tot_divida_gs.to_f) %></b></td>
        <% else %>
        <% end %>
      </tr>
      <tr>
        <td><%= submit_tag "Aplicar", class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false" %></td>
        <td></td>
        <td align="right"><input type="text" name="valor" id="valor" value="0" size="11" style="border: none; font-size: 12px; padding:0px"></td>
      </tr>
    </table>

</div>
  <% if @cobro.moeda.to_i == 0 %>
  <script>
    function Fecha(vencimento3,vencimento2,vencimento1,documento_numero_01,documento_numero_02,documento_numero,vendedor_id,persona_id,persona_nome,cota,tot_cotas,interes_us,valor_dolar,anterior_dolar,saldo_guarani,saldo_dolar,saldo_dolar_original,dif_cambio_us,venda_id)
    {
      document.getElementById('cobros_detalhe_vencimento_3i').value        = vencimento3;
      document.getElementById('cobros_detalhe_vencimento_2i').value        = vencimento2;
      document.getElementById('cobros_detalhe_vencimento_1i').value        = vencimento1;
      document.getElementById('cobros_detalhe_documento_numero_01').value  = documento_numero_01;
      document.getElementById('cobros_detalhe_documento_numero_02').value  = documento_numero_02;
      document.getElementById('cobros_detalhe_documento_numero').value     = documento_numero;
      document.getElementById('cobros_detalhe_vendedor_id').value          = vendedor_id;
      document.getElementById('cobros_detalhe_persona_id').value           = persona_id;
      document.getElementById('cobros_detalhe_persona_nome').value         = persona_nome;
      document.getElementById('cobros_detalhe_cota').value                 = cota;
      document.getElementById('cobros_detalhe_tot_cotas').value            = tot_cotas;
      document.getElementById('cobros_detalhe_interes_dolar').value        = interes_us;
      document.getElementById('cobros_detalhe_valor_dolar').value          = valor_dolar;
      document.getElementById('cobros_detalhe_anterior_guarani').value     = anterior_dolar;
      document.getElementById('cobros_detalhe_cobro_guarani').value        = saldo_guarani;
      document.getElementById('cobros_detalhe_saldo_guarani').value        = saldo_guarani;
      document.getElementById('cobros_detalhe_saldo_dolar').value          = saldo_dolar_original;
      document.getElementById('cobros_detalhe_cobro_dolar').value          = saldo_dolar;
      document.getElementById('cobros_detalhe_dif_cambio_us').value        = dif_cambio_us;
      document.getElementById('cobros_detalhe_venda_id').value             = venda_id;
      document.getElementById("cobros_detalhe_cobro_dolar").focus()
        }
  </script>
  <% elsif @cobro.moeda.to_i == 1  %>

  <script>
    function Fecha(vencimento3,vencimento2,vencimento1,documento_numero_01,documento_numero_02,documento_numero,vendedor_id,persona_id, persona_nome,cota,tot_cotas,interes_gs,valor_guarani,anterior_guarani,saldo_dolar,saldo_guarani,saldo_guarani_original,dif_cambio_gs,venda_id)
    {
      document.getElementById('cobros_detalhe_vencimento_3i').value          = vencimento3;
      document.getElementById('cobros_detalhe_vencimento_2i').value          = vencimento2;
      document.getElementById('cobros_detalhe_vencimento_1i').value          = vencimento1;
      document.getElementById('cobros_detalhe_documento_numero_01').value    = documento_numero_01;
      document.getElementById('cobros_detalhe_documento_numero_02').value    = documento_numero_02;
      document.getElementById('cobros_detalhe_documento_numero').value       = documento_numero;
      document.getElementById('cobros_detalhe_vendedor_id').value            = vendedor_id;
      document.getElementById('cobros_detalhe_persona_id').value             = persona_id;
      document.getElementById('cobros_detalhe_persona_nome').value           = persona_nome;
      document.getElementById('cobros_detalhe_cota').value                   = cota;
      document.getElementById('cobros_detalhe_tot_cotas').value              = tot_cotas;
      document.getElementById('cobros_detalhe_interes_guarani').value        = interes_gs;
      document.getElementById('cobros_detalhe_valor_guarani').value          = valor_guarani;
      document.getElementById('cobros_detalhe_anterior_guarani').value       = anterior_guarani;
      document.getElementById('cobros_detalhe_cobro_dolar').value            = saldo_dolar;
      document.getElementById('cobros_detalhe_saldo_dolar').value            = saldo_dolar;
      document.getElementById('cobros_detalhe_saldo_guarani').value          = saldo_guarani_original;
      document.getElementById('cobros_detalhe_cobro_guarani').value          = saldo_guarani;
      document.getElementById('cobros_detalhe_dif_cambio_gs').value          = dif_cambio_gs;
      document.getElementById('cobros_detalhe_venda_id').value               = venda_id;
      document.getElementById("cobros_detalhe_cobro_guarani").focus()
        }
  </script>

  <% elsif @cobro.moeda.to_i == 2 %>
  <script>
    function Fecha(vencimento3,vencimento2,vencimento1,documento_numero_01,documento_numero_02,documento_numero,vendedor_id,persona_id,persona_nome,cota,tot_cotas,interes_real,valor_real,anterior_real,saldo_real,venda_id)
    {
      document.getElementById('cobros_detalhe_vencimento_3i').value        = vencimento3;
      document.getElementById('cobros_detalhe_vencimento_2i').value        = vencimento2;
      document.getElementById('cobros_detalhe_vencimento_1i').value        = vencimento1;
      document.getElementById('cobros_detalhe_documento_numero_01').value  = documento_numero_01;
      document.getElementById('cobros_detalhe_documento_numero_02').value  = documento_numero_02;
      document.getElementById('cobros_detalhe_documento_numero').value     = documento_numero;
      document.getElementById('cobros_detalhe_vendedor_id').value          = vendedor_id;
      document.getElementById('cobros_detalhe_persona_id').value           = persona_id;
      document.getElementById('cobros_detalhe_persona_nome').value           = persona_nome;
      document.getElementById('cobros_detalhe_cota').value                 = cota;
      document.getElementById('cobros_detalhe_tot_cotas').value            = tot_cotas;

      document.getElementById('cobros_detalhe_interes_real').value         = interes_real;
      document.getElementById('cobros_detalhe_valor_real').value           = valor_real;
      document.getElementById('cobros_detalhe_anterior_real').value        = anterior_real;
      document.getElementById('cobros_detalhe_saldo_real').value           = saldo_real;
      document.getElementById("cobros_detalhe_cobro_real").value           = saldo_real;

      document.getElementById('cobros_detalhe_venda_id').value             = venda_id;
      document.getElementById("cobros_detalhe_cobro_real").focus()
        }
  </script>

  <% end %>
<% end %>

<script type="text/javascript">
$('#selectAllM').click(function() {
   if (this.checked) {
       $('.m').each(function() {
           this.checked = true;
       });
   } else {
      $('.m').each(function() {
           this.checked = false;
       });
   } 
});
</script>

<script LANGUAGE="JavaScript">  
 <!--  
 var total     = 0;  
 function soma(campo) { 
  var valor = document.getElementById( 'valor_' + campo.value).value;

  if (campo.checked)  {
    total     += eval( valor.replace(/\./g, "").replace(",", ".") );
    
  } else {
    total     -= eval( valor.replace(/\./g, "").replace(",", ".") );
  }
  document.getElementById('valor').value = ( number_format( total,2, ',', '.') );
 }  
 //-->  
 </SCRIPT>  

 <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="close-button">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>  
        <h4 class="modal-title" id="myModalLabel" align="center">Titulo</h4>
      </div>
      <div class="modal-body" align="center" style="padding: 10px 0px 25px 0px">
        <%= render :partial=>"new_detalhe", :locals=>{:cobros_detalhe=>CobrosDetalhe.new(:cobro_id=>@cobro.id)} %>
      </div>
    </div>
  </div>
</div>

<script>
  $(".acao").click(function() {
    $('#myModal').modal('show');
    $('#myModal').on('shown.bs.modal', function () {
      $('#cobros_detalhe_cobro_guarani').focus();
      $('#cobros_detalhe_cobro_guarani').select();
        
    })
  });
</script>


 
