<div class="group">
  <table class="head_grid">
    <tr>
      <td width="200"><%= t('FORM_OF_PAYMENT') %></td>
      <td width="215"><%= t('ACCOUNT') %></td>
      <td width="100" align="center"><%= t('CHECKS') %></td>
      <td width="80" align="center"><%= t('DEFERRED') %></td>
      <td width="80" align="right"><%= t('VALUE') %></td>
    </tr>
  </table>
  <div class="rolagem" dir="div" style="height: 100px">
    <table>
    <% tot = 0 %>      
    <% cobros_financas.each do |cf| %>
      <tr class = "<%= cycle( "cor1", "cor2" )%>">        
         <td width="200" align="left"><%= cf.forma_pago.nome %></td>
         <td width="215" align="left"><%= cf.conta_nome %></td>
         <td width="100" align="center"><%= cf.cheque %></td>
         <td width="80"  align="center"><%= cf.diferido.strftime("%d/%m/%y")%></td>
          <% if @cobro.moeda == 0 %>
            <% if cf.cred_deb.to_i == 1 %>
               <% sinal = "-" %>
               <% color = '#e33d43' %>
               <% tot -= cf.valor_dolar.to_f %>
            <% else %>
               <% sinal = "+" %>
               <% color = '#56b349' %>
               <% tot += cf.valor_dolar.to_f %>
            <% end %>
            <td width="80" align="right" ><b style="color: <%= color %>"><%= format_decimal( cf.valor_dolar ) %></b></td>            

          <% elsif @cobro.moeda == 1 %>
            <% if cf.cred_deb.to_i == 1 %>
               <% sinal = "-" %>
               <% color = '#e33d43' %>
               <% tot -= cf.valor_guarani.to_f %>
            <% else %>
               <% sinal = "+" %>
               <% color = '#56b349' %>
               <% tot += cf.valor_guarani.to_f %>
            <% end %>
            <td width="80" align="right"><b style="color: <%= color %>"><%= format_int( cf.valor_guarani ) %></b></td>
            
          <% else %>
            <% if cf.cred_deb.to_i == 1 %>
               <% sinal = "-" %>
               <% color = '#e33d43' %>
               <% tot -= cf.valor_real.to_f %>
            <% else %>
               <% sinal = "+" %>
               <% color = '#56b349' %>
               <% tot += cf.valor_real.to_f %>
            <% end %>

            <td width="80" align="right" style="color: <%= color %>"><b><%= format_decimal( cf.valor_real ) %></b></td>
          <% end %>        
          <td align="center" ><b style="color: <%= color %>"><%= sinal %></b></td>
          <td><%= link_to '',  edit_cobros_financa_path(cf), class: 'icon-pencil' %></td>
          <td><%= link_to '', cf, :confirm => 'Estas Seguro?', :method => :delete, class: 'icon-trash' %></td>
      </tr>
    <% end %>
    </table>
  </div>

  <table class="head_grid">
    <tr>
      <td width="595"></td>
      <% if @cobro.moeda == 1 %>
        <td width="80" align="right"><strong><%= format_int( tot ) %></strong></td>
      <% else %>
        <td width="80" align="right"><strong><%= format_decimal( tot ) %></strong></td>
      <% end %>
    </tr>
  </table>
</div>
