<div class="group">
  <table class="head_grid">
    <tr>
      <td width="80" align="center"><%= t('DATE') %></td>
      <td width="100"><%= t('DOC') %></td>
      <td width="80" align="center"><%= t('QUOTA') %></td>
      <td width="80" align="center">Venc.</td>
      <td width="120" align="center">Tipo</td>
      <td width="70" align="right"><%= t('VALUE') %></td>
      <td width="70" align="right"><%= t('INTEREST') %></td>
      <td width="70" align="right">Desc.</td>
      <td width="70" align="right">Saldo</td>
      <td width="70" align="right">Valor</td>
    </tr>
  </table>
  <div class="rolagem" dir="div" style="height: 150px">

    <table>
      <% valor = 0 %>
      <% @int  = 0 %>
      <% desc  = 0 %>
      <% saldo = 0 %>
      <% for cobros_detalhe in cobros_detalhes %>
        <% if params[:tira_interes] == 'true' %>
          <% cobros_detalhe.update_attribute :interes_dolar, 0 %>
          <% cobros_detalhe.update_attribute :interes_guarani, 0 %>
        <% end %>
        <tr class = "<%= cycle( "cor1", "cor2" )%>">              
          <td width="80"  align="center"><%= cobros_detalhe.data.strftime("%d/%m/%y")%></td>          
          <td width="100"><%= cobros_detalhe.documento_numero %></td>
          <td width="80"  align="center"><%= cobros_detalhe.cota %></td>
          <td width="80"  align="center"><%= cobros_detalhe.vencimento.strftime("%d/%m/%y") %></td>
          <td width="120"  align="center">
            <% if cobros_detalhe.estado.to_i == 0 %>
              PARTE
            <% else %>
              CANCELACION
            <% end %> 
          </td>
          <% if @cobro.moeda == 0 %>
             <td width="70" align="right"><%= number_to_currency( cobros_detalhe.valor_dolar, :format =>' %n ', :separator => "," ) %></td>
             <td width="70" align="right"><%= number_to_currency( cobros_detalhe.interes_dolar, :format =>' %n ', :separator => "," ) %></td>
             <td width="70" align="right"><%= number_to_currency( cobros_detalhe.desconto_dolar, :format =>' %n ', :separator => "," ) %></td>
             <td width="70" align="right"><%= number_to_currency( cobros_detalhe.cobro_dolar, :format =>' %n ', :separator => "," ) %></td>
             <td width="70" align="right"><%= number_to_currency( ((cobros_detalhe.cobro_dolar.to_f + cobros_detalhe.interes_dolar.to_f) - cobros_detalhe.desconto_dolar.to_f), :format =>' %n ', :separator => "," ) %></td>
             <td width="70" align="right"><%= format_decimal(cobros_detalhe.saldo_perc) %>%</td>
             <% valor += cobros_detalhe.valor_dolar.to_f %>
             <% @int   += cobros_detalhe.interes_dolar.to_f %>
             <% desc  += cobros_detalhe.desconto_dolar.to_f %>
             <% saldo += cobros_detalhe.cobro_dolar.to_f %>
          <% elsif @cobro.moeda == 1 %>
             <td width="70" align="right"><%= number_to_currency( cobros_detalhe.valor_guarani, :format =>' %n ', :precision => 0  ) %></td>
             <td width="70" align="right"><%= number_to_currency( cobros_detalhe.interes_guarani, :format =>' %n ', :precision => 0  ) %></td>
             <td width="70" align="right"><%= number_to_currency( cobros_detalhe.desconto_guarani, :format =>' %n ', :precision => 0  ) %></td>
             <td width="70" align="right"><%= number_to_currency( cobros_detalhe.cobro_guarani, :format =>' %n ', :precision => 0 ) %></td>
             <td width="70" align="right"><%= number_to_currency( ((cobros_detalhe.cobro_guarani.to_f + cobros_detalhe.interes_guarani.to_f) - cobros_detalhe.desconto_guarani.to_f), :format =>' %n ', :precision => 0 ) %></td>
             <td width="70" align="right"><%= format_decimal(cobros_detalhe.saldo_perc) %>%</td>
             <% valor += cobros_detalhe.valor_guarani.to_f %>
             <% @int   += cobros_detalhe.interes_guarani.to_f %>
             <% desc  += cobros_detalhe.desconto_guarani.to_f %>
             <% saldo += cobros_detalhe.cobro_guarani.to_f %>
          <% else %>
             <td width="70" align="right"><%= number_to_currency( cobros_detalhe.valor_real, :format =>' %n ', :separator => "," ) %></td>
             <td width="70" align="right"><%= number_to_currency( cobros_detalhe.interes_real, :format =>' %n ', :separator => "," ) %></td>
             <td width="70" align="right"><%= number_to_currency( cobros_detalhe.desconto_real, :format =>' %n ', :separator => "," ) %></td>
             <td width="70" align="right"><%= number_to_currency( cobros_detalhe.cobro_real, :format =>' %n ', :separator => "," ) %></td>
             <td width="70" align="right"><%= number_to_currency( ((cobros_detalhe.cobro_real.to_f + cobros_detalhe.interes_real.to_f) - cobros_detalhe.desconto_real), :format =>' %n ', :separator => "," ) %></td>
             <% valor += cobros_detalhe.valor_real %>
             <% @int  += cobros_detalhe.interes_real %>
             <% desc  += cobros_detalhe.desconto_real %>
             <% saldo += cobros_detalhe.cobro_real %>             
          <% end %>
          <td><%= link_to '', edit_cobros_detalhe_path(cobros_detalhe), class: 'icon-pencil' %></td>
          <td><%= link_to '', cobros_detalhe, :confirm => 'Estas Seguro?', :method => :delete, class: 'icon-trash' %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <table class="head_grid">
      <tr>
        <td width="540"></td>
        <% if @cobro.moeda == 1 %>
             
             <td width="70" align="right"><%= number_to_currency( @int, :format =>' %n ', :precision => 0  ) %></td>
             <td width="70" align="right"><%= number_to_currency( desc, :format =>' %n ', :precision => 0  ) %></td>
             <td width="70" align="right"><%= number_to_currency( saldo, :format =>' %n ', :precision => 0 ) %></td>
             <td width="70" align="right"><%= number_to_currency( (saldo.to_f + @int.to_f) - desc.to_f, :format =>' %n ', :precision => 0 ) %></td>
        <% else %>
             
             <td width="70" align="right"><%= number_to_currency( @int, :format =>' %n ', :separator => "," ) %></td>
             <td width="70" align="right"><%= number_to_currency( desc, :format =>' %n ', :separator => "," ) %></td>
             <td width="70" align="right"><%= number_to_currency( saldo, :format =>' %n ', :separator => "," ) %></td>
             <td width="70" align="right"><%= number_to_currency( (saldo.to_f + @int.to_f) - desc.to_f, :format =>' %n ', :separator => ",") %></td>
        <% end %>    
      </tr>
  </table>
  
</div>


