<div class="panel">
  <h1 id="header">
    Nota Credito Descuento
    <div class="pull-right">
      <a href="#" data-toggle="modal" data-target="#modal-nc" class="btn btn-green" style="height: 37px;"><i class="icon-white icon-plus-sign"></i></a>
    </div>
  </h1>

  <div  class="panel-content">
  <table class="head_grid">
    <tr>
      <td width="70">Lanz.</td>
      <td width="100">Factura</td>
      <td width="100">Estado SET</td>
    </tr>
  </table>

  <div class="rolagem" dir="div" style="height: 180px">
    <table>
      <% @ncs.each do |ft| %>

      <% if ft.status == 2 %>
        <% anulada  = 'li-ft' %>
      <% end %>

        <tr class = "<%= cycle("cor1", "cor2") %> <%= raw anulada %>">
          <td  width="70">
            <%= link_to  "#detalhe-doc-#{ft.id}", "data-toggle" => "modal", "data-target" =>"#detalhe-doc-#{ft.id}", "data-id" => "#{ft.id}" do %>
              <%= ft.id %>
            <% end %>
          </td>
          <td  width="100"><%= ft.doc_01 %>.<%= ft.doc_02 %>.<%= ft.doc %></td>


          <% if ft.status == 1 %>
            <td><span class="btn-success">Activo</span></td>
            <td><%= link_to 'Anular', form_anula_nc_form_fiscal_path(ft, status: '2', modal: 'true') %></td>

            <% if current_user.tipo.to_i == 0  %>
              <td><%= link_to 'Retroceder', form_anula_nc_form_fiscal_path(ft, status: '0', modal: 'true') %></td>
            <% end %>

            <% if ft.tipo_emissao.to_i == 0 %>
              <td><%= link_to 'Re-imprimir', "#",  :onclick => "MultiplaFaturaVenda(#{ft.id})" %></td>
            <% else %>
              <td><%= link_to 'Gerar pdf', gera_pdf_cdc_form_fiscals_path( cdc: ft.cdc, id: ft.id) %></td>
            <% end %>
          <% else %>
            <td><span class="btn-danger">Anulado</span></td>

            <% if current_user.tipo.to_i == 0  %>
              <td><%= link_to 'Retroceder', form_anula_nc_form_fiscal_path(ft, status: '0', modal: 'true') %></td>
            <% end %>
            <% if ft.tipo_emissao.to_i == 1 %>
              <td><%= link_to 'Gerar pdf', gera_pdf_cdc_form_fiscals_path( cdc: ft.cdc, id: ft.id) %></td>
            <% end %>
          <% end %>
        </tr>


          <div class="modal fade" id="detalhe-doc-<%= ft.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">Resumen Factura</h4>
                </div>
                <div class="modal-body" style="padding: 5px 20px 20px 20px">
                  <div class="group" >
                    <div class="row">
                      <div class="col-md-12">
                        <label>RUC/CI</label>
                        <%= ft.ruc %>
                      </div>

                      <div class="col-md-12">
                        <label>Nombre</label>
                        <%= ft.persona_nome %>
                      </div>

                      <div class="col-md-12">
                        <label>CDC</label>
                        <%= ft.cdc %>
                      </div>
                      <div class="col-md-12">
                        <label>Nº</label>

                      </div>
                      <div class="col-md-12">
                        <label>Status</label>
                        <% if ft.status == 1 %>
                          <span class="btn-success">Activo</span>
                        <% else %>
                          <span class="btn-danger">Anulado</span>
                        <% end %>
                      </div>
                      <div class="col-md-12">
                        <label class="bold">Estado SET</label>

                      </div>
                      <div class="col-md-12">
                        <label class="bold">Situacion SET</label>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </table>
  </div>

<div class="modal fade" id="modal-nc" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="close-button">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <h1 id="myModalLabelf">Datos de Nota Credito</h1>
      </div>

      <div class="modal-body">
        <div class="group">
        <% if @tot_des_gs.to_f > 0 %>
          <%= render partial: "form_fiscals/attr_forms/cobro_update_nc" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


  </div>
</div>