<div class="panel">
  <div  class="panel-content">
    <% if @cobro.moeda.to_i == 0 %>  
      <table>
        <tr>
          <td align="right"><%= t('SUM') %> de Titulos (+):</td>
          <td align="right" width="70"><%= format_decimal( @tot_cobro_us.to_f ) %></td>
        </tr>
        <tr>
          <td align="right"><%= t('DISCOUNT') %> (-):</td>
          <td align="right"><%= format_decimal( @tot_des_us.to_f ) %></td>
        </tr>
        <tr>
          <td align="right"><%= t('INTEREST') %> (+):</td>
          <td align="right"><%= format_decimal( @tot_int_us.to_f ) %></td>
        </tr>
        <tr>
          <td align="right"><%= t('ADVANCE') %> Aplicados (-):</td>
          <td align="right"><%= format_decimal( @tot_ade_us.to_f ) %></td>
        </tr>
        <tr>
          <td align="right"><b>Total Cobrar:</b></td>
          <td align="right"><strong><%= format_decimal( @fecha_result_us.to_f ) %></strong></td>
        </tr>
      </table>
      <% elsif @cobro.moeda == 1 %>
        <table>
          <tr>
            <td align="right"><%= t('SUM') %> de Titulos (+):</td>
            <td align="right" width="70"><%= format_int( @tot_cobro_gs.to_f ) %></td>
          </tr>
          <tr>
            <td align="right"><%= t('DISCOUNT') %> (-):</td>
            <td align="right"><%= format_int( @tot_des_gs.to_f ) %></td>
          </tr>
          <tr>
            <td align="right"><%= t('INTERES') %> (+):</td>
            <td align="right"><%= format_int( @tot_int_gs.to_f ) %></td>
          </tr>
          <tr>
            <td align="right"><strong>Total Cobrar:</strong></td>
            <td align="right"><strong><%= format_int( @fecha_result_gs.to_f ) %></strong></td>
          </tr>
        </table>

      <% else %>

        <table>
          <tr>
            <td align="right"><%= t('SUM') %> de Titulos (+):</td>
            <td align="right" width="70"><%= format_decimal( @tot_cobro_rs.to_f ) %></td>
          </tr>
          <tr>
            <td align="right"><%= t('DISCOUNT') %> (-):</td>
            <td align="right"><%= format_decimal( @tot_desc_rs.to_f ) %></td>
          </tr>
          <tr>
            <td align="right"><%= t('INTERES') %> (+):</td>
            <td align="right"><%= format_decimal( @tot_int_rs.to_f ) %></td>
          </tr>
          <tr>
            <td align="right"><%= t('ADVANCE') %> Aplicados (-):</td>
            <td align="right"><%= format_decimal( @tot_ade_rs.to_f ) %></td>
          </tr>
          <tr>
            <td align="right"><b>Total Cobrar:</b></td>
            <td align="right"><strong><%= format_decimal( @fecha_result_rs.to_f ) %></strong></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
