<div class="group">
  <table class="head_grid">
    <tr>
      <td width="60" align="center"><%= t("code") %></td>
      <td width="70" align="center"><%= t("l_date") %></td>
      <td width="315">Clientes</td>
      <td width="250">Obs</td>
      <td width="150"><%= t("account") %></td>
      <td width="50" align="center"></td>
      <td width="70" align="right"><%= t("value") %></td>

    </tr>
  </table>
  <div class="rolagem" dir="div">
    <table>
      <% @cobros.each do |cobro| %>
        <tr class= "<%= cycle( "cor1", "cor2" )%>">
          <td width="60" align="center" title="Criado por: <%= cobro.usuario_nome %>"><%= link_to cobro.id.to_s.rjust(6,'0'), cobro_path(cobro) %></td>
          <td width="70"  align="center"><%= cobro.data.strftime("%d/%m/%y")%></td>
          <td width="315" align="left"><%= cobro.persona_nome %></td>
          <td width="250" align="left"><small><%= cobro.descricao %></small></td>
          <td width="150" align="left"><%= cobro.conta_nome %></td>

          <% if cobro.moeda.to_i == 1 %>
            <td width="50"  align="center"><span class="gs">Gs</span></td>
            <td width="70" align="right"><%= format_int( cobro.valor_gs) %></td>
          <% elsif cobro.moeda.to_i == 0 %>
            <td width="50"  align="center"><span class="us">U$</span></td>
            <td width="70" align="right"><%= format_int( cobro.valor_us) %></td>
          <% else %>
            <td width="50"  align="center"><span class="rs">R$</span></td>
            <td width="70" align="right"><%= format_decimal( cobro.valor_rs) %></td>
          <% end %>
          <% if cobro.status_block == 't' %>
            <td colspan="2" align="center" title="Lanzamiento Bloqueado"><%= image_tag("locked-padlock.png", height: 16) %></td>
            <td><%= link_to '', comprovante_cobro_path(cobro),  class: 'icon-fullscreen' %></td>
          <% else %>
            <td><%= link_to '', edit_cobro_path(cobro), class: 'icon-pencil' if params[:permission_user_update] == 'true' %></td>
            <td><%= link_to '', cobro, :confirm => 'Estas Seguro?', :method => :delete, class: 'icon-trash' if params[:permission_user_delete] == 'true' %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  
  <div class="head_grid">
    <%= will_paginate @cobros, "data-remote" => "true" %>
  </div>

</div>
