
  <div class="row">
    <div class="col-md-8">
      <div class="panel">
        <div  class="panel-body">
          <h1 id="header">
            <%= t('DATE') %> <%= @cobro.data.strftime("%d/%m/%Y") %> |
            <%= @cobro.persona_nome %>
            | Cotz. U$:
            <%= format_int( @cobro.cotacao ) %> 
            R$.: <%= format_int( @cobro.cotacao_real ) %>
            R$xU$: <%= format_decimal( @cobro.cotacao_rs_us ) %>
          </h1>

          <%= render :partial=>"index_financa", :locals=>{:cobros_financas => @cobro.cobros_financas} %>

          <% if @cobro.moeda.to_i == 0 %>

            <% if (@fecha_result_us.to_f.round(2) != (@financ_cred_us.to_f - @financ_deb_us.to_f).to_f.round(2)) %>
              <%= render :partial=>"new_financa_E03", :locals=>{:cobros_financa=>CobrosFinanca.new(:cobro_id=>@cobro.id)} %>
            <% elsif (@fecha_result_us.to_f.round(2) == (@financ_cred_us.to_f - @financ_deb_us.to_f).to_f.round(2)) %>
              <div class="alert alert-success" align="center" style="margin: 10px">
                <font color="green"><h1> <b><%= t('OPERATION_CONCLUDED') %></b></h1></font>
              </div>
            <% end %>

          <% elsif @cobro.moeda.to_i == 1 %>

            <% if (@fecha_result_gs.to_f.round(2) != (@financ_cred_gs.to_f - @financ_deb_gs.to_f).to_f.round(2))  %>
              <%= render :partial=>"new_financa_E03", :locals=>{:cobros_financa=>CobrosFinanca.new(:cobro_id=>@cobro.id)} %>
            <% elsif (@fecha_result_gs.to_f.round(2) == (@financ_cred_gs.to_f - @financ_deb_gs.to_f).round(2)) %>
              <div class="alert alert-success" align="center" style="margin: 10px">
                <font color="green"><h1> <b><%= t('OPERATION_CONCLUDED') %></b></h1></font>
              </div>
            <% end %>

          <% elsif @cobro.moeda.to_i == 2 %>

            <% if (@fecha_result_rs.to_f.round(2) != (@financ_cred_rs.to_f - @financ_deb_rs.to_f).to_f.round(2)) %>
              <%= render :partial=>"new_financa_E03", :locals=>{:cobros_financa=>CobrosFinanca.new(:cobro_id=>@cobro.id)} %>
            <% elsif (@fecha_result_rs.to_f.round(2) == (@financ_cred_rs.to_f - @financ_deb_rs.to_f).to_f.round(2)) %>
              <div class="alert alert-success" align="center" style="margin: 10px">
                <font color="green"><h1> <b><%= t('OPERATION_CONCLUDED') %></b></h1></font>
              </div>
            <% end %>
          <% end %>


          <div class="footer-buttons">             
            <% if @cobro.moeda == 0 %>
              <input type="hidden" id="sum" value="<%= format_decimal( @fecha_result_us.to_f ) %>">
              <input type="hidden" id="tot" value="<%= format_decimal( (@financ_cred_us.to_f - @financ_deb_us.to_f) ) %>">
              <% if @fecha_result_us.to_f.round(2) != (@financ_cred_us.to_f - @financ_deb_us.to_f).round(2) %>
                <h1 style="color:red; float:left; font-size:32px" ><%= t('PENDING') %></h1>
              <% else %>
                <a href="#" class="btn btn-green delete" onclick="ValidCompra()" >Finalizar</a>
              <% end %>

            <% elsif @cobro.moeda == 1 %>
              <input type="hidden" id="sum" value="<%= format_int( @fecha_result_gs.to_f ) %>">
              <input type="hidden" id="tot" value="<%= format_int((@financ_cred_gs.to_f - @financ_deb_gs.to_f) ) %>">
              <% if @fecha_result_gs.to_f.round(2) != (@financ_cred_gs.to_f - @financ_deb_gs.to_f).round(2) %>
                <h1 style="color:red; float:left; font-size:32px" ><%= t('PENDING') %></h1>
              <% else %>
                <a href="#" class="btn btn-green" onclick="ValidCompra()" >Finalizar</a>
              <% end %>
            <% else %>
              <input type="hidden" id="sum" value="<%= format_decimal( @fecha_result_rs.to_f ) %>">
              <input type="hidden" id="tot" value="<%= format_decimal( (@financ_cred_rs.to_f - @financ_deb_rs.to_f) ) %>">

              <% if @fecha_result_rs.to_f.round(2) != (@financ_cred_rs.to_f - @financ_deb_rs.to_f).round(2) %>
                <h1 style="color:red; float:left; font-size:32px" ><%= t('PENDING') %></h1>
              <% else %>
                <a href="#" class="btn btn-green" onclick="ValidCompra()" >Finalizar</a>
              <% end %>
            <% end %>

            <a href="javascript:void(0)" class="btn btn-blue" onClick="Comprovante()"><%= image_tag('printer.png') %> Comprovante</a>
            
            <%= hidden_field_tag :id, @cobro.id %>
            <a href="/cobros/<%=params[:id]%>" class="btn btn-back" ><%= t('BACK') %></a> 
          </div>          
        </div>
      </div>



    </div>
    <div class="col-md-4">
      <%= render "somatorio_financeira" %>
    </div>
  </div>

<script>

  function busca_cheque_terceiros(){
    window.open('/cobros/cheque_terceiros?moeda='+ <%= @cobro.moeda %> +'&conta_id='+ $("#cobros_financa_conta_id").val(), 'Pagina', ' SCROLLBARS=YES, TOP=50, LEFT=10, WIDTH=1000, HEIGHT=350');
  }


  function ComprovanteRecibo(){
    window.open('/cobros/' + document.getElementById('id').value+'/recibo', 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
  }
  function Comprovante(){
    window.open('/cobros/'+document.getElementById('id').value+'/comprovante', 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
  }  

  function ValidCompra(){
  if (parseFloat(document.getElementById('sum').value) !=  parseFloat(document.getElementById('tot').value)){
        alert('La suma nos igual de la Documento');
      }
      else{
        location.href="/cobros/" + $("#id").val() + "/valida_processo"
      }
    }

  function ComprovanteNC(id){
    window.open('/form_fiscals/nc?id=' + id +'', 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
  }

  function ComprovanteFC(id){
    window.open('/form_fiscals/'+ id +'/impressao_ft', 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
  }
</script>
