<body onload="ssswindow.print()">
<style type="text/css">
@font-face {
  font-family: 'prox';
	src: url("/assets/fonts/proxima-nova.otf") format("opentype");
}

	body {
		font-family: 'prox';
	}

.receipt-container {
    width: 750px;
    padding: 4px;
    margin: auto;
}
	.container-company-logo {
    margin-top: 2px;
    border: 1px solid #c9d3dd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: left;
    background: #ffffff;
}

.container-company-logo .company-logo {
    height: 98px;
    width: 98px;
    position: relative;
    border: 0px;
    margin-top: 0px;
}

.solid-line {
    border-width: 2px 0px 0px;
    border-style: solid;
    color: #000;
}

.receipt-info-column-1 {
    max-width: 390px;
    padding: 0px 15px;
    float: left;
}

.receipt-info-container {
    display: table;
    width: 100%;
    font-size: 15px;
}
.receipt-info-column-2 {
    float: right;
    text-align: right;
    max-width: 230px;
    word-wrap: break-word;
}
.receipt-details {
    padding: 5px 0px;
    text-align: justify;
}
.receipt-date {
    padding-bottom: 85px;
}

.receipt-detail-container {
    width: 100%;
    text-align: center;
}
</style>

<div class="group receipt-container">
<hr class="solid-line">
<div class="receipt-info-container">
	<div class="receipt-info-column-1" style="height: 100px;">
		<span style="font-size: 16px">
			<% unless current_unidade.avatar.url.blank? %>
				<%= image_tag(current_unidade.avatar.url, height: 100 )  %>
			<% else %>
				<h2 style="padding-top: 15px"><%= current_unidade.nome_sys %></h2>
			<% end %>
		</span>
	</div>

	<div class="receipt-info-column-2 pull-right" style="padding-top: 35px">
		<span style="font-size: 18px;">
			<b>#<%= @cobro.id.to_s.rjust(6,'0')%></b>
		</span>
	</div>
</div>

<hr class="solid-line">
<table style="width: 100%; padding: 30px 0px 5px;">
				<tr>
					<td style="flex: 1; font-size: 30px;"><strong><span class="condensed">RECIBO</span></strong></td>
					<td style="flex: 1; text-align: right;"><span style="font-size: 38px;" class="condensed semi-bold">
					<% if @cobro.moeda.to_i == 0 %>
						<span style="font-size: 28px;" class="gray condensed semi-bold">U$</span> <%= format_decimal(@tot_cobro_us) %></span></td>
					<% elsif @cobro.moeda.to_i == 1 %>
						<span style="font-size: 28px;" class="gray condensed semi-bold">Gs</span> <%= format_int(@tot_cobro_gs) %></span></td>
					<% else %>
						<span style="font-size: 28px;" class="gray condensed semi-bold">R$</span> <%= format_decimal(@tot_cobro_rs) %></span></td>
					<% end %>

				</tr>
			</table>
			<hr class="dotted-line"/>

			<div class="receipt-detail-container">
				<div class="receipt-details">Recebemos de: <strong><%= @cobro.persona.nome %></strong></div>
				<div class="receipt-details">A quantia de:
				<strong>
					<% if @cobro.moeda.to_i == 0 %>
						<span class="gray condensed semi-bold">U$</span> <%= format_decimal(@tot_cobro_us) %></span></td>
					<% elsif @cobro.moeda.to_i == 1 %>
						<span class="gray condensed semi-bold">Gs</span> <%= format_int(@tot_cobro_gs) %></span></td>
					<% else %>
						<span class="gray condensed semi-bold">R$</span> <%= format_decimal(@tot_cobro_rs) %></span></td>
					<% end %>
				</strong>
			</div>

			<div class="receipt-details" align="right">Correspondente à: <strong><%= @cobro.cobros_financas.last.descricao %></strong></div>

			<br>
			<br>

			<div class="receipt-date"><%= current_unidade.cidade.nome %>, <%= @cobro.data.strftime("%d/%m/%Y")%>.</div>__________________________________________________<div class="receipt-company"> <%= current_unidade.nome_sys %> <br> <%= current_unidade.ruc %></div>
			</div>
			</div>
