<div class="panel">
  <h1 id="header">
    Cobros
    <div class="pull-right">
        <%= link_to t('new'), new_cobro_path, :class => "button add" %>
    </div>
  </h1>
  <div class="panel-content">
    <%= form_tag busca_cobros_path, :method => "get" do %>
      <table>
        <tr>

          <td align="right">De:</td>
          <td colspan="2">
            <%= text_field_tag :inicio, Time.now.strftime("%d/%m/%Y"), size: 10,  class: "input-addon", onkeyup: "Formatadata(this,event)" %>
            <div class="input-group-addon-f">
              <span class="icon-calendar"></span>
            </div>
          <td style="padding-left: 10px"><%= t("to") %></td>
          <td>
            <%= text_field_tag :final, Time.now.strftime("%d/%m/%Y"), size: 10,  class: "input-addon", onkeyup: "Formatadata(this,event)",required: true %>
            <div class="input-group-addon-f">
              <span class="icon-calendar"></span>
            </div>
          </td>

          <td colspan="4">
            <input id="busca" name="busca" type="text" onkeyup = "pesquisa(this.value)" size="25"/>
            <input type="button" class="btn btn-default" onclick="pesquisa(document.getElementById('busca').value)" value="Buscar"/>
            <%= image_tag("load.gif", align: "absmiddle", border: 0, id: "spinner", width: 21, height: 21, style: "display: none;") %>
          </td>
         </tr>
      </table>
    <% end %>
  </div>
</div>
<div id="pagina"></div>

<script language="javascript">
  function pesquisa(valor){
    url="/cobros/busca?permission_user_update=<%= permission_action_user.u %>&permission_user_delete=<%= permission_action_user.d %>&" + $('form').serialize();
    ajax(url);
  }
</script>
<%= javascript_include_tag 'busca_ajax' %>
