<%= form_for(@boca_cx_produto) do |f| %>
	<% if @boca_cx_produto.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@boca_cx_produto.errors.count, "error") %> prohibited this boca_cx_produto from being saved:</h2>

			<ul>
			<% @boca_cx_produto.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<ul class="tabs">
				<li><a href="#tab1"> Boca de Caja Productos - [<%= t('EDITION') %>]</a></li>
	</ul>

	<div class="group">
		<table>
			<tr>
				<%= f.hidden_field :boca_cx_id, :value => params[:boca_cx_id] %>

				<td align="right">Producto :</td>
				<td><%= f.collection_select :produto_id, Produto.select('id,nome').order('nome'), :id,
							:nome,{},{:class => "selc_medium"} %></td>
			</tr>
			<tr>
				<td align="right">Comisión :</td>
				<td><%= f.text_field :comissao %></td>
			</tr>
		</table>
	</div>

	<div class="buttons">
		<%= f.submit :value => t('SAVE'), :class => "button add" %>
		<%= link_to t('BACK'), boca_cx_path(params[:boca_cx_id]), :class => "button back" %>
	</div>
<% end %>