<%= form_for(@produto_composicaos_vendas_produto) do |f| %>
  <% if @produto_composicaos_vendas_produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@produto_composicaos_vendas_produto.errors.count, "error") %> prohibited this produto_composicaos_vendas_produto from being saved:</h2>

      <ul>
      <% @produto_composicaos_vendas_produto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<ul class="tabs">
      <li><a href="#tab1"> produto_composicaos_vendas_produtos - [Edicion]</a></li>
</ul>

<div class="tab_container">
      <div id="tab1" class="tab_content">
        <table>
          <tr>
            <td width="1000">
              <fieldset>

                <table>
                  <tr>
                                      
                      <td align="right">produto_composicao_id :</td>                    
                      <td><%= f.number_field :produto_composicao_id %></td>
                                      
                      <td align="right">vendas_produto_id :</td>                    
                      <td><%= f.number_field :vendas_produto_id %></td>
                                      </tr>                 
                </table>
              </fieldset>
            </td>
          </tr>
        </table>
      </div>
      
      <div class="buttons">
        <%= f.submit :value => " Grabar ", :class => "button" %>
        <%= link_to 'Volver', produto_composicaos_vendas_produtos_path, :class => "button back" %>        
      </div>

    </div>
<% end %>