
<% turma = "and P.TURMA_ID = #{params[:busca]["turma"]}" unless params[:busca]["turma"].blank? %>
<% persona = "and P.ID = #{params[:persona_id]}" unless params[:persona_id].blank? %>

<%

sql = "SELECT P.ID,
                 P.NOME,
               T.NOME AS ESCOLARIDADE,
               (SELECT CP.DATETIME FROM CHECK_POINTS CP WHERE CP.PERSONA_ID = P.ID AND CP.CHECK_POINT_TYPE = 'ENTRADA' AND DATETIME::DATE = '#{params[:inicio].split("/").reverse.join("-")}' ORDER BY CP.ID DESC LIMIT 1) AS DATETIME_ENTRADA,
               (SELECT CP.DATETIME FROM CHECK_POINTS CP WHERE CP.PERSONA_ID = P.ID AND CP.CHECK_POINT_TYPE = 'SALIDA' AND DATETIME::DATE = '#{params[:inicio].split("/").reverse.join("-")}' ORDER BY CP.ID DESC LIMIT 1) AS DATETIME_SAIDA
          FROM PERSONAS P
          LEFT JOIN TURMAS T
          ON T.ID = P.TURMA_ID
          WHERE P.TIPO_ALUNO = 1
          AND P.UNIDADE_ID = #{params[:unidade_id]}
          #{turma} #{persona}
          ORDER BY 3,2
               "
    @personas = Persona.find_by_sql(sql)

%>

    <% quebra = "" %>
    <% @personas.each do |t| %>

      <% if quebra != t.escolaridade %>
        <% if quebra != "" %>
          </table>
        <% end %>
          <table class="break">
          <tr>
            <td class="head" colspan="6" style="background-color: #ccc;color: #000"><b><%= t.escolaridade %><% quebra = t.escolaridade %></b></td>
          </tr>
      <% end %>

      <tr class="<%= cycle("cor1", "cor2")%>">
        <td width="50"><%= t.id.to_s.rjust(6,'0') %></td>
        <td width="350"><%= t.nome %></td>
        <td width="100"><%= t.escolaridade %></td>
        <td width="100" align="center">
          <%= t.datetime_entrada.to_datetime.in_time_zone('America/Asuncion').strftime("%H:%M:%S") unless t.datetime_entrada.nil? %>
        </td>
        <td width="100" align="center">
          <%= t.datetime_saida.to_datetime.in_time_zone('America/Asuncion').strftime("%H:%M:%S") unless t.datetime_saida.nil? %>                
        </td>
      </tr>
    <% end %>    
  </table>
