<table class="head_grid">
  <tr>
    <td width="50">Código</td>
    <td width="350">Grado</td>
    <td width="350">Usuario</td>
    <td width="200">Ponto</td>
    <td width="50" align="center">Data </td>
    <td width="50" align="center">Hora </td>
  </tr>
</table>

<div class="rolagem" dir="div">
  <table>
    <% @check_points.each do |check_point| %>


      <tr class="<%= cycle("cor1", "cor2")%>"  id="t-<%= check_point.id %>">
        <td width="50"><%= check_point.id.to_s.rjust(6, '0') %></td>
        <td width="350"><%= check_point.persona_id %>-<%= check_point.persona_nome %></td>
        <td width="200"><%= check_point.direcao %></td>
        <td width="200"><%= check_point.check_point_type %></td>
        <td width="50" align="center"><%= check_point.datetime.to_datetime.strftime("%d/%m/%y") %></td>
        <td width="50" align="center"><%= check_point.datetime.to_datetime.strftime("%H:%M") %></td>
        <td><%= link_to '', edit_check_point_path(check_point), class: 'icon-pencil' %></td>
        <td>

          <%= link_to '', '#', onclick:"AtualizaCancelaTitulo(#{check_point.id})", class: 'icon-trash' %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<br>
<br>
<div class="label label-danger" style=" font-size: 12px; margin:10px">
</div>
<br>
<br>
