
<p>
  <strong>Unidade:</strong>
  <%= @afericao.unidade_id %>
</p>

<p>
  <strong>Deposito:</strong>
  <%= @afericao.deposito_id %>
</p>

<p>
  <strong>Persona:</strong>
  <%= @afericao.persona_id %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @afericao.quantidade %>
</p>

<p>
  <strong>Bico:</strong>
  <%= @afericao.bico_id %>
</p>

<p>
  <strong>Custo medio gs:</strong>
  <%= @afericao.custo_medio_gs %>
</p>

<p>
  <strong>Data:</strong>
  <%= @afericao.data %>
</p>


