  <h1 id="header">Rentabilidad</h1>
  <div class="group">
    <h2>
      <%= form_tag resultado_rentabilidade_stocks_path, :method => "get" do %>
        <div class="row">
          <div class="col-md-12">
            <label>Periodo</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
              <div class="input-group">
                <%= text_field_tag :inicio, nil, onkeyup: "Formatadata(this,event)", required: true %>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" >
                    <i class="icon-calendar" aria-hidden="true"></i>
                  </button>
                </span>
              </div>
          </div>

          <div class="col-md-6">
              <div class="input-group">
                <%= text_field_tag :final, nil, onkeyup: "Formatadata(this,event)", required: true %>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" >
                    <i class="icon-calendar" aria-hidden="true"></i>
                  </button>
                </span>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <label>Grupo</label>
            <%= select("busca", "grupo", Grupo.select('id,descricao').order('descricao').collect {|p| [ p.descricao, p.id ] },{prompt: 'Todos..'}) %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <label>Cliente</label>
            <%= text_field_tag :persona_nome, nil, class: 'panel-field' %>
            <%= hidden_field_tag :persona_id , nil  %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <label>Vendedor</label>
              <%= select("busca", "vendedor", Persona.all(:select => 'id,nome',:conditions => ["tipo_vendedor = 1"],:order => 'nome').collect {|p| [ p.nome, p.id ] }, { prompt: 'Todos...'}) %>
          </div>
        </div>


      <div class="row">
        <div class="col-md-3">
          <label>Productos</label>
          <%= text_field_tag :produto_id , nil, class: 'panel-field', placeholder: 'Código' %>
        </div>
        <div class="col-md-9">
          <label>.</label>
          <%= text_field_tag :produto_nome, nil, class: 'panel-field' %>
        </div>

      </div>
        <div class="row">
          <div class="col-md-12">
            <fieldset>
              <legend>Moneda</legend>
              <input type="radio" id="moeda" name="moeda" value="0" <%= 'checked' if current_unidade.moeda.to_i == 0 %> /> Dolares
              <input type="radio" id="moeda" name="moeda" value ="1" <%= 'checked' if current_unidade.moeda.to_i == 1 %> /> Guaranies
              <input type="radio" id="moeda" name="moeda" value="2" <%= 'checked' if current_unidade.moeda.to_i == 2 %> /> Reales
            </fieldset>
          </div>
        </div>

      <div class="row">
        <div class="col-md-12">
          <br>
          <input type="submit" class="btn btn-green" value="Informe"  style="cursor:pointer;" id="acao" data-toggle="modal" data-width="500" data-height="781" data-dismiss="modal" />
          <input id="button" type="submit" class="btn btn-blue" value="Excel" onclick = "Tipo('1')"/>
          <input type="hidden" name="tipo" id="tipo" size="5" value="0"/>

        </div>
      </div>
      <% end %>
    </h2>
  </div>

  <script>
  function Tipo(d){
    document.getElementById('tipo').value = d
  }

  $('#busca_terminal, #busca_grupo').selectize();
  $('#busca_vendedor').selectize();
  $('#busca_clase').selectize();
  $('#busca_colecao').selectize();
</script>

<script>
      $(function() {
      $( "#produto_nome" ).autocomplete({
          source: function( request, response ) {
          $.ajax({
            url: "/buscas/busca_default_produto",
            dataType: "json",
            data: {
              busca: request.term
            },
            success: function( data ) {
              response( data );
            },
          });
        },
        minLength: 2,
        change: function( event, ui ) {
          $("#produto_id").val("");
          $('#produto_id').val(ui.item.id);
          return false;
        }
      });
    });
</script>

<script>


$("#produto_id").change(function(){
  $.ajax({url: "/buscas/busca_default_produto",
          type: 'GET',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          data: "tipo=id&id="+ $("#produto_id").val(),
          error: function(XMLHttpRequest, textStatus, errorThrown) {
                  alert('Producto no Encontrado');
                  $('#produto_id').focus();
                  $('#produto_id').val('');
              },
          success: function(grade){
          $('#produto_nome').val(grade["produto"].nome);

        }
      });
});

</script>



<script>
      $(function() {
      $( "#persona_nome" ).autocomplete({
          source: function( request, response ) {
          $.ajax({
            url: "/personas/busca",
            dataType: "json",
            data: {
              tipo: 'DESCRIPCION',
              busca: request.term
            },
            success: function( data ) {
              response( data );
            },
          });
        },
        minLength: 2,
        change: function( event, ui ) {
          $("#persona_id").val("");
          $('#persona_id').val(ui.item.id);
          return false;
        }
      });
      $( "#cobro_persona_nome" ).change(function(){
        if ($( "#persona_id" ).val() == ''){
        }
      });
    });
</script>

<script>

    $(document).on('submit', 'form', function(event) {
      if ($("#tipo").val() == '0' ) {
        event.preventDefault();
        $('#myiframe').modal('show');
        var width  = $(this).attr('data-width') || 640;
        var height = $(this).attr('data-height') || 760;

        var allowfullscreen = $(this).attr('data-video-fullscreen');

        $("#myiframe iframe").attr({
          'src': '/stocks/resultado_rentabilidade?' + $('form').serialize(),
          'height': height,
          'width': width,
          'allowfullscreen':''
        });

        $('#myiframe').on('hidden.bs.modal', function(){
          $(this).find('iframe').html("");
          $(this).find('iframe').attr("src", "");
        });
      }
    });


</script>

<div class="modal fade" id="myiframe" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document" style=" width: 1100px !important; ">
    <div class="modal-content">
      <div class="modal-header">
        <div class="close-button">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <h4 class="modal-title" id="myModalLabel"><%= t('LISTING') %> Listado de Rentabilidad</h4>
      </div>
      <div class="modal-body" align="center">
        <div class="embed-responsive embed-responsive-16by9" style="height: 460px">
          <iframe class="embed-responsive-item" id="iframeModal" frameborder="0 " border="0"></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="print-nav">Imprimir</button>
      </div>
    </div>
  </div>
</div>

<script>
  $('#print-nav').on('click', function () {
    document.getElementById('iframeModal').contentWindow.print();
  });
</script>

<script>
      $(function() {
      $( "#persona_nome" ).autocomplete({
          source: function( request, response ) {
          $.ajax({
            url: "/personas/busca",
            dataType: "json",
            data: {
              tipo: 'DESCRIPCION',
              busca: request.term
            },
            success: function( data ) {
              response( data );
            },
          });
        },
        minLength: 2,
        change: function( event, ui ) {
          $("#persona_id").val("");
          $('#persona_id').val(ui.item.id);
          return false;
        }
      });
      $( "#cobro_persona_nome" ).change(function(){
        if ($( "#persona_id" ).val() == ''){
        }
      });
    });
</script>


