
<h1 id="header">Autenticación de usuario</h1>
 <div class="group">
	<%= form_for(@user) do |user| %>
			<table>
				<tr>
          <td>
            <label>Login</label>
            <%= user.text_area :email, required: true, rows: 1 %>
          </td>
				</tr>

        <tr>
          <td>
            <label>Senha</label>
            <%= user.password_field :mobile_auth, required: true, rows: 1 %>
          </td>
        </tr>
        <tr>
          <td>
            <label>Empresa</label>
            <%= user.text_area :empresa_nome, required: true, rows: 1 %>
          </td>
        </tr>
        <tr>
          <td>
            <hr>
          </td>
        </tr>
        <tr>
          <td>
            <label>Host</label>
            <%= user.text_area :host, required: true, rows: 1 %>
          </td>
        </tr>
        <tr>
          <td>
            <label>Port</label>
            <%= user.text_area :port, required: true, rows: 1 %>
          </td>
        </tr>

        <tr>
          <td>
            <label>Token</label>
            <%= user.text_area :token, required: true, rows: 1 %>
          </td>
        </tr>

			</table>
    <div class="footer-buttons">
      <%= user.submit "Seguir", class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false"%>
      <%= link_to 'Volver', users_path, :class => "btn btn-back" %>
    </div>
    <% end %>
  </div>
