
<p>
  <strong>Sub grupo:</strong>
  <%= @sub_grupo_preco.sub_grupo_id %>
</p>

<p>
  <strong>Unidad:</strong>
  <%= @sub_grupo_preco.unidade_id %>
</p>

<p>
  <strong>Porcen tabela 01:</strong>
  <%= @sub_grupo_preco.porcen_tabela_01 %>
</p>

<p>
  <strong>Porcen tabela 02:</strong>
  <%= @sub_grupo_preco.porcen_tabela_02 %>
</p>

<p>
  <strong>Porcen tabela 03:</strong>
  <%= @sub_grupo_preco.porcen_tabela_03 %>
</p>

<p>
  <strong>Porcen tabela 04:</strong>
  <%= @sub_grupo_preco.porcen_tabela_04 %>
</p>


