
<p>
  <strong>Romaneio:</strong>
  <%= @romaneio_produto.romaneio_id %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @romaneio_produto.produto_id %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @romaneio_produto.quantidade %>
</p>

<p>
  <strong>Unit dolar:</strong>
  <%= @romaneio_produto.unit_dolar %>
</p>

<p>
  <strong>Total dolar:</strong>
  <%= @romaneio_produto.total_dolar %>
</p>

<p>
  <strong>Bruto:</strong>
  <%= @romaneio_produto.bruto %>
</p>

<p>
  <strong>Tara:</strong>
  <%= @romaneio_produto.tara %>
</p>


