<%= form_for(@config_contabil) do |f| %>
  <% if @config_contabil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@config_contabil.errors.count, "error") %> prohibited this config_contabil from being saved:</h2>

      <ul>
      <% @config_contabil.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<ul class="tabs">
      <li><a href="#tab1"> config_contabils - [<%= t('EDITION') %>]</a></li>
</ul>

<div class="tab_container">
      <div id="tab1" class="tab_content">
        <table>
          <tr>
            <td width="1000">
              <fieldset>

                <table>
                  <tr>
                    <td align="right">Tabla(Operacion) :</td>
                    <td><%= f.text_field :tabela, autofocus: true, size: 40 %></td>
                  </tr>
                  <tr>
                    <td align="right">Rubros Debito:</td>
                    <td colspan="4"><%= f.collection_select :rubro_deb_id, Rubro.all( :select => ' id, descricao',
                                                                      :order  => '2' ), 
                                                                      :id,
                                                                      :descricao %></td>


                    <td align="right">Rubros Credito:</td>
                    <td colspan="4"><%= f.collection_select :rubro_cre_id, Rubro.all( :select => ' id, descricao',
                                                                      :order  => '2' ), 
                                                                      :id,
                                                                      :descricao %></td>
                  </tr>
                </table>
              </fieldset>
            </td>
          </tr>
        </table>
      </div>
      
      <div class="buttons">
        <%= f.submit :value => t('SAVE'), :class => "button" %>
        <%= link_to t('BACK'), config_contabils_path, :class => "button back" %>        
      </div>

    </div>
<% end %>