<%= form_for(@cobraca) do |f| %>
  <% if @cobraca.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cobraca.errors.count, "error") %> prohibited this cobraca from being saved:</h2>

      <ul>
      <% @cobraca.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<ul class="tabs">
      <li><a href="#tab1"> cobracas - [<%= t('EDITION') %>]</a></li>
</ul>

<div class="tab_container">
      <div id="tab1" class="tab_content">
        <table>
          <tr>
            <td width="1000">
              <fieldset>

                <table>
                  <tr>
                    <td align="right">Responsable:</td>
                    <td> <%= f.collection_select :responsavel_id, Persona.all( :select     => ' id,nome,tipo_vendedor',
                                                          :conditions => ["tipo_vendedor = 1"],
                                                          :order      => '2'),:id,:nome, { :include_blank => true },:class => "selc_medium" %></td>

                  </tr>
                  <tr>
                                      
                      <td align="right"><%= t('DATE') %> :</td>                    
                      <td><%= f.date_select :data %></td>
                  </tr>
                  <tr>
                      <td align="right">Notas Vencidas Hasta:</td>                    
                      <td><%= f.date_select :vencimento %></td>
                                      
                  </tr>                 
                </table>
              </fieldset>
            </td>
          </tr>
        </table>
      </div>
      
      <div class="buttons">
        <%= f.submit :value => t('SAVE'), :class => "button" %>
        <%= link_to t('BACK'), cobracas_path, :class => "button back" %>        
      </div>

    </div>
<% end %>