
<h1 id="header"><%= t('DATE') %>   <%=l @cobraca.data %> |
                Vencido Hasta. <%=l @cobraca.vencimento %> |
</h1>

<table>
  <tr>
    <td width="50"align="center">Cod.</td>
    <td width="400"align="left">Persona</td>
    <td width="100"align="left">Telefono</td>
  </tr>
</table>

<div class="rolagem" id="div">
  <table>
    <% @list_contas.each do |l|%>
      <tr class = "<%= cycle("cor1", "cor2")%>">

        <td width="50"align="center"><%= l.id %></td>
        <td width="400"align="left"><%= l.nome %></td>
        <td width="100"align="left"><%= l.telefone %></td>
        <td width="100"align="right"><%= l.vencida_us %></td>
        <td width="100"align="right"><%= l.vencida_gs %></td>
        <td width="100"align="right"><%= l.vencida_rs %></td>
      </tr>
    <% end %>
  </table>

