<%= form_for(@boca_cx) do |f| %>
	<ul class="tabs">
		<li><a href="#tab1"> Boca de Caja - [<%= t('EDITION') %>]</a></li>
	</ul>

	<div class="tab_container">
		<% if @boca_cx.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@boca_cx.errors.count, "error") %> encontrado:</h2>

				<ul>
				<% @boca_cx.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>

		<div id="tab1" class="tab_content">
			<table>
				<tr>
					<td width="500">
						<fieldset>
							<table>
								<tr>
									<td align="right">De:</td>
									<td colspan="8"><%= f.date_select :periodo_inicio %></td>
								</tr>
								<tr>
									<td align="right"><%= t('TO') %>:</td>
									<td colspan="8"><%= f.date_select :periodo_final %></td>
								</tr>
								<tr>
									<td align="right">Nombre:</td>
									<td><%= f.text_field :nome,  :size=>"70" %></td>
								</tr>
							</table>
						</fieldset>
					</td>
				</tr>
			</table>
		</div>

		<div class="buttons">
			<%= f.submit t('SAVE'), :disable_with => "Aguarde...", :class => "button add", "data-plus-as-tab" => "false" %>
			<%= link_to t('BACK'), boca_cxes_path, :class => "button back" %>
		</div>
	</div>
<% end %>


<script type="text/javascript">
	/*$("#cod_busca").change(function(){
		$.ajax({url: "/buscas/busca_sigle_produto",
			type: 'GET',
			beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
			data: "busca=" + escape($("#cod_busca").val()),
			error: function(XMLHttpRequest, textStatus, errorThrown) {
							alert('Producto no Encontrado');
							$('#cod_busca').focus();
							$('#cod_busca').val('');
					},
			success: function(produto){
			$('#boca_cx_produto_id').val(produto["busca"].id);

			}
		});
	});*/

	/*$("#boca_cx_produto_id").blur(function(){
		$.ajax({
			url: "/buscas/busca_preco_produto",
			type: 'GET',
			beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
			data: "busca=" + escape($("#cod_busca").val()),
			error: function(XMLHttpRequest, textStatus, errorThrown) {
						alert('Producto no Encontrado');
						$('#cod_busca').focus();
						$('#cod_busca').val('');
					},
			success: function(produto){
				$('#boca_cx_preco_gs').val(number_format(produto["busca"].preco_1_gs,0, ',', '.'));
				$('#boca_cx_preco_min_gs').val(number_format(produto["busca"].preco_1_gs,0, ',', '.'));
			}
		});
	});*/
</script>

<script type="text/javascript">
	$(document).ready(function () {
		jQuery.validator.setDefaults({
			success: "valid"
		});

		$('form').validate({
			rules: {
				//"boca_cx[produto_id]": {required: true},
				//"boca_cx[preco_gs]": {required: true,  min: 1},
				//"boca_cx[preco_min_gs]": {required: true, min: 1},
				//"boca_cx[comissao]": {required: true},
			}
		});
	});
</script>
