<h1 id="header">Boca de Caja</h1>
<div class="acessos">
	<%= link_to t('NEW'), new_boca_cx_path, :class => "button add" %>
</div>

<table class="head_grid">
	<tr>
		<td width="50" align="center">Cod.</td>
		<td width="150">Nombre</td>
		<td width="100">De</td>
		<td width="100"><%= t('TO') %></td>
	</tr>
</table>

<div class="rolagem" dir="div">
	<table>
		<% @boca_cxes.each do |boca_cx| %>
			<tr class = "<%= cycle("cor1", "cor2") %>">
				<td width="50" align="center"><%= boca_cx.id.to_s.rjust(6,'0') %></td>
				<td width="150"><%= boca_cx.nome %></td>
				<td width="100"><%= boca_cx.periodo_inicio.strftime("%d/%m/%Y") %></td>
				<td width="100"><%= boca_cx.periodo_final.strftime("%d/%m/%Y") %></td>
				<td><%= link_to 'Show', boca_cx %></td>
				<td><%= link_to '', edit_boca_cx_path(boca_cx), class: 'icon-pencil', title: 'Modificar' %></td>
				<td><%= link_to '', boca_cx, method: :delete, class: 'icon-trash', title: t('DELETE'), data: { confirm: 'Esta Seguro?' }  %></td>
			</tr>
		<% end %>
	</table>
</div>

