<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <h1 id="header">
        <div class="pull-left">
        Ordem Entregas
        </div>
        <div class="pull-right">
          <a href="#" class="btn" data-toggle="modal" data-load-url="<%= modal_consulta_ordem_entregas_path %>" data-target="#ModalOrdemEntrega"><span class="material-symbols-outlined">search</span></a>
        </div>
      </h1>
    </div>
  </div>
</div>
<div class="row bord-stpes">
  <div class=" bord-steps">
    <div class="panel">
      <!-- Default panel contents -->
      <div class="pipe-steps-title">
        <div class="contact-action">
          <header class="panel-title">
            Pendiente <%= @ordem_entregas.where(status: 0).count(:id) %>
            <div class="pull-right">

            </div>
          </header>
          <smal>
        </div>
      </div>

      <div class="connectedSortable" id="sortable1" data-box-id="1">
        <% @ordem_entregas.where(status: 0).each do |n| %>
          <%= render partial: "ordens", locals: {n: n} %>
        <% end %>
      </div>
    </div>
  </div>

  <div class=" bord-steps">
    <div class="panel">
      <!-- Default panel contents -->
      <div class="pipe-steps-title">
        <div class="contact-action">
          <header class="panel-title">
            En Separación <%= @ordem_entregas.where(status: 1).count(:id) %>
            <div class="pull-right">

            </div>
          </header>
          <smal>
        </div>
      </div>

      <div class="connectedSortable" id="sortable1" data-box-id="1">
        <% @ordem_entregas.where(status: 1).each do |n| %>
          <%= render partial: "ordens", locals: {n: n} %>
        <% end %>
      </div>
    </div>
  </div>

  <div class=" bord-steps">
    <div class="panel">
      <!-- Default panel contents -->
      <div class="pipe-steps-title">
        <div class="contact-action">
          <header class="panel-title">
            En Curso <%= @ordem_entregas.where(status: 2).count(:id) %>
            <div class="pull-right">

            </div>
          </header>
          <smal>
        </div>
      </div>

      <div class="connectedSortable" id="sortable1" data-box-id="1">
        <% @ordem_entregas.where(status: 2).each do |n| %>
          <%= render partial: "ordens", locals: {n: n} %>
        <% end %>
      </div>
    </div>
  </div>

  <div class=" bord-steps">
    <div class="panel">
      <!-- Default panel contents -->
      <div class="pipe-steps-title">
        <div class="contact-action">
          <header class="panel-title">
            Finalizado <%= @ordem_entregas.where(status: 3).count(:id) %>
            <div class="pull-right">

            </div>
          </header>
          <smal>
        </div>
      </div>

      <div class="connectedSortable" id="sortable1" data-box-id="1">
        <% @ordem_entregas.paginate(:page     => params[:page], :per_page => 30).where(status: 3).each do |n| %>
          <%= render partial: "ordens", locals: {n: n} %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<style>
  .card-time{
    float: right;
  }
  .card-stepp {
    flex-direction: row;
    padding: 6px 8px;
    cursor: pointer;
    margin: 10px 8px;
    min-height: 85px !important;
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%), 0 2px 10px 0 rgb(0 0 0 / 4%);
    border: 1px solid #ddd;
    background-color: #f7f9fc;
  }

  .card-stepp li{
    font-size: 18px;
    padding: 10px;
  }

  .btn-green{
    margin: 20px 0px 15px 0px;
    width: 250px;

  }

  .preparo{
    background-color: #ffc107;
  }

.connectedSortable{
  height: 600px;
  overflow-y: scroll;
}

</style>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="ModalOrdemEntrega">
  <div class="modal-dialog modal-lg" role="document"  style="height: 720px; width: 1200px;">
    <div class="modal-content">
      <div class="modal-header">
        <div class="close-button">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <h2 class="modal-title" id="myModalLabel" align="center">Consulta Ordem Entrega</h2>
      </div>
      <div class="modal-body-oe" style="padding: 10px">

      </div>
    </div>
  </div>
</div>

<script>
  $('#ModalOrdemEntrega').on('show.bs.modal', function (e) {
    var loadurl = $(e.relatedTarget).data('load-url');
    $(this).find('.modal-body-oe').load(loadurl);
  });


</script>