<%= form_for(@usuario_perfil) do |f| %>
  <% if @usuario_perfil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario_perfil.errors.count, "error") %> prohibited this usuario_perfil from being saved:</h2>

      <ul>
      <% @usuario_perfil.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<ul class="tabs">
      <li><a href="#tab1"> usuario_perfils - [<%= t('EDITION') %>]</a></li>
</ul>

<div class="tab_container">
      <div id="tab1" class="tab_content">
        <table>
          <tr>
            <td width="1000">
              <fieldset>

                <table>
                  <tr>

                      <td align="right">Usuario :</td>
                      <td>
                        <%= f.collection_select :usuario_id, Usuario.all(:select => 'id,usuario_nome',:order => '2'),:id,:usuario_nome,{}  %>
                      </td>

                      <td align="right">Menu :</td>
                      <td>
                        <%= f.collection_select :menu_id, Menu.all(:select => 'id,nome',:order => '1 desc'),:id,:nome,{} %>

                      </td>
                      <td align="right">m :</td>
                      <td><%= f.check_box :m %></td>

                      <td align="right">c :</td>
                      <td><%= f.check_box :c %></td>

                      <td align="right">r :</td>
                      <td><%= f.check_box :r %></td>

                      <td align="right">u :</td>
                      <td><%= f.check_box :u %></td>

                      <td align="right">d :</td>
                      <td><%= f.check_box :d %></td>
                                      </tr>
                </table>
              </fieldset>
            </td>
          </tr>
        </table>
      </div>

      <div class="buttons">
        <%= f.submit :value => t('SAVE'), :class => "button" %>
        <%= link_to t('BACK'), usuario_perfils_path, :class => "button back" %>
      </div>

    </div>
<% end %>