
<p>
  <strong>Usuario:</strong>
  <%= @usuario_perfil.usuario_id %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @usuario_perfil.menu_id %>
</p>

<p>
  <strong>C:</strong>
  <%= @usuario_perfil.c %>
</p>

<p>
  <strong>R:</strong>
  <%= @usuario_perfil.r %>
</p>

<p>
  <strong>U:</strong>
  <%= @usuario_perfil.u %>
</p>

<p>
  <strong>D:</strong>
  <%= @usuario_perfil.d %>
</p>


