<h1 id="header">Picos</h1>
<div class="panel-content">
<%= form_for(@bico) do |f| %>
  <div class="row">
    <div class="col-md-12">
      <label>Nombre</label>
      <%= f.text_field :nome, class: 'panel-field' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label>Orden</label>
      <%= f.number_field :ordem, class: 'panel-field'  %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <label>Deposito</label>
      <%= f.collection_select :deposito_id, Deposito.all(:select => 'nome,id', :conditions => ["unidade_id = #{current_unidade.id}"], :order => '2'), :id,:nome, { :include_blank => true }, {class: 'selectize'} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= field_gs_label 'Precio G$:',f,:preco_gs %>
    </div>
    <div class="col-md-6">
      <%= field_us_label 'U$:',f,:preco_us %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <label>Bomba Auto</label>
      <%= f.text_field :bomba_auto, class: 'panel-field' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <label>Pico Auto</label>
      <%= f.text_field :bico_auto, class: 'panel-field' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <br>
      <%= f.check_box :status %> Activo
    </div>
  </div>
    <div class="footer-buttons">
      <%= f.submit "Grabar", class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false"%>
      <%= link_to t('BACK'), cobros_path, :class => "btn btn-back" %>
    </div>
<% end %>
</div>
