
<div class="group">
   <table class="head_grid">
      <tr>
         <td width="200"><%= t('VOUCHER') %></td>
         <td width="450">Producto</td>
         <td width="100" align="right">Cantidad</td>
         <td width="100" align="right">Unit.</td>
         <td width="100" align="right">Total</td>
      </tr>
   </table>

   <div class="rolagem" dir="div" style="height: 200px">
	  <% qtd    = 0 %>
	  <% tot_us = 0 %>
	  <% tot_gs = 0 %>
      <table>

         <% for nota_creditos_detalhe in nota_creditos_detalhes %>
            <tr class = "<%= cycle("cor1", "cor2") %> ">
               <td width="200"><%= nota_creditos_detalhe.venda_id.to_s.rjust(6,'0') %>/<%= nota_creditos_detalhe.documento_numero.to_s.rjust(6,'0') %></td>
               <td width="450" align="left"><%= nota_creditos_detalhe.produto_nome %></td>
                     <td width="100" align="right"><%= number_to_currency(nota_creditos_detalhe.quantidade, :format=>' %n ', :separator => ",") %></td>
               <% if @nota_credito.moeda == 0 %>
                     <td width="100" align="right"><%= number_to_currency(nota_creditos_detalhe.unitario_dolar, :format=>' %n ', :separator => ",") %></td>
                     <td width="100" align="right"><%= number_to_currency(nota_creditos_detalhe.total_dolar,    :format=>' %n ', :separator => ",") %></td>
	  				 <% tot_us += nota_creditos_detalhe.total_dolar.to_f %>
               <% else %>
                     <td width="100" align="right"><%= number_to_currency( nota_creditos_detalhe.unitario_guarani , :format=>' %n ', :precision => 0 )%></td>
                     <td width="100" align="right"><%= number_to_currency( nota_creditos_detalhe.total_guarani ,    :format=>' %n ', :precision => 0 ) %></td>
			  		 <% tot_gs += nota_creditos_detalhe.total_guarani.to_f %>	
               <% end %>
               <td><%= link_to 'Editar', edit_nota_creditos_detalhe_path(nota_creditos_detalhe) %></td>
               <td><%= link_to t('DELETE'), nota_creditos_detalhe, :confirm => t('CONFIRMATION_MESSAGE'), :method => :delete %></td>
            </tr>

	  	    <% qtd    += nota_creditos_detalhe.quantidade.to_f %>

         <% end %>
      </table>
   </div>
   <table>
   		<tr>
   			<td width="540"></td>
            <td width="100" align="right"><%= number_to_currency(qtd, :format=>' %n ', :separator => ",") %></td>
   			<td width="100"></td>
            <% if @nota_credito.moeda == 0 %>
               <td width="100" align="right"><%= number_to_currency(tot_us,    :format=>' %n ', :separator => ",") %></td>
			<% else %>
               <td width="100" align="right"><%= number_to_currency( tot_gs,    :format=>' %n ', :precision => 0 ) %></td>
			<% end %>

   		</tr>
   </table>
</div>