<div class="row">
  <div class="col-md-8">
	<div class="row">
	  <div class="col-md-12">
	  	<div class="panel">
  		<div class="panel-content">
				<h1>Titulos</h1>
			</div>
					<table class="head_grid">
						<tr>
							<td width="80" align="center"><%= t('DATE') %></td>
							<td width="80" align="center">Venc</td>
							<td width="80" align="center">Dias pos <%= t('SALE') %></td>
							<td width="200" align="center"><%= t('DOC') %></td>
							<td width="50" align="center"><%= t('SHARE') %></td>
							<td width="100" align="center">Divida</td>
							<td width="100" align="center">Anterior</td>
							<td width="100" align="center">Saldo</td>
						</tr>
					</table>
					<div class="rolagem" dir="div">
						<table>
							<% @cliente.each do |cl| %>
					          <%  anterior_dolar     = Cliente.sum(:cobro_dolar, :conditions => ["persona_id = ? AND documento_numero_01 = ? AND documento_numero_02 = ? AND documento_numero = ? AND cota = ? ",cl.persona_id,cl.documento_numero_01,cl.documento_numero_02,cl.documento_numero,cl.cota]) %>
		          			  <%  anterior_guarani   = Cliente.sum(:cobro_guarani, :conditions => ["persona_id = ? AND documento_numero_01 = ? AND documento_numero_02 = ? AND documento_numero = ? AND cota = ?",cl.persona_id,cl.documento_numero_01,cl.documento_numero_02,cl.documento_numero,cl.cota]) %>
		          			  <%  saldo_dolar        = cl.divida_dolar - anterior_dolar   %>
		          			  <%  saldo_guarani      = cl.divida_guarani - anterior_guarani   %>

							<tr class = "<%= cycle("cor1", "cor2") %> "
		              						  onClick="Fecha(
		                              '<%= cl.vencimento %>',
		                              '<%= cl.vendedor_id %>',
		                              '<%= cl.vendedor_nome %>',
		                              '<%= cl.documento_numero_01 %>',
		                              '<%= cl.documento_numero_02 %>',
		                              '<%= cl.documento_numero %>',
		                              '<%= cl.cota %>',
		                              '<%= cl.clase_produto.to_i %>')">


								<td width="80" align="center"><%= cl.data.strftime("%d/%m/%Y") %></td>
								<td width="80" align="center"><%= cl.vencimento.strftime("%d/%m/%Y") %></td>
								<td width="80" align="center"><%= @nota_credito.data - cl.data %></td>
								<td width="200" align="center"><%= cl.documento_numero_01 %> - <%= cl.documento_numero_02 %> - <%= cl.documento_numero %></td>
								<td width="50" align="center"><%= cl.cota %></td>
								<% if @nota_credito.moeda.to_f == 0 %>
									<td width="100" align="right"><%= number_to_currency( cl.divida_dolar,    :format=>' %n ', :separator => ",") %></td>
		            				<td width="100" align="right"><%= number_to_currency( anterior_dolar, :format=>' %n ', :separator => ',') %></td>
									<td width="100" align="right"><%= number_to_currency( saldo_dolar,    :format=>' %n ', :separator => ",") %></td>

								<% else %>
									<td width="100" align="right"><%= number_to_currency( cl.divida_guarani,    :format=>' %n ', :precision => 0 ) %></td>
		            				<td width="100" align="right"><%= number_to_currency( anterior_guarani, :format=>' %n ', :precision => 0 ) %></td>
									<td width="100" align="right"><%= number_to_currency( saldo_guarani,    :format=>' %n ', :precision => 0 ) %></td>
								<% end %>
							</tr>
							<% end %>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
  		<div class="col-md-12">
				<div class="panel">
					<div class="panel-content">
						<%= render :partial=>"/nota_creditos_docs/new_doc", :locals=>{:nota_creditos_doc=>NotaCreditosDoc.new(:nota_credito_id=>@nota_credito.id)} %>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
  		<div class="col-md-12">
				<div class="panel">
					<div class="panel-content">
						<%= render :partial=>"/nota_creditos_docs/index_doc", :locals=>{:nota_creditos_docs => @nota_credito.nota_creditos_docs} %>
					</div>
				</div>
			</div>
  	</div>

		<div class="row">
  		<div class="col-md-12">
				<div class="panel">
					<div class="panel-content">
						<a href="/nota_creditos/<%= @nota_credito.id.to_i %>" class="btn btn-blue"><%= t('BACK') %></a>

						<a href="/nota_creditos" class="btn btn-blue">Finalizar</a>
						<a href="javascript:void(0)" class="btn btn-blue" onClick="QzComprovante()"><%= image_tag('printer.png') %> Matricial</a>
						<%= render 'set_print' %>
					</div>
				</div>
			</div>
  	</div>
	</div>

  <div class="col-md-4">
  	<!--  #emiti nota de creciro fiscal  !-->
  	<%= render 'fiscal' %>
	</div>
</div>

<%= hidden_field_tag :id, @nota_credito.id %>
<script>
      function Fecha(vencimento,vendedor_id,vendedor_nome,documento_numero_01,documento_numero_02,documento_numero,cota,clase_produto)
  {
    document.getElementById('nota_creditos_doc_vencimento').value          = vencimento;
    document.getElementById('nota_creditos_doc_vendedor_id').value         = vendedor_id;
    document.getElementById('nota_creditos_doc_vendedor_nome').value       = vendedor_nome;
    document.getElementById('nota_creditos_doc_documento_numero_01').value = documento_numero_01;
    document.getElementById('nota_creditos_doc_documento_numero_02').value = documento_numero_02;
    document.getElementById('nota_creditos_doc_documento_numero').value    = documento_numero;
    document.getElementById('nota_creditos_doc_cota').value                = cota;
    document.getElementById('nota_creditos_doc_clase_produto').value       = clase_produto;
    document.getElementById("nota_creditos_doc_valor_guarani").focus()
  }

  function ComprovanteNC(id){
    window.open('/form_fiscals/nc?id=' + id +'', 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
  }

</script>

