<div class="row">
  <div class="col-md-12">
    <div class="panel">
        <%= form_for(@nota_credito) do |vdc| %>
        Selecione lo Documiento <%= vdc.collection_select :documento_id, 
                    FormFiscal.where("persona_id = #{@nota_credito.persona_id}").select("id, (doc_01 || '.' || doc_02 || '.' || doc) as doc"),:id, :doc, { :prompt => 'Selecione lo documiento' }, { required: true } %>
        <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#nota_credito_documento_id').change(function() {
        $("#edit_nota_credito_<%= @nota_credito.id %>").submit();
    });
  });
</script>


<% unless @nota_credito.documento_id.blank? %>
  <% if @nota_credito.origem_proc.to_i == 1 %>
    <% ff = FormFiscal.where(id: @nota_credito.documento_id).last %>
    <% cl = Cliente.where(id: ff.cod_proc).last %>
    <% cs = ContratoServico.where(contrato_id: cl.cod_proc) %>
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel">
          <header>CDC: <%= ff.cdc %></header>
           <table class="head_grid">
              <tr>
                 <td width="300">Descriptión</td>
                  <td width="300">Obs</td>
                  <td width="60" align="right">Ctd</td>
                  <td width="80" align="right">Unit.</td>
                  <td width="80" align="right">Tot.</td>
              </tr>
         </table>
          <div class="rolagem" id="div">
            <table>
              <% cs.each do |s| %>
                <tr>
                  <td width="300"><%= s.produto.nome %></td>
                  <td width="300"><%= s.obs %></td>
                  <td width="60" align="right"><%= s.quantidade %></td>
                  <% if s.contrato.moeda.to_i == 1 %>
                    <td width="80" align="right"><%= format_int(s.unitario_gs) %></td>
                    <td width="80" align="right"><%= format_int(s.total_gs) %></td>
                  <% else %>
                  <td width="80" align="right"><%= format_decimal(s.unitario_us) %></td>
                  <td width="80" align="right"><%= format_decimal(s.total_us) %></td>
                  <% end %>
                </tr>
              <% end %>
            </table>
          </div>
          
        </div>
      </div>
    </div>

  <% else %>
    <div class="row">
      <div class="col-md-12">
        <div class="panel">
          <%= render :partial=>"produtos" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel">
          <%= render :partial=>"new_detalhe", :locals=>{:nota_creditos_detalhe=>NotaCreditosDetalhe.new(:nota_credito_id=>@nota_credito.id)} %>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="panel">
          <%= render :partial=>"index_detalhe", :locals=>{:nota_creditos_detalhes=> @nota_credito.nota_creditos_detalhes} %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>


<div class="buttons">
  <a href="/nota_creditos/<%= @nota_credito.id.to_i%>/edit" class="btn back"><%= t('BACK') %></a>
  <% if @nota_credito.tipo == 0 %>
    <a href="/nota_creditos" class="btn">Finalizar</a>
    <a href="javascript:void(0)" class="btn print" onClick="Comprovante()"><%= t('VOUCHER') %></a>  
  <% else %>
  <a href="/nota_creditos/<%= @nota_credito.id.to_i%>/documentos" class="btn next">Seguir</a>
  <% end %>
</div>