<style type="text/css">
  .page-break { display:block; clear:both; page-break-after:always; }
  .header{
    border-collapse: collapse;
    font-size: 9px;
  }
  .header{
    font-weight: bold;
    background-color: #999;
  }
  .header_top{
    padding:  0px 0px 0px 0px;
    margin-left: 0px;
    font-family: Verdana;
    text-transform: uppercase;
  }
</style>


<table>

  <% tot_gs_sueldo = 0 %>
  <% tot_gs_sueldo_minimo = 0 %>
  <% tot_gs_ips = 0 %>
  <% tot_gs_sueldo_liquido = 0 %>

  <tr>
    <td><%= t('COIN') %>: G$</td>
  </tr>
  <tr>
    <td class="header"> Unidad</td>
    <td class="header" align="right"> Empleado</td>
    <td class="header" align="right"> Sueldo</td>
    <td class="header" align="right"> Por dia</td>
    <td class="header" align="right"> Por hr</td>
    <td class="header" align="right"> Dias Trabaj</td>
    <td class="header" align="right"> Sueldo Bruto</td>
    <td class="header" align="right"> Aporte Obrero</td>
    <td class="header" align="right"> Sueldo Liquido</td>
    <td class="header" align="right"> Movimiento</td>
  </tr>
  <% uni = "AND unidade_id = #{params[:busca]["unidade"]}" unless params[:busca]["unidade"].blank? %>
  <% Persona.where("estado = 0 and tipo_funcionario = 1 #{uni}").order('unidade_id,nome').each do |sd| %>

    <tr class = "<%= cycle( "cor1", "cor2" )%>">
      <td width="120"><%= sd.unidade.unidade_nome %></td>
      <td width="250"><%= sd.nome %></td>
      <td width="70" align="right"><%= format_int(sd.salario) %></td>
      <td width="70" align="right"><%= format_int(sd.salario.to_f / 30) %></td>
      <td width="70" align="right"><%= format_int(sd.salario.to_f / 255) %></td>
      <td width="70" align="right">30</td>
      <td width="70" align="right"><%= format_int(sd.salario) %></td>
      <td width="70" align="right"><%= format_int(sd.ips.to_f) %></td>
      <td width="70" align="right"><%= format_int( sd.salario_minimo.to_f - sd.ips.to_f ) %></td>
      <td></td>
    </tr>
  <% tot_gs_sueldo += sd.salario.to_f %>
  <% tot_gs_sueldo_minimo += sd.salario_minimo.to_f %>
  <% tot_gs_ips += sd.ips.to_f %>
  <% tot_gs_sueldo_liquido += (sd.salario_minimo.to_f - sd.ips.to_f) %>

  <% end %>

  <tr class="head">
    <td class="header" colspan="2">TOTAL:</td>
    <td class="header" align="right"><%= format_int(tot_gs_sueldo.to_f) %></td>
    <td class="header" colspan="3"></td>
    <td class="header" align="right"><%= format_int(tot_gs_sueldo_minimo.to_f) %></td>
    <td class="header" align="right"><%= format_int(tot_gs_ips.to_f) %></td>
    <td class="header" align="right"><%= format_int(tot_gs_sueldo_liquido.to_f) %></td>
  </tr>
