
<div class="panel">
  <h1 id="header">
    Ordem Cargas    
  </h1>
  <div class="panel-body">

  <%= form_for [:tms, @ordem_carga] do |fo| %>
    <div class="row">
      <div class="col-md-4">
        <label>Cod. Ext</label>
        <%= fo.text_field :cod_ext, class: "panel-field" %>
      </div>

      <div class="col-md-4">
        <label>Status</label>
        <%= fo.select :status, [['Em aberto', 0], ['Em Curso', 1], ['Cancelado', 2], ['Finalizado', 3] ] %>
      </div>

    </div>
    <div class="row">
      <div class="col-md-4">
        <label>Data</label>
        <%= fo.text_field :data, value: (Time.now.strftime("%d/%m/%Y")  if params[:action] != 'edit'), size: 10,  class: "panel-field date", required: true %>
      </div>

      <div class="col-md-4">
        <label>Veiculo</label>
        <% sql = "SELECT F.ID, (RC.PLACA || ' / ' || RR.PLACA) AS PLACA FROM FROTA F INNER JOIN RODADOS RC ON F.RODADO_CV_ID = RC.ID  INNER JOIN RODADOS RR ON F.RODADO_CR_ID = RR.ID " %>
        <%= fo.collection_select :frota_id, Frotum.find_by_sql(sql), :id, :placa, { prompt: ''}, {required: true} %>        
      </div>

      <div class="col-md-4">
        <% if @ordem_carga.pedido_traslado.tipo == 0 || @ordem_carga.pedido_traslado.tipo == 1 %>
        <label>CRT/MIC</label>
        <%= fo.collection_select :pedido_traslado_doc_id, PedidoTrasladoDoc.where(pedido_traslado_id: @ordem_carga.pedido_traslado.id), :id, :mic, { prompt: ''}, {required: true} %>
        <% else %>
          <label>CTe/Maninfeto</label>
          <%= fo.collection_select :pedido_traslado_doc_id, PedidoTrasladoDoc.where(pedido_traslado_id: @ordem_carga.pedido_traslado.id), :id, :manif, { prompt: ''}, {required: true} %>
        <% end %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-9">
        <label>Produto</label>
        <%= fo.collection_select :produto_id, Produto.where(status: true), :id, :nome, { prompt: ''}, {required: true} %>
      </div>

      <div class="col-md-3">
        <label>Peso</label>
        <%= fo.text_field :peso, class: "panel-field" %>
      </div>

    </div>

    <div class="row">
      <div class="col-md-3">
        <label><%= t('COIN') %></label>
        <%= fo.select :moeda, [['R$', 2], ['Gs.', 1], ['U$', 0] ] %>
      </div>

      <div class="col-md-3 valores-gs">
        <%= panel_field_gs_label 'Valor Gs.',fo,:valor_frete_gs %>
      </div>

      <div class="col-md-3 valores-us" hidden>
        <%= panel_field_us_label 'Valor U$',fo,:valor_frete_us %>
      </div>

      <div class="col-md-3 valores-rs" hidden>
        <%= panel_field_us_label 'Valor R$',fo,:valor_frete_rs %>
      </div>
      
      <div class="col-md-3">
        <label>Km Inicio</label>
        <%= fo.text_field :km_inicio, class: "panel-field" %>
      </div>

      <div class="col-md-3">
        <label>Km Final</label>
        <%= fo.text_field :km_final, class: "panel-field" %>
      </div>
    </div>

    <% sql = "SELECT PC.ID,
                     (PG.DESCRICAO || ' > ' || PC.DESCRICAO) AS DESCRICAO
              FROM PLANO_DE_CONTAS PC
              LEFT JOIN PLANO_DE_CONTAS PG
              ON SUBSTRING(PG.CODIGO, 1, 8) = SUBSTRING(PC.CODIGO, 1, 8)
              WHERE LENGTH(PC.CODIGO) >=12 AND LENGTH(PG.CODIGO) =8
              ORDER BY 2"
      plano = PlanoDeConta.find_by_sql(sql)
    %>

    <div class="row">
      <div class="col-md-12">
        <label><%= t('CLASSIFICATION') %></label>
        <%= fo.collection_select :plano_de_conta_id, plano,:id, :descricao,{:prompt => 'Selecione'}, {required: true, class: 'selectize'} %>
      </div>
    </div>

    <div class="footer-buttons">
      <%= fo.submit t('SAVE'), class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false"%>
    </div>    
  <% end %>

</div>
</div>

<script>
  $('#ordem_carga_produto_id, #ordem_carga_frota_id').selectize();  

  $(document).ready(function() {
    if ($("#ordem_carga_moeda").val() == '1') {
      $(".valores-gs").show();
      $(".valores-rs").hide();
      $(".valores-us").hide();

    } else if ($("#ordem_carga_moeda").val() == '0') {
      $(".valores-us").show();
      $(".valores-rs").hide();
      $(".valores-gs").hide();

    } else if ($("#ordem_carga_moeda").val() == '2') {
      $(".valores-rs").show();
      $(".valores-us").hide();
      $(".valores-gs").hide();
    };    
  });
  
  $("#ordem_carga_moeda").change(function() {
      if (this.value == '1') {
        $(".valores-gs").show();
        $(".valores-rs").hide();
        $(".valores-us").hide();

      } else if (this.value == '0') {
        $(".valores-us").show();
        $(".valores-rs").hide();
        $(".valores-gs").hide();

      } else if (this.value == '2') {
        $(".valores-rs").show();
        $(".valores-us").hide();
        $(".valores-gs").hide();
      };
  });  
</script>
