<h1 id="header">Eventos - [<%= t('EDITION') %>]</h1>
<div class="group">
<%= form_for(@evento) do |f| %>
  <% if @evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evento.errors.count, "error") %> prohibited this evento from being saved:</h2>

      <ul>
      <% @evento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <table>
      <tr>
        <td>
          <label><%= t('DATE') %></label>
          <%= f.date_select :data %>
        </td>
      </tr>

      <tr>
        <td>
          <label>Descripción</label>
          <%= f.text_field :nome, class: 'panel-field'  %>
        </td>
      </tr>

      <tr>
        <td>
          <label>Obs</label>
          <%= f.text_area :obs, rows: 5, class: 'panel-field' %>
        </td>
      </tr>

      <tr>
        <td>
          <label>Mensagen Confirmación Whats</label>
          <%= f.text_area :msg_confirm, rows: 5, class: 'panel-field' %>
        </td>
      </tr>


      <tr>
        <td>
          <label>Imagem Cabeçario</label>
          <%= f.file_field :img_top %>          
        </td>
      </tr>

      <tr>
        <td>
          <label>Imagem Rodapé</label>
          <%= f.file_field :img_bottom %>          
        </td>
      </tr>
    </table>
      
    <div class="footer-buttons">
      <%= f.submit "Seguir", class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false"%>
      <%= link_to t('BACK'), eventos_path, :class => "btn btn-back" %>
    </div>

  </div>
<% end %>