
<p>
  <strong>Contrato:</strong>
  <%= @contrato_financa.contrato %>
</p>

<p>
  <strong>Cota:</strong>
  <%= @contrato_financa.cota %>
</p>

<p>
  <strong>Vencimento:</strong>
  <%= @contrato_financa.vencimento %>
</p>

<p>
  <strong>Valor us:</strong>
  <%= @contrato_financa.valor_us %>
</p>

<p>
  <strong>Valor gs:</strong>
  <%= @contrato_financa.valor_gs %>
</p>


