<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <h1 id="header">
        Evento <%= @evento.nome %>
        <small><%= @evento.obs %></small>
        <div class="pull-right">
          <%= @evento.id.to_s.rjust(6,'0') %>
        </div>
      </h1>
      <div class="panel-content">
        <div class="row">
          <div class="col-md-12">
            <label>Nombre</label>
            <b><%= @evento_convidado.nome %></b>            
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label>Doc.</label>
            <b><%= @evento_convidado.doc %></b>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label>Telefone</label>
            <b><%= @evento_convidado.telefone %></b>
          </div>
        </div>
        
        <br>
        <div class="row">
          <div class="col-md-12" align="center">
            <% if @evento_convidado.presente == false %>
              <%= form_for(@evento_convidado) do |f| %>
                <%= f.hidden_field :presente, value: true %>
                <p align="center">
                  <%= f.submit :value => "VALIDAR PRESENÇA", :class => "btn btn-green panel-field" %>
                </p>
              <% end %>
            <% else %>
              <span class="btn-success">Invitado Confirmado</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
        <div class="row">
          <div class="col-md-12" align="center" style="padding: 5px">
            <%= link_to 'Volver', evento_path(@evento_convidado.evento_id), :class => "btn" %>  
          </div>
        </div>    
  </div>

</div>

