<h1 id="header">Conferencia - [<%= t('EDITION') %>]</h1>
 <div class="group">

<%= form_for(@conferencia) do |f| %>
  <% if @conferencia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conferencia.errors.count, "error") %> prohibited this conferencia from being saved:</h2>

      <ul>
      <% @conferencia.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table>
    <tr>
      <td>
        <label><%= t('DATE') %></label>
        <%= f.date_select :data %>
      </td>
            
      <td>
        <fieldset>
          <legend><%= t('COIN') %></legend>
          <% if current_unidade.moeda.to_i == 0 %>
            <%= f.radio_button :moeda, 1 %> Guaranies
            <%= f.radio_button :moeda, 0,  :Checked => "True" %> Dolar
            <%= f.radio_button :moeda, 2 %> Real
          <% elsif current_unidade.moeda.to_i == 1 %>
            <%= f.radio_button :moeda, 1,  :Checked => "True" %> Guaranies
            <%= f.radio_button :moeda, 0 %> Dolar
            <%= f.radio_button :moeda, 2 %> Real            
          <% elsif current_unidade.moeda.to_i == 2 %>
            <%= f.radio_button :moeda, 1 %> Guaranies
            <%= f.radio_button :moeda, 0 %> Dolar
            <%= f.radio_button :moeda, 2,  :Checked => "True" %> Real
          <% end %>
        </fieldset>
      </td>    
    </tr>
    <tr>
      <td colspan="4">
        <fieldset>
          <legend>Tipo</legend>
            <%= f.radio_button :tipo, 0 %> Ajuste
            <%= f.radio_button :tipo, 1 %> Conferencia
        </fieldset>
      </td>
    </tr>

    <tr>
      <td colspan="4">
        <label>Grupo</label>
        <%= f.collection_select :grupo_id, Grupo.all(:select => 'id,descricao',:order => '2'),:id,:descricao, { :prompt => 'Seleccione la grupo' } %>
      </td>
    </tr>

    <tr>      
      <td colspan="4">
        <label>Deposito</label>
        <%= f.collection_select :deposito_id, Deposito.all(:select => 'id,nome', :conditions => "unidade_id = #{current_unidade.id}",:order => '2'),:id,:nome, { :prompt => 'Selecione lo Deposito' } %>
      </td>
    </tr>

    <tr>      
      <td colspan="4">
        <label>Concepto</label>
        <%= f.text_area :obs, rows: 5, cols: '100%', placeholder: 'Concepto' %></td>
    </tr>
  </table>
  <div class="footer-buttons">
    <%= f.submit "Seguir", class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false"%>
    <%= link_to t('BACK'), conferencias_path, :class => "btn btn-back" %>
  </div>
  <% end %>
</div>  

<script>
  $('#conferencia_deposito_id').selectize();
  $('#conferencia_grupo_id').selectize();
</script>
