
<div class="row">
	<div class="col-md-12">
		<div class="panel">
				<h1 id="header">Control de Tickets Consumo</h1>			
			
		<div class="panel-content">
				<style>
          td{
            padding: 12px 5px 12px 5px !important;
            border-bottom: 1px solid #efefef !important;
          }

        </style>

      <table class="head_grid">
        <tr>
          <td width="50" align="center"></td>
          <td width="350">Nombre</td>
          <td width="100">Grado</td>
          <td width="350">Producto</td>          
          <td width="100" align="center">Saldo</td>
        </tr>
      </table>           
			<table>
				<% quebra = "" %>
				<% @tickets.each do |t| %>

					<% if quebra != t.escolaridade %>

            <% if quebra != "" %>

            <% end %>
            	<tr>
		            <td class="head" colspan="6" style="background-color: #ccc;color: #000"><%= quebra = t.escolaridade %></td>
            	</tr>
	        <% end %>

					<tr class="<%= cycle("cor1", "cor2")%>">
						<td width="50"><%= t.persona_id.to_s.rjust(6,'0') %></td>
						<td width="350"><%= link_to t.persona_nome, ticket_detalhe_evento_convidados_path(persona_id: t.persona_id) %></td>
						<td width="100"><%= t.escolaridade %></td>
						<td width="350"><%= t.produto_nome %></td>
						<td width="100" align="center"><%= t.saldo %></td>
					</tr>
				<% end %>
				
			</table>
			</div>
		</div>
	</div>
</div>