<% tot_us = 0 %>
<% tot_gs = 0 %>
<table>
<%= content_tag_for(:tr,  vendas_financa, :class => cycle('cor1','cor2')) do %>
       <td width="50" align="center"><%= vendas_financa.cota %>/<%= vendas_financa.tot_cotas %></td>
       <td width="200">
            <%= vendas_financa.forma_pago.nome %> <%= vendas_financa.cheque %>
            <p><small><%= "(#{vendas_financa.fact_ad_01}-#{vendas_financa.fact_ad_02}-#{vendas_financa.fact_ad})" unless vendas_financa.fact_ad_01.blank? %></small></p>

        </td>
       <% if vendas_financa.moeda.to_i == 0 %>
          <td width="10" align="center">U$</td>
          <td width="100" align="right"><%= format_decimal(vendas_financa.valor_dolar.to_f) %></td>
       <% elsif vendas_financa.moeda.to_i == 1 %>
          <td width="15" align="center">Gs</td>
          <td width="100" align="right"><%= format_int(vendas_financa.valor_guarani.to_f) %></td>
       <% elsif vendas_financa.moeda.to_i == 2 %>
          <td width="15" align="center">R$</td>
          <td width="100" align="right"><%= format_decimal(vendas_financa.valor_real.to_f) %></td>
       <% elsif vendas_financa.moeda.to_i == 3 %>
          <td width="15" align="center">P$</td>
          <td width="100" align="right"><%= format_decimal(vendas_financa.valor_peso.to_f) %></td>
       <% end %>

        <td width="100" align="center">
          <% if vendas_financa.forma_pago_id.to_i == 2 %>
            <%= vendas_financa.vencimento.strftime("%d/%m/%y") %>
          <% else %>
            <%= vendas_financa.diferido.strftime("%d/%m/%y") %>
          <% end %>
        </td>
       <% if @fts.present? %>
          <% if @fts.first.status.to_i != 1 %>
           <% if @mov_cl.to_f == 0 %>
                <td><%= link_to '', edit_vendas_financa_path(vendas_financa), class: 'icon-pencil' %></td>
             <% else %>
                <td><font color="red">Este Documiento ja tiene aplicaciones e no se puede <%= t('DELETE') %>!</font></td>
             <% end %>
          <% end %>
        <% else %>
           <% if @mov_cl.to_f == 0 %>
                <td><%= link_to '', edit_vendas_financa_path(vendas_financa), class: 'icon-pencil' %></td>
                <td><%= link_to '', vendas_financa, :confirm => 'Estas Seguro?', :method => :delete, class: 'icon-trash' %></td>
            <% else %>
                <td><font color="red">Este Documiento ja tiene aplicaciones e no se puede <%= t('DELETE') %>!</font></td>
            <% end %>
        <% end %>
 <% end %>
</table>
