
<p>
  <strong>Usuario:</strong>
  <%= @solicitude.usuario_id %>
</p>

<p>
  <strong>Persona:</strong>
  <%= @solicitude.persona_id %>
</p>

<p>
  <strong>Data:</strong>
  <%= @solicitude.data %>
</p>

<p>
  <strong>Time:</strong>
  <%= @solicitude.time %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @solicitude.obs %>
</p>

<p>
  <strong>Motivo:</strong>
  <%= @solicitude.motivo_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @solicitude.status %>
</p>

<p>
  <strong>Status obs:</strong>
  <%= @solicitude.status_obs %>
</p>


