
<p>
  <strong>Tipo:</strong>
  <%= @operacao_fiscal.tipo %>
</p>

<p>
  <strong>Cfop:</strong>
  <%= @operacao_fiscal.cfop %>
</p>

<p>
  <strong><%= t('NAME') %>:</strong>
  <%= @operacao_fiscal.nome %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @operacao_fiscal.desc %>
</p>


