
<p>
  <strong>Nr comprovante:</strong>
  <%= @transf_cartao_dt.nr_comprovante %>
</p>

<p>
  <strong>Valor gs:</strong>
  <%= @transf_cartao_dt.valor_gs %>
</p>

<p>
  <strong>Valor us:</strong>
  <%= @transf_cartao_dt.valor_us %>
</p>

<p>
  <strong>Valor rs:</strong>
  <%= @transf_cartao_dt.valor_rs %>
</p>

<p>
  <strong>Cartao bandeira:</strong>
  <%= @transf_cartao_dt.cartao_bandeira_id %>
</p>

<p>
  <strong>Transf cartao:</strong>
  <%= @transf_cartao_dt.transf_cartao_id %>
</p>


