
<p>
  <strong>Data:</strong>
  <%= @transf_produto.data %>
</p>

<p>
  <strong>Unidade:</strong>
  <%= @transf_produto.unidade_id %>
</p>

<p>
  <strong>Usuario created:</strong>
  <%= @transf_produto.usuario_created %>
</p>

<p>
  <strong>Deposito:</strong>
  <%= @transf_produto.deposito_id %>
</p>

<p>
  <strong>Produto origem:</strong>
  <%= @transf_produto.produto_origem_id %>
</p>

<p>
  <strong>Produto destino:</strong>
  <%= @transf_produto.produto_destino_id %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @transf_produto.quantidade %>
</p>

<p>
  <strong>Moeda:</strong>
  <%= @transf_produto.moeda %>
</p>

<p>
  <strong>Unitario gs:</strong>
  <%= @transf_produto.unitario_gs %>
</p>

<p>
  <strong>Unitario us:</strong>
  <%= @transf_produto.unitario_us %>
</p>

<p>
  <strong>Unitario rs:</strong>
  <%= @transf_produto.unitario_rs %>
</p>

<p>
  <strong>Total gs:</strong>
  <%= @transf_produto.total_gs %>
</p>

<p>
  <strong>Total us:</strong>
  <%= @transf_produto.total_us %>
</p>

<p>
  <strong>Total rs:</strong>
  <%= @transf_produto.total_rs %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @transf_produto.obs %>
</p>


