<h1 id="header">Tarjeta Operadoras - [<%= t('EDITION') %>]</h1>
 <div class="group">

  <%= form_for(@cartao_bandeira) do |f| %>
    <% if @cartao_bandeira.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cartao_bandeira.errors.count, "error") %> prohibited this cartao_bandeira from being saved:</h2>

      <ul>
      <% @cartao_bandeira.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <table>
      <tr>
        <td>
          <label>Descripción</label>
          <%= f.telephone_field :nome, autofocus: true, required: true %>
        </td>
      </tr>
    </table>

   <div class="footer-buttons">
      <%= f.submit t('SAVE'), class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false"%>
      <%= link_to t('BACK'), cartao_bandeiras_path, :class => "btn btn-back" %>
   </div>
  <% end %>
</div>
