<h1 id="header">Tarjeta Operadoras</h1>
<div class="acessos">
  <%= link_to t('NEW'), new_cartao_bandeira_path, :class => "button add" %>
</div>
<div class="group">
  <table class="head_grid">
    <tr>
    	<td width="110" align="center"><%= t('CODE') %></td>
      <td width="300">Nombre</td>
      <td width="80"></td>
    </tr>
  </table>

  <div class="rolagem" dir="div">
    <table>
      <% @cartao_bandeiras.each do |cartao_bandeira| %>
        <tr>
        	<td width="110" align="center"><%= cartao_bandeira.id.to_s.rjust(6,'0') %></td>
          <td width="300"><%= cartao_bandeira.nome %></td>
          <td><%= link_to '', edit_cartao_bandeira_path(cartao_bandeira), class: 'icon-pencil' %></td>
          <td><%= link_to '', cartao_bandeira, :confirm => 'Estas Seguro?', :method => :delete, class: 'icon-trash' %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>