
<p>
  <strong>Venda:</strong>
  <%= @vendas_analize.venda_id %>
</p>

<p>
  <strong><%= t('PERSON') %>:</strong>
  <%= @vendas_analize.persona_id %>
</p>

<p>
  <strong><%= t('DATE') %>:</strong>
  <%= @vendas_analize.data %>
</p>

<p>
  <strong>Valor us:</strong>
  <%= @vendas_analize.valor_us %>
</p>

<p>
  <strong>Analize:</strong>
  <%= @vendas_analize.analize_id %>
</p>

<p>
  <strong>Solicitude:</strong>
  <%= @vendas_analize.solicitude %>
</p>

<p>
  <strong>Status:</strong>
  <%= @vendas_analize.status %>
</p>

<p>
  <strong>Porce:</strong>
  <%= @vendas_analize.porce %>
</p>

<p>
  <strong>Valor gs:</strong>
  <%= @vendas_analize.valor_gs %>
</p>

<p>
  <strong>Valor rs:</strong>
  <%= @vendas_analize.valor_rs %>
</p>


