
<p>
  <strong><%= t('NAME') %>:</strong>
  <%= @marca.nome %>
</p>

<p>
  <strong>Registro:</strong>
  <%= @marca.registro %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @marca.endereco %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @marca.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @marca.email %>
</p>


