
<div class="group">
	<h2>
		<%= hidden_field_tag :persona_id, params[:persona_id] %>
		<%= hidden_field_tag :vendedor_id,  params[:vendedor_id] %>
		<table class="head_grid">
			<tr>
				<td width="50"></td>
				<td width="60"><%= t('CODE') %></td>
				<td width="150">Marca</td>
				<td width="450">Producto</td>
				<td width="70" align="center">Precio</td>
				<td width="70" align="center">Stock</td>
			</tr>
		</table>
		<div class="rolagem" id="div" style="height: 480px">
			<table>
				<% @produtos.each do |p| %>
				<tr class = "<%= cycle( "cor1", "cor2" )%>"
						onMouseOver="javascript:this.style.backgroundColor='#949494'"
						onMouseOut="javascript:this.style.backgroundColor=''"
						onclick="Fecha( '<%= p.nome %>',
										  '<%= p.produto_id %>',
										  '<%= format_int(p.unitario_guarani.to_f) %>' )">
					<td width="50"></td>
					<td width="60"> <%= p.produto_id.to_s.rjust(6,'0') %> </td>
					<td width="150"> <%= p.fabricante %> </td>
					<td width="450"> <%= p.nome %> </td>
					<td width="70" align="center"> <%= p.unitario_guarani.to_f %> </td>
					<td width="70" align="center"> <%= p.stock.to_f %> </td>
				</tr>
				<% end %>
				<input type="hidden" id="foco" value="-1">
			</table>
		</div>
	</h2>
</div>

<script type="text/javascript">

	function Fecha(nome, produto_id, unitario_guarani, total_guarani){
		window.opener.document.getElementById('produto_nome').value = nome;
	      window.opener.document.getElementById('troca_produto_produto_id').value = produto_id;
	      window.opener.document.getElementById('troca_produto_unitario_gs').value = unitario_guarani;
	      self.close();
  	}

</script>