<div class="group">
  <h1 id="header">Comite [Edición]</h1>
<%= form_for(@comite) do |f| %>
  <% if @comite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comite.errors.count, "error") %> prohibited this comite from being saved:</h2>

      <ul>
      <% @comite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <label>Descriptión</label>
      <%= f.text_field :nome, autofocus: true %>
      <div class="footer-buttons">
        <%= f.submit :value => " Grabar ", :class => "btn btn-green" %>
        <%= link_to 'Volver', comites_path, :class => "btn btn-back" %>
      </div>
    </div>
  </div>


<% end %>
</div>
