
<p>
  <strong><%= t('PERSON') %>:</strong>
  <%= @persona_tabela_desc.persona_id %>
</p>

<p>
  <strong><%= t('DATE') %>:</strong>
  <%= @persona_tabela_desc.data %>
</p>

<p>
  <strong>Conj ensaio:</strong>
  <%= @persona_tabela_desc.conj_ensaio_id %>
</p>

<p>
  <strong>Desc us:</strong>
  <%= @persona_tabela_desc.desc_us %>
</p>

<p>
  <strong>Desc gs:</strong>
  <%= @persona_tabela_desc.desc_gs %>
</p>

<p>
  <strong>Desc rs:</strong>
  <%= @persona_tabela_desc.desc_rs %>
</p>


