
<p>
  <strong>Compra:</strong>
  <%= @compras_depre_apre.compra_id %>
</p>

<p>
  <strong>Anos:</strong>
  <%= @compras_depre_apre.anos %>
</p>

<p>
  <strong>Moeda:</strong>
  <%= @compras_depre_apre.moeda %>
</p>

<p>
  <strong>Depre us:</strong>
  <%= @compras_depre_apre.depre_us %>
</p>

<p>
  <strong>Depre gs:</strong>
  <%= @compras_depre_apre.depre_gs %>
</p>

<p>
  <strong>Depre rs:</strong>
  <%= @compras_depre_apre.depre_rs %>
</p>

<p>
  <strong>Apre us:</strong>
  <%= @compras_depre_apre.apre_us %>
</p>

<p>
  <strong>Apre gs:</strong>
  <%= @compras_depre_apre.apre_gs %>
</p>

<p>
  <strong>Apre rs:</strong>
  <%= @compras_depre_apre.apre_rs %>
</p>

<p>
  <strong>Compras produto:</strong>
  <%= @compras_depre_apre.compras_produto_id %>
</p>

<p>
  <strong><%= t('DATE') %>:</strong>
  <%= @compras_depre_apre.data %>
</p>


