
<p>
  <strong><%= t('PERSON') %>:</strong>
  <%= @persona_contato.persona_id %>
</p>

<p>
  <strong><%= t('NAME') %>:</strong>
  <%= @persona_contato.nome %>
</p>

<p>
  <strong>Telefone 01:</strong>
  <%= @persona_contato.telefone_01 %>
</p>

<p>
  <strong>Ramal 01:</strong>
  <%= @persona_contato.ramal_01 %>
</p>

<p>
  <strong>Telefone 02:</strong>
  <%= @persona_contato.telefone_02 %>
</p>

<p>
  <strong>Ramal 02:</strong>
  <%= @persona_contato.ramal_02 %>
</p>

<p>
  <strong>Setor:</strong>
  <%= @persona_contato.setor %>
</p>

<p>
  <strong><%= t('DATE') %> nascimento:</strong>
  <%= @persona_contato.data_nascimento %>
</p>

<p>
  <strong>Email 01:</strong>
  <%= @persona_contato.email_01 %>
</p>

<p>
  <strong>Email 02:</strong>
  <%= @persona_contato.email_02 %>
</p>


