<h1 id="header">Tamanhos</h1>
<div class="acessos">
  <%= link_to t('NEW'), new_tamanho_path, :class => "button add" %>
</div>

<table class="head_grid">
  <tr>
    <td width="50">Lanz.</td>
    <td width="200">Tamanho</td>
  </tr>
</table>

<div class="rolagem" dir="div">
  <table>
    <% @tamanhos.each do |tamanho| %>
      <tr class = "<%= cycle("cor1", "cor2") %>" >
        <td width="50"><%= tamanho.id.to_s.rjust(6,'0') %></td>
        <td width="200"><%= tamanho.nome %></td>
        <td><%= link_to 'Editar', edit_tamanho_path(tamanho) %></td>
        <td><%= link_to t('DELETE'), tamanho, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </table>
</div>

