
<p>
  <strong>Persona:</strong>
  <%= @persona_banco.persona_id %>
</p>

<p>
  <strong>Banco:</strong>
  <%= @persona_banco.banco_id %>
</p>

<p>
  <strong>Conta:</strong>
  <%= @persona_banco.conta %>
</p>

<p>
  <strong>Ahorro avista:</strong>
  <%= @persona_banco.ahorro_avista %>
</p>

<p>
  <strong>Cda:</strong>
  <%= @persona_banco.cda %>
</p>

<p>
  <strong>Oficial conta:</strong>
  <%= @persona_banco.oficial_conta %>
</p>


