  <% quebra     = "" %>
  <% quebra2    = "" %>
  <% sub_div    = 0 %>
  <% sub_pg     = 0 %>
  <% sub_saldo  = 0 %>

  <% div    = 0 %>
  <% pg     = 0 %>
  <% saldo  = 0 %>
  <table>

   <thead class="report-header">
      <tr>
        <td colspan="13" class="title" align="center">
          <%= current_unidade.nome_sys %> <br>
          Extracto Cliente
        </td>
      </tr>
      <tr>
        <td colspan="10">Fecha: <%= params[:inicio] %> hasta <%= params[:final] %></td>
      </tr>

      <%

          if params[:filtro].to_s == '0'
            filtro = 'En Abertas'
          elsif params[:filtro].to_s == '1'
            filtro = 'Canceladas'
          else
            filtro = 'Todos'
          end

          if params[:moeda].to_s == '0'
            moeda = 'Dolar'
          elsif params[:moeda].to_s == '1'
            moeda = 'Guaranies'
          else
            moeda = 'Reales'
          end
      %>


      <tr>
        <td colspan="10">Filtro: <%= filtro %></td>
      </tr>

      <tr>
        <td colspan="10">Moneda: <%= moeda %></td>
      </tr>

      <tr class="td-header">
        <td width="50"  align="center">Fecha</td>
        <td width="50"  align="center">Venc.</td>
        <td width="50"  align="center">Fecha Pg</td>
        <td width="120"><small>Centro Costo</small></td>
        <td width="280"><small>Descripción</small></td>
        <td width="50">Doc.</td>
        <td width="40"  align="center">Cuota</td>
        <td width="70" align="right">Divida</td>
        <td width="70" align="right">Cobrado</td>
        <td width="70" align="right">Saldo</td>
        <td width="25" align="center">Dias</td>
        <td width="70" align="right">Interes</td>
        <td width="70" align="right">Saldo Corrigido</td>


      </tr>
    </thead>
    <% vencido = 0 %>
    <% interes = 0 %>
    <% saldo_interes = 0 %>
    <% tot_dias_atraso = 0 %>

    <% @clientes.each do |c| %>
     <% if quebra != c.persona_nome %>

        <% if quebra != "" %>
          <% if params[:moeda] == '1' %>
            <tr class="head">
              <td colspan="7"></td>
              <td width="70" align="right"><%= format_int(sub_div.to_f) %></td>
              <td width="70" align="right"><%= format_int(sub_pg.to_f) %></td>
              <td width="70" align="right"><%= format_int(sub_saldo.to_f) %></td>
            </tr>
          <% else %>

            <tr class="head">
              <td colspan="7"></td>
              <td width="70" align="right"><%= format_decimal(sub_div.to_f) %></td>
              <td width="70" align="right"><%= format_decimal(sub_pg.to_f) %></td>
              <td width="70" align="right"><%= format_decimal(sub_saldo.to_f) %></td>
            </tr>

          <% end %>
        <% end %>
        <tr>
          <td class="head" colspan="12"><%= c.persona_id %> - <%= quebra = c.persona_nome %></td>
        </tr>

        <% sub_div    = 0 %>
        <% sub_pg     = 0 %>
        <% sub_saldo  = 0 %>

     <% end %>
      <% if params[:moeda] == '0' %>
        <% saldo_dolar = (c.divida_dolar.to_f - c.anterior_us.to_f) %>
      <% elsif params[:moeda] == '1' %>
        <% saldo_guarani = (c.divida_guarani.to_f - c.anterior_gs.to_f) %>
      <% else %>
        <% saldo_real = (c.divida_real.to_f - c.anterior_rs.to_f) %>
      <% end %>

      <tr class = "<%= cycle( "cor1", "cor2" ) %>" >

        <!-- calculo de interes -->
        <% if params[:int] == '0' %>
          <% dias = Date.today - c.vencimento.to_date  %>
          <% if dias >= 0  %>
              <% interes_gs = ( ( dias.to_i * Empresa.last.taxa_interes.to_f ) * (c.divida_guarani.to_f - c.cobro_guarani.to_f) ) / 100  %>
          <% else %>
             <% interes_gs = 0  %>
          <% end %>
        <% else %>
          <% interes_gs = 0  %>
        <% end %>



           <% if c.vencimento.to_date < Time.now.to_date %>
            <% vencido += (c.divida_guarani.to_f - c.cobro_guarani.to_f) %>
            <% vec = "style=\" background-color: #fa3e40; padding: 2px; color:#fff; border-radius: 4px \" " %>
          <% end %>

        <td width="50"  align="center"><%= c.data.strftime("%d/%m/%y")%></td>
        <td width="50"  align="center"><%= c.vencimento.strftime("%d/%m/%y")%></td>
        <td width="50"  align="center"><%= c.pg_data.to_date.strftime("%d/%m/%y") unless c.pg_data.nil? %></td>
        <td width="120"><small><%= c.centro_custo_nome %></small></td>
        <td width="280"><small><%= c.descricao %></small></td>
        <td width="50"><%= c.documento_numero %></td>
        <td width="40"  align="center"><%= c.cota %>/<%= c.tot_cotas %></td>
        <% if params[:moeda] == '0' %>
          <td width="70" align="right"><%= format_decimal(c.divida_dolar.to_f) %> </td>
          <td width="70" align="right"><%= format_decimal(c.anterior_us.to_f) %> </td>
          <td width="70" align="right"><%= format_decimal(saldo_dolar.to_f) %> </td>
          <% sub_div    += c.divida_dolar.to_f %>
          <% sub_pg     += c.anterior_us.to_f %>
          <% sub_saldo  += saldo_dolar.to_f %>

          <% div    += c.divida_dolar.to_f %>
          <% pg     += c.anterior_us.to_f %>
          <% saldo  += saldo_dolar.to_f %>

        <% elsif params[:moeda] == '1' %>
          <td width="70" align="right"><%= format_int(c.divida_guarani.to_f) %> </td>
          <td width="70" align="right"><%= format_int(c.anterior_gs.to_f) %> </td>
          <td width="70" align="right"><%= format_int(saldo_guarani.to_f) %> </td>
          <td width="25" align="center"><%= (Time.now.to_date - c.vencimento.to_date).to_i  %></td>
          <td width="70" align="right"><%= format_int(interes_gs) %></td>
          <td width="70" align="right"><%= format_int((c.divida_guarani.to_f - c.cobro_guarani.to_f) + interes_gs.to_f) %></td>
          <% tot_dias_atraso += (Time.now.to_date - c.vencimento.to_date).to_i %>

          <% sub_div    += c.divida_guarani.to_f %>
          <% sub_pg     += c.anterior_gs.to_f %>
          <% sub_saldo  += saldo_guarani.to_f %>

          <% div    += c.divida_guarani.to_f %>
          <% pg     += c.anterior_gs.to_f %>
          <% saldo  += saldo_guarani.to_f %>

          <% interes += interes_gs.to_f %>
          <% saldo_interes += (c.divida_guarani.to_f - c.cobro_guarani.to_f) + interes_gs.to_f %>

        <% else %>
          <td width="70" align="right"><%= format_decimal(c.divida_real.to_f) %> </td>
          <td width="70" align="right"><%= format_decimal(c.anterior_rs.to_f) %> </td>
          <td width="70" align="right"><%= format_decimal(saldo_real.to_f) %> </td>
          <% sub_div    += c.divida_real.to_f %>
          <% sub_pg     += c.anterior_rs.to_f %>
          <% sub_saldo  += saldo_real.to_f %>

          <% div    += c.divida_real.to_f %>
          <% pg     += c.anterior_rs.to_f %>
          <% saldo  += saldo_real.to_f %>

        <% end %>
      </tr>
    <% end %>
  <% if params[:moeda] == '1' %>
    <tr class="head">
      <td colspan="7"></td>
      <td width="70" align="right"><%= format_int(sub_div.to_f) %> </td>
      <td width="70" align="right"><%= format_int(sub_pg.to_f) %> </td>
      <td width="70" align="right"><%= format_int(sub_saldo.to_f) %> </td>
    </tr>

    <tr class="head">
      <td colspan="7"></td>
      <td width="70" align="right"><%= format_int(div.to_f) %> </td>
      <td width="70" align="right"><%= format_int(pg.to_f) %> </td>
      <td width="70" align="right"><%= format_int(saldo.to_f) %> </td>
      <td width="25" align="right"><%= tot_dias_atraso %></td>
      <td width="70" align="right"><%= format_decimal(interes.to_f) %> </td>
      <td width="70" align="right"><%= format_decimal(saldo_interes.to_f) %> </td>

    </tr>
  <% else %>

    <tr class="head">
      <td colspan="7"></td>
      <td width="70" align="right"><%= format_decimal(sub_div.to_f) %> </td>
      <td width="70" align="right"><%= format_decimal(sub_pg.to_f) %> </td>
      <td width="70" align="right"><%= format_decimal(sub_saldo.to_f) %> </td>
    </tr>

    <tr class="head">
      <td colspan="7"></td>
      <td width="70" align="right"><%= format_decimal(div.to_f) %> </td>
      <td width="70" align="right"><%= format_decimal(pg.to_f) %> </td>
      <td width="70" align="right"><%= format_decimal(saldo.to_f) %> </td>
    </tr>

  <% end %>
  </table>
</div>
