
<%= form_for [consumicao_interna,consumicao_interna_produto] do |f| %>
	<% if consumicao_interna_produto.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(consumicao_interna_produto.errors.count, "error") %> <%=  t('ERROR_ASSET_MESSAGE') %></h2>

			<ul>
				<% consumicao_interna_produto.errors.full_messages.each do |msg| %>
					<li>
						<%= msg %>
					</li>
				<% end %>
			</ul>
		</div>
	<% end %>

	 <%= f.hidden_field :cotacao,:value =>   @consumicao_interna.cotacao.to_i %>
	 <%= f.hidden_field :moeda,:value => @consumicao_interna.moeda  %>
	 <%= f.hidden_field :data,:value => @consumicao_interna.data  %>
   <%= f.hidden_field :abastecida_id %>

	<div class="group">
		<table>
			<tr>
				<td>
          <label>Deposito</label>
					<%= f.collection_select :deposito_id, Deposito.all(:select => 'id,nome',:conditions => ["unidade_id = #{@consumicao_interna.unidade_id}"], :order => '2'),:id, :nome %>
				</td>

        <% if Empresa.last.segmento.to_i == 4 %>
          <td>
            <a href="#" class="btn btn-blue" data-toggle="modal" data-load-url="<%= modal_abastecidas_abastecidas_path(consumicao_interna_id: @consumicao_interna.id) %>" data-target="#ModalAbastecidas"><span class="material-symbols-outlined" style="color: #fff">local_gas_station</span></a>
          </td>
        <% end %>


        <td>
          <label>Producto</label>
          <%= text_field :cod, :busca,
              :size        => 20, :placeholder => 'Ref. / Cod. Barra', :autofocus   => true %>
              <%= image_tag("load.gif", align: "absmiddle", border: 0, id: "spinner", width: 21, height: 21, style: "position: absolute; left: 320px; top: 50%; display: none;") %>

          <%= f.text_field :produto_nome, size: 56, autofocus: true, required: true %>
          <%= f.hidden_field :produto_id, required: true %>
        </td>


				<td>
          <label>Cantidad</label>
					<%= f.text_field :quantidade, size: 8, value: 1 %>
          <%= f.submit t('SAVE'), :class => 'button add', :disable_with => "Aguarde...", "data-plus-as-tab" => "false" %>
				</td>
        <td class="padding-btn">Stock: <span id="sum_stock"></span></td>
			</tr>
		</table>
	</div>
<% end %>

<script type="text/javascript">

$("#cod_busca").change(function(){
  $('#spinner').show();
  $.ajax({url: "/buscas/busca_produto",
          type: 'GET',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          data: {
            "cod": this.value,
            "tipo_cod": 'BARRA',
            "data": '<%= @consumicao_interna.data %>',
            "deposito_id": $("#consumicao_interna_produto_deposito_id").val(),
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
                  alert('Producto no Encontrado');
                  $('#cod_busca').focus();
                  $('#cod_busca').val('');
              },
          success: function(grade){
            $('#consumicao_interna_produto_produto_nome').val(grade["produto"].nome);
            $('#consumicao_interna_produto_produto_id').val(grade["produto"].id);
            $('#sum_stock').text(grade["sum_stock"]);
            $('#spinner').hide("slow");
        }
      });
});


$(function() {
  $( "#consumicao_interna_produto_produto_nome" ).autocomplete({
      source: function( request, response ) {
      $.ajax({
        url: "/buscas/search_all_produtos",
        dataType: "json",
        data: {
          tipo: 'DESCRIPCION',
          busca: request.term
        },
        success: function( data ) {
          response( data );
        },
      });
    },
    minLength: 2,
    select: function( event, ui ) {
      $("#consumicao_interna_produto_produto_id").val("");
      $('#consumicao_interna_produto_produto_id').val(ui.item.id);
      $('#consumicao_interna_produto_produto_nome').val(ui.item.name);
      var deposito = $('#consumicao_interna_produto_deposito_id').val()

      $.ajax({url: "/buscas/busca_conferencia_produto",
                type: 'GET',
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                data: "cod=" + ui.item.id +
                      "&deposito_id= " + deposito +
                      "&dt=" + $('#consumicao_interna_produto_data').val() +
                      "&filtro=descr",
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert('Producto no Encontrado');
                        $('#cod_busca').focus();
                        $('#cod_busca').val('');
                    },
                success: function(grade){
                $('#consumicao_interna_produto_produto_nome').val(grade["produto"].produto_nome);
                $('#consumicao_interna_produto_produto_id').val(grade["produto"].produto_id);
                $('#saldo').val((grade["produto"].saldo_atual).replace(".", ",") );

              }
            });
      return false;

    }
  });
});

</script>



<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="ModalAbastecidas">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="height: 720px; width: 400px">
      <div class="modal-header">
        <div class="close-button">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <h2 class="modal-title" id="myModalLabel" align="center">Abastecidas </h2>
      </div>
      <div class="modal-body-oe" style="padding: 10px" align="center">
        <%= image_tag("load.gif", align: "absmiddle", border: 0, id: "spinner-b", width: 21, height: 21, style: "display: none;") %>

        <script type="text/javascript">
          function AddVenda(id, produto_id, litros, preco, total, deposito_id, bico_id, produto_nome, data){
              $("#consumicao_interna_produto_abastecida_id").val(id);
              $("#consumicao_interna_produto_produto_nome").val(produto_nome);
              $("#consumicao_interna_produto_produto_id").val(produto_id);
              $("#consumicao_interna_produto_quantidade").val(number_format( litros,3, ',', '.') );
              $("#consumicao_interna_produto_deposito_id").val(deposito_id);

              $('#ModalAbastecidas').modal('hide');
          }
        </script>

      </div>
    </div>
  </div>
</div>

<script>
  document.onkeyup = function(c) {
    if(c.which == 187){
      $('#spinner-b').show();
      $("#ModalAbastecidas").modal("show");
      $('.modal-body-oe').load('<%= modal_abastecidas_abastecidas_path(consumicao_interna: @consumicao_interna.id) %>', function(){
        $('#spinner-b').hide("slow");
      });
    }

  }

  $('#ModalAbastecidas').on('show.bs.modal', function (e) {
    $('#spinner-b').show();
    var loadurl = $(e.relatedTarget).data('load-url');
    $(this).find('.modal-body-oe').load(loadurl, function(){
      $('#spinner-b').hide("slow");
    });
  });
</script>