<h1 id="header">Extracto Bancario</h1>
<div class="group">
  <%= form_tag resultado_extrato_bancario_financas_path, :method => "get" do %>
    <table>
      <tr>
        <td colspan="4">
          <label>Periodo</label>
          <%= text_field_tag :inicio, Time.now.strftime("%d/%m/%Y"), size: 10,  class: "input-addon", onkeyup: "Formatadata(this,event)" %>
          <div class="input-group-addon-f">
            <span class="icon-calendar"></span>
          </div>
          <div class="date-separ"><%= t('TO') %></div>
          <%= text_field_tag :final, Time.now.strftime("%d/%m/%Y"), size: 10,  class: "input-addon", onkeyup: "Formatadata(this,event)",required: true %>
          <div class="input-group-addon-f">
          <span class="icon-calendar"></span>
          </div>
        </td>
      </tr>
          <tr>
            <td colspan="4">
              <label><%= t('ACCOUNT') %></label>

                <% if current_unidade.conta_multi_unidades == true %>
                  <%= select_tag :busca_conta, options_from_collection_for_select(Conta.where( tipo: 1).select('id,nome').order('2'), :id, :nome), {:multiple => true, required: true, class: 'selectize'} %>
                <% else %>
                  <%= select_tag :busca_conta, options_from_collection_for_select(Conta.where( tipo: 1, unidade_id: current_unidade.id ).select('id,nome').order('2'), :id, :nome), {:multiple => true, required: true, class: 'selectize'} %>
                <% end %>
              </td>
           </tr>
      <tr>
        <td colspan="4">
          <label><%= t('CHECKS') %></label>
          <input name="cheque" id="cheque"  class="panel-field"  type="text" placeholder="Buscar Cheque" />
        </td>
      </tr>

      <tr>
        <td style="padding: 10px 10px">
          <a href="#" data-value="false" title="Registro" class="TipoData checked" ><%= t('DATE') %> del Registro</a>
        </td>
        <td align="center">
          <a href="#" data-value="true" title="Conciliación" class="TipoData" ><%= t('DATE') %>  Conciliación</a>
        </td>
        <%= hidden_field_tag :conciliacao, 'false' %>
      </tr>

      <tr>
        <td style="padding: 10px 10px">
          <a href="#" data-value="1" title="Registro" class="Filtro checked" >Detallado</a>
        </td>

        <td align="center">
          <a href="#" data-value="3" title="Acerto" class="Filtro" >Acerto</a>
        </td>

        <td align="center">
          <a href="#" data-value="2" title="Conciliación" class="Filtro" >Agrupado por <%= t('DOC') %></a>
        </td>

        <%= hidden_field_tag :filtro, 0 %>
      </tr>
      <tr>
        <td style="padding: 10px 10px"><%= check_box_tag :futuros, true %> Mostrar Lanz. Fucturos</td>
      </tr>


      <tr>
        <td colspan="4" class="footer-buttons">
          <input  id="button" class="acao btn btn-green" value="Informe"  style="cursor:pointer;" id="myModalLabel" data-toggle="modal" data-width="500" data-height="781" data-target="#myiframe" data-dismiss="modal" />
          <input  id="button" type="submit" class="btn btn-blue" value="Excel" onclick = "Tipo('1')"/>
      </tr>

      <input type="hidden" name="tipo" id="tipo" size="5" value="0"/>

    </table>
  <% end %>
</div>


<div class="modal fade" id="myiframe" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document" style=" width: 1100px !important; ">
    <div class="modal-content">
      <div class="modal-header">
        <div class="close-button">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <h4 class="modal-title" id="myModalLabel">Extracto Bancario</h4>
      </div>
      <div class="modal-body" align="center">
        <div class="embed-responsive embed-responsive-16by9" style="height: 460px">
          <iframe class="embed-responsive-item" id="iframeModal" frameborder="0 " border="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $(".TipoData").click(function() {
      $("#conciliacao").val($(this).attr('data-value'));
      $(".TipoData").css("border-bottom", "none");
      $(".TipoData").css("color", "#918f8f");
      $(this).css("border-bottom", "2px solid #B94A48");
      $(this).css("text-align", "center");
      $(this).css("color", "#B94A48");
    });

    $(".Filtro").click(function() {
      $("#filtro").val($(this).attr('data-value'));
      $(".Filtro").css("border-bottom", "none");
      $(".Filtro").css("color", "#918f8f");
      $(this).css("border-bottom", "2px solid #B94A48");
      $(this).css("text-align", "center");
      $(this).css("color", "#B94A48");
    });
  });

( function($) {

function iframeModalOpen(){

    $('.acao').on('click', function(e) {
      var width  = $(this).attr('data-width') || 640; // larghezza dell'iframe se non impostato usa 640
      var height = $(this).attr('data-height') || 760; // altezza dell'iframe se non impostato usa 360

      var allowfullscreen = $(this).attr('data-video-fullscreen'); // impostiamo sul bottone l'attributo allowfullscreen se è un video per permettere di passare alla modalità tutto schermo

      // stampiamo i nostri dati nell'iframe
      $("#myiframe iframe").attr({
        'src': '/financas/resultado_extrato_bancario?' + $('form').serialize(),
        'height': height,
        'width': width,
        'allowfullscreen':''
      });
    });

    // se si chiude la modale resettiamo i dati dell'iframe per impedire ad un video di continuare a riprodursi anche quando la modale è chiusa
    $('#myiframe').on('hidden.bs.modal', function(){
      $(this).find('iframe').html("");
      $(this).find('iframe').attr("src", "");
    });
  }

  $(document).ready(function(){
    iframeModalOpen();
  });

  } ) ( jQuery );

</script>
