<h1 id="header">Pagamentos</h1>
   <div class="group">
      <%= form_tag resultado_pagamentos_financas_path, :method => "get" do%>
     <% sql = "SELECT PC.ID,
                         (PG.DESCRICAO || ' > ' || PC.DESCRICAO) AS DESCRICAO
                  FROM PLANO_DE_CONTAS PC
                  LEFT JOIN PLANO_DE_CONTAS PG
                  ON SUBSTRING(PG.CODIGO, 1, 8) = SUBSTRING(PC.CODIGO, 1, 8)
                  WHERE LENGTH(PC.CODIGO) >=12 AND LENGTH(PG.CODIGO) =8
                  ORDER BY 2"
          plano = PlanoDeConta.find_by_sql(sql)
        %>      
        <table>
          <tr>
            <td colspan="4">
              <label>Periodo</label>
              <%= text_field_tag :inicio, Time.now.strftime("%d/%m/%Y"), size: 10,  class: "input-addon", onkeyup: "Formatadata(this,event)" %>
              <div class="input-group-addon-f">
                <span class="icon-calendar"></span>
              </div>
              <div class="date-separ">hasta</div>
              <%= text_field_tag :final, Time.now.strftime("%d/%m/%Y"), size: 10,  class: "input-addon", onkeyup: "Formatadata(this,event)",required: true %>
              <div class="input-group-addon-f">
              <span class="icon-calendar"></span>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="4">
              <label>Proveedor</label>
               <%=   select("busca", "prov", Persona.all(:select => 'id,nome',:conditions => ['tipo_fornecedor = 1'],:order => 'nome').collect {|p| [ p.nome, p.id ] }, { :prompt => 'Todos...' })   %>
            </td>
          </tr>

          <tr>
            <td colspan="4">
              <label>Centro Custos</label>
               <%=   select("busca", "cc", CentroCusto.all(:select => 'id,nome',:order => 'nome').collect {|p| [ p.nome, p.id ] }, { :prompt => 'Todos...' })   %>
            </td>
          </tr>


          <tr>
            <td colspan="4">
              <label>Clasifición</label>
               <%=   select("busca", "clasif", plano.collect {|p| [ p.descricao, p.id ] }, { :prompt => 'Todos...' })   %>
            </td>
          </tr>
          <tr>
            <td>
            <fieldset>
              <input type="radio" id= "detalhe" name="detalhe" value="0" checked="checked" /> Detalhado
              <input type="radio" id= "detalhe" name="detalhe" value="1" /> Sintetico por Clasificación
            </fieldset>
            </td>
          </tr>
          <tr>
            <td colspan="4" class="footer-buttons">
              <input  id="button" class="acao btn btn-green" value="Informe"  style="cursor:pointer;" id="myModalLabel" data-toggle="modal" data-width="500" data-height="781" data-target="#myiframe" data-dismiss="modal" />
              <input  id="button" type="submit" class="btn btn-blue" value="Excel" onclick = "Tipo('1')"/>
          </tr>
          <input type="hidden" name="tipo" id="tipo" size="5" value="0"/>
          <input type="hidden" name="filtro" id="filtro" value="0"/>


        </table>
     <% end %>
</div>


<div class="modal fade" id="myiframe" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document" style=" width: 1100px !important; ">
    <div class="modal-content">
      <div class="modal-header">
        <div class="close-button">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <h4 class="modal-title" id="myModalLabel">Pagamentos</h4>
      </div>
      <div class="modal-body" align="center">
        <div class="embed-responsive embed-responsive-16by9" style="height: 460px">
          <iframe class="embed-responsive-item" id="iframeModal" frameborder="0 " border="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('#busca_prov, #busca_clasif, #busca_cc').selectize();
( function($) {

function iframeModalOpen(){

    $('.acao').on('click', function(e) {
      var width  = $(this).attr('data-width') || 640; // larghezza dell'iframe se non impostato usa 640
      var height = $(this).attr('data-height') || 760; // altezza dell'iframe se non impostato usa 360

      var allowfullscreen = $(this).attr('data-video-fullscreen'); // impostiamo sul bottone l'attributo allowfullscreen se è un video per permettere di passare alla modalità tutto schermo

      // stampiamo i nostri dati nell'iframe
      $("#myiframe iframe").attr({
        'src': '/financas/resultado_pagamentos?' + $('form').serialize(),
        'height': height,
        'width': width,
        'allowfullscreen':''
      });
    });

    // se si chiude la modale resettiamo i dati dell'iframe per impedire ad un video di continuare a riprodursi anche quando la modale è chiusa
    $('#myiframe').on('hidden.bs.modal', function(){
      $(this).find('iframe').html("");
      $(this).find('iframe').attr("src", "");
    });
  }

  $(document).ready(function(){
    iframeModalOpen();
  });

  } ) ( jQuery );

</script>
