<%= form_tag resultado_conciliacao_bancaria_financas_path, :method => :get do %>
<input name="filtro"  id="filtro"   size="10" type="hidden" value="0"/></td>
<div class="row">
  <div class="col-md-12">
    <div class="panel">
     <header class="panel-heading">
        Conciliação Bancaria
     </header>
      <div class="panel-content">
        <div class="row">
          <div class="col-md-2">
            <label>Tipo Fecha</label>
            <%= select_tag :filtro_data, options_for_select([["Fecha Lanz","data"],["Fecha Concil.","data_conciliacao"]], selected: params[:filtro_data]) %>
          </div>
          <div class="col-md-4">
            <label>Periodo</label>
            <%= text_field_tag :inicio, params[:inicio], size: 10,  class: "input-addon", onkeyup: "Formatadata(this,event)" %>
            <div class="input-group-addon-f" >
              <span class="icon-calendar"></span>
            </div>
            <div class="date-separ"><%= t('TO') %></div>
            <%= text_field_tag :final, params[:final], size: 10,  class: "input-addon", onkeyup: "Formatadata(this,event)",required: true %>
            <div class="input-group-addon-f" >
            <span class="icon-calendar"></span>
            </div>            
          </div>
          <div class="col-md-2">
            <label>Tipo</label>
              <%= select_tag :entrada_saida, options_for_select([["Todos",""], ["Entrada","entrada"],["Salida","saida"]], selected: params[:entrada_saida]) %>            
          </div>    

          <div class="col-md-2">
            <label>Status</label>
              <%= select_tag :conciliacao, options_for_select([["Pendentes","false"],["Conciliados","true"],["Todos",""]], selected: params[:conciliacao]) %>            
          </div>  
          <div class="col-md-6">
            <label><%= t('ACCOUNT') %></label>
            <%= select("busca", "conta",
                Conta.all(:select => 'id,nome', conditions: 'tipo = 1', order: 'nome').collect {|p| [ p.nome, p.id ] },
                {selected: params[:busca]["conta"]},{class: "selectize", required: true }) %>
          </div>  
          <div class="col-md-2 padding-btn">            
            <%= submit_tag 'Filtrar', class: 'btn btn-blue' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class=" header head_grid">
    <div class="panel">
			<table>
	      <tr>
		      <td width="120" align="center"><%= t('DOC') %></td>
		      <td width="140" align="center"><%= t('DATE') %> Conciliación</td>
		      <td width="70" align="center"><%= t('DATE') %> Lanz.</td>
		      <td width="80" align="right">Credito</td>
		      <td width="80" align="right">Debito</td>
		      <td width="80">Cheque</td>
		      <% if params[:conciliacao] == 'true' %>
		      	<td width="80" align="right"><b>Saldo</b></td>
		      <% end %>
		      <td width="250">Cliente</td>
		      <td width="320">Concepto</td>
		    </tr>
	    </table>
		</div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel">
			<table>
					<% if params[:conciliacao] == 'true' %>

					<% @financas_anterior = Financa.relatorio_financas_saldo_anterior(params) %>
					<% saldo = @financas_anterior.to_f %>
						<tr>
							<td colspan="6"></td>
							<td width="80" align="right"><b><%= format_decimal(@financas_anterior) %></b></td>
							<td></td>
							<td></td>
							<td>Saldo Anterior</td>
						</tr>
					<% end %>


			      <% sub_tot_deb  = 0 %>
			      <% sub_tot_cred = 0 %>
			      <% quebra  = '' %>
			      <% saldo_rs = 0 %>
			      <%= form_tag update_individual_financas_path :method => :put do %>
				      <% @financas.each do |b| %>
								<% if params[:group_doc] == '1' %>

									<% if quebra != b.documento_numero %>
									  <% if quebra != "" %>
									    <tr class="head">
											    	<td colspan="5"></td>
										        <td  style="padding: 10px">Total:</td>
										        <% if b.moeda.to_i == 0 %>
											        <td width="80" align="right"><b><%= format_decimal(sub_tot_cred.to_f) %></b></td>
											        <td width="80" align="right"><b><%= format_decimal(sub_tot_deb.to_f) %></b></td>
										        <% elsif b.moeda.to_i == 2 %>
											        <td width="80" align="right"><b><%= format_decimal(sub_tot_cred.to_f) %></b></td>
											        <td width="80" align="right"><b><%= format_decimal(sub_tot_deb.to_f) %></b></td>
										        <% else %>
											        <td width="80" align="right"><b><%= format_int(sub_tot_cred.to_f) %></b></td>
											        <td width="80" align="right"><b><%= format_int(sub_tot_deb.to_f) %></b></td>
										        <% end %>

										        <% sub_tot_deb  = 0 %>
										        <% sub_tot_cred = 0 %>
										      </tr>
										    </table>
											</div>
									  </div>
								  </div>
									<% end %>
									<div class="row">
									  <div class="col-md-12">
									    <div class="panel">
									    	<table>
											    <tr>
											    	<td class="head" align="center" style="padding: 10px"><b><%= quebra = b.documento_numero %></td>
											    	<td align="center"><input type="checkbox" id="<%= quebra %>" value="<%= quebra %>" onclick="Seleciona('<%= quebra %>')"></td>
											    </tr>
									<% end %>
								<% end %>
				      	<%= fields_for "financas[]", b do |f| %>
				         <tr class = "<%= cycle("cor1", "cor2") %>">
				            <td width="120" align="center">
				            	<%= b.id %>
				            	<span class="label label-success"><small><%= b.usuario_nome %></small></span>

				            	</td>
				            <td width="20" align="center"><%= f.check_box :conciliacao, {onclick:"diferido(#{b.id})", class: "#{quebra}"} %></td>
				            <td width="80">
				            	<%= f.text_field :data_conciliacao, size: 10, onkeyup: "Formatadata(this,event)"  %>
											<%= f.hidden_field :diferido, size: 10  %>
											<%= f.hidden_field :data, size: 10  %>
				            </td>
										<td width="60" align="center"> <%= b.data.strftime("%d/%m/%y")%></td>
										<% if b.moeda.to_i == 0 %>
					            <td width="80" align="right">   <%= format_decimal(b.entrada_dolar)  %></td>
					            <td width="80" align="right">   <%= format_decimal(b.saida_dolar)  %></td>
								      <% sub_tot_deb  += b.saida_dolar.to_f %>
								      <% sub_tot_cred += b.entrada_dolar.to_f %>

											<% if params[:conciliacao] == 'true' %>
													<td width="80" align="right"><b><%= format_decimal(saldo += (b.entrada_dolar.to_f - b.saida_dolar.to_f)) %></b></td>
											<% end %>

										<% elsif b.moeda.to_i == 2 %>
					            <td width="80" align="right" style="font-family: 'prox-bold';"><%= format_decimal(b.entrada_real)  %></td>
					            <td width="80" align="right" style="font-family: 'prox-bold';"><%= format_decimal(b.saida_real)  %></td>
								      <% sub_tot_deb  += b.saida_real.to_f %>
								      <% sub_tot_cred += b.entrada_real.to_f %>
								      <% saldo_rs += (b.entrada_real.to_f - b.saida_real.to_f) %>

											<% if params[:conciliacao] == 'true' %>
													<td width="80" align="right"><b><%= format_decimal(saldo += (b.entrada_real.to_f - b.saida_real.to_f)) %></b></td>
											<% end %>

				            <% else %>
					            <td width="80" align="right">   <%= format_int(b.entrada_guarani)  %></td>
					            <td width="80" align="right">   <%= format_int(b.saida_guarani)  %></td>
								      <% sub_tot_deb  += b.saida_guarani.to_f %>
								      <% sub_tot_cred += b.entrada_guarani.to_f %>

											<% if params[:conciliacao] == 'true' %>
													<td width="80" align="right"><b><%= format_int(saldo += (b.entrada_guarani.to_f - b.saida_guarani.to_f)) %></b></td>
											<% end %>

				            <% end %>
				            	<td width="80"><small><%= b.cheque %></small></td>
											<td width="250"><small><%= b.persona_nome %></small></td>
										  <td width="400"><small><%= b.concepto %></small></td>

				         </tr>
				        <% end %>
				      <% end %>				      
			      </table>
				      <br>
				      <br>
				      <br>
				      <br>
				      <br>
				      <br>
				      <br>
				      <br>
				      <br>
				      <br>

			      <div class="bt-conciliacao">
			      	<%= submit_tag "Conciliar" , :class => "btn btn-green", :disable_with => "Concilando..." %>
			      </div>
			      <% end %>
    </div>
  </div>
</div>

<script LANGUAGE="JavaScript">  

     <!--  
     function diferido(campo) { 
      var data_diferido = document.getElementById( 'financas_' + campo + '_data').value;

      if( $('#financas_' + campo + '_conciliacao').is(':checked')) {
          $('#financas_' + campo + '_data_conciliacao').val(data_diferido)
      } else {
          $('#financas_' + campo + '_data_conciliacao').val('')
      }
     }  
     //-->  
     function Seleciona(s){
       if( $('#' + s).is(':checked')) {
		       $('.' + s).each(function() {
           	this.checked = true;
						$('.' + s).each(function(index, value){
							var id = $(this).attr("id");
			      	var data_diferido = document.getElementById( 'financas_' + id.replace(/[^0-9]/g,'') + '_data').value;
		          $('#financas_' + id.replace(/[^0-9]/g,'') + '_data_conciliacao').val(data_diferido);
						});
		       });
		   } else {
		      $('.' + s).each(function() {
		           this.checked = false;
								$('.' + s).each(function(index, value){
									var id = $(this).attr("id");
				      		var data_diferido = document.getElementById( 'financas_' + id.replace(/[^0-9]/g,'') + '_data').value;
			          $('#financas_' + id.replace(/[^0-9]/g,'') + '_data_conciliacao').val('');
								});

		       });
		   } 
		}
</SCRIPT>
<script>

$(window).scroll(function () {
    if ($(window).scrollTop() > 226) {
        $(".header").addClass("fixed");
    } else {
        $(".header").removeClass("fixed");
    }
});

</script>

<style>

.fixed {
    position:fixed;
    top:0;
    margin-top: 51px;
    z-index: 999999;
    background-color: #fff;
    font-weight: bold;
    width: 1140px;
}

td{
	padding:  10px;
}

.bt-conciliacao{
    position:fixed;
    bottom:0;
}
</style>
