<style>
	.page-break { display:block; clear:both; page-break-after:always; }
table {
		font-family:Lucida Console;
		font-size:10px;
		border-collapse: collapse;
	}
	table td{
		height:20px;

	}
	.header{
		font-size: 12px;
		border:1px solid black;
	  -moz-border-radius:8px;
	  -webkit-border-radius:8px;
	  padding:10px;


	}
	.obs{
		font-size: 7px;
	}

tr.cor2 {
    background: #c0d9c0;
}

tr.cor1 {
    background: white;
}

</style>
<body>
<% @amostras.each do |a| %>
<div class="page-break">

	<table>
		<tr>
			<td colspan="5">
				<div >
					<table>
				    <tr>
				    	<td colspan="2"><%= wicked_pdf_image_tag('logo_biosollo.png', :width => 150, :height => 80) %></td>
				    	<td width="700" align="center" valign="bottom">
				    		<p>Km 4 Super Carretera - Teléfono: (061) 573 616</p>
				    		<p>www.biosollo.com.py - biosollo@biosollo.com.py - Ciudad del Este - Paraguay</p>
				    	</td>
				    </tr>
			    </table>
			    </div>
	  	</td>
		</tr>

    <tr>
    	<td heigth="80"></td>
    </tr>

		<tr>
			<td width="1500" colspan='2'>
				<div class="header">
					<table>
				    <tr height="20">
				    	<td>Solicitante:</td>
				    	<td  width="400"><%= a.empresa_nome %></td>

				    	<td>Control:</td>
				    	<td><%= a.amostra.to_s.rjust(6,'0') %></td>

				    </tr>

				    <tr height="20">
				    	<td>Proprietário:</td>
				    	<td><%= a.solicitante %></td>
				    	<td><%= t('DATE') %>:</td>
				    	<td><%= a.data.to_date.strftime("%d/%m/%Y") %></td>
				    </tr>

				    <tr height="20">
				    	<td>Dirección:</td>
				    	<td><%= a.local_coleta %></td>

				    	<td></td>
				    	<td></td>

				    </tr>

						<tr height="20">
				    	<td>Ident. Muestra:</td>
				    	<td>LT: <%= a.lote %> - PT: <%= a.detalhe_amostra %></td>
				    </tr>
					</table>
				</div>

			</td>
		</tr>

    <tr>
    	<td heigth="80"></td>
    </tr>

		<tr>
			<td width="1500" colspan='5' align="center">
				<div class="header">
						<h2>Resultado de Análisis de Abono Orgânico</h2>
				</div>
			</td>
		</tr>
    <tr>
    	<td heigth="80"></td>
    </tr>

    <tr>
	    	<td valign="top">
	    		<div class="header">
	    		<table>
	    			<tr style="border-bottom: 1px solid black">
	    				<td width="380"><b>Determinaciónes: Macronutrientes</b></td>
	    				<td width="300" align="center"><b>Elemento</b></td>
	    				<td width="300" align="center"><b>Resultado g/Kg</b></td>
	    			</tr>

	    			<tr class="<%= cycle("cor1", "cor2") %>" >
	    				<td>Fósforo</td>
	    				<% fosforo = AmostraEnsaio.find_by_metodo_id( 141, :conditions => ["amostra = ?", a.amostra], :select => 'id,resultado,metodo_id') %>
	    					<% if fosforo != nil %>
		    				<td align="center">
		    					P
		    				</td>
		    				<td align="center">
									<%= number_to_currency( fosforo.resultado.to_f, :format=>' %n ', :separeitor => ",", :precision => 2) %>
		    				</td>
  						<% else %>
  						<td></td>
  						<td></td>
  					<% end %>

		    		</tr>

	    			<tr class="<%= cycle("cor1", "cor2") %>" >
	    				<td>Nitrógeno</td>
	    				<% nitrogeno = AmostraEnsaio.find_by_metodo_id( 142, :conditions => ["amostra = ?", a.amostra], :select => 'id,resultado,metodo_id') %>
	    				<% if nitrogeno != nil %>
	    				<td align="center">
	    					N
	    				</td>
	    				<td align="center">
	    					<%= number_to_currency( nitrogeno.resultado.to_f, :format=>' %n ', :separeitor => ",", :precision => 2) %>
	    				</td>
  						<% else %>
	  						<td></td>
	  						<td></td>
  					<% end %>

		    		</tr>

	    			<tr class="<%= cycle("cor1", "cor2") %>" >
	    				<td>Potasio </td>
	    				<% potasio = AmostraEnsaio.find_by_metodo_id( 143, :conditions => ["amostra = ?", a.amostra], :select => 'id,resultado,metodo_id') %>
	    				<% if potasio != nil %>
	    				<td align="center">
	    					K
	    				</td>
	    				<td align="center">
	    					<%= number_to_currency( potasio.resultado.to_f, :format=>' %n ', :separeitor => ",", :precision => 2) %>
	    				</td>
  						<% else %>
	  						<td></td>
	  						<td></td>
  						<% end %>
		    		</tr>

	    			<tr class="<%= cycle("cor1", "cor2") %>" >
	    				<td>Calcio </td>
	    				<% calcio = AmostraEnsaio.find_by_metodo_id( 144, :conditions => ["amostra = ?", a.amostra], :select => 'id,resultado,metodo_id') %>
	    				<% if calcio != nil %>
	    				<td align="center">
	    					Ca
	    				</td>
	    				<td align="center">
	    					<%= number_to_currency( calcio.resultado.to_f, :format=>' %n ', :separeitor => ",", :precision => 2) %>
	    				</td>
  						<% else %>
	  						<td></td>
	  						<td></td>
  						<% end %>
		    		</tr>

	    			<tr class="<%= cycle("cor1", "cor2") %>" >
	    				<td>Magnesio</td>
	    				<% magnesio = AmostraEnsaio.find_by_metodo_id( 145, :conditions => ["amostra = ?", a.amostra], :select => 'id,resultado,metodo_id') %>
	    				<% if magnesio != nil %>
	    				<td align="center">
	    					Mg
	    				</td>
	    				<td align="center">
	    					<%= number_to_currency( magnesio.resultado.to_f, :format=>' %n ', :separeitor => ",", :precision => 2) %>
	    				</td>
  						<% else %>
	  						<td></td>
	  						<td></td>
  						<% end %>
		    		</tr>

	    			<tr class="<%= cycle("cor1", "cor2") %>" >
	    				<td>Azufre </td>
	    				<% azufre = AmostraEnsaio.find_by_metodo_id( 146, :conditions => ["amostra = ?", a.amostra], :select => 'id,resultado,metodo_id') %>
	    				<% if azufre != nil %>
	    				<td align="center">
	    					S
	    				</td>
	    				<td align="center">
								<%= number_to_currency( azufre.resultado.to_f, :format=>' %n ', :separeitor => ",", :precision => 2) %>
							</td>
  						<% else %>
	  						<td></td>
	  						<td></td>
  						<% end %>

		    		</tr>
	    			<tr class="<%= cycle("cor1", "cor2") %>" >
	    				<td>Carbono </td>
	    				<% carbono = AmostraEnsaio.find_by_metodo_id( 147, :conditions => ["amostra = ?", a.amostra], :select => 'id,resultado,metodo_id') %>
	    				<% if carbono != nil %>
	    				<td align="center">
	    					C
	    				</td>
	    				<td align="center">
								<%= number_to_currency( carbono.resultado.to_f, :format=>' %n ', :separeitor => ",", :precision => 2) %>
							</td>
  						<% else %>
	  						<td></td>
	  						<td></td>
  						<% end %>

		    		</tr>
	    			<tr class="<%= cycle("cor1", "cor2") %>" >
	    				<td>M. Orgânico </td>
	    				<% mg = AmostraEnsaio.find_by_metodo_id( 148, :conditions => ["amostra = ?", a.amostra], :select => 'id,resultado,metodo_id') %>
	    				<% if mg != nil %>
	    				<td align="center">
	    					MO
	    				</td>
	    				<td align="center">
								<%= number_to_currency( mg.resultado.to_f, :format=>' %n ', :separeitor => ",", :precision => 2) %>
							</td>
  						<% else %>
	  						<td></td>
	  						<td></td>
  						<% end %>

		    		</tr>
	    		</table>
	    		</div>
	    	</td>
    	</td>
    </tr>

    <tr>
    	<td heigth="80"></td>
    </tr>

    <tr>
	    	<td valign="top">
	    		<div class="header">
	    		<table>
	    			<tr style="border-bottom: 1px solid black">
	    				<td width="380"><b>Determinaciónes: Micronutrientes</b></td>
	    				<td width="300" align="center"><b>Elemento</b></td>
	    				<td width="300" align="center"><b>Resultado mg/Kg</b></td>
	    			</tr>

	    			<tr class="<%= cycle("cor1", "cor2") %>" >
	    				<td>Cobre</td>
	    				<% cobre = AmostraEnsaio.find_by_metodo_id( 149, :conditions => ["amostra = ?", a.amostra], :select => 'id,resultado,metodo_id') %>
	    				<% if cobre != nil %>
	    				<td align="center">
	    					Cu
	    				</td>
	    				<td align="center">
	    					<%= number_to_currency( cobre.resultado.to_f, :format=>' %n ', :separeitor => ",", :precision => 2) %>
	    				</td>
  						<% else %>
	  						<td></td>
	  						<td></td>
  						<% end %>

		    		</tr>

	    			<tr class="<%= cycle("cor1", "cor2") %>" >
	    				<td>Zinc </td>
	    				<% zinco = AmostraEnsaio.find_by_metodo_id( 150, :conditions => ["amostra = ?", a.amostra], :select => 'id,resultado,metodo_id') %>
	    				<% if zinco != nil %>
	    				<td align="center">
	    					Zn
	    				</td>
	    				<td align="center">
	    					<%= number_to_currency( zinco.resultado.to_f, :format=>' %n ', :separeitor => ",", :precision => 2) %>
	    				</td>
  						<% else %>
	  						<td></td>
	  						<td></td>
  						<% end %>
		    		</tr>

	    			<tr class="<%= cycle("cor1", "cor2") %>" >
	    				<td>Manganeso</td>
	    				<% manganeso = AmostraEnsaio.find_by_metodo_id( 151, :conditions => ["amostra = ?", a.amostra], :select => 'id,resultado,metodo_id') %>
	    				<% if manganeso != nil %>
	    				<td align="center">
	    					Mn
	    				</td>
	    				<td align="center">
	    					<%= number_to_currency( manganeso.resultado.to_f, :format=>' %n ', :separeitor => ",", :precision => 2) %>
	    				</td>
  						<% else %>
	  						<td></td>
	  						<td></td>
  						<% end %>

		    		</tr>

	    			<tr class="<%= cycle("cor1", "cor2") %>" >
	    				<td>Boro</td>
	    				<% boro = AmostraEnsaio.find_by_metodo_id( 153, :conditions => ["amostra = ?", a.amostra], :select => 'id,resultado,metodo_id') %>
	    				<% if boro != nil %>
	    				<td align="center">
	    					B
	    				</td>
	    				<td align="center">
	    					<%= number_to_currency( boro.resultado.to_f, :format=>' %n ', :separeitor => ",", :precision => 2) %>
	    				</td>
  						<% else %>
	  						<td></td>
	  						<td></td>
  						<% end %>

		    		</tr>

	    			<tr class="<%= cycle("cor1", "cor2") %>" >
	    				<td>Hierro</td>
	    				<% ferro = AmostraEnsaio.find_by_metodo_id( 152, :conditions => ["amostra = ?", a.amostra], :select => 'id,resultado,metodo_id') %>
	    				<% if ferro != nil %>
	    				<td align="center">
	    					Fe
	    				</td>
	    				<td align="center">
	    					<%= number_to_currency( ferro.resultado.to_f, :format=>' %n ', :separeitor => ",", :precision => 2) %>
	    				</td>
  						<% else %>
	  						<td></td>
	  						<td></td>
  						<% end %>
		    		</tr>

	    			<tr class="<%= cycle("cor1", "cor2") %>" >
	    				<td>pH</td>
	    				<% ph = AmostraEnsaio.find_by_metodo_id( 154, :conditions => ["amostra = ?", a.amostra], :select => 'id,resultado,metodo_id') %>
	    				<% if ph != nil %>
	    				<td align="center">

	    				</td>
	    				<td align="center">
	    					<%= number_to_currency( ph.resultado.to_f, :format=>' %n ', :separeitor => ",", :precision => 2) %>
	    				</td>
  						<% else %>
	  						<td></td>
	  						<td></td>
  						<% end %>
		    		</tr>

	    			<tr class="<%= cycle("cor1", "cor2") %>" >
	    				<td>Umidade</td>
	    				<% umidade = AmostraEnsaio.find_by_metodo_id( 83, :conditions => ["amostra = ?", a.amostra], :select => 'id,resultado,metodo_id') %>
	    				<% if umidade != nil %>
	    				<td align="center">
	    					%
	    				</td>
	    				<td align="center">
	    					<%= number_to_currency( umidade.resultado.to_f, :format=>' %n ', :separeitor => ",", :precision => 2) %>
	    				</td>
  						<% else %>
	  						<td></td>
	  						<td></td>
  						<% end %>
		    		</tr>
	    		</table>
	    	</div>
	    	<br>
	    		*Metodología: (Embrapa, 2009)
	    	</td>
    	</td>
    </tr>
    <tr>
    	<td>
    		<table>
    			<tr>
	    			<td width="300"></td>
	    			<td width="600">
	    				<div class="header">
		    				<table>
		    					<td>Ciudad del Este, <%= @revisao_result.data.strftime("%d") %>/<%= @revisao_result.data.strftime("%m") %>/<%= @revisao_result.data.strftime("%Y") %></td>
		    				</table>
		    			</div>
	    			</td>
    			</tr>
    			<tr>
	    			<td width="300"></td>
	    			<td width="600"  align="center">
	    				<div class="header">
		    				<table>
		    					<td  align="center">
		    					 <p> <%= wicked_pdf_image_tag('firma_alex.png', :width => 50, :height => 50) %></p>
		    					 <p>____________________________________</p>
		    					 <p>Alexson Bobato</p>
		    					 <p>Gerente Comercial</p>
		    					</td>
		    				</table>
		    			</div>
	    			</td>
    			</tr>
    			<tr>
	    			<td width="300"></td>
	    			<td width="600">
	    				<div class="header">
		    				<table>
		    					<td>
		    						El (los) resultado (s) del (los) análisis representa la (s) muetra (s) enviada (s) al laboratório por el interesado, no siendo de nuetra responsabilidad el muestreo y recomendaciones del manejo. Este resultado del análisi no tiene valor jurídico como laudo oficial para cualquier finalidad: seguro rural, acciones jurídicas, etc.
		    					</td>
		    				</table>
		    			</div>
	    			</td>
    			</tr>

    		</table>
    	</td>
    </tr>

	</table>
</div>
<% end %>
</body>


