<%= form_for(@plano_venda_cond) do |f| %>
  <% if @plano_venda_cond.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plano_venda_cond.errors.count, "error") %> prohibited this plano_venda_cond from being saved:</h2>

      <ul>
      <% @plano_venda_cond.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<ul class="tabs">
      <li><a href="#tab1"> plano_venda_conds - [Edicion]</a></li>
</ul>

<div class="tab_container">
      <div id="tab1" class="tab_content">
        <table>
          <tr>
            <td width="1000">
              <fieldset>

                <table>
                  <tr>
                                      
                      <td align="right">plano_venda_id :</td>                    
                      <td><%= f.number_field :plano_venda_id %></td>
                                      
                      <td align="right">nome :</td>                    
                      <td><%= f.text_field :nome %></td>
                                      
                      <td align="right">quantidade :</td>                    
                      <td><%= f.text_field :quantidade %></td>
                                      
                      <td align="right">valor_gs :</td>                    
                      <td><%= f.text_field :valor_gs %></td>
                                      
                      <td align="right">valor_us :</td>                    
                      <td><%= f.text_field :valor_us %></td>
                                      
                      <td align="right">obs :</td>                    
                      <td><%= f.text_area :obs %></td>
                                      </tr>                 
                </table>
              </fieldset>
            </td>
          </tr>
        </table>
      </div>
      
      <div class="buttons">
        <%= f.submit :value => " Grabar ", :class => "button" %>
        <%= link_to 'Volver', plano_venda_conds_path, :class => "button back" %>        
      </div>

    </div>
<% end %>