
<p>
  <strong>Plano venda:</strong>
  <%= @plano_venda_cond.plano_venda_id %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @plano_venda_cond.nome %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @plano_venda_cond.quantidade %>
</p>

<p>
  <strong>Valor gs:</strong>
  <%= @plano_venda_cond.valor_gs %>
</p>

<p>
  <strong>Valor us:</strong>
  <%= @plano_venda_cond.valor_us %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @plano_venda_cond.obs %>
</p>


