
<style type="text/css">
.list_mesas_on{
  color: #000 !important;
  border: 2px solid #fff;
  height: 100px;
  width: 220px;
  float: left;
  background-color: #dcefa2;
  font-size: 12px;
  text-align: center;
  padding: 5px;
}

.list_mesas_off{
  color: #000 !important;
  border:2px solid #fff;
  height: 100px;
  width: 220px;
  float: left;
  background-color: #ff9b9b;
  font-size: 12px;
  text-align: center;
  padding: 5px;
}


span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.panel-content h1{
  padding: 0px !important;
}

</style>


<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="group">
        <h1 id="header">
          <%= @predio.nome %>
          <div class="pull-right">
            <%= link_to 'Volver', predios_path, class: 'btn btn-default' %>
            <a href="#" class="btn btn-blue"  data-toggle="modal" data-target="#modal-ap">+  Novo Apartamento</a>
          </div>
        </h1>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-content" style="display:table" align="center">
        <ul>
          <% @predio.apartamentos.order('id').each do |a| %>
            <% if a.status == true %>
              <li class="list_mesas_on">
            <% else %>
              <li class="list_mesas_off">
                  Liberado
            <% end %>
              <h1> <%= a.nome %></h1>
              <p><%= a.persona.nome unless a.persona.nil? %></p>
              <td><%= link_to '', edit_apartamento_path(a), class: 'icon-pencil' %></td>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modal-ap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header btn-blue">
        <h1 style="font-size: 16px; font-weight: bold;">Add Apartamento</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #fff">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 5px 15px 15px 15px">
        <%= form_for(Apartamento.new, class: 'form-default') do |f| %>
        <%= f.hidden_field :predio_id, value: @predio.id %>
        <div class="row">
          <div class="col-md-12">
            <label>Nome</label>
            <%= f.text_field :nome, autofocus: true,required: true, class: 'panel-field' %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <label>Cliente</label>
            <%= f.collection_select :persona_id, Persona.where(tipo_cliente: 1).select('id,nome').order('nome'), :id, :nome, {include_blank: 'Liberado'} %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <label></label>
            <%= f.text_area :obs, placeholder: 'Complemento', rows: 3, class: 'panel-field' %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <%= f.check_box :status %> Status
          </div>
        </div>


          <div class="row">
            <div class="col-md-12 footer-buttons" >
              <%= submit_tag "Grabar", class: 'btn btn-green', disable_with: "Aguarde...", "data-plus-as-tab" => "false" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>

  $('#modal-ap').on('shown.bs.modal', function() {
    $('#apartamento_nome').focus();
  })

</script>

