
<p>
  <strong>Data:</strong>
  <%= @transacao.data %>
</p>

<p>
  <strong>Operacao:</strong>
  <%= @transacao.operacao %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @transacao.produto_id %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @transacao.quantidade %>
</p>

<p>
  <strong>Unitario:</strong>
  <%= @transacao.unitario %>
</p>

<p>
  <strong>Deposito:</strong>
  <%= @transacao.deposito_id %>
</p>

<p>
  <strong>Total:</strong>
  <%= @transacao.total %>
</p>

<p>
  <strong>Forma pago:</strong>
  <%= @transacao.forma_pago_id %>
</p>

<p>
  <strong>Moeda:</strong>
  <%= @transacao.moeda %>
</p>

<p>
  <strong>Conta:</strong>
  <%= @transacao.conta_id %>
</p>

<p>
  <strong>Persona:</strong>
  <%= @transacao.persona_id %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @transacao.obs %>
</p>


