
<p>
  <strong><%= t('PERSON') %>:</strong>
  <%= @persona_rodado.persona_id %>
</p>

<p>
  <strong>Chapa:</strong>
  <%= @persona_rodado.chapa %>
</p>

<p>
  <strong>Responsavel:</strong>
  <%= @persona_rodado.responsavel %>
</p>

<p>
  <strong>Km inicial:</strong>
  <%= @persona_rodado.km_inicial %>
</p>


