<%= form_for(@dias_utei) do |f| %>
  <% if @dias_utei.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dias_utei.errors.count, "error") %> prohibited this dias_utei from being saved:</h2>

      <ul>
      <% @dias_utei.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<ul class="tabs">
      <li><a href="#tab1"> dias_uteis - [Edicion]</a></li>
</ul>

<div class="tab_container">
      <div id="tab1" class="tab_content">
        <table>
          <tr>
            <td width="1000">
              <fieldset>

                <table>
                  <tr>
                      <td>
                        <label>Fecha</label>
                        <%= f.date_select :data %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label>Entrada</label>
                        <%= f.text_field :entrada %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label>Saida</label>
                        <%= f.text_field :saida %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label>Almuezo Entrada</label>
                        <%= f.text_field :almoco_entrada %>
                      </td>
                    </tr>
                      <td>
                        <label>Almuezo Saida</label>
                        <%= f.text_field :almoco_saida %>
                      </td>
                    <tr>
                      <td><%= f.text_area :obs, placeholder: 'Obs' %></td>
                    </tr>
                    <tr>
                      <td><%= f.check_box :util %>Dia Util</td>
                    </tr>

                </table>
              </fieldset>
            </td>
          </tr>
        </table>
      </div>
      
      <div class="buttons">
        <%= f.submit :value => " Grabar ", :class => "button" %>
        <%= link_to 'Volver', dias_uteis_path, :class => "button back" %>        
      </div>

    </div>
<% end %>
