<h1 id="header">Dias Uteis</h1>
<div class="acessos">
  <%= link_to 'Nuevo', new_dias_utei_path, :class => "button add" %>
</div>

<table class="head_grid">
  <tr>
    <td width="100"></td>
    <td width="50">Fecha</td>
    <td width="80">Entrada</td>
    <td width="80">Saida</td>
    <td width="80">Almoco entrada</td>
    <td width="80">Almoco saida</td>
    <td width="180">Obs</td>
  </tr>
</table>

<div class="rolagem" dir="div">

    <% #('2025-01-01'.to_date..'2025-12-31'.to_date).each do |d| %>
      <% #if l(d.to_date, :format => :dia_semana, locale: 'es') == 'domingo' %>
        <% #DiasUtei.create( data: d ) %>
      <% #elsif l(d.to_date, :format => :dia_semana, locale: 'es') == 'sábado' %>
        <% #DiasUtei.create( data: d, entrada: '07:00:00', saida: '11:00:00' ) %>
      <% #else %>
        <% #DiasUtei.create( data: d, entrada: '07:00:00', almoco_entrada: '12:00:00', almoco_saida: '13:30:00', saida: '17:30:00' ) %>
      <% #end %>
    <% #end %>

  <table>
    <% @dias_uteis.each do |dias_utei| %>

      <tr>
        <td width="100">
          <% if dias_utei.util == true %>
            <span class="btn-success">Dia Util</span>
          <% else %>
            <span class="btn-danger">No Util</span>
          <% end %>
        </td>
        <td width="50"><%= dias_utei.data.strftime("%d/%m/%y" ) %></td>
        <td width="80"><%= l(dias_utei.data.to_date, :format => :dia_semana, locale: 'es') %></td>
        <td width="80"><%= dias_utei.entrada %></td>
        <td width="80"><%= dias_utei.saida %></td>
        <td width="80"><%= dias_utei.almoco_entrada %></td>
        <td width="80"><%= dias_utei.almoco_saida %></td>
        <td width="180"><%= dias_utei.obs %></td>
        <td><%= link_to 'Editar', edit_dias_utei_path(dias_utei) %></td>
        <td><%= link_to 'Borrar', dias_utei, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>

      </tr>
    <% end %>
  </table>
</div>
