
<p>
  <strong>Data:</strong>
  <%= @dias_utei.data %>
</p>

<p>
  <strong>Entrada:</strong>
  <%= @dias_utei.entrada %>
</p>

<p>
  <strong>Saida:</strong>
  <%= @dias_utei.saida %>
</p>

<p>
  <strong>Almoco entrada:</strong>
  <%= @dias_utei.almoco_entrada %>
</p>

<p>
  <strong>Almoco saida:</strong>
  <%= @dias_utei.almoco_saida %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @dias_utei.obs %>
</p>


