
<p>
  <strong>Fatura import:</strong>
  <%= @fatura_import_produto.fatura_import_id %>
</p>

<p>
  <strong>Dcodint:</strong>
  <%= @fatura_import_produto.dcodint %>
</p>

<p>
  <strong>Ddesproser:</strong>
  <%= @fatura_import_produto.ddesproser %>
</p>

<p>
  <strong>Ddesunimed:</strong>
  <%= @fatura_import_produto.ddesunimed %>
</p>

<p>
  <strong>Dcantproser:</strong>
  <%= @fatura_import_produto.dcantproser %>
</p>

<p>
  <strong>Dpuniproser:</strong>
  <%= @fatura_import_produto.dpuniproser %>
</p>

<p>
  <strong>Ddescitem:</strong>
  <%= @fatura_import_produto.ddescitem %>
</p>

<p>
  <strong>Dtotopeitem:</strong>
  <%= @fatura_import_produto.dtotopeitem %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @fatura_import_produto.produto_id %>
</p>


