<h1 id="header">Apertura y Cierre de Caja</h1>
<div class="acessos">
  <%= link_to t('NEW'), new_abertura_caixa_path, :class => "button add" %>
</div>

<div class="group">
  <table class="head_grid">
    <tr>
      <td width="55"><%= t('CODE') %></td>
      <td width="80"><%= t('DATE') %></td>
      <td width="150">Usuario</td>
      <td width="150">Turno</td>
      <td width="150">Terminal</td>
      <td width="70" align="center">Status</td>
    </tr>
  </table>

  <div class="rolagem" dir="div">
    <table>
      <% @abertura_caixas.each do |abertura_caixa| %>
        <tr class = "<%= cycle("cor1", "cor2") %>">
          <td width="55" align="center"><%= link_to abertura_caixa.id.to_s.rjust(6,'0'), abertura_caixa_path(abertura_caixa) %></td>
          <td width="80"><%= abertura_caixa.data.strftime("%d/%m/%y") %></td>
          <td width="150"><%= abertura_caixa.usuario.usuario_nome %></td>
          <td width="150"><%= abertura_caixa.turno.nome unless abertura_caixa.turno_id.blank? %></td>
          <td width="150"><%= abertura_caixa.terminal.nome %></td>
          <td width="70" align="center">
            <% if abertura_caixa.status == true %>
              <span class="btn-success">Abierto</span>
            <% else %>
              <span class="btn-danger">Cerrado</span>
            <% end %>
          </td>
          <% if abertura_caixa.status == true %>
            <td><%= link_to '', edit_abertura_caixa_path(abertura_caixa), class: 'icon-pencil' %></td>
            <td><%= link_to '', abertura_caixa, :confirm => 'Estas Seguro?', :method => :delete, class: 'icon-trash' %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="head_grid">
  <%= will_paginate @moedas %>
</div>