
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body >
  	<table style="font-family: Consolas, monaco, monospace;">
  		<tr>
  			<% @unidade = Unidade.find_by_sql('select * from unidades where id = 1').first %>
  			<td width="500">
  				<img src="http://190.128.138.54:3000/default.png" height="60" alt="JK pinturas" />
  			</td>
		    <td><font style="color:#ab1a35"><b><%= t('DATE') %>:</b></font> <%= @venda.data.strftime("%d")%> de <%= @venda.data.strftime("%B")%>  de <%= @venda.data.strftime("%Y")%></td>
  		</tr>
  	</table>
  	<table style="margin-top: 40px">
  		<tr>
  			<td>
  				<font style="color:#ab1a35"><b>Cidade: </b></font><%= @unidade.unidade_nome %><br />
  				<font style="color:#ab1a35"><b>Endereco: </b></font><%= @unidade.direcao %><br />
  				<font style="color:#ab1a35"><b>Bairro: </b></font><%= @unidade.bairro %><br />
  				<font style="color:#ab1a35"><b>RUC: </b></font><%= @unidade.ruc %><br />
  				<font style="color:#ab1a35"><b>Fone: </b></font><%= @unidade.telefone %>
  			</td>
  		</tr>
  	</table>
  	<table style="margin-top: 25px">
  		<tr>
  			<td>
  				<font style="color:#ab1a35"><b>Vendedor: </b></font><%= @venda.vendedor_nome %><br />
  			</td>
  		</tr>
  	</table>
    <table style="margin-top: 40px">
		  <tr style="font-size: 16px; font-weight: bold; color: #4d4343; background-color: #ffe0d4;">
		    <td colspan="10" width="800">PRESUPUESTO</td>
		  </tr>

		  <tr>
		    <td><font style="color:#ab1a35"><b>Orden de Orcamento: </b></font><%= @venda.id.to_s.rjust(6,'0') %></td>
		  </tr>
		  <tr>
		    <td><font style="color:#ab1a35"><b>Cliente: </b></font><%= @venda.persona_nome %></td>
		  </tr>
		  <tr heigth="50">
		  </tr>
		  <tr>
		   <td colspan="10">
		     <table>
		        <tr style="font-weight: bold; color: #4d4343; background-color: #ffe0d4;">
		        	<td width="30"></td>
							<td width="500">Producto</td>
							<td width="40" align="center">Ctd.</td>
							<% if @venda.tipo_venda == 1 %>
								<td width="40" align="center">Stock</td>
							<% end %>
							<td width="70" align="center">Unit.</td>
							<td width="70" align="center"><%= t('DESCRIPTION') %></td>
							<td width="70" align="center">Total</td>
		        </tr>
		        	<% count    = 1 %>
	            <% qtd    = 0 %>
	            <% tot_us = 0 %>
	            <% tot_gs = 0 %>
	            <% tot_rs = 0 %>
	            <% ps     = 0 %>

	            <% @venda.vendas_produtos.each do |vp| %>
		            <tr class="head" style="margin-top:5px">
		            	<td width="30" align="center"><%= count %></td>
									<td width="500" style="font-size:14px"><%= vp.produto_nome %></td>
									<td width="40" align="center"><%= vp.quantidade.to_i %></td>
									<% if vp.moeda == 0 %>
										<td width="70" align="right"><%= number_to_currency( vp.unitario_dolar , format: '%n', precision: 2 ) %> </td>
										<td width="70" align="right"><%= number_to_currency( vp.desconto, format: '%n', precision: 2 ) %> </td>
										<td width="70" align="right"><%= number_to_currency( vp.total_dolar, format: '%n', precision: 2 ) %> </td>
										<% tot_us += vp.total_dolar %>
									<% elsif vp.moeda == 1 %>
										<td width="70" align="right"><%= number_to_currency( vp.unitario_guarani, format: '%n', precision: 0 ) %> </td>
										<td width="70" align="right"><%= number_to_currency( vp.desconto, format: '%n', precision: 0 ) %> </td>
										<td width="70" align="right"><%= number_to_currency( vp.total_guarani, format: '%n', precision: 0 ) %> </td>
										<% tot_gs += vp.total_guarani %>
									<% else %>
										<td width="70" align="right"><%= number_to_currency( vp.unitario_real, format: '%n', precision: 2 ) %> </td>
										<td width="70" align="right"><%= number_to_currency( vp.total_real, format: '%n', precision: 2 ) %> </td>
										<% tot_rs += vp.total_real %>
									<% end %>
									<% qtd += vp.quantidade.to_i %>
									<% count = count + 1 %>
			          </tr>
		          <% end %>
		         </table>
		       </td>
		    </tr>
		</table>
		<table style="margin-top: 40px">
			<tr>
				<td width="500"></td>
	      <td width="300" colspan="5" align="right" style="font-weight: bold; color: #4d4343; background-color: #ffe0d4;">TOTAIS:</td>
	    </tr>
	    <tr>
  			<td></td>
    		<td align="right" style="margin-top: 5px">
    			<font style="font-size:16px"><font style="color: #ab1a35"><b>Quantidade: </b></font><%= qtd.to_i %></font><br />
  			  <% if tot_us != 0 %>
    				<font style="font-size:16px"><font style="color: #ab1a35"><b>Total US$: </b></font><%= number_to_currency( tot_us, format: '%n', precision: 2 ) %></font>
    			<% elsif tot_gs != 1 %>
    				<font style="font-size:16px"><font style="color: #ab1a35"><b>Total G$: </font><%= number_to_currency( tot_gs, format: '%n', precision: 0 ) %></font>
   			  <% else %>
    				<font style="font-size:16px"><font style="color: #ab1a35"><b>Total R$: </b></font><%= number_to_currency( tot_rs, format: '%n', precision: 2 ) %></font>
    			<% end %>
	    	</td>
	    	</tr>
		</table>
  </body>
</html>