<h1 id="header">dev_cheque_cliente_dts</h1>
<div class="acessos">
  <%= link_to t('NEW'), new_dev_cheque_cliente_dt_path, :class => "button add" %>
</div>

<table class="head_grid">
  <tr>
    <td width="60">Laz.</td>
    <td>Valor us</td>
    <td>Valor gs</td>
    <td><%= t('CHECKS') %></td>
    <td>Titula</td>
    <td>Banco</td>
  </tr>
</table>

<div class="rolagem" dir="div">
  <table>
    <% @dev_cheque_cliente_dts.each do |dev_cheque_cliente_dt| %>
      <tr>
                  <td><%= dev_cheque_cliente_dt.dev_cheque_cliente_id %></td>
                  <td><%= dev_cheque_cliente_dt.obs %></td>
                  <td><%= dev_cheque_cliente_dt.valor_us %></td>
                  <td><%= dev_cheque_cliente_dt.valor_gs %></td>
                  <td><%= dev_cheque_cliente_dt.cheque %></td>
                  <td><%= dev_cheque_cliente_dt.titula %></td>
                  <td><%= dev_cheque_cliente_dt.banco %></td>
                <td><%= link_to 'Editar', edit_dev_cheque_cliente_dt_path(dev_cheque_cliente_dt) %></td>
        <td><%= link_to t('DELETE'), dev_cheque_cliente_dt, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </table>
</div>

