
<p>
  <strong>Dev cheque cliente:</strong>
  <%= @dev_cheque_cliente_dt.dev_cheque_cliente_id %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @dev_cheque_cliente_dt.obs %>
</p>

<p>
  <strong>Valor us:</strong>
  <%= @dev_cheque_cliente_dt.valor_us %>
</p>

<p>
  <strong>Valor gs:</strong>
  <%= @dev_cheque_cliente_dt.valor_gs %>
</p>

<p>
  <strong>Cheque:</strong>
  <%= @dev_cheque_cliente_dt.cheque %>
</p>

<p>
  <strong>Titula:</strong>
  <%= @dev_cheque_cliente_dt.titula %>
</p>

<p>
  <strong>Banco:</strong>
  <%= @dev_cheque_cliente_dt.banco %>
</p>


