<table class="head_grid">
  <tr>
    <td width="50" align="center">Código</td>
    <td width="100">Periodo</td>
    <td width="150">Unidad</td>
    <td width="300">Persona</td>
    <td width="100">Média</td>
  </tr>
</table>

<div class="rolagem" dir="div">
  <table>
    <% @avaliacao_funcs.includes(:persona).each do |avaliacao_func| %>
      <tr class = "<%= cycle("cor1", "cor2") %>">
        <td width="50" align="center"><%= link_to avaliacao_func.id.to_s.rjust(6,'0'), avaliacao_func_path(avaliacao_func)%></td>
        <td width="100"><%= avaliacao_func.periodo.strftime("%m/%Y") %></td>
        <td width="150"><%= avaliacao_func.persona.unidade.unidade_nome %></td>
        <td width="300"><%= avaliacao_func.persona.nome %></td>
        <td width="100" style="font-family: 'prox-bold'; color: #000"><%= (avaliacao_func.avaliacao_func_refs.sum(:nota).to_f / avaliacao_func.avaliacao_func_refs.count(:id).to_f).round(4) %></td>
        <% if params[:tipo] != '1' %>
          <td><%= link_to '', edit_avaliacao_func_path(avaliacao_func), class: 'icon-pencil' %></td>
          <td><%= link_to '', avaliacao_func, :confirm => 'Estas Seguro?', :method => :delete, class: 'icon-trash' %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
