<h1 id="header">Evaluación Empledos</h1>
<div class="acessos">
  <%= link_to 'Nuevo', new_avaliacao_func_path, :class => "button add" %>
  <a href="javascript:void(0)" class="btn btn-blue" style="float: right" id="print-modal" data-toggle="modal" data-width="500" data-height="781" data-dismiss="modal"><%= image_tag('printer.png') %> Imprimir</a>
</div>
<div class="group">
    <%= form_tag busca_avaliacao_funcs_path, :method => "get" do %>
      <table>
        <tr>
          <!--FILTRO_DATA!-->
          <td align="right">Mês</td>
          <td>
            <%= text_field_tag :mes, Time.now.strftime("%m"), size: 5,  class: "input-addon",required: true %>
          </td>
          <td align="right">Año</td>

          <td colspan="2">
            <%= text_field_tag :ano, Time.now.strftime("%Y"), size: 5,  class: "input-addon" %>
          <td colspan="4">
            <input id="busca" name="busca" type="text" onkeyup = "pesquisa(this.value)" size="25"/>
            <input type="button" class="btn btn-default" onclick="pesquisa(document.getElementById('busca').value)" value="Buscar"/>
            <%= image_tag("load.gif", align: "absmiddle", border: 0, id: "spinner", width: 21, height: 21, style: "display: none;") %>
          </td>
         </tr>
      </table>
    <input type="hidden" id="seta" value="0"/>
    <% end %>
    <div id="pagina">
    </div>
</div>

</div>
<script language="javascript">
  function pesquisa(valor){
    url="/avaliacao_funcs/busca?" + $('form').serialize();
    ajax(url);
  }
</script>
<%= javascript_include_tag 'busca_ajax' %>


<script>

    $('#print-modal').click(function() {
        $('#myiframe').modal('show');
        var width  = $(this).attr('data-width') || 640;
        var height = $(this).attr('data-height') || 760;

        var allowfullscreen = $(this).attr('data-video-fullscreen');

        $("#myiframe iframe").attr({
          'src': '/avaliacao_funcs/busca?tipo=1&' + $('form').serialize(),
          'height': height,
          'width': width,
          'allowfullscreen':''
        });

        $('#myiframe').on('hidden.bs.modal', function(){
          $(this).find('iframe').html("");
          $(this).find('iframe').attr("src", "");
        });
    });


</script>


<div class="modal fade" id="myiframe" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document" style=" width: 1100px !important; ">
    <div class="modal-content">
      <div class="modal-header">
        <div class="close-button">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <h4 class="modal-title" id="myModalLabel">Evaluación Empledos</h4>
      </div>
      <div class="modal-body" align="center">
        <div class="embed-responsive embed-responsive-16by9" style="height: 460px">
          <iframe class="embed-responsive-item" id="iframeModal" frameborder="0 " border="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
