
<% if @avaliacao_func.persona_id == current_user.persona_id %>
<div class="label label-danger" style=" font-size: 12px; margin:10px">
  No es posible se auto-avaliar
  <br>
  <%= link_to 'Volver', avaliacao_funcs_path, :class => "btn btn-back" %>
</div>

<% else %>
<div class="row">
  <div class="col-md-7">

    <div class="panel panel-center">
      <header class="panel-heading">
        Solicitaciones del Empleado
      </header>

      <div class="panel-body">

        <% soli = Solicitude.joins(:usuario).where("date_part('month', solicitudes.data ) = '#{@avaliacao_func.periodo.strftime("%m")}' and date_part('year', solicitudes.data ) = '#{@avaliacao_func.periodo.strftime("%Y")}' and usuarios.persona_id = #{@avaliacao_func.persona_id} ") %>



        <table class="head_grid">
          <tr>
            <td width="150" align="center">Fecha Soli.</td>
            <td width="150" align="center">Quando</td>
            <td width="250">Motivo</td>
            <td width="50">Motivo Score</td>
            <td width="120" align="center">Status</td>
            <td width="180">Status obs</td>
          </tr>
        </table>

        <div class="rolagem" dir="div">
          <table>
            <% soli.each do |solicitude| %>
              <tr>
                <td width="150" align="center"><%= solicitude.created_at.strftime("%d/%m/%y - %H:%M") %></td>
                <td width="150" align="center"><%= solicitude.data.strftime("%d/%m/%y") unless solicitude.data.blank? %> - <%= solicitude.time.strftime("%H:%M")  unless solicitude.data.blank? %></td>
                <td width="250"><%= solicitude.motivo.nome %></td>
                <td width="50"><%= solicitude.motivo.score %></td>

                <td width="120" align="center">
                  <small>
                    <% if solicitude.status == 'NEGADO' %>
                      <span style="background-color: #D80027;" class="panel-tag"><%= solicitude.status %></span>
                    <% elsif solicitude.status == 'AUTORIZADO'%>
                      <span style="background-color: #91DC5A;" class="panel-tag"><%= solicitude.status %></span>
                    <% else %>
                      <span style="background-color: #FFDA44;" class="panel-tag"><%= solicitude.status %></span>
                    <% end %>
                  </small>
                </td>
                <td width="180"><%= solicitude.status_obs %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-5">

    <div class="panel panel-center">
      <header class="panel-heading">
        Evaluación Empledos <%= @avaliacao_func.periodo.strftime("%m/%Y") %>
      </header>
      <div class="panel-body">
        Empleado: <%= @avaliacao_func.persona.nome %> <br>
        Cargo: <%= @avaliacao_func.persona.cargo.nome unless @avaliacao_func.persona.cargo.nil? %> <br>
        Edad: <%= ((Date.current.to_date - @avaliacao_func.persona.data_nascimento.to_date) / 365 ).to_i unless @avaliacao_func.persona.data_nascimento.nil? %> Años  <br>
        Entrada: <%= @avaliacao_func.persona.data_entrada.strftime("%d/%m/%Y") %> <br>
        Antigüedad: <%= ((Time.now.to_date - @avaliacao_func.persona.data_entrada.to_date ) / 365).to_i %> <br>
        <hr>
      </div>

      <div class="panel-body">
        <table>
          <tr class="head_grid">
            <td>Referencia</td>
            <td align="center">Nota</td>
          </tr>
            <%= form_tag update_individual_avaliacao_funcs_path :method => :put do %>
            <% @avaliacao_func.avaliacao_func_refs.order('id').each do |up| %>
              <%= fields_for "avaliacao_func_refs[]", up do |f| %>
              <tr class = "<%= cycle("cor1", "cor2") %>">
                <td width="350"><%= up.avaliacao_ref.nome %></td>
                <td width="100"><%= f.telephone_field :nota, size: 10 %></td>
              </tr>
              <% end %>
            <% end %>

            <tr>
              <td cospan="2">
                <%= submit_tag "Atualizar Nota" , :class => "btn btn-green", :disable_with => "Aguarde..." %>
                <%= link_to 'Volver', avaliacao_funcs_path, :class => "btn btn-back" %>
              </td>
            </tr>
            <% end %>

        </table>
      </div>
    </div>
  </div>
</div>
<% end %>
