<div class="modal fade" id="modal-edit<%= ingresso %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header btn-primary">
        <h1 style="font-size: 16px; font-weight: bold; padding: 0px !important; color: #fff">Editar Entrada #<%= ingresso %>
        </h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #fff">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 5px 20px 20px 20px">
        <%= form_for(Ingresso.find(ingresso)) do |fr| %>
        <%= fr.hidden_field :confirmado, value: true %>
        <%= fr.hidden_field :confirmado_por, value: current_user.id %>

            <div class="row">
              <div class="col-md-12">
                <label>Status</label>
                <%= fr.select :status, [['Pendente', false],['Liberado', true]], {class: "panel-field"} %>
              </div>
              <div class="col-md-12">
                <label>Nº SWIFT</label>
                <%= fr.text_field :swift_numero, class: "panel-field" %>
              </div>
            </div>
          <div class="row">
            <div class="col-md-12 footer-buttons" >
              <%= fr.submit "Grabar", class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
