<div class="group">
   <table class="head_grid">
      <tr>
        <td width="50" align="center"><%= t('CODE') %></td>
        <td width="80" align="center"><%= t('DATE') %> Lanç.</td>
        <td width="80" align="center"><%= t('DATE') %> Confir. Cliente</td>
        <td width="80" align="center">Lançado por.</td>
        <td width="200"><%= t('ACCOUNT') %></td>
        <td width="150">Cliente</td>
        <td width="150">Obs</td>
        <td width="60" align="center"><%= t('COIN') %></td>
        <td width="80" align="right"><%= t('VALUE') %></td>
        <td width="80"></td>
      </tr>
   </table>
   <div class="rolagem" id="div">
      <table>
        <% @ingressos.each do |ingresso| %>
          <tr class = "<%= cycle("cor1", "cor2") %>" id="t-<%= ingresso.id %>">
            <td width="50" align="center"><%= ingresso.id.to_s.rjust(6,'0') %></td>
            <td width="80" align="center"><%= ingresso.data.strftime("%d/%m/%y") unless ingresso.data.blank? %></td>
            <td width="80" align="center"><%= ingresso.data_conciliacao.strftime("%d/%m/%y")unless ingresso.data_conciliacao.blank?  %></td>
            <td width="80" align="center"><%= ingresso.created_user %></td>
            <td width="200"><%= ingresso.conta_nome %></td>
            <td width="150"><%= ingresso.persona_nome  %></td>
            <td width="150"><small> <%= ingresso.concepto %></small></td>
            <% if ingresso.moeda.to_i == 0 %>
              <td width="60" align="center">U$</td>
              <td width="80" align="right"><%= format_decimal(ingresso.valor_dolar)%></td>
            <% elsif ingresso.moeda.to_i == 1 %>
              <td width="60" align="center">Gs</td>
              <td width="80" align="right"><%= format_int(ingresso.valor_guarani)%></td>
            <% else %>
              <td width="60" align="center">R$</td>
              <td width="80" align="right"><%= format_decimal(ingresso.valor_real)%></td>
            <% end %>
            <td align="center">
              <% if ingresso.confirmado == false %>
               <a href="#modal-edit" class="btn btn-primary" data-target="#modal-edit" data-id="<%= ingresso.id %>" data-toggle="modal">Confirmar</a>
              <% else %>
                <span class="label label-success"><%= ingresso.created_confirm %></span>
              <% end %>

          </td>
            <td><%= link_to '', edit_ingresso_path(ingresso), class: 'icon-pencil' %></td>
            <td><%= link_to '', ingresso, :confirm => 'Estas Seguro?', :method => :delete, class: 'icon-trash' %></td>
          </tr>
         <% end %>
      </table>
   </div>
</div>
