  <h1 id="header">Ingreso - [Edición]</h1>
    <div class="group">

      <%= form_for(@ingresso) do |f| %>
        <% if @ingresso.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@ingresso.errors.count, "erros") %> encontrados:</h2>

          <ul>
            <% @ingresso.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <table>
        <tr>
          <td> 
            <label>Fecha</label>
            <%= f.date_select :data %>
          </td>
          <td> 
          <label>Cotización</label>
          <%= text_field  :ingresso,:cotacao , size: 10, value: @ingresso.cotacao.to_i %>
          </td>

          <td>
            <label>R$</label>
            <%= text_field  :ingresso, :cotacao_real , :size     => 10, :value    => @ingresso.cotacao.to_i %>
          </td>
        </tr>
        <tr>
          <td  colspan="5">
          <label>Cuenta</label>
          <%= f.collection_select :conta_id, Conta.all( :select => ' id, nome',
                                                            :conditions => ["unidade_id = #{current_unidade.id}"],
                                                            :order  => '2' ), :id,
                                                            :nome, {:prompt => "Seleccione caja/banco"} %></td>

        </tr>

        <tr>
          <td  colspan="4"><%= f.check_box :cheque_status %> Cheque?</td>
        </tr>

        <tr>
          <td hidden class="cheque">
            <label>Cheque</label>
              <%= f.text_field  :cheque, :size => 15 %>
            </td>
            <td hidden class="cheque">
            Fecha Diferido
            <%= f.date_select :diferido%>
          </td>

        </tr>

        <tr>
          <td hidden class="cheque">
            <label>Titular</label>
            <%= f.text_field  :titular, :size => 25 %>
          </td>

        </tr>
        <tr>
          <td colspan="3" hidden class="cheque">
          <label>Banco</label>
          <%= f.collection_select :banco_id, Persona.all( :select => ' id, nome', :conditions => ["tipo_banco = 1"], :order  => '2' ), :id, :nome, {:prompt => "Seleccione el Banco"} %>
          </td>
        </tr>

        <tr>
          <%= field_gs_label 'Valor Gs.:',f, :valor_guarani,
				    :onchange   => "GsToUsRs('ingresso_cotacao','ingresso_cotacao_real','ingresso_valor_guarani','ingresso_valor_dolar','ingresso_valor_real')"  %>

          <%= field_us_label 'Valor U$:',f, :valor_dolar,
				    :onchange   => "UsToGsRs('ingresso_cotacao','ingresso_cotacao_real','ingresso_valor_dolar','ingresso_valor_guarani','ingresso_valor_real')" %>

          <%= field_us_label 'Valor R$:',f, :valor_real,
				    :onchange   => "RsToUsGs('ingresso_cotacao','ingresso_cotacao_real','ingresso_valor_real','ingresso_valor_dolar','ingresso_valor_guarani')"%>
        </tr>
        <tr>
          <td  colspan="4">
            <br>
            <%= f.text_area :concepto, cols: '100%', rows: 5, placeholder: 'Concepto:' %>
          </td>
        </tr>
      </table>
      <div class="footer-buttons">
        <%= f.submit "Grabar", class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false"%>
        <%= link_to 'Volver', ingressos_path, :class => "btn btn-back" %>
      </div>
    </div>
  <% end %>

<% if params[:action] == 'new' %>
	<script>
	  //cotacao
		$(document).ready(function() {
			$('#ingresso_data_3i').focus();
	    $.ajax({url: '/buscas/cotz_us_compra',
	            type: 'POST',
	            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            data: 'data=' + $('#ingresso_data_3i').val()+'/'+
	                            $('#ingresso_data_2i').val()+'/'+
	                            $('#ingresso_data_1i').val(),
	            success: function(data){
	            $('#ingresso_cotacao').val(number_format(data, 0, ',', '.'));} });

	    $.ajax({url: '/buscas/cotz_rs_compra',
	            type: 'POST',
	            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            data: 'data=' + $('#ingresso_data_3i').val()+'/'+
	                            $('#ingresso_data_2i').val()+'/'+
	                            $('#ingresso_data_1i').val(),
	            success: function(data){
	            $('#ingresso_cotacao_real').val(number_format(data, 0, ',', '.'));} });
		});    
	</script>
<% else %>
	<script>
		$(document).ready(function() {
			$('#compra_data_3i').focus();
		});
	</script>
<% end %>

<script type="text/javascript">
	$('#ingresso_conta_id').selectize();
	$('#ingresso_banco_id').selectize();
</script>

<script>
$("#ingresso_cheque_status").click(function() {
    if($(this).is(":checked")) {
        $(".cheque").show(300);
    } else {
        $(".cheque").hide(200);
    }
});    
</script>
