<%= form_for(Ingresso.new) do |f| %>
  <div class="row">

    <div class="col-md-12">
      <label><%= t('DATE') %> Lançamento</label>
      <%= f.date_select :data %>
    </div>


    <div class="col-md-12">
      <label><%= t('ACCOUNT') %></label>
      <%= f.collection_select :conta_id, Conta.all( :select => ' id, nome',:conditions => ["unidade_id = #{current_unidade.id}"], :order  => '2' ), :id, :nome, {:prompt => "Selecione"} %>

    </div>
    

    <div class="col-md-12">
      <%= field_us_label 'Valor R$:',f, :valor_real, :onchange   => "RsToUsGs('ingresso_cotacao','ingresso_cotacao_real','ingresso_valor_guarani','ingresso_valor_dolar','ingresso_valor_real')" %>
    </div>
    <div class="col-md-12">
      <%= field_gs_label 'Valor Gs.:',f, :valor_guarani, :onchange   => "GsToUsRs('ingresso_cotacao','ingresso_cotacao_real','ingresso_valor_guarani','ingresso_valor_dolar','ingresso_valor_real')"  %>
    </div>

    <div class="col-md-12">
      <%= field_us_label 'Valor U$:',f, :valor_dolar, :onchange   => "UsToGsRs('ingresso_cotacao','ingresso_cotacao_real','ingresso_valor_dolar','ingresso_valor_guarani','ingresso_valor_real')" %>
    </div>
    <div class="col-md-12">
      <br>
      <%= f.text_area :concepto, cols: 15, rows: 4, placeholder: 'Obs:' %>
    </div>

    <div class="row">
      <div class="col-md-12" align="center">
        <%= f.submit t('SAVE'), class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false"%>
      </div>
    </div>
  </div>
  <% end %>

<script type="text/javascript">
  $('#ingresso_conta_id').selectize();

  $('#ingresso_persona_id').selectize();

  $('#modal-ingresso').on('shown.bs.modal', function() {
    $('#ingresso_conta_id')[0].selectize.focus();
  })

</script>
