<div class="group">
<%= form_for(contrato_custo) do |f| %>
<%= f.hidden_field :moeda, value: @contrato.moeda %>
<%= f.hidden_field :contrato_id %>
  <table>
    <tr>                       
      <td>
      	<label>Colaborador</label>
      	<%= f.collection_select :persona_id, Persona.all( :select     => 'id,nome,tipo_funcionario',
                                                            :conditions => ["tipo_funcionario = 1 AND UNIDADE_ID = #{current_unidade.id}"],
                                                            :order      => '2'),:id,:nome %>
      </td>
      <td>
      	<label>Cargo</label>
      	<%= f.collection_select :cargo_id, Cargo.all( :select  => 'id,nome', :order => '2'),:id,:nome %>
      </td>
    	<td style="padding-top: 27px"><%= f.submit :value => t('SAVE'), :class => "btn btn-info" %></td>
    </tr>
    <tr>
      <td>
        <label>Qtd</label>
        <%= f.text_field :quantidade, :size => 15 %>
      </td>
      <% if @contrato.moeda.to_i == 0 %>
        <%= field_us_label 'U$.:',f, :valor_us %>
      <% elsif @contrato.moeda.to_i == 1 %>
        <%= field_gs_label 'Gs.:',f, :valor_gs %>
      <% elsif @contrato.moeda.to_i == 2 %>
        <%= field_us_label 'R$.:',f, :valor_rs %>
      <% end %>
    </tr>
  </table>
<% end %>
</div>
