
<p>
  <strong><%= t('PERSON') %>:</strong>
  <%= @contrato_custo.persona_id %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @contrato_custo.tipo %>
</p>

<p>
  <strong>Moeda:</strong>
  <%= @contrato_custo.moeda %>
</p>

<p>
  <strong>Valor gs:</strong>
  <%= @contrato_custo.valor_gs %>
</p>

<p>
  <strong>Valor us:</strong>
  <%= @contrato_custo.valor_us %>
</p>

<p>
  <strong>Valor rs:</strong>
  <%= @contrato_custo.valor_rs %>
</p>

<p>
  <strong>Contrato:</strong>
  <%= @contrato_custo.contrato_id %>
</p>


