<h1 id="header"><%= t('CITY') %> - [<%= t('EDITION') %>]</h1>
 <div class="group">
  <style type="text/css" media="screen">
    select{width: 100%;}
  </style>
  <%= form_for(@cidade) do |f| %>
    <% if @cidade.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@cidade.errors.count, "error") %> <%=  t('ERROR_ASSET_MESSAGE') %></h2>

        <ul>
          <% @cidade.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <table>
    <tr>
      <td colspan="4">
        <label><%= t('COUNTRY') %></label>
        <%= f.collection_select :paise_id, Paise.all(:order => '2'),:id,:nome, {prompt: 'Selecione lo Pais'},{ autofocus: true, required: true } %>
        <%= image_tag("load.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "spinner",
          :width => 21,
          :height => 21,
          :style =>"display: none;" ) %>

      </td>
    </tr>

    <tr>
      <td colspan="4">
        <label><%= t('STATE') %></label>
        <%= f.collection_select :estado_id, Estado.all(:order => '2'),:id,:nome, {prompt: 'Selecione lo Departamento'}, {required: true} %>
        <%= image_tag("load.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "spinner2",
          :width => 21,
          :height => 21,
          :style =>"display: none;" ) %>

      </td>
    </tr>
    <tr>
      <td colspan="4">
      <label>Ciudad</label>
        <%= f.text_field :nome, size: 60, required: true %>
      </td>
    </tr>
  </table>
  <div class="footer-buttons">
    <%= f.submit t('SAVE'), class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false"%>
    <%= link_to t('BACK'), cidades_path, :class => "btn btn-back" %>
  </div>
 <% end %>
 </div>


 <script type="text/javascript">
 $(document).ready(function() {
      $("#cidade_paise_id").change(function() {
        var data=$('#cidade_paise_id').val();
        $.ajax({
          type: "GET",
           url: "/cidades/dynamic_estados/"+data,
          data: data,
          beforeSend: function()
          {
              $('#spinner').show();
          },

          success: function(response)
          {
            $('#spinner').hide();
          }

        });
    });

      $("#cidade_estado_id").change(function() {
        var data=$('#cidade_estado_id').val();
        $.ajax({
          type: "GET",
           url: "/cidades/dynamic_regioes/"+data,
          data: data,
          beforeSend: function()
          {
              $('#spinner2').show();
          },

          success: function(response)
          {
            $('#spinner2').hide();
          }

        });
    });

  });
</script>