<ul class="tabs">
      <li><a href="#tab1"> <%= t('CITY') %>: <%= @cidade.nome %> - <%= t('REGION') %> <%= @cidade.regiao.nome unless @cidade.regiao.nil? %> - <%= t('STATE') %>: <%= @cidade.estado.nome unless @cidade.estado.nil? %> - <%= t('COUNTRY') %>: <%= @cidade.paise.nome unless @cidade.paise.nil? %></a></li>
</ul>
<div class="tab_container">
  <div id="tab1" class="tab_content">
    <table>
      <tr>
        <td width="1000">
          <fieldset>
            <table>
							<table class="head_grid">
							  <tr>
							    <td width="450">Áreas</td>
							  </tr>
							</table>
							<div class="rolagem" dir="div">
							  <table>
							    <% @cidade.cidade_areas.each do |c| %>
							      <tr class = "<%= cycle("cor1", "cor2")%>" >
							        <td width="450"><%= c.nome %></td>
							        <td><%= link_to 'Editar', edit_cidade_area_path(c) %></td>
							        <td><%= link_to t('DELETE'), c, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>

							      </tr>
							    <% end %>
							  </table>
							</div>
							<table>
							  <tr>
							    <td>
			              <div class="group">
				              <%= render :partial=>"/cidade_areas/new_area", :locals=>{:cidade_area =>CidadeArea.new(:cidade_id=>@cidade.id)} %>
			              </div>
							    </td>
							  </tr>
							</table>
          	</table>

        </fieldset>
        </td>
      </tr>
    </table>
  </div>
  <div class="buttons">
  	<%= link_to 'Editar', edit_cidade_path(@cidade), :class => "button back" %>
    <%= link_to 'Sair', cidades_path, :class => "button next" %>        
  </div>
</div>
