<style type="text/css">
  table{
    font-size: 12px;
  }
</style>
<table width="1090" align="center">
 <thead class="report-header">
    <tr>
      <td colspan="10" class="title" width="1090" align="center">
        <%= current_unidade.nome_sys %> <br>
        CIERRE DE CAJA
      </td>
    </tr>
  </thead>

  <% cotz = Moeda.find_by_data(params[:inicio].split("/").reverse.join("-")) %>
  <tr>
    <td>Fecha: <b><%= params[:inicio] %></b>  | Terminal: <b><%= Terminal.find_by_id(params[:busca]["terminal"]).nome %></b> </td>
  </tr>
  <tr>
    <td width="500">Cotización: U$ X G$:<%= format_int(cotz.real_compra.to_f) unless cotz.nil? %> | U$ X R$:<%= format_decimal(cotz.rs_us_compra.to_f)  unless cotz.nil? %></td>
  </tr>



<!-- Saldos Anterior Efetivos !-->

<% sql_saldo_anterior_gs = "SELECT
  SUM(COALESCE(F.ENTRADA_GUARANI,0) - COALESCE(F.SAIDA_GUARANI,0)) AS ANTERIOR_GS FROM FINANCAS F
  INNER JOIN CONTAS C
  ON C.ID = F.CONTA_ID
  LEFT JOIN CONTAS_FORMA_PAGOS CFP
  ON C.ID = CFP.CONTA_ID
  WHERE CFP.FORMA_PAGO_ID = 1 AND C.TERMINAL_ID = #{params[:busca]["terminal"]}  AND F.MOEDA = 1   AND F.DATA < '#{params[:inicio].split("/").reverse.join("-")}'"
  saldo_anterior_gs = Financa.find_by_sql(sql_saldo_anterior_gs)
%>

<% sql_saldo_anterior_us = "SELECT
  SUM(COALESCE(F.ENTRADA_DOLAR,0) - COALESCE(F.SAIDA_DOLAR,0)) AS ANTERIOR_US FROM FINANCAS F
  INNER JOIN CONTAS C
  ON C.ID = F.CONTA_ID
  LEFT JOIN CONTAS_FORMA_PAGOS CFP
  ON C.ID = CFP.CONTA_ID
  WHERE CFP.FORMA_PAGO_ID = 1 AND C.TERMINAL_ID = #{params[:busca]["terminal"]}  AND F.MOEDA = 0   AND F.DATA < '#{params[:inicio].split("/").reverse.join("-")}'"
  saldo_anterior_us = Financa.find_by_sql(sql_saldo_anterior_us)
%>

<% sql_saldo_anterior_rs = "SELECT
  SUM(COALESCE(F.ENTRADA_REAL,0) - COALESCE(F.SAIDA_REAL,0)) AS ANTERIOR_RS FROM FINANCAS F
  INNER JOIN CONTAS C
  ON C.ID = F.CONTA_ID
  LEFT JOIN CONTAS_FORMA_PAGOS CFP
  ON C.ID = CFP.CONTA_ID
  WHERE CFP.FORMA_PAGO_ID = 1 AND C.TERMINAL_ID = #{params[:busca]["terminal"]}  AND F.MOEDA = 2   AND F.DATA < '#{params[:inicio].split("/").reverse.join("-")}'"
  saldo_anterior_rs = Financa.find_by_sql(sql_saldo_anterior_rs)
%>

<!-- Saldos Efetivos !-->
<% sql_saldo_dia_gs = "SELECT
  SUM(COALESCE(F.ENTRADA_GUARANI,0) - COALESCE(F.SAIDA_GUARANI,0)) AS MOV_DIA_GS FROM FINANCAS F
  INNER JOIN CONTAS C
  ON C.ID = F.CONTA_ID
  LEFT JOIN CONTAS_FORMA_PAGOS CFP
  ON C.ID = CFP.CONTA_ID
  WHERE CFP.FORMA_PAGO_ID = 1 AND C.TERMINAL_ID = #{params[:busca]["terminal"]}  AND F.MOEDA = 1   AND F.DATA = '#{params[:inicio].split("/").reverse.join("-")}'"
  saldo_dia_gs = Financa.find_by_sql(sql_saldo_dia_gs)
%>

<% sql_saldo_dia_us = "SELECT
  SUM(COALESCE(F.ENTRADA_DOLAR,0) - COALESCE(F.SAIDA_DOLAR,0)) AS MOV_DIA_US FROM FINANCAS F
  INNER JOIN CONTAS C
  ON C.ID = F.CONTA_ID
  LEFT JOIN CONTAS_FORMA_PAGOS CFP
  ON C.ID = CFP.CONTA_ID
  WHERE CFP.FORMA_PAGO_ID = 1 AND C.TERMINAL_ID = #{params[:busca]["terminal"]}  AND F.MOEDA = 0   AND F.DATA = '#{params[:inicio].split("/").reverse.join("-")}'"
  saldo_dia_us = Financa.find_by_sql(sql_saldo_dia_us)
%>

<% sql_saldo_dia_rs = "SELECT
  SUM(COALESCE(F.ENTRADA_REAL,0) - COALESCE(F.SAIDA_REAL,0)) AS MOV_DIA_RS FROM FINANCAS F
  INNER JOIN CONTAS C
  ON C.ID = F.CONTA_ID
  LEFT JOIN CONTAS_FORMA_PAGOS CFP
  ON C.ID = CFP.CONTA_ID
  WHERE CFP.FORMA_PAGO_ID = 1 AND C.TERMINAL_ID = #{params[:busca]["terminal"]}  AND F.MOEDA = 2   AND F.DATA = '#{params[:inicio].split("/").reverse.join("-")}'"
  saldo_dia_rs = Financa.find_by_sql(sql_saldo_dia_rs)
%>

<tr>
  <td colspan="10">
    <table class="border" >
      <tr>
        <td width="200"><h2>Efectivo</h2></td>
        <td width="200" align="right"><h2>Gs.</h2></td>
        <td width="200" align="right"><h2>U$</h2></td>
        <td width="200" align="right"><h2>R$</h2></td>
      </tr>
      <tr>
        <td width="200">Saldo Anterior</td>
        <td align="right"><%= format_int(saldo_anterior_gs[0].anterior_gs) %></td>
        <td align="right"><%= format_decimal(saldo_anterior_us[0].anterior_us) %></td>
        <td align="right"><%= format_decimal(saldo_anterior_rs[0].anterior_rs) %></td>
      </tr>
      <tr>
        <td width="200">Saldo del Dia</td>
        <td align="right"><%= format_int(saldo_dia_gs[0].mov_dia_gs.to_f) %></td>
        <td align="right"><%= format_decimal(saldo_dia_us[0].mov_dia_us.to_f) %></td>
        <td align="right"><%= format_decimal(saldo_dia_rs[0].mov_dia_rs.to_f) %></td>
      </tr>

      <tr>
        <td width="200"><b>Saldo Efectivo Final</b></td>
        <td align="right"><b><%= format_int(saldo_anterior_gs[0].anterior_gs.to_f + saldo_dia_gs[0].mov_dia_gs.to_f) %></b></td>
        <td align="right"><b><%= format_decimal(saldo_anterior_us[0].anterior_us.to_f + saldo_dia_us[0].mov_dia_us.to_f) %></b></td>
        <td align="right"><b><%= format_decimal(saldo_anterior_rs[0].anterior_rs.to_f + saldo_dia_rs[0].mov_dia_rs.to_f) %></b></td>
      </tr>
    </table>
  </td>
</tr>

<!--Movimento em Gs!-->
<% sql_operacoes_gs =  "SELECT
                          F.SIGLA_PROC,
                          F.FORMA_PAGO_ID,
                          MAX(FP.NOME) AS FORMA_PAGO_NOME,
                          COUNT(F.ID) AS COUNT_REG,
                          SUM(COALESCE(F.ENTRADA_GUARANI,0) - COALESCE(F.SAIDA_GUARANI,0)) SALDO_GS
                        FROM FINANCAS F

                        INNER JOIN CONTAS C
                        ON C.ID = F.CONTA_ID

                        INNER JOIN FORMA_PAGOS FP
                        ON FP.ID = F.FORMA_PAGO_ID

                        WHERE C.TERMINAL_ID = #{params[:busca]["terminal"]}  AND F.MOEDA = 1   AND F.DATA = '#{params[:inicio].split("/").reverse.join("-")}'
                        GROUP BY 1,2"
operacoes_gs = Financa.find_by_sql(sql_operacoes_gs)
                      %>
<tr>
  <td colspan="10">
    <table class="border">
      <tr>
        <td colspan="3"><h2>Movimiento em Gs.</h2></td>
      </tr>
      <tr class="head">
        <td width="200">Origen</td>
        <td width="200">Qtd Mov</td>
        <td width="200">Forma Pago</td>
        <td width="200" align="right">Valor</td>
      </tr>
      <% operacoes_gs.each do |o_gs| %>
      <tr>
        <td><%= o_gs.sigla_proc %></td>
        <td><%= o_gs.count_reg %></td>
        <td><%= o_gs.forma_pago_nome %></td>
        <td align="right"><%= format_int(o_gs.saldo_gs) %></td>
      </tr>
      <% end %>
    </table>
  </td>
</tr>

<!--Movimento em Us!-->
<% sql_operacoes_us =  "SELECT
                          F.SIGLA_PROC,
                          F.FORMA_PAGO_ID,
                          MAX(FP.NOME) AS FORMA_PAGO_NOME,
                          COUNT(F.ID) AS COUNT_REG,
                          SUM(COALESCE(F.ENTRADA_DOLAR,0) - COALESCE(F.SAIDA_DOLAR,0)) SALDO_US
                        FROM FINANCAS F

                        INNER JOIN CONTAS C
                        ON C.ID = F.CONTA_ID

                        INNER JOIN FORMA_PAGOS FP
                        ON FP.ID = F.FORMA_PAGO_ID

                        WHERE C.TERMINAL_ID = #{params[:busca]["terminal"]}  AND F.MOEDA = 0   AND F.DATA = '#{params[:inicio].split("/").reverse.join("-")}'
                        GROUP BY 1,2"
operacoes_us = Financa.find_by_sql(sql_operacoes_us)
                      %>
<tr>
  <td colspan="10">
    <table class="border">
      <tr>
        <td colspan="3"><h2>Movimiento em U$</h2></td>
      </tr>
      <tr class="head">
        <td width="200">Origen</td>
        <td width="200">Qtd Mov</td>
        <td width="200">Forma Pago</td>
        <td width="200" align="right">Valor</td>
      </tr>
      <% operacoes_us.each do |o_us| %>
      <tr>
        <td><%= o_us.sigla_proc %></td>
        <td><%= o_us.count_reg %></td>
        <td><%= o_us.forma_pago_nome %></td>
        <td align="right"><%= format_decimal(o_us.saldo_us) %></td>
      </tr>
      <% end %>
    </table>
  </td>
</tr>

<!--Movimento em Rs!-->
<% sql_operacoes_rs =  "SELECT
                          F.SIGLA_PROC,
                          F.FORMA_PAGO_ID,
                          MAX(FP.NOME) AS FORMA_PAGO_NOME,
                          COUNT(F.ID) AS COUNT_REG,
                          SUM(COALESCE(F.ENTRADA_REAL,0) - COALESCE(F.SAIDA_REAL,0)) SALDO_RS
                        FROM FINANCAS F

                        INNER JOIN CONTAS C
                        ON C.ID = F.CONTA_ID

                        INNER JOIN FORMA_PAGOS FP
                        ON FP.ID = F.FORMA_PAGO_ID

                        WHERE C.TERMINAL_ID = #{params[:busca]["terminal"]}  AND F.MOEDA = 2 AND F.DATA = '#{params[:inicio].split("/").reverse.join("-")}'
                        GROUP BY 1,2"
operacoes_rs = Financa.find_by_sql(sql_operacoes_rs)
                      %>
<tr>
  <td colspan="10">
    <table class="border">
      <tr>
        <td colspan="3"><h2>Movimiento em R$</h2></td>
      </tr>
      <tr class="head">
        <td width="200">Origen</td>
        <td width="200">Qtd Mov</td>
        <td width="200">Forma Pago</td>
        <td width="200" align="right">Valor</td>
      </tr>
      <% operacoes_rs.each do |o_rs| %>
      <tr>
        <td><%= o_rs.sigla_proc %></td>
        <td><%= o_rs.count_reg %></td>
        <td><%= o_rs.forma_pago_nome %></td>
        <td align="right"><%= format_decimal(o_rs.saldo_rs) %></td>
      </tr>
      <% end %>
    </table>
  </td>
</tr>

<tr>
  <td>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>____________________________________________</p>
    <p>Firma Responsable</p>
  </td>
</tr>


<style type="text/css">
  .border {
    border-collapse: collapse;
    margin-top: 20px !important;
  }
 .border  td, .border tr {
    border: 1px solid black;
    padding: 5px;
    font-size: 12px;
  }

</style>
