<%= form_for(persona_produto) do |f| %>
  <% if persona_produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(persona_produto.errors.count, "error") %> prohibited this persona_produto from being saved:</h2>

      <ul>
      <% persona_produto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <table>
      <tr>
        <td>
          <fieldset>

            <table>
              <tr>
                <%= f.hidden_field :persona_id %>
                <td align="right">Producto:</td>                    
                <td colspan="5"><%= f.collection_select :produto_id, Produto.all(:select => 'id,nome',:order => '2'),:id,:nome,{prompt: 'Selecione o producto'}, {:class => "selc_medium", autofocus: true} %></td>
                </tr>
                <tr>
               	<%= field_gs 'Precio Gs.:',f,:preco_gs %>

               <%= field_us 'U$:',f,:preco_us %>

               <%= field_us 'R$:',f,:preco_rs %>                                
                <td><%= f.submit :value => t('SAVE'), :class => "button" %></td>
               </tr>                 
            </table>
          </fieldset>
        </td>
      </tr>
    </table>
	<% end %>