
<p>
  <strong><%= t('PERSON') %>:</strong>
  <%= @persona_produto.persona_id %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @persona_produto.produto_id %>
</p>

<p>
  <strong>Preco us:</strong>
  <%= @persona_produto.preco_us %>
</p>

<p>
  <strong>Preco gs:</strong>
  <%= @persona_produto.preco_gs %>
</p>

<p>
  <strong>Preco rs:</strong>
  <%= @persona_produto.preco_rs %>
</p>


