
<!--3FRONTEIRAS!-->
<body  onload="print()">
	<% if @vendas_fatura.tipo == 0
	    	tipo_venda = "CONTADO"
		  else
		    tipo_venda = "CREDITO"
		  end
	%>


<style type="text/css">
</style>

			<table align="left"  valign="top"  border="0" >

				<tr>
					<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:6px;
		border-collapse: collapse;" colspan="5" height="28" width="1300" align="right" valign="bottom" >
						<%= @vendas_fatura.documento_numero_01 %>-<%= @vendas_fatura.documento_numero_02%>-<%= @vendas_fatura.documento_numero %>/<%= @venda.id %> 
					</td>
				</tr>				
				<tr>
					<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:8px;
		border-collapse: collapse;" align="left" colspan="5" style="margin:0;padding:0;">
					<% 10.times do |t| %>
						&nbsp
					<% end %>

					<%= @venda.data.strftime("%d") %>
					<% 15.times do |t| %>
						&nbsp
					<% end %>
					<%= l @venda.data, :format => :mes %>
					<% 19.times do |t| %>
						&nbsp
					<% end %>
					<%= @venda.data.strftime("%Y") %>
					<% 2.times do |t| %>
						&nbsp
					<% end %>
					<%= Time.now.strftime('%H:%M') %>
				</tr>
				<tr>
					<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:8px;
		border-collapse: collapse;" width="50"  style="margin:0;padding:0;"></td>
					<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:8px;
		border-collapse: collapse;"  colspan="2" align="left"  style="margin:0;padding:0; margin-top: -2px; position: absolute;">
					<% 8.times do |t| %>
						&nbsp
					<% end %>
						<%= @vendas_fatura.nome_fatura %>
					</td>

					<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:8px;
		border-collapse: collapse;" align="left" style="margin:0;padding:0; margin-left: 470px; margin-top: -4px; position: absolute;">
						<%= @vendas_fatura.ruc_fatura %>
					</td>
				</tr>				
				<tr>
					<td></td>
					
					<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:8px;
		border-collapse: collapse;" width="550"  align="left" >
						<% 5.times do |t| %>
							&nbsp
						<% end %>
						<div style="margin:0;padding:0; margin-left: 50px; margin-top: -4px; position: absolute;">
							<%= @vendas_fatura.venda.persona.direcao %>
						</div>
						
					</td>
				</tr>
				<tr>
					<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:8px;
		border-collapse: collapse;" width="50"  style="margin:0;padding:0;"></td>
					<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:8px;
		border-collapse: collapse;"  colspan="2" align="left"  style="margin:0;padding:0; margin-left: 450px; margin-top: -2px; position: absolute;">
					<% 5.times do |t| %>
						&nbsp
					<% end %>
					</td>

					<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:8px;
		border-collapse: collapse;margin:0;padding:0;margin-left: 0px; margin-top: -1px; position: absolute;" align="left" >
						<%= tipo_venda %>
					</td>
				</tr>

				<tr height="100" valign="top" >
					<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:8px;
		border-collapse: collapse;" colspan="5">
						<table>
							<% count        = 1 %>
							<% tottaxa0_gs  = 0 %>
							<% tottaxa0_us  = 0 %>
							<% tottaxa10_gs = 0 %>
							<% tottaxa10_us = 0 %>
							<% tottaxa05_gs = 0 %>
							<% tottaxa05_us = 0 %>
							<% @venda_produto.each do |produto| %>
							<tr>								
								<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:7px;
		border-collapse: collapse;" width="120" align="right"><%= produto.produto_id %></td>
								<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:7px;
		border-collapse: collapse;" width="90"  align="right">		
		<%= produto.quantidade.to_f %>
		</td>
								<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:7px;
		border-collapse: collapse;" width="550" align="left">
								<% 9.times do |t| %>&nbsp<% end %>
								<%= produto.produto_nome %></td>

								<% if @venda.moeda == 0 %>
									<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:7px;
		border-collapse: collapse;" width="140"  align="right"><%= format_decimal(produto.unitario_dolar) %></td>
								<% else %>
									<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:7px;
		border-collapse: collapse;" width="140"  align="right"><%= format_int(produto.unitario_guarani) %></td>
								<% end %>

								<% if produto.taxa.to_i == 0 %>

									<% if @venda.moeda == 0 %>
										<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:7px;
		border-collapse: collapse;" width="140" align="right"><%= format_decimal(produto.quantidade.to_f * produto.unitario_dolar) %></td>
									<% else %>
										<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:7px;
		border-collapse: collapse;" width="140" align="right" ><%= format_int(produto.quantidade.to_f * produto.unitario_guarani) %></td>
									<% end %>

									<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:7px;
		border-collapse: collapse;" width="140" align="right">0</td>
									<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:7px;
		border-collapse: collapse;" width="140" align="right">0</td>
									<% tottaxa0_gs  = tottaxa0_gs + produto.total_guarani %>
									<% tottaxa0_us  = tottaxa0_us + produto.total_dolar %>

								<% elsif produto.taxa.to_i == 5 %>

								<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:7px;
		border-collapse: collapse;" width="140" align="right">0</td>

								<% if @venda.moeda == 0 %>
									<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:7px;
		border-collapse: collapse;" width="140" align="right"><%= format_decimal(produto.total_dolar) %></td>
								<% else %>
									<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:7px;
		border-collapse: collapse;" width="140" align="right"><%= format_int(produto.total_guarani) %></td>
								<% end %>
								
								<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:7px;
		border-collapse: collapse;" width="140" align="right">0</td>

								<% tottaxa05_gs  = tottaxa05_gs + produto.total_guarani %>
								<% tottaxa05_us  = tottaxa05_us + produto.total_dolar %>

								<% elsif produto.taxa.to_i == 10 %>
									<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:7px;
		border-collapse: collapse;" width="140" align="right">0</td>
									<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:7px;
		border-collapse: collapse;" width="140" align="right">0</td>

									<% if @venda.moeda == 0 %>
										<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:7px;
		border-collapse: collapse;" width="140" align="right"><%= format_decimal(produto.total_dolar) %></td>
									<% else %>
										<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:7px;
		border-collapse: collapse;" width="140" align="right"><%= format_int(produto.total_guarani) %></td>
									<% end %>

								<% tottaxa10_gs  = tottaxa10_gs + produto.total_guarani %>
								<% tottaxa10_us  = tottaxa10_us + produto.total_dolar %>

								<% end %>
							</tr>
							<% count += 8 %>
							<% end %>
							</table>
							</td>
						</tr>					

<!--RESULTADOS !-->

				<tr style="margin:0;padding:0;margin-left:-2px; margin-top: -4px; position: absolute;">
					<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:7px;
		border-collapse: collapse;" colspan="5" align="right"  width="1255">					
						<table style="font-size:7px;">

						<% if @venda.moeda == 0 %>
							<tr>
								<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:7px;
		border-collapse: collapse;" width="810"></td>
								<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:7px;
		border-collapse: collapse;" colspan="4"></td>
                  <td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:7px;
		border-collapse: collapse;" width="140" align="right"><%= number_to_currency(tottaxa0_us, :format=>' %n ', :separeitor => ',') %></td>
                  <td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:7px;
		border-collapse: collapse;" width="140" align="right"><%= number_to_currency(tottaxa05_us, :format=>' %n ', :separeitor => ',') %></td>
                  <td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:7px;
		border-collapse: collapse;" width="140" align="right"><%= number_to_currency(tottaxa10_us, :format=>' %n ', :separeitor => ',') %></td>                              	
				        </tr>
				      <% else %>
							<tr>
								<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:7px;
		border-collapse: collapse;" width="950"></td>
            		<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:7px;
		border-collapse: collapse;" width="140" align="right"><b><%= number_to_currency(tottaxa0_gs, :format=>' %n ', :precision => 0) %></b></td>
                <td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:7px;
		border-collapse: collapse;" width="140" align="right"><b><%= number_to_currency(tottaxa05_gs, :format=>' %n ', :precision => 0) %></b></td>
                <td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:7px;
		border-collapse: collapse;" width="140" align="right"><b><%= number_to_currency(tottaxa10_gs, :format=>' %n ', :precision => 0) %></b></td>                              	
				      </tr>
				     	<% end %>							
						</table>
					</td>
				</tr>

				<tr style="margin:0;padding:0;margin-left:-2px; margin-top: 7px; position: absolute;">
					<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:8px;
		border-collapse: collapse;" align="left" colspan="5" style="margin:0;padding:0;font-size:7px;">
					<% 18.times do |t| %>
						&nbsp
					<% end %>

					<%= number_to_currency(@produto_sum_iva05_gs.to_f, :format=>' %n ', :precision => 0)%>
					<% 18.times do |t| %>
						&nbsp
					<% end %>
					<%= number_to_currency(@produto_sum_iva10_gs.to_f, :format=>' %n ', :precision => 0)%>
					<% 18.times do |t| %>
						&nbsp
					<% end %>
					<%= number_to_currency(@produto_sum_iva05_gs.to_f + @produto_sum_iva10_gs.to_f, :format=>' %n ', :precision => 0)%>
				</tr>
				<tr style="margin:0;padding:0;margin-left:-2px; margin-top: 13px; position: absolute;font-size:7px;">
					<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:8px;
		border-collapse: collapse;" colspan="5" align="left"  width="1200">					
						<% 18.times do |t| %>
							&nbsp
						<% end %>
						<%= I18n.with_locale(:es) { @produto_sum_guarani.to_i.to_words.upcase }%>
					</td>
					<td style="font-family:Lucida Console, Courier, Monotype;
		font-style: normal;
		font-size:8px;
		border-collapse: collapse;" style="font-size:8px" width="100" valign="top"><b> TOTAL Gs<%= number_to_currency(@produto_sum_guarani.to_f, :format=>' %n ', :precision => 0)%></b></td>
				</tr>
			</table>
</body>

