
<p>
  <strong>Venda:</strong>
  <%= @vendas_fatura.venda_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @vendas_fatura.status %>
</p>

<p>
  <strong>Total dolar:</strong>
  <%= @vendas_fatura.total_dolar %>
</p>

<p>
  <strong>Total guarani:</strong>
  <%= @vendas_fatura.total_guarani %>
</p>

<p>
  <strong>Nome fatura:</strong>
  <%= @vendas_fatura.nome_fatura %>
</p>

<p>
  <strong>Ruc fatura:</strong>
  <%= @vendas_fatura.ruc_fatura %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @vendas_fatura.quantidade %>
</p>

<p>
  <strong>Documento numero 01:</strong>
  <%= @vendas_fatura.documento_numero_01 %>
</p>

<p>
  <strong>Documento numero 02:</strong>
  <%= @vendas_fatura.documento_numero_02 %>
</p>

<p>
  <strong>Documento numero:</strong>
  <%= @vendas_fatura.documento_numero %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @vendas_fatura.tipo %>
</p>


