<h1 id="header">COMPRAS</h1>
<div class="acessos">
	<%= link_to 'Compra Fiscal', new_compra_path(tipo_compra: 'cmint', fiscal: 'true'), :class => 'button add' %>
	<%= link_to "Compra #{t('NOT')} Fiscal", new_compra_path(tipo_compra: 'cmint', fiscal: 'false'), :class => 'button add' %>
	<%= link_to "Compra #{t('IMPORTATION')}", new_compra_path(tipo_compra: 'cmimp', fiscal: 'false'), :class => 'button add' %>
</div>
 <div class="group">
		 <%= form_tag busca_compras_path, :method => "get" do%>
			<table>
        <tr>
          <!--FILTRO_DATA!-->
          <td><%= t('DATE') %></td>
          <td colspan="2">
            <%= text_field_tag :inicio, Time.now.strftime("%d/%m/%Y"), size: 10,  class: "input-addon", onkeyup: "Formatadata(this,event)" %>
            <div class="input-group-addon-f">
              <span class="icon-calendar"></span>
            </div>
            <div class="date-separ"><%= t('TO') %></div>
          <td class="date-separ">
            <%= text_field_tag :final, Time.now.strftime("%d/%m/%Y"), size: 10,  class: "input-addon", onkeyup: "Formatadata(this,event)",required: true %>
            <div class="input-group-addon-f">
              <span class="icon-calendar"></span>
            </div>
          </td>
					<td>
						<%= select_tag :tipo, options_for_select([[t('PROVIDER'),"PROVEEDOR"],['Código',"CODIGO"], [t('DOC'),"DOCUMENTO"]]) %>
					</td>
          <td colspan="4">
            <input id="busca" name="busca" type="text" onkeyup = "pesquisa(this.value),f(this)"onkeydown = "f(this)" size="32"/>
            <input type="button" class="btn btn-blue" onclick="pesquisa(document.getElementById('busca').value)" value="Buscar"/>
            <%= image_tag("load.gif", align: "absmiddle", border: 0, id: "spinner", width: 21, height: 21, style: "display: none;") %>
          </td>
				 </tr>
			</table>
			<input type="hidden" id="seta" value="0"/>
		 <% end %>
 </div>
<div id="show_spinner_image" style="display: none">
	 <%= image_tag("load.gif",
							 :align => "absmiddle",
							 :border => 0,
							 :id => "spinner",
							 :width => 21,
							 :height => 21 ) %>
</div>

<div id="pagina"></div>

<script language="javascript">
  function pesquisa(valor){
    url="/compras/busca?" + $('form').serialize();
    ajax(url);
  }
</script>
<%= javascript_include_tag 'busca_ajax' %>
