<div class="group">
  <%= form_for [:crm, @etapa] do |f| %>  
    <div class="row">
      <div class="col-md-12">
        <label>Etapa</label>
        <%= f.text_field :nome, class: 'panel-field' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>Maximo de dias</label>
        <%= f.text_field :max_data, class: 'panel-field' %>
      </div>
    </div>    
    
    <div class="footer-buttons">
      <%= f.submit t('SAVE'), class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false"%>
      <%= link_to 'Volver', crm_pipeline_path(@etapa.pipeline_id), :class => "btn back" %>
    </div>

  <% end %>
</div>