<h1 id="header">etapas</h1>
<div class="acessos">
  <%= link_to 'Nuevo', new_etapa_path, :class => "button add" %>
</div>

<table class="head_grid">
  <tr>
            <td>Pipeline</t>
            <td>Ordem</t>
            <td>Max data</t>
      </tr>
</table>

<div class="rolagem" dir="div">
  <table>
    <% @etapas.each do |etapa| %>
      <tr>
                  <td><%= etapa.pipeline_id %></td>
                  <td><%= etapa.ordem %></td>
                  <td><%= etapa.max_data %></td>
                <td><%= link_to 'Editar', edit_etapa_path(etapa) %></td>
        <td><%= link_to 'Borrar', etapa, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </table>
</div>

