<h1 id="header">venda_compras</h1>
<div class="acessos">
  <%= link_to 'Nuevo', new_venda_compra_path, :class => "button add" %>
</div>

<table class="head_grid">
  <tr>
            <td>Venda</t>
            <td>Compra</t>
      </tr>
</table>

<div class="rolagem" dir="div">
  <table>
    <% @venda_compras.each do |venda_compra| %>
      <tr>
                  <td><%= venda_compra.venda_id %></td>
                  <td><%= venda_compra.compra_id %></td>
                <td><%= link_to 'Editar', edit_venda_compra_path(venda_compra) %></td>
        <td><%= link_to 'Borrar', venda_compra, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </table>
</div>

