
<p>
  <strong>Negocio:</strong>
  <%= @negocio_produto.negocio_id %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @negocio_produto.produto_id %>
</p>

<p>
  <strong>Moeda:</strong>
  <%= @negocio_produto.moeda %>
</p>

<p>
  <strong>Unit us:</strong>
  <%= @negocio_produto.unit_us %>
</p>

<p>
  <strong>Unit gs:</strong>
  <%= @negocio_produto.unit_gs %>
</p>

<p>
  <strong>Tot gs:</strong>
  <%= @negocio_produto.tot_gs %>
</p>

<p>
  <strong>Tot us:</strong>
  <%= @negocio_produto.tot_us %>
</p>


