<div class="panel">
  <h1 id="header">
    Cliente: <%= @persona.id.to_s.rjust(6,'0') %>-<%= @persona.nome_fatura %> | Fantasia: <%= @persona.nome %> | RUC/CI: <%= @persona.ruc %>
  </h1>
  <div class="panel-content">
     <%= form_tag busca_historico_vendas_persona_path, id: 'historico_vendas', :method => "get" do %>

      <div class="row">
        <div class="col-md-2">
          <%= text_field_tag :hv_inicio, nil, class: 'input-addon', onkeyup: "Formatadata(this,event)", required: true, size: 15 %>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" >
              <i class="icon-calendar" aria-hidden="true"></i>
            </button>
          </span>
        </div>

        <div class="col-md-2">
          <%= text_field_tag :hv_final, nil, class: 'input-addon', onkeyup: "Formatadata(this,event)", required: true, size: 15 %>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" >
              <i class="icon-calendar" aria-hidden="true"></i>
            </button>
          </span>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" >
                <i class="icon-search" aria-hidden="true"></i>
              </button>
            </span>
            <input id="hv_busca" name="hv_busca" type="search" value="<%= params[:hv_busca]%>" placeholder="Buscar" onKeyUp="pesquisa(document.getElementById('hv_busca').value)" size="40" autocapitalize="off" autocomplete="off" autocorrect="off" autofocus />
            <%= image_tag("load.gif", :align => "absmiddle", :border => 0, :id => "spinner_hv", :width => 21, :height => 21, :style =>"display: none;" ) %>
          </div>
        </div>
      </div>
   <% end %>
  </div>
</div>

<div id="hv_pagina"></div>

 <script language="javascript">

  function pesquisa(valor){
    url="/personas/<%= @persona.id %>/busca_historico_vendas?" + $('#historico_vendas').serialize();
    ajax(url);
  }

  function ajax(url){
    $('#spinner_hv').show();
    req = null;

    if (window.XMLHttpRequest) {

      req = new XMLHttpRequest();

      req.onreadystatechange = processReqChange;

      req.open("GET",url,true);

      req.send(null);

    } else if (window.ActiveXObject) {

      req = new ActiveXObject("Microsoft.XMLHTTP");

      if (req) {
        req.onreadystatechange = processReqChange;

        req.open("GET",url,true);

        req.send();
      }
    }
  }


  function processReqChange()
  {

    if (req.readyState == 4) {

      if (req.status ==200) {
        onSuccess:$('#spinner_hv').hide();
        document.getElementById('hv_pagina').innerHTML = req.responseText;

      } else {
        alert("Houve um problema ao obter os dados:n" + req.statusText);
      }
    }
  }

  function bloqEnter(objEvent) {
      var iKeyCode;
      iKeyCode = objEvent.keyCode;
      if(iKeyCode == 13) return false;
      return true;
  }
</script>
