<div class="row">
	<div class="col-md-3">
		<div class="row">
			<div class="col-md-12"><%= render 'personas/visao_geral_finan/dados_base' %></div>
		</div>
		<div class="row">
			<div class="col-md-12"><%= render 'personas/visao_geral_finan/limite_credito' %></div>
		</div>

	</div>
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-12"><%= render 'personas/visao_geral_finan/receber' %></div>

		</div>

		<div class="row">
			<div class="col-md-12"><%= render 'personas/visao_geral_finan/cheques' %></div>
		</div>
		<div class="row">
			<div class="col-md-12">

<div class="panel">
	<div class="panel-content">
		<%= link_to t('VOUCHER'), "#", :onClick=>"Comprovante()", class: 'btn' %>
		<%= link_to 'Volver', "/personas/consulta_cliente/", class: 'btn' %>
		<input type="text" name="email" placeholder="exemplo@gmail.com"><a href="javascript:void(0)" class="btn btn-green" id="btn_enviar">Enviar por e-mail</a>
	</div>
</div>

			</div>
		</div>
	</div>
</div>


<style>
	i {
		margin-top: 2px;
		margin-right: 5px;
	}

	.panel-tag {
	  border-radius: 4px;
	  color: #fff;
	  padding: 1px 8px 1px 8px;
	}
</style>

<%= hidden_field_tag :id, @persona.id %>

<script type="text/javascript">

	$(document).ready(function(){
		$("#btn_enviar").click(function(){
      $.ajax({
      	url: '/vendas/enviar_email_dividas',
        type: 'POST',
        beforeSend: function(xhr) {
        	xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
        }, data: {
        	"persona_id": $("#id").val(),
        	"persona_id": $("#id").val()
        }, success: function(data){
        	$('#adelanto_cotacao_real').val(data);
        }
      });
		});
	});

	$('input[type="checkbox"]').on('change', function(e){
	  if(e.target.checked){
	    window.location.href = "/personas/<%= @persona.id %>/visao_geral_cliente?interes=false"
	  }else{
	    window.location.href = "/personas/<%= @persona.id %>/visao_geral_cliente"
	  }
	});


	<% if params[:interes] != 'false' %>
		function Comprovante(compra){
	    window.open('/personas/' + <%= @persona.id %> +'/visao_geral_cliente_print' , 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
	  }
  <% else %>
		function Comprovante(compra){
	    window.open('/personas/' + <%= @persona.id %> +'/visao_geral_cliente_print?interes=false' , 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
	  }

  <% end  %>


	function Compras(){
    window.open('/personas/' + document.getElementById('id').value + '/compras', 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
  }


	$(window).keydown(function(event) {
	  if(event.ctrlKey && event.keyCode == 70) {
	    window.open('/personas/' + document.getElementById('id').value+'/compras', 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
	    event.preventDefault();
	  }
	});


	function Vendas(){
    window.open('/personas/' + document.getElementById('id').value+'/vendas', 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
  }


	$(window).keydown(function(event) {
	  if(event.ctrlKey && event.keyCode == 70) {
	    window.open('/personas/' + document.getElementById('id').value+'/vendas', 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
	    event.preventDefault();
	  }
	});


	function DetalheVenda(venda){
    window.open('/personas/' + <%= @persona.id %> +'/detalhe_venda?venda=' + venda , 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
  }


	$(window).keydown(function(event) {
	  if(event.ctrlKey && event.keyCode == 70) {
	    window.open('/personas/' + <%= @persona.id %> +'/detalhe_venda?venda=' + venda , 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
	    event.preventDefault();
	  }
	});


	function DetalheCompra(compra){
    window.open('/personas/' + <%= @persona.id %> +'/detalhe_compra?compra=' + compra , 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
  }


	$(window).keydown(function(event) {
	  if(event.ctrlKey && event.keyCode == 70) {
	    window.open('/personas/' + <%= @persona.id %> +'/detalhe_compra?compra=' + compra , 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
	    event.preventDefault();
	  }
	});



	function Cobros(compra){
    window.open('/personas/' + <%= @persona.id %> +'/cobros?compra=' + compra , 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
  }


	$(window).keydown(function(event) {
	  if(event.ctrlKey && event.keyCode == 70) {
	    window.open('/personas/' + <%= @persona.id %> +'/cobros?compra=' + compra , 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
	    event.preventDefault();
	  }
	});


	function Pagos(compra){
    window.open('/personas/' + <%= @persona.id %> +'/pagos?compra=' + compra , 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
  }


	$(window).keydown(function(event) {
	  if(event.ctrlKey && event.keyCode == 70) {
	    window.open('/personas/' + <%= @persona.id %> +'/pagos?compra=' + compra , 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
	    event.preventDefault();
	  }
	});


	function EnviarEmail(id){
		window.open("/clientes/"+ id +"/enviar_email", '', ' SCROLLBARS=YES, TOP=10, LEFT=50, WIDTH=800, HEIGHT=300');
	}

</script>
