  <div class="groupvenda">
    <%= form_tag dinamic_busca_presupuesto_produto_produtos_path, :method => "get" do%>

      <input id         ="busca"
             name       ="busca"
             type       ="search"
             size       ="60"
             placeholder ="Busca"
             value="<%= params[:busca]%>"
             autofocus/>
      <input type   ="button"
             id     ="button"
             onclick="pesquisa(document.getElementById('busca').value)"
             value  ="Buscar..."
             class="button"
             data-plus-as-tab ="false"/>
      <%= image_tag("load.gif",
           :align => "absmiddle",
           :border => 0,
           :id => "spinner",
           :width => 21,
           :height => 21,
           :style =>"display: none;" ) %>
    <% end %>
    <hr/>
    <div id="pagina">
    </div>

  </div>
  <%= hidden_field_tag :moeda, params[:moeda] %>
  <%= hidden_field_tag :unidade, params[:unidade] %>
  <%= hidden_field_tag :tabela_preco, params[:tabela_preco] %>

<script language="javascript">
  var moeda = document.getElementById('moeda').value
   function Fecha(produto_nome,produto_id,preco_us,preco_gs,preco_rs){
      window.opener.document.getElementById('presupuesto_produto_produto_nome').value      = produto_nome;
      window.opener.document.getElementById('presupuesto_produto_produto_id').value        = produto_id;
      if (moeda == '0'){
        window.opener.document.getElementById('presupuesto_produto_unitario_dolar').value  = preco_us;
      }else if (moeda == '1'){
        window.opener.document.getElementById('presupuesto_produto_unitario_guarani').value  = preco_gs;
      }else{
        window.opener.document.getElementById('presupuesto_produto_unitario_real').value  = preco_rs;
      }
      window.opener.document.getElementById("presupuesto_produto_quantidade").focus()
      self.close();
   }

   function pesquisa(valor){

      var moeda  = document.getElementById('moeda').value
      var tabela_preco  = document.getElementById('tabela_preco').value

      url="/produtos/dinamic_busca_presupuesto_produto?tabela_preco="+tabela_preco+"&moeda="+moeda+"&tabela_preco="+1+"&busca="+valor+"";
      ajax(url);

   }


   function ajax(url){
      $('#spinner').show();

      req = null;

      // Procura por um objeto nativo (Mozilla/Safari)

      if (window.XMLHttpRequest) {

         req = new XMLHttpRequest();

         req.onreadystatechange = processReqChange;

         req.open("GET",url,true);

         req.send(null);

         // Procura por uma versão ActiveX (IE)

      } else if (window.ActiveXObject) {

         req = new ActiveXObject("Microsoft.XMLHTTP");

         if (req) {



            req.onreadystatechange = processReqChange;

            req.open("GET",url,true);



            req.send();

         }

      }

   }



   function processReqChange()

   {



      // apenas quando o estado for "completado"

      if (req.readyState == 4) {



         // apenas se o servidor retornar "OK"



         if (req.status ==200) {



            // procura pela div id="pagina" e insere o conteudo

            // retornado nela, como texto HTML


            onSuccess:$('#spinner').hide();
            document.getElementById('pagina').innerHTML = req.responseText;



         } else {

            alert("Houve um problema ao obter os dados:n" + req.statusText);

         }

      }

   }
</script>
</body>