<%  ep = Empresa.last.segmento.to_i %>
<% if params[:up].to_s == '1' %>
  <div class="Mensagem" id="observacao">
    <%= t('SUCESSFUL_EDIT_MESSAGE') %>
  </div>
<% end %>

<table class="head_grid">
  <tr>
    <td width="55"><%= t('CODE') %></td>
    <td width="150">Clase/Marca</td>
    <td width="150">Grupo</td>
    <% if ep == 2 %>
      <td width="120">Tipo</td>
      <td width="100">Color</td>
      <td width="100">Anõ</td>
      <td width="150">Chasis</td>
    <% else %>
      <td width="150">Cod. Fabri.</td>
      <td width="150">Barra</td>
    <% end %>
      <td width="250"><%= t('PRODUCT') %></td>
      <td width="50"></td>
  </tr>
</table>
<div class="rolagem" id="div">
  <table>
    <% @produtos.each do |p| %>
    <% #p.update_attribute :updated_at, '2024-03-12' %>
      <tr class = "<%= cycle("cor1", "cor2")%>">
        <td width="55" align="center"><%= link_to p.id.to_s.rjust(6, '0'), produto_path(p) %>
        <td width="150"> <small><%= p.clase.descricao unless p.clase.blank?  %></small></td>
        <td width="150"> <small><%= p.grupo.descricao unless p.grupo.nil? %></small></td>
        <% if ep == 2 %>
          <td width="120"><small><%= p.referencia %></small></td>
          <td width="100"><small><%= p.cor %></small></td>
          <td width="100"><small><%= p.ano %></small></td>
          <td width="150"><small><%= p.chassi %></small></td>
        <% else %>
          <td width="150"><small><%= p.fabricante_cod %></small></td>
          <td width="150"><small><%= p.barra %></small></td>
        <% end %>
        <td width="200"><small><%= p.nome %></small></td>
        <td><%= link_to '', galeria_produto_path(p), class: 'icon-camera' %></td>
        <td><%= link_to '', edit_produto_path(p), class: 'icon-pencil' %></td>
        <td><%= link_to '', p, confirm: 'Estas Seguro?', :method => :delete, class: 'icon-trash' %></td>
      </tr>
    <% end %>
  </table>
</div>
<div class="head_grid">
  <%= will_paginate @produtos, "data-remote" => "true" %>
</div>

