<h1 id="header">acoes</h1>
<div class="acessos">
  <%= link_to t('NEW'), new_acao_path, :class => "button add" %>
</div>

<table class="head_grid">
  <tr>
            <td><%= t('NAME') %></ttd>
            <td>Status</td>
      </tr>
</table>

<div class="rolagem" dir="div">
  <table>
    <% @acoes.each do |acao| %>
      <tr>
                  <td><%= acao.nome %></td>
                  <td><%= acao.status %></td>
                <td><%= link_to 'Editar', edit_acao_path(acao) %></td>
        <td><%= link_to t('DELETE'), acao, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </table>
</div>

