
<p>
  <strong>Troca:</strong>
  <%= @troca_produto.troca %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @troca_produto.produto %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @troca_produto.quantidade %>
</p>

<p>
  <strong>Unitario gs:</strong>
  <%= @troca_produto.unitario_gs %>
</p>

<p>
  <strong>Total gs:</strong>
  <%= @troca_produto.total_gs %>
</p>

<p>
  <strong>Status:</strong>
  <%= @troca_produto.status %>
</p>



