<%= form_for(@avaliacao_ref) do |f| %>
  <% if @avaliacao_ref.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@avaliacao_ref.errors.count, "error") %> prohibited this avaliacao_ref from being saved:</h2>

      <ul>
      <% @avaliacao_ref.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<ul class="tabs">
      <li><a href="#tab1"> Referencia Evaluación - [Edicion]</a></li>
</ul>

<div class="tab_container">
      <div id="tab1" class="tab_content">
        <table>
          <tr>
            <td width="1000">
              <fieldset>

                <table>
                  <tr>
                    <td align="right">Descriptión :</td>
                     <td><%= f.text_field :nome, autofocus: true, required: true, size: 50 %></td>
                  </tr>
                </table>
              </fieldset>
            </td>
          </tr>
        </table>
      </div>
      
      <div class="buttons">
        <%= f.submit :value => " Grabar ", :class => "button" %>
        <%= link_to 'Volver', avaliacao_refs_path, :class => "button back" %>        
      </div>

    </div>
<% end %>
