<h1 id="header">Referencia Evaluación</h1>
<div class="acessos">
  <%= link_to 'Nuevo', new_avaliacao_ref_path, :class => "button add" %>
</div>

<table class="head_grid">
  <tr>
    <td width="50">Código</td>
    <td width="400">Descriptión</td>
  </tr>
</table>

<div class="rolagem" dir="div">
  <table>
    <% @avaliacao_refs.each do |avaliacao_ref| %>
      <tr>
        <td width="50"><%= avaliacao_ref.id.to_s.rjust(6,'0')%></td>
        <td width="400"><%= avaliacao_ref.nome %></td>
        <td><%= link_to '', edit_avaliacao_ref_path(avaliacao_ref), class: 'icon-pencil' %></td>
        <td><%= link_to '', avaliacao_ref, :confirm => 'Estas Seguro?', :method => :delete, class: 'icon-trash' %></td>
      </tr>
    <% end %>
  </table>
</div>

