<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <ss:Styles>
    <ss:Style ss:ID="1">
      <ss:Font ss:Bold="1"/>
      <ss:Alignment ss:Horizontal="Center"/>
      <ss:Interior ss:Pattern="Gray25"/>
    </ss:Style>
    <ss:Style ss:ID="2">
      <ss:Alignment ss:Horizontal="Center"/>
    </ss:Style>
  </ss:Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Cod.</Data></Cell>
        <Cell><Data ss:Type="String">Data REG</Data></Cell>
        <Cell><Data ss:Type="String">Data COMP</Data></Cell>
        <Cell><Data ss:Type="String">Comp.</Data></Cell>
        <Cell><Data ss:Type="String"><%= t('PROVIDER') %></Data></Cell>
        <Cell><Data ss:Type="String">Descri.</Data></Cell>
        <Cell><Data ss:Type="String">Grupo Custo</Data></Cell>
        <Cell><Data ss:Type="String"><%= t('CLASSIFICATION') %></Data></Cell>
        <Cell><Data ss:Type="String">Valor</Data></Cell>
      </Row> 

      <% @gastos.each do |gt| %>
        <Row>         
          <Cell><Data ss:Type="String"><%= gt.compra_id.to_s.rjust(4,'0') %></Data></Cell>
          <Cell><Data ss:Type="String"><%= gt.data.to_date.strftime("%d/%m/%y") unless gt.data.blank? %></Data></Cell>
          <Cell><Data ss:Type="String"><%= gt.data_custo.to_date.strftime("%d/%m/%y") unless gt.data.blank? %></Data></Cell>
          <Cell><Data ss:Type="String"><%= gt.competencia.to_date.strftime("%m/%y") unless gt.competencia.blank? %></Data></Cell>
          <Cell><Data ss:Type="String"><%= gt.persona_nome %></Data></Cell>
          <Cell><Data ss:Type="String"><%= gt.compra_descricao %></Data></Cell>
          <Cell><Data ss:Type="String"><%= gt.grupo_rubro %></Data></Cell>
          <Cell><Data ss:Type="String"><%= gt.rubro_nome %></Data></Cell>
          <% if params[:moeda] == '0' %>
            <Cell><Data ss:Type="Number"><%= gt.valor_us.to_f %></Data></Cell>
          <% elsif params[:moeda] == '1' %>
            <Cell><Data ss:Type="Number"><%= gt.valor_gs.to_f %></Data></Cell>
          <% else %>
            <Cell><Data ss:Type="Number"><%= gt.valor_rs.to_f %></Data></Cell>
          <% end %>
        </Row> 
      <% end %>    
    </Table>
  </Worksheet>
</Workbook>
