
<p>
  <strong><%= t('PERSON') %>:</strong>
  <%= @vendas_config.persona_id %>
</p>

<p>
  <strong>Vendedor:</strong>
  <%= @vendas_config.vendedor_id %>
</p>

<p>
  <strong>Max desc:</strong>
  <%= @vendas_config.max_desc %>
</p>

<p>
  <strong>Indicador:</strong>
  <%= @vendas_config.indicador %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @vendas_config.modelo %>
</p>


