<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <header class="panel-heading">
        Terminal #<%= @terminal.id.to_s.rjust(6,'0') %> - <%= @terminal.nome %>
      </header>
      <div class="panel-content">
        <p>Cuentas Vinculadas a la forma de pagos dentro del terminal</p>
          <table class="head_grid">
             <tr>
                <td width="200">Forma Pago</td>
                <td width="200"><%= t('ACCOUNT') %></td>
                <td width="100" align="center"><%= t('COIN') %></td>
             </tr>
          </table>
          <div class="list" dir="div">
             <table>
              <% FormaPago.where(venda: true, tipo: 0).order(1).each do |fp| %>
                <tr class = "<%= cycle("cor1", "cor2") %>">
                  <td width="200"><%= fp.id %>-<%= fp.nome %></td>
                  <td>
                    <table>
                    <% ContasFormaPago.joins(:conta).where("contas_forma_pagos.forma_pago_id = #{fp.id} and contas.terminal_id = #{@terminal.id}").each do |cfp| %>

                      <tr class = "<%= cycle("cor1", "cor2") %>">
                        <td width="200"><%= link_to "#{cfp.conta_id}-#{cfp.conta.nome}", edit_conta_path(cfp.conta_id), target: '_blank?'%></td>
                        <% if cfp.conta.moeda.to_i == 0 %>
                          <td width="100" align="center"><span class="us">U$</span></td>
                        <% elsif cfp.conta.moeda.to_i == 1 %>
                          <td width="100" align="center"><span class="gs">Gs</span></td>
                        <% elsif cfp.conta.moeda.to_i == 2 %>
                          <td width="100" align="center"><span class="rs">R$</span></td>
                        <% end %>
                      </tr>
                    <% end %>
                    </table>
                  </td>
                </tr>
              <% end %>
             </table>
          </div>
      </div>
    </div>
  </div>
</div>
