<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <header class="panel-heading">
        Terminal #<%= @terminal.id.to_s.rjust(6,'0') %> - <%= @terminal.nome %>
      </header>
      <div class="panel-content">
          <table class="head_grid">
             <tr>
                <td width="100">Cod</td>
                <td width="180"><%= t('ACCOUNT') %></td>
                <td width="100" align="center"><%= t('COIN') %></td>                
             </tr>
          </table>
          <div class="list" dir="div">
             <table>
                <% Conta.where(terminal_id: @terminal.id).each do |cf| %>
                  <tr class = "<%= cycle("cor1", "cor2") %>">
                    <td width="100"><%= link_to cf.id, edit_conta_path(cf.id), target: '_blank?'%></td>
                    <td width="180"><%= cf.nome %></td>
                    <% if cf.moeda.to_i == 0 %>
                      <td width="100" align="center"><span class="us">U$</span></td>
                    <% elsif cf.moeda.to_i == 1 %>
                      <td width="100" align="center"><span class="gs">Gs</span></td>
                    <% elsif cf.moeda.to_i == 2 %>
                      <td width="100" align="center"><span class="rs">R$</span></td>
                    <% end %>
                  </tr>
                <% end %>
             </table>
          </div>        
      </div>
    </div>
  </div>
</div>
