
<%= form_for(@form) do |f| %>
  <div class="panel">
    <div class="panel-content">
      <table>
        <tr>
          <td>
            <label>[Factura] Venda</label>
            <%= f.text_area :form_venda_fatura, rows: 1 %>
          </td>
        </tr>

        <tr>
          <td>
            <label>[Factura] Cobro</label>
            <%= f.text_area :form_cobro_fatura, rows: 1 %>
          </td>
        </tr>

        <tr>
          <td>
            <label>[Factura] Form Fisca - Factura Independente </label>
            <%= f.text_area :form_fatura_indep, rows: 1 %>
          </td>
        </tr>
        <tr>
          <td>
            <label>[Comprovante] Venda</label>
            <%= f.text_area :vendas_comprovante, rows: 1 %>
          </td>
        </tr>
        <tr>
          <td>
            <label>[Recibo Comum] Cobro</label>
            <%= f.text_area :recibo_cobro, rows: 1 %>
          </td>
        </tr>
        <tr>
          <td>
            <label>[Recibo Comum] Adelanto</label>
            <%= f.text_area :recibo_adelanto, rows: 1 %>
          </td>
        </tr>
        <tr>
          <td>
            <label>[Relatorio] Comissão</label>
            <%= f.text_area :rl_comissao, rows: 1 %>
          </td>
        </tr>


      </table>
    </div>

    <div class="buttons">
      <%= f.submit :value => t('SAVE'), :class => "btn btn-green" %>
    </div>
</div>
<% end %>