	<div class="panel-content">
    <h1>
      Despesas Relacionadas
    </h1>
    <div>
    <table class="head_grid">
      <tr>
        <td width="30">Cod.</td>
        <td width="200"><%= t('DESCRIPTION') %></td>
        <td width="60" align="right"><%= t('VALUE') %></td>
      </tr>
    </table>
    <div class="rolagem" dir="div" style="height: 120px">
      <table>
      <% gastos = Compra.where(contrato_id: @contrato.id) %>
      <% tot_g = 0 %>
      <% gastos.each do |g| %>
        <tr class = "<%= cycle("cor1", "cor2") %>">
          <td width="30"><%= g.id %></td>
          <td width="300"><small><%= g.descricao %></small></td>
          <% if @contrato.moeda.to_i == 0 %>
            <td align="right" width="60"><%= format_decimal(g.total_dolar) %></td>
            <% tot_g += g.total_dolar.to_f %>
          <% elsif @contrato.moeda.to_i == 1 %>
            <td align="right" width="60"><%= format_int(g.total_guarani) %></td>
            <% tot_g += g.total_guarani.to_f %>
          <% else %>
            <td align="right" width="60"><%= format_decimal(g.total_real) %></td>
            <% tot_g += g.total_real.to_f %>
            <% end %>
        </tr>
      <% end %>
      </table>
    </div>
    <table>
      <tr>
        <td width="330"></td>
        <% if @contrato.moeda.to_i == 1 %>
          <td align="right" width="60"><strong><%= format_int(tot_g) %></strong></td>
        <% else %>
          <td align="right" width="60"><strong><%= format_decimal(tot_g) %></strong></td>
        <% end %>
      </tr>
    </table>
	</div>    
</div>
