<%  empresa = Empresa.last.segmento %>
<h1 id="header">Contrato - [<%= t('EDITION') %>]</h1>
 <div class="group">

<%= form_for(@contrato) do |f| %>
  <% if @contrato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contrato.errors.count, "error") %> prohibited this contrato from being saved:</h2>

      <ul>
      <% @contrato.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :unidade_id, value: current_unidade.id %>
  <%= f.hidden_field :presupuesto_id, value: params[:presupuesto_id] %>
        <table>
          <tr>
            <td>
                <table>
                  <tr>
                    <td >
                    <label><%= t('DATE') %></label>
                      <%= f.date_select :data %>
                    </td>
                    <td colspan="2">
                    <label><%= t('DATE') %> Entrega</label>
                      <%= f.date_select :data_final %>
                    </td>
                  </tr>
                  <tr>

                    <td>
                      <fieldset>
                        <legend><%= t('COIN') %></legend>
                        <% if current_unidade.moeda.to_i == 0 %>
                          <%= f.radio_button :moeda, 1, onchange: "MoedaCompra('1')" %> <%= t('GUARANIS') %>
                          <%= f.radio_button :moeda, 0, onchange: "MoedaCompra('0')",  :Checked => "True" %> <%= t('DOLLARS') %>
                          <%= f.radio_button :moeda, 2, onchange: "MoedaCompra('2')" %> Real
                        <% elsif current_unidade.moeda.to_i == 1 %>
                          <%= f.radio_button :moeda, 1, onchange: "MoedaCompra('1')",  :Checked => "True" %> <%= t('GUARANIS') %>
                          <%= f.radio_button :moeda, 0, onchange: "MoedaCompra('0')" %> <%= t('DOLLARS') %>
                          <%= f.radio_button :moeda, 2, onchange: "MoedaCompra('2')" %> Real

                        <% elsif current_unidade.moeda.to_i == 2 %>
                          <%= f.radio_button :moeda, 1, onchange: "MoedaCompra('1')" %> <%= t('GUARANIS') %>
                          <%= f.radio_button :moeda, 0, onchange: "MoedaCompra('0')" %> <%= t('DOLLARS') %>
                          <%= f.radio_button :moeda, 2, onchange: "MoedaCompra('2')",  :Checked => "True" %> Real
                        <% end %>
                      </fieldset>
                    </td>
                    <td><br>
                      <%= f.check_box :gerar_financas %> General Titulos</td>
                  </tr>

                  <tr>
                    <td colspan="5">
                    <label>Cliente</label>
                    <% if params[:action] == 'new' %>

                      <%= text_field_tag :persona_nome, "#{params[:persona_nome]}", size: '100%', required: true, class: 'autocomplete', autofocus: true, placeholder: 'Digite o nome do Cliente' %>
                      <%= f.hidden_field :persona_id, value: params[:persona_id] %>

                    <% else %>
                      <%= text_field_tag :persona_nome, "#{@contrato.persona.nome unless @contrato.persona_id.nil?}", size: '100%', required: true, class: 'autocomplete', autofocus: true, placeholder: 'Digite o nome do Cliente' %>
                      <%= f.hidden_field :persona_id %>
                    <% end %>
                    
                    <span id="sppiner" class="sppiner"><%= image_tag 'select2-spinner.gif' %></span>

                    </td>
                  </tr>
                  <% if empresa.to_i == 3 %>
                  <tr>
                    <td colspan="2">
                    <label>Pedido Traslado</label>
                    <%= f.collection_select :pedido_traslado_id,
                        PedidoTraslado.all( :select => 'id,cod_ext', :order  => '2' ), :id, :cod_ext, {:prompt => 'Selecione la Cuenta'},{class: 'b_pedido_traslado'} %>
                    </td>
                  </tr>
                  <% end %>

                  <tr>
                    <td colspan="2">
                    <label>Conta p/ Recebimento</label>
                    <%= f.collection_select :conta_id,
                               Conta.all( :select => 'id,nome', :order  => '2' ),:id, :nome,{:prompt => 'Selecione la Cuenta'}, {required: true} %>
                    </td>
                    <td colspan="2">
                    <label><%= t('CENTER_OF_COSTOS') %></label>
                    <%= f.collection_select :centro_custo_id,
                               CentroCusto.all( :select => 'id,nome', :order  => '2' ),:id, :nome,{:prompt => 'Selecione Centro de Costo'}, {required: true} %>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="2">
                    <label>Vendedor</label>
                    <%= f.collection_select :vendedor_id, 
                               Persona.where(tipo_vendedor: 1).select('id,nome').order('2'),:id, :nome,{:prompt => 'Selecione lo Vendedor', selected: params[:vendedor_id]} %>
                    </td>

                    <td colspan="2">
                    <label>Terminal</label>
                    <%= f.collection_select :terminal_id,
                               Terminal.select('id,nome').where("unidade_id = #{current_unidade.id}").order('2'),:id, :nome,{:prompt => 'Selecione Terminal'}, {required: true} %>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                    	<fieldset>
                    		<legend>Tipo</legend>
		                    <%= f.radio_button  :tipo, 0, Checked: "True" %> Recurrente
		                    <%= f.radio_button  :tipo, 1 %> Valor Fijo
	                    </fieldset>
                    </td>

                    <td>
                      <label>Frecuencia</label>
                      <%= f.select :periodicidade, [['MENSUAL','MENSUAL'],['TRIMESTRAL','TRIMESTRAL'],['SEMESTRAL','SEMESTRAL'],['ANUAL','ANUAL']], {prompt: 'Selecione'}, { required: true} %>
                    </td>

                    <td >
                      <label>Competencia <small>(Repetir x vezes)</small></label>
                      <%= f.number_field :competencia, required: true %>
                    </td>

                  </tr>

                  <tr>
                    <td>
                      <label><%= t('DOC') %></label>
                      <%= f.text_field :documento_numero, value: @last_doc.to_s.rjust(6, '0'), required: true, size: 15 %>
                    </td>
                    <td>
                      <label> <%= t('QUOTA') %> Inicial</label>
                      <%= f.number_field :cota_inicio, required: true, size: 15, value: '1' %>
                    </td>

                    <td>
                      <label><%= t('DATE') %> <%= t('EXPIRATION') %></label>
                      <%= f.number_field :dia_venc, required: true, size: 5, value: Time.now.strftime("%d")  %>
                    </td>

                    <td>
                      <label>Mês Inicio</label>
                      <%= f.number_field :mes_inicio, required: true, value: Time.now.strftime("%m"), size: 5 %>
                    </td>
                  </tr>
                </table>
            </td>
          </tr>
          
        	<tr>
	        	<td>
              <% if params[:presupuesto_id].blank? %>
	        	 <div class="group">
		        	 	<table>
		        				<tr class="head_grid">
		        					<td width="220"><%= t('PRODUCT') %>/Serviço</td>
                      <td width="150">Observación</td>
		        					<td width="60" align="right">Ctd.</td>
		        					<td width="100" align="right">Unitário</td>
		        					<td width="100" align="right">Total</td>
		        					<td width="30"></td>
		        				</tr>
						        <%= f.fields_for :contrato_servicos do |builder| %>
						          <%= render "contrato_servico_fields", f: builder %>
						        <% end %>
		        		</table>
		        		<p class="tots-prod">
		        			<%= link_to_add_fields "Add #{t('PRODUCT')}/Servi.", f, :contrato_servicos %>
		        			<h1 align="right" class="total">
										Valor total <span class="resultado">0</span>
										<%= f.hidden_field :valor_us %>
										<%= f.hidden_field :valor_rs %>
										<%= f.hidden_field :valor_gs %>
										<%= f.hidden_field :cotacao %>
										<%= f.hidden_field :cotacao_real %>
									</h1>
		        		</p>


	        		</div>
              <% end %>
	        	</td>
        	</tr>
          
	      <tr>
	        <td colspan="4"> <br>
            <%= f.text_area :obs, rows: 3, cols: 10, placeholder: 'Obs' %></td>
	      </tr>
			</table>
   <div class="footer-buttons">
      <%= f.submit t('SAVE'), class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false"%>
      <%= link_to t('BACK'), contratos_path, :class => "btn btn-back" %>
   </div>
<% end %>
</div>
<% if params[:action] == 'new' %>
  <%= hidden_field_tag :moeda, current_unidade.moeda %>
  <script>
    //cotacao
    $(document).ready(function() {
      $.ajax({url: '/buscas/cotz_us_compra',
              type: 'POST',
              beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
              data: 'data=' + $('#data_3i').val()+'/'+
                              $('#data_2i').val()+'/'+
                              $('#data_1i').val(),
              success: function(data){
              $('#contrato_cotacao').val(number_format(data, 0, ',', '.'));} });

      $.ajax({url: '/buscas/cotz_rs_compra',
              type: 'POST',
              beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
              data: 'data=' + $('#data_3i').val()+'/'+
                              $('#data_2i').val()+'/'+
                              $('#data_1i').val(),
              success: function(data){
              $('#contrato_cotacao_real').val(number_format(data, 0, ',', '.'));} });

    });
  </script>
<% else %>
  <%= hidden_field_tag :moeda, @contrato.moeda %>
<% end %>

<script>
    $(document).ready(function() {
      d = <%= current_unidade.moeda %>
      if (d == '1') {
        $(".valores-gs").show();
        $(".valores-rs").hide();
        $(".valores-us").hide();

      } else if (d == '0') {

        $(".valores-us").show();
        $(".valores-rs").hide();
        $(".valores-gs").hide();
      } else if (d == '2') {
        $(".valores-rs").show();
        $(".valores-us").hide();
        $(".valores-gs").hide();
      }
    });
  </script>


<script type="text/javascript">
  //moeda
  function MoedaCompra(d){
    moeda = $('#moeda').val(d);
    if (d == '1') {
      $(".valores-gs").show();
      $(".valores-rs").hide();
      $(".valores-us").hide();

    } else if (d == '0') {

      $(".valores-us").show();
      $(".valores-rs").hide();
      $(".valores-gs").hide();
    } else if (d == '2') {
      $(".valores-rs").show();
      $(".valores-us").hide();
      $(".valores-gs").hide();
    }
  }


  $(function() {
    $( "#persona_nome" ).autocomplete({
        source: function( request, response ) {
          $("#sppiner").addClass("sppiner_show");
        $.ajax({
          url: "/personas/busca?per=CLIENTE",
          dataType: "json",

          data: {
            tipo: 'DESCRIPCION',
            busca: request.term
          },
          beforeSend: function(){
          $("#spinner").addClass("sppiner_show");
          },

          success: function( data ) {
            $("#sppiner").removeClass("sppiner_show");
            response( data );
          },
        });
      },
      minLength: 2,
      change: function( event, ui ) {
        $('#contrato_persona_id').val(ui.item.id);
        <% if empresa.to_i == 3 %>
          $.ajax({
            type: "GET",
             url: "/buscas/busca_pedido_traslado?persona_id=" + ui.item.id,
            beforeSend: function(){
              $('#sppiner').show();
            },
            success: function(response){
              $('#sppiner').hide();
            }
          });
        <% end %>

        return false;
      }
    });
    $( "#persona_nome" ).change(function(){
      if ($( "#contrato_persona_id" ).val() == ''){
      }
    });
  });

  $('#contrato_conta_id').selectize();
  $('#contrato_vendedor_id').selectize();
  $('#contrato_centro_custo_id').selectize();
  $('#contrato_deposito_id').selectize();
  $('#contrato_terminal_id').selectize();
  $('#contrato_apartamento_id').selectize();
</script>

<script type="text/javascript">

  function add_fields(link, association, content) {

    var new_id = new Date().getTime();
    var regexp = new RegExp("new_" + association, "g")
    $(link).up().insert({
	    before: content.replace(regexp, new_id)
    });
  }

  $('form').on('click', '.remove_field', function(event) {
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('tr').hide();
    return event.preventDefault();
  });


  $('form').on('click', '.add_fields', function(event) {
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'),'g')

    $(this).before($(this).data('fields').replace(regexp, time))
    moeda = $('#moeda').val();
    if (moeda == '1') {
      $(".valores-gs").show();
      $(".valores-rs").hide();
      $(".valores-us").hide();

    } else if (moeda == '0') {

      $(".valores-us").show();
      $(".valores-rs").hide();
      $(".valores-gs").hide();
    } else if (moeda == '2') {
      $(".valores-rs").show();
      $(".valores-us").hide();
      $(".valores-gs").hide();
    }

    return event.preventDefault();

  });

</script>
<style>
	.add_fields{
		margin: 10px 10px 10px 5px;
	}

	.total{
		margin:  -42px 37px 5px 0px;
		padding: 10px;
		font-size: 25px;
		color:  #444;
	}
  .tots-prod{
    margin-top: 10px;
  }
</style>



