<div class="panel">
  <div class="panel-content">    
    <h1>Demonstrativo de Resulado</h1>
    <% tot_s  = 0 %>
    <% tot_g  = 0 %>
    <% tot_st = 0 %>
    <% tot_cd = 0 %>
    <div class="rolagem" dir="div" style="height: 100%">
    <table>
      <% @contra_servis.each do |cs| %>      
        <tr class = "<%= cycle("cor1", "cor2") %>">
          <td width="150">Contrato/Serviço Vendido</td>
          <td width="450"><%= cs.produto.nome %></td>
          <td><span class="us">(+)</span></td>
          <% if @contrato.moeda.to_i == 0 %>
            <td width="100" align="right"><%= format_decimal(cs.total_us) %></td>
            <% tot_s += cs.total_us.to_f %>
          <% elsif @contrato.moeda.to_i == 1 %>
            <td width="100" align="right"><%= format_int(cs.total_gs) %></td>
            <% tot_s += cs.total_gs.to_f %>
          <% elsif @contrato.moeda.to_i == 2 %>
            <td width="100" align="right"><%= format_decimal(cs.total_rs) %></td>
            <% tot_s += cs.total_rs.to_f %>
          <% end %>
        </tr>
      <% end %>
      <% gastos = Compra.where(contrato_id: @contrato.id) %>
      <% gastos.each do |g| %>
        <tr class = "<%= cycle("cor1", "cor2") %>">
          <td width="150">Despesas Relacion.</td>
          <td width="450"><small><%= g.descricao %></small></td>
          <td><span class="gs">(-)</span></td>
          <% if @contrato.moeda.to_i == 0 %>
            <td align="right" width="100"><%= format_decimal(g.total_dolar) %></td>
            <% tot_s -= g.total_dolar.to_f %>
            <% tot_g += g.total_dolar.to_f %>
          <% elsif @contrato.moeda.to_i == 1 %>
            <td align="right" width="100"><%= format_int(g.total_guarani) %></td>
            <% tot_s -= g.total_guarani.to_f %>
            <% tot_g += g.total_guarani.to_f %>
          <% else %>
            <td align="right" width="100"><%= format_decimal(g.total_real) %></td>
            <% tot_s -= g.total_real.to_f %>
            <% tot_g += g.total_real.to_f %>
            <% end %>
        </tr>
      <% end %>
      <tr style="background-color: #9999">
        <td colspan="2"><b>Total Despesas Diretas</b></td>
        <td><b>(=)</b></td>
        <td align="right"><b><%= format_int(tot_g) %></b></td>
      </tr>


      <% @contrato.contrato_custos.each do |cc| %>
        <tr class = "<%= cycle("cor1", "cor2") %>">
          <td width="150">Diretos</td>
          <% if @contrato.moeda.to_i == 0 %>
            <td width="200"><%= cc.persona.nome %> - <%= cc.quantidade %> x <%= format_decimal(cc.valor_us) %></td>
            <td><span class="us">(-)</span></td>
            <td align="right" width="60"><%= format_int(cc.quantidade.to_f * cc.valor_us.to_f) %></td>
            <% tot_s -= (cc.quantidade.to_f * cc.valor_us.to_f) %>
            <% tot_cd += cc.quantidade.to_f * cc.valor_us.to_f %>

          <% elsif @contrato.moeda.to_i == 1 %>
            <td width="200"><%= cc.persona.nome %> - <%= cc.quantidade %> x <%= format_int(cc.valor_gs) %></td>
            <td><span class="gs">(-)</span></td>
            <td align="right" width="60"><%= format_int(cc.quantidade.to_f * cc.valor_gs.to_f) %></td>
            <% tot_s -= (cc.quantidade.to_f * cc.valor_gs.to_f) %>
            <% tot_cd += cc.quantidade.to_f * cc.valor_gs.to_f %>

          <% elsif @contrato.moeda.to_i == 2 %>
            <td width="200"><%= cc.persona.nome %> - <%= cc.quantidade %> x <%= format_decimal(cc.valor_rs) %></td>
            <td><span class="rs">(-)</span></td>
            <td align="right" width="60"><%= format_int(cc.quantidade.to_f * cc.valor_rs.to_f) %></td>
            <% tot_s -= (cc.quantidade.to_f * cc.valor_rs.to_f) %>
            <% tot_cd += cc.quantidade.to_f * cc.valor_rs.to_f %>

          <% end %>
        </tr>

        <tr style="background-color: #9999">
          <td colspan="2"><b>Total Diretos</b></td>
          <td><b>(=)</b></td>
          <td align="right"><b><%= format_int(tot_cd) %></b></td>
        </tr>        
      <% end %>


      <tr style="background-color: #9999">
        <td colspan="2"><b>Resultado</b></td>
        <td><b>(=)</b></td>
        <% if @contrato.moeda.to_i == 1 %>
          <td align="right"><b><%= format_int(tot_s) %></b></td>
        <% else %>
          <td align="right"><b><%= format_decimal(tot_s) %></b></td>
        <% end %>
      </tr>



      <% ("#{@contrato.data.to_date.strftime("01/%m/%Y")}".to_date.beginning_of_month.."#{@contrato.data_final.to_date.strftime("01/%m/%Y")}".to_date.beginning_of_month).each do |date|  %>
        <% if date.day == 1 %>
          <tr>
            <td><b><% date.strftime("%m/%y") %></b></td>
          </tr>
          <% @contrato.contrato_custos.each do |cc| %>

          <%

              sql = "SELECT CCD.PERSONA_ID,
                       MAX(P.NOME) AS PERSONA_NOME,
                       COUNT(CCD.ID),
                       (MAX(CCD.VALOR_RS) / COUNT(CCD.ID)) AS VALOR_RS
                  FROM CONTRATO_CUSTO_DTS CCD 
                  INNER JOIN PERSONAS P
                  ON P.ID = CCD.PERSONA_ID
                  WHERE   date_part('month', CCD.DATA) =  '#{date.strftime("%m")}'  AND  date_part('year', CCD.DATA) = '#{date.strftime("%Y")}' AND CCD.PERSONA_ID = #{cc.persona_id}
                  GROUP BY 1"
                contrato_custo_dts = ContratoCustoDt.find_by_sql(sql)
           %>
            <tr class = "<%= cycle("cor1", "cor2") %>">
              <% contrato_custo_dts.each do |ccd| %>
                <td width="200"><% ccd.persona_nome %></td>
                  <td width="70" align="right">
                    <% format_decimal(ccd.valor_rs) %>
                  </td>
              <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    
    </table>
  </div>
  </div>
</div>
