<%= form_for(cidade_area) do |f| %>
  <% if cidade_area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cidade_area.errors.count, "error") %> prohibited this cidade_area from being saved:</h2>

      <ul>
      <% cidade_area.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :cidade_id %>
  <table>
    <tr>
      <td align="right">Ãrea:</td>                    
      <td><%= f.text_field :nome, size: 60, autofocus: true %> <%= f.submit :value => t('SAVE'), :class => "button", :disable_with => "Aguarde...", "data-plus-as-tab" => "false" %></td>
    </tr>                 
  </table>
<% end %>