  <h1 id="header"><%= t('COUNTRIES') %> - [<%= t('EDITION') %>]</h1>
   <div class="group">

    <%= form_for(@paise) do |f| %>
      
      <% if @paise.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@paise.errors.count, "error") %> <%= t('ERROR_ASSET_MESSAGE') %></h2>

          <ul>
            <% @paise.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <table>
      <tr>
        <td>
          <label><%= t('DESCRIPTION') %></label>
          <%= f.text_field :nome, size: 60, autofocus: true, required: true %>
        </td>
      </tr>
    </table>

    <div class="footer-buttons">
      <%= f.submit t('SAVE'), class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false"%>
      <%= link_to t('BACK'), paises_path, :class => "btn btn-back" %>
    </div>
  </div>
<% end %>