<div class="group">
  <table class="head_grid">
    <tr>
      <td width="60" align="center"><%= t('CODE') %></td>
      <td width="50" align="center">OP</td>
      <td width="80" align="center"><%= t('DATE') %></td>
      <td width="180"><%= t('DOC') %></td>
      <td width="300">Cliente</td>
      <td width="150">Obs.</td>
      <td width="80" align="right">Cantidad</td>
      <td width="40" align="center"></td>
      <td width="100" align="right"><%= t('VALUE') %></td>
      <td width="60" align="right">Tipo</td>
    </tr>
  </table>
  <div class="rolagem" dir="div">
    <table>
      <% @vendas.each do |v| %>
  			<% if v.tipo == 0 %>
					<% tipo = 'CO' %>
  			<% else %>
					<% tipo = 'CR' %>
  			<% end %>
        <% if v.qtd.to_f == 0.00 or v.fin.to_i <= 0 %>
          <% color = '#ffa0a2' %>
        <% else %>
          <% color = '' %>
        <% end %>
        <tr class = "<%= cycle("cor1", "cor2") %>">
          <td width="60" align="center" bgcolor="<%=color%>"><%= link_to v.id.to_s.rjust(6,'0'), devolucaos_venda_path(v) %></td>
          <td width="50" align="center" bgcolor="<%=color%>" title="<%= v.usuario_nome %>"><%= v.usuario_created %></td>

          <td width="80" align="center" bgcolor="<%=color%>"><%= v.data.strftime("%d/%m/%y")%></td>
          <td width="180" align="left" bgcolor="<%=color%>"><%= v.doc %></td>
          <td width="300" align="left" bgcolor="<%=color%>"><%= truncate( v.persona_nome, :length => 35 ) %></td>
          <td width="150" align="left" bgcolor="<%=color%>"><small><%= v.obs %></small></td>
          <td width="80" align="right" bgcolor="<%=color%>"><%= v.qtd.to_f %></td>
          <% if v.moeda.to_i == 0 %>
            <td width="40" bgcolor="<%=color%>">U$</td>
            <td width="100" align="right" bgcolor="<%=color%>"><%= format_decimal( v.tot_us ) %></td>
          <% else %>
            <td width="40" bgcolor="<%=color%>">G$</td>
            <td width="100" align="right" bgcolor="<%=color%>"><%= format_int( v.tot_gs ) %></td>
          <% end %>
          <td width="60" align="right"  bgcolor="<%=color%>"><%= tipo %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="head_grid">
  <%= will_paginate @vendas, "data-remote" => "true" %>
</div>
