
<p>
  <strong>Venda:</strong>
  <%= @venda_devolucao.venda_id %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @venda_devolucao.produto_id %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @venda_devolucao.quantidade %>
</p>

<p>
  <strong>Moeda:</strong>
  <%= @venda_devolucao.moeda %>
</p>

<p>
  <strong>Data:</strong>
  <%= @venda_devolucao.data %>
</p>

<p>
  <strong>Unit gs:</strong>
  <%= @venda_devolucao.unit_gs %>
</p>

<p>
  <strong>Tot gs:</strong>
  <%= @venda_devolucao.tot_gs %>
</p>

<p>
  <strong>Unit us:</strong>
  <%= @venda_devolucao.unit_us %>
</p>

<p>
  <strong>Tot us:</strong>
  <%= @venda_devolucao.tot_us %>
</p>

<p>
  <strong>Unit rs:</strong>
  <%= @venda_devolucao.unit_rs %>
</p>

<p>
  <strong>Tot rs:</strong>
  <%= @venda_devolucao.tot_rs %>
</p>


