<%= form_for(pagos_financa) do |f| %>
  <td><%= f.hidden_field :pago_id,:value      => @pago.id%></td>
  <td><%= f.hidden_field :data,:value         => @pago.data%></td>
  <td><%= f.hidden_field :moeda,:value        => @pago.moeda%></td>
  <td><%= f.hidden_field :persona_id,:value   => @pago.persona_id%></td>
  <td><%= f.hidden_field :persona_nome,:value => @pago.persona_nome%></td>
  <input type="hidden" id="cotacao" value="<%= number_to_currency(@pago.cotacao.to_f,       :format =>'%n', :separator => ",") %>">
  <input type="hidden" id="cotacao_real" value="<%= number_to_currency(@pago.cotacao_real.to_f,       :format =>'%n', :separator => ",") %>">

  <div class="group_cd">
    <table>
      <tr>
         <td class="label">Conta :</td>
        <td>
          <%= f.collection_select :conta_id, Conta.all(:select => 'id,nome', :conditions => ["unidade_id = #{current_unidade.id}"],:order => '1'),:id,:nome %>
          <%= f.check_box :cheque_status %> Cheque?
        </td>

        <td class="label">Cheque:</td>
        <td><%= f.text_field :cheque, :size => 15 %></td>
        <td class="label">Diferido:</td>
        <td><%= f.date_select :diferido  %></td>
      </tr>
          

      <tr>
               <%= field_us 'Total U$:',f,:valor_dolar,:value => number_to_currency(( ( @pago_us.to_f + @interes_us.to_f ) - @desconto_us.to_f ),       :format =>' %n ', :separator => "," ),
                             :onchange   => "UsToGsRs('cotacao','cotacao_real','pagos_financa_valor_dolar','pagos_financa_valor_guarani','pagos_financa_valor_real')" %>

               <%= field_gs 'Total Gs.:',f,:valor_guarani, 
                                           :value => number_to_currency( ( ( @pago_gs.to_f + @interes_gs.to_f ) - @desconto_gs.to_f ),:format =>' %n ', :precision => 0 ),
                  :onchange => "GsToUsRs('cotacao','cotacao_real','pagos_financa_valor_guarani','pagos_financa_valor_dolar','pagos_financa_valor_real')" %>

               <%= field_us 'Total Rs.:',f,:valor_real, :value => number_to_currency( ( ( @pago_rs.to_f + @interes_rs.to_f ) - @desconto_rs.to_f ), :format =>' %n ', :precision => 0 ),
                        :onchange   => "RsToUsGs('cotacao','cotacao_real','pagos_financa_valor_guarani','pagos_financa_valor_dolar','pagos_financa_valor_real')" %>
      </tr>
      <tr>
        <td class="label">Documento:</td>
        <td><%= f.collection_select :documento_id, Documento.all( :select => 'id,nome',
                                                                  :order  => '1' ),:id,
                                                                                   :nome %></td>
        <td class="label" valign="top" rowspan="4">Descripcion :</td>
        <td colspan="3" rowspan="4"><%= f.text_area :descricao,
                             :cols => 55, :rows => 5,
                             :value => 'PAGO ' + @pago.persona_nome%></td>
        
      </tr>

        <td class="label">Nr. Recibo:</td>
        <td><%= f.text_field :numero_recibo, :size => 15%></td>


    </table>
  </div>
<div class="buttons">
  <%= f.submit t('SAVE'), :class => "button" %> 
  <a href="/pagos/<%=@pago.id%>" class="button back"><%= t('BACK') %></a> 
  <a href="#" class="button delete" onclick="ValidCompra()"> Finalizar</a>    
</div>
<% end %>

<% if @pago.moeda == 0 %>
  <input type="hidden" id="fac" value="<%= number_to_currency( ( ( @pago_us.to_f + @interes_us.to_f ) - @desconto_us.to_f ), :format=>' %n ', :separeitor => ',') %>">
  <% sum_us = PagosFinanca.sum('valor_dolar',:conditions => ["pago_id = ?",@pago.id]) %>
  <input type="hidden" id="sum" value="<%= number_to_currency( sum_us, :format=>' %n ', :separeitor => ',') %>">
<% else %>
  <% sum_gs = PagosFinanca.sum('valor_guarani',:conditions => ["pago_id = ?",@pago.id]) %>
  <input type="hidden" id="fac" value="<%= number_to_currency( ( ( @pago_gs.to_f + @interes_gs.to_f ) - @desconto_gs.to_f ), :format=>' %n ', :precision => 0) %>">
  <input type="hidden" id="sum" value="<%= number_to_currency( sum_gs, :format=>' %n ', :precision => 0) %>">
<% end %>


<script>

    function ValidCompra(){
      var saldo = parseFloat( document.getElementById("fac").value.replace(/\./g, "").replace(",", "."))
      var sum   = parseFloat( document.getElementById("sum").value.replace(/\./g, "").replace(",", ".") )
      if (saldo != sum){
        alert('La suma nos igual de la Documento');
      }
      else{
        location.href="/pagos"
      }
    }
</script>
