<body  onload="print()">
<!--COMBUSTIVEL-FRONTEIRAS CAIXA!-->
<!-- 3F ADM -->
	<% if @venda.tipo == 0
    tipo="CONTADO"
  else
    tipo="CONTADO"
  end
%>
<% if @venda.moeda == 0
	 	d = "DOLAR"
	 else
	 	d = "GUARANIES"
	 end
 %>

<style type="text/css">
	table {
		font-family:Lucida Console, Courier ;font-size:9px;

	}

	.grid {
		border-collapse: collapse;

	}
	.header {
		border-collapse: collapse;
		border: 1px solid black;
	}

	#totales {
		border-collapse: collapse;
		border-left: 2px solid #fff;
		border-right: 2px solid #fff;
	}

	.cond {
		font-family:Lucida Console, Courier ;font-size:7px;
	}

	.grid tr td {
		border-collapse: collapse;
		border-left: 1px solid black;
		border-right: 1px solid black;
	}

</style>

	<table border="1" style="border-collapse: collapse;" width="738">
		<tr>
			<td colspan="5">
				<table>
					<tr>
						<td>
							<table>
								<tr>
								<td width="500">
									<% if current_unidade.avatar.url.present? %>
			    					<%= wicked_pdf_image_tag(current_unidade.avatar.url, :height => 40) %>
			    				<% else %>
			      					<h2><%= current_unidade.nome_sys %></h2>
			    				<% end %>
			    				<br>
		    					<b><%= current_unidade.nome_sys %></b><br>
		    					<b>RUC:</b><%= current_unidade.ruc %><br>
		    					<b>Dirección:</b><%= current_unidade.direcao %><br>
		    					<b>Ciudad:</b><%= current_unidade.cidade.nome %> - <%= current_unidade.bairro %><br>
		    					<b>Teléfono:</b><%= current_unidade.telefone %><br>
		    					<b>Correo Eletronico:</b> <%= current_unidade.email %>
								</td>
								<td align="center" width="230">
									<h1><b>FACTURA</b><br></h1>
									<h2><b><%= @ft.doc_01 %>-<%= @ft.doc_02 %>-<%= @ft.doc.to_s.rjust(8,'0') %></b></h2>
									<p><small>timbrado: <%= @ft.timbrado %></small></p>
									<p><small>Vigência: <%= @ft.vencimento.strftime("%d/%m/%Y") %></small></p>

								</td>
							</tr>
					</table>
					</td>
					</tr>
				</table>
			</td>
		</tr>

		<tr>
			<td>
				<table border="0">
					<tr>
						<td  width="65" align="right">Fecha :</td>
						<td width="220"><%=l @ft.data.to_date.to_date %> - <%= Time.now.strftime('%H:%M') %></td>

						<td align="right">Condición de Venta:</td>
						<td><%= tipo %></td>
						<td width="70">Moneda:<%= d %> </td>
					</tr>

					<tr>
						<td align="right">RUC/CI :</td>
						<td><b><%= @ft.ruc %></b></td>
						<td align="right">Comprobante :</td>
						<td><%= @ft.cod_proc %></td>
					</tr>

					<tr>
						<td align="right">Cliente :</td>
						<td width="671" colspan="4"><b><%= @ft.persona_nome %></b></td>
					</tr>
					<tr>

						<td align="right">Dirección :</td>
						<td><%= @ft.persona.direcao %></td>
						<td align="right">Teléfono :</td>
						<td><%= @ft.persona.telefone %></td>
					</tr>
				</table>

			</td>
		</tr>
	</table>

	<table border="0" class="grid" width="738"  style="border-bottom: 1px solid black;">
		<tr class="header">
			<td width="20">Cant.</td>
			<td>Ref.</td>
			<td colspan="3">Descripción de la mercadoria y/o servico</td>
			<td align="right">Unitario</td>
			<td align="right">Valor</td>
			<td>IVA</td>
		</tr>

			<% count        = 1 %>
			<% tottaxa0_gs  = 0 %>
			<% tottaxa0_us  = 0 %>
			<% tottaxa10_gs = 0 %>
			<% tottaxa10_us = 0 %>
			<% tottaxa05_gs = 0 %>
			<% tottaxa05_us = 0 %>

				<% @venda_produto.each do |produto| %>
				<% count += 1 %>
					<tr>

						<td width="20"  align="center">
							<%= produto.quantidade.to_i %>
						</td>
						<td>
							<%= produto.produto.fabricante_cod %>
						</td>


						<td width="320" align="left" colspan="3">
							<% if produto.taxa.to_i == 0 %>
								CURSO DE FORMACIÓN PROFESIONAL
							<% else %>
								<%= produto.produto_nome %>
							<% end %>
						</td>
						<td width="50"  align="right">
							<%= format_int(produto.unitario_guarani) %>
						</td>

						<td width="60" align="right">
							<%= format_int(produto.total_guarani.to_f) %>

						</td>
						<% if produto.taxa.to_i == 0 %>
						<td>
							0%
							<% tottaxa0_gs  = tottaxa0_gs.to_f + produto.total_guarani.to_f %>
						</td>
						<% elsif produto.taxa.to_i == 5 %>
						<td>
							5%
							<% tottaxa05_gs  = tottaxa05_gs.to_f + produto.total_guarani.to_f %>
						</td>
						<% elsif produto.taxa.to_i == 10 %>
						<td>
							10%
							<% tottaxa10_gs  = tottaxa10_gs.to_f + produto.total_guarani.to_f %>
						</td>
					<% end %>
				</tr>
			<% end %>

			<% lines = 14 - count  %>
			<% lines.times do |l| %>
			<tr height="10">
				<td></td>
				<td></td>
				<td colspan="3"></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<% end %>
	<table>

	<!-- em letras !-->
	<table border="0" class="grid" width="738"  style="border-bottom: 1px solid black;">
		<tr class="header" height="25">
			<td colspan="5" valign="top">En Letras:
				G$ <%= I18n.with_locale(:es) { (@produto_sum_guarani.to_f - @venda.desconto_gs.to_f).to_i.to_words.upcase } %>
			</td>

				<td colspan="3" rowspan="2">
					<table  id="totales" border="0">
						<tr>
							<td id="totales" align="right">Descuento</td>
							<td id="totales" align="right" width="74">
								<%= format_int(@venda.desconto_gs) %>
							</td>
						</tr>
						<tr>
							<td id="totales" align="right">Sub-Total Exentas:</td>
							<td id="totales" align="right" width="74">
								<% if @ft.moeda == 0 %>
									<%= number_to_currency(tottaxa0_us.to_f, :format=>' %n ',  :separeitor => ',')%>
								<% else %>
									<% if tottaxa0_gs.to_f > 0 %>
										<%= number_to_currency( (tottaxa0_gs = (tottaxa0_gs.to_f) ) , :format=>' %n ', :precision => 0) %>
									<% else %>
										<%= number_to_currency(tottaxa0_gs.to_f, :format=>' %n ', :precision => 0) %>
									<% end %>


								<% end %>
							</td>
						</tr>

						<tr>
							<td align="right" id="totales">Sub-Total gravadas 05%:</td>
							<td align="right">
								<% if @ft.moeda == 0 %>
									<%= number_to_currency(tottaxa05_us.to_f, :format=>' %n ',  :separeitor => ',')%>
								<% else %>
									<%= number_to_currency(tottaxa05_gs.to_f, :format=>' %n ',  :precision => 0 )%>
								<% end %>
							</td>
						</tr>


						<tr>
							<td align="right"  id="totales">Sub-Total gravadas 10%:</td>
							<td align="right">
								<% if @ft.moeda == 0 %>
									<%= number_to_currency(tottaxa10_us.to_f, :format=>' %n ', :separeitor => ',')%>
								<% else %>
									<% if tottaxa0_gs.to_f == 0 and tottaxa10_gs.to_f > 0 %>
										<%= number_to_currency( (tottaxa10_gs = (tottaxa10_gs.to_f - @venda.desconto_gs.to_f) ), :format=>' %n ', :precision => 0) %>
									<% else %>
										<%= number_to_currency(tottaxa10_gs.to_f, :format=>' %n ', :precision => 0) %>
									<% end %>
								<% end %>
							</td>
						</tr>
						<tr>
							<td align="right" id="totales">Total a Pagar:</td>
							<td align="right">
								<% if @ft.moeda == 0 %>
									<%= number_to_currency( tottaxa0_us.to_f + tottaxa10_us.to_f + tottaxa05_us.to_f, :format=>' %n ',  :separeitor => ',')%>
								<% else %>
									<%= number_to_currency( tottaxa0_gs.to_f + tottaxa05_gs.to_f + tottaxa10_gs.to_f, :format=>' %n ',  :precision => 0)%>
								<% end %>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</tr>
		<tr style="border-collapse: collapse; border-bottom: 1px solid black;">
			<td colspan="2">
				Liquidación del IVA: (05%)
				<% if @ft.moeda == 0 %>
					<%= number_to_currency((tottaxa05_us.to_f) / 21, :format=>' %n ', :precision => 0)%>
				<% else %>
					<%= number_to_currency((tottaxa05_gs.to_f) / 21, :format=>' %n ', :precision => 0)%>
				<% end %>
			</td>
			<td colspan="2">
				(10%)
				<% if @ft.moeda == 0 %>
					<%= number_to_currency((tottaxa10_us.to_f) / 11, :format=>' %n ', :precision => 0)%>
				<% else %>
					<%= number_to_currency((tottaxa10_gs.to_f) / 11, :format=>' %n ', :precision => 0)%>
				<% end %>

			</td>
			<td>
				Total del IVA:
				<% if @ft.moeda == 0 %>
					<%= number_to_currency( ((tottaxa05_us.to_f) / 21) + ((tottaxa10_gs.to_f) / 11), :format=>' %n ', :precision => 0)%>
				<% else %>
					<%= number_to_currency( ((tottaxa05_gs.to_f) / 21) + ((tottaxa10_gs.to_f) / 11), :format=>' %n ', :precision => 0)%>
				<% end %>
			</td>
		</tr>
		<tr>
			<td colspan="10"><p><small>Autorización de Autoimpresor y Timbrado de Documentos: <b><%= @ft.autorizacao_n %></b></small></p></td>
		</tr>
	</table>
	<!-- Segunda Via !-->
	<br>
	<br>
	<br>

	<br>
	<br>
	<br>
	<hr>
	<br>
	<br>
	<br>



	<table border="1" style="border-collapse: collapse;"  width="738">
		<tr>
			<td colspan="5">
				<table>
					<tr>
						<td>
							<table>
								<td width="500">
									<% if current_unidade.avatar.url.present? %>
			    					<%= wicked_pdf_image_tag(current_unidade.avatar.url, :height => 40) %>
			    				<% else %>
			      					<h2><%= current_unidade.nome_sys %></h2>
			    				<% end %>
			    				<br>
		    					<b><%= current_unidade.nome_sys %></b><br>
		    					<b>RUC:</b><%= current_unidade.ruc %><br>
		    					<b>Dirección:</b><%= current_unidade.direcao %><br>
		    					<b>Ciudad:</b><%= current_unidade.cidade.nome %> - <%= current_unidade.bairro %><br>
		    					<b>Teléfono:</b><%= current_unidade.telefone %><br>
		    					<b>Correo Eletronico:</b> <%= current_unidade.email %>
								</td>
								<td align="center" width="230">
									<h1><b>FACTURA</b><br></h1>
									<h2><b><%= @ft.doc_01 %>-<%= @ft.doc_02 %>-<%= @ft.doc.to_s.rjust(8,'0') %></b></h2>
									<p><small>timbrado: <%= @ft.timbrado %></small></p>
									<p><small>Vigência: <%= @ft.vencimento.strftime("%d/%m/%Y") %></small></p>

								</td>
							</tr>
					</table>
					</td>
					</tr>
				</table>
			</td>
		</tr>

		<tr>
			<td>
				<table border="0">
					<tr>
						<td  width="65" align="right">Fecha :</td>
						<td width="220"><%=l @ft.data.to_date.to_date %> - <%= Time.now.strftime('%H:%M') %></td>

						<td align="right">Condición de Venta:</td>
						<td><%= tipo %></td>
						<td width="70">Moneda:<%= d %> </td>
					</tr>

					<tr>
						<td align="right">RUC/CI :</td>
						<td><b><%= @ft.ruc %></b></td>
						<td align="right">Comprobante :</td>
						<td><%= @ft.cod_proc %></td>
					</tr>

					<tr>
						<td align="right">Cliente :</td>
						<td width="671" colspan="4"><b><%= @ft.persona_nome %></b></td>

					</tr>
					<tr>
						<td align="right">Dirección :</td>
						<td><%= @ft.persona.direcao %></td>
						<td align="right">Teléfono :</td>
						<td><%= @ft.persona.telefone %></td>
					</tr>
				</table>

			</td>
		</tr>
	</table>

	<table border="0" class="grid" width="738"  style="border-bottom: 1px solid black;">
		<tr class="header">
			<td width="20">Cant.</td>
			<td>Ref.</td>
			<td colspan="3">Descripción de la mercadoria y/o servico</td>
			<td align="right">Unitario</td>
			<td align="right">Valor</td>
			<td>IVA</td>
		</tr>

			<% count        = 1 %>
			<% tottaxa0_gs  = 0 %>
			<% tottaxa0_us  = 0 %>
			<% tottaxa10_gs = 0 %>
			<% tottaxa10_us = 0 %>
			<% tottaxa05_gs = 0 %>
			<% tottaxa05_us = 0 %>

				<% @venda_produto.each do |produto| %>
				<% count += 1 %>
					<tr>

						<td width="20"  align="center">
							<%= produto.quantidade.to_i %>
						</td>
						<td>
							<%= produto.produto.fabricante_cod %>
						</td>


						<td width="320" align="left" colspan="3">
							<% if produto.taxa.to_i == 0 %>
								CURSO DE FORMACIÓN PROFESIONAL
							<% else %>
								<%= produto.produto_nome %>
							<% end %>
						</td>
						<td width="50"  align="right">
							<%= format_int(produto.unitario_guarani) %>
						</td>

						<td width="60" align="right">
							<%= format_int(produto.total_guarani.to_f) %>

						</td>
						<% if produto.taxa.to_i == 0 %>
						<td>
							0%
							<% tottaxa0_gs  = tottaxa0_gs.to_f + produto.total_guarani.to_f %>
						</td>
						<% elsif produto.taxa.to_i == 5 %>
						<td>
							5%
							<% tottaxa05_gs  = tottaxa05_gs.to_f + produto.total_guarani.to_f %>
						</td>
						<% elsif produto.taxa.to_i == 10 %>
						<td>
							10%
							<% tottaxa10_gs  = tottaxa10_gs.to_f + produto.total_guarani.to_f %>
						</td>
					<% end %>
				</tr>
			<% end %>

			<% lines = 14 - count  %>
			<% lines.times do |l| %>
			<tr height="10">
				<td></td>
				<td></td>
				<td colspan="3"></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<% end %>
	<table>

	<!-- em letras !-->
	<table border="0" class="grid" width="738"  style="border-bottom: 1px solid black;">
		<tr class="header" height="25">
			<td colspan="5" valign="top">En Letras:
				G$ <%= I18n.with_locale(:es) { (@produto_sum_guarani.to_f - @venda.desconto_gs.to_f).to_i.to_words.upcase } %>
			</td>

				<td colspan="3" rowspan="2">
					<table  id="totales" border="0">
						<tr>
							<td id="totales" align="right">Descuento</td>
							<td id="totales" align="right" width="74">
								<%= format_int(@venda.desconto_gs) %>
							</td>
						</tr>

						<tr>
							<td id="totales" align="right">Sub-Total Exentas:</td>
							<td id="totales" align="right" width="74">
								<% if @ft.moeda == 0 %>
									<%= number_to_currency(tottaxa0_us.to_f, :format=>' %n ',  :separeitor => ',')%>
								<% else %>
									<% if tottaxa0_gs.to_f > 0 %>
										<%= number_to_currency( (tottaxa0_gs = (tottaxa0_gs.to_f) ) , :format=>' %n ', :precision => 0) %>
									<% else %>
										<%= number_to_currency(tottaxa0_gs.to_f, :format=>' %n ', :precision => 0) %>
									<% end %>


								<% end %>
							</td>
						</tr>

						<tr>
							<td align="right" id="totales">Sub-Total gravadas 05%:</td>
							<td align="right">
								<% if @ft.moeda == 0 %>
									<%= number_to_currency(tottaxa05_us.to_f, :format=>' %n ',  :separeitor => ',')%>
								<% else %>
									<%= number_to_currency(tottaxa05_gs.to_f, :format=>' %n ',  :precision => 0 )%>
								<% end %>
							</td>
						</tr>


						<tr>
							<td align="right"  id="totales">Sub-Total gravadas 10%:</td>
							<td align="right">
								<% if @ft.moeda == 0 %>
									<%= number_to_currency(tottaxa10_us.to_f, :format=>' %n ', :separeitor => ',')%>
								<% else %>
									<% if tottaxa0_gs.to_f == 0 and tottaxa10_gs.to_f > 0 %>
										<%= number_to_currency( (tottaxa10_gs = (tottaxa10_gs.to_f - @venda.desconto_gs.to_f ) ), :format=>' %n ', :precision => 0) %>
									<% else %>
										<%= number_to_currency(tottaxa10_gs.to_f, :format=>' %n ', :precision => 0) %>
									<% end %>
								<% end %>
							</td>
						</tr>
						<tr>
							<td align="right" id="totales">Total a Pagar:</td>
							<td align="right">
								<% if @ft.moeda == 0 %>
									<%= number_to_currency( tottaxa0_us.to_f + tottaxa10_us.to_f + tottaxa05_us.to_f, :format=>' %n ',  :separeitor => ',')%>
								<% else %>
									<%= number_to_currency( tottaxa0_gs.to_f + tottaxa05_gs.to_f + tottaxa10_gs.to_f, :format=>' %n ',  :precision => 0)%>
								<% end %>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</tr>
		<tr style="border-collapse: collapse; border-bottom: 1px solid black;">
			<td colspan="2">
				Liquidación del IVA: (05%)
				<% if @ft.moeda == 0 %>
					<%= number_to_currency((tottaxa05_us.to_f) / 21, :format=>' %n ', :precision => 0)%>
				<% else %>
					<%= number_to_currency((tottaxa05_gs.to_f) / 21, :format=>' %n ', :precision => 0)%>
				<% end %>
			</td>
			<td colspan="2">
				(10%)
				<% if @ft.moeda == 0 %>
					<%= number_to_currency((tottaxa10_us.to_f) / 11, :format=>' %n ', :precision => 0)%>
				<% else %>
					<%= number_to_currency((tottaxa10_gs.to_f) / 11, :format=>' %n ', :precision => 0)%>
				<% end %>

			</td>
			<td>
				Total del IVA:
				<% if @ft.moeda == 0 %>
					<%= number_to_currency( ((tottaxa05_us.to_f) / 21) + ((tottaxa10_gs.to_f) / 11), :format=>' %n ', :precision => 0)%>
				<% else %>
					<%= number_to_currency( ((tottaxa05_gs.to_f) / 21) + ((tottaxa10_gs.to_f) / 11), :format=>' %n ', :precision => 0)%>
				<% end %>
			</td>
		</tr>
		<tr>
			<td colspan="10"><p><small>Autorización de Autoimpresor y Timbrado de Documentos: <b><%= @ft.autorizacao_n %></b></small></p></td>
		</tr>

	</table>