<body onload="window.print()">
<style type="text/css">

	body {
		font-family: verdana;
	}
</style>
<table border="1">
    <tr>
     <td rowspan="2"><%= image_tag(current_unidade.avatar.url, width: 200) %></td>
       <td style="width:320px"><%= @venda.data.strftime("%d")%> de <%= @venda.data.strftime("%B")%> de <%= @venda.data.strftime("%Y")%>
       </td>
        <td align="right">
        <% if @venda.finalidade.to_i == 0 %>
        	<%= t('VOUCHER') %> Nº
        <% else %>
					Presupuesto Nº
        <% end %>

          <b> <%= @venda.id.to_s.rjust(6,'0') %></b>
        </td>
    </tr>

    <tr>
      <% if @venda.moeda == 0 %>
         <% moeda = 'Dolar'%>
      <% elsif @venda.moeda == 1 %>
      <% moeda = 'Guaranies'%>
      <% else %>
         <% moeda = 'Reais'%>
      <% end %>
      <td>
      	Cliente: <%= @venda.persona.nome %> <br>
      	<% vend = Persona.find_by_id(@venda.vendedor_id) %>
      	Vendedor: <%= vend.nome unless vend.nil? %> <br>
      	Moneda : <%= moeda %>

      </td>
      <td align="right">Cotización : <%= number_to_currency( @venda.cotacao,      :format =>' %n ', :precision => 0 ) %></td>
    </tr>

    <tr>
        <td colspan="3" align="center"><font size="3">Itens</font></td>
    </tr>

    <tr>
       <td colspan="3">
         <table style="width: 100%" class="grid-prod">
            <tr class="head">
              <td align="center" width="100">Ref.</td>
              <td width="600">Producto</td>
              <td align="right" width="60">Cantidad</td>
              <td align="right" width="60">Unit.</td>
              <td align="right" width="60">Total</td>
            </tr>
            <% qtd    = 0 %>
            <% tot_us = 0 %>
            <% tot_gs = 0 %>
            <% tot_rs = 0 %>
            <% @venda_produtos.each do |pc|%>
            <tr class = "<%= cycle("cor1", "cor2") %>">
              <td align="center" width="100"><%= pc.produto.fabricante_cod %></td>
              <td align="left" width="600"><%= pc.produto_nome %></td>
              <td align="center" width="60"><%= pc.quantidade %></td>
              <% if @venda.moeda == 0 %>
                <td width="60" align="right"><%=h number_to_currency( pc.unitario_dolar,      :format =>' %n ', :separeitor => "," ) %></td>
                <td width="60" align="right"><%=h number_to_currency( pc.total_dolar,      :format =>' %n ', :separeitor => "," ) %></td>
                <% tot_us += pc.total_dolar.to_f %>
              <% elsif @venda.moeda == 1 %>
                <td width="60" align="right"><%=h number_to_currency( pc.unitario_guarani,      :format =>' %n ', :precision => 0 ) %></td>
                <td width="60" align="right"><%=h number_to_currency( pc.total_guarani,      :format =>' %n ', :precision => 0 ) %></td>
                <% tot_gs += pc.total_guarani.to_f %>

              <% else %>
                <td width="60" align="right"><%=h number_to_currency( pc.unitario_real,      :format =>' %n ', :separeitor => "," ) %></td>
                <td width="60" align="right"><%=h number_to_currency( pc.total_real,      :format =>' %n ', :separeitor => "," ) %></td>
                <% tot_rs += pc.total_real.to_f %>
              <% end %>
            </tr>
            <% qtd    += pc.quantidade %>
           <% end %>
          <tr class="head">
            <td colspan="2" align="right">Sub-Totales</td>
               <td align="center"> <%= qtd %></td>
               <td></td>
              <% if @venda.moeda == 0 %>
                <td width="60" align="right"><%=h number_to_currency( tot_us.to_f,      :format =>' %n ', :separeitor => "," ) %></td>
              <% elsif @venda.moeda == 1 %>
                <td width="60" align="right"><%=h number_to_currency( tot_gs.to_f,      :format =>' %n ', :precision => 0 ) %></td>
              <% else %>
                <td width="60" align="right"><%=h number_to_currency( tot_rs,      :format =>' %n ', :separeitor => "," ) %></td>
              <% end %>
           </tr>
           <tr class="head">
              <td colspan="2" align="right"><%= t('DISCOUNT') %></td>
              <td align="center"></td>
              <td></td>
              <% if @venda.moeda == 0 %>
                <td width="60" align="right"><%=h number_to_currency( @venda.desconto_gs,      :format =>' %n ', :separeitor => "," ) %></td>
              <% elsif @venda.moeda == 1 %>
                <td width="60" align="right"><%=h number_to_currency( @venda.desconto_gs,      :format =>' %n ', :precision => 0 ) %></td>
              <% else %>
                <td width="60" align="right"><%=h number_to_currency( tot_rs,      :format =>' %n ', :separeitor => "," ) %></td>
              <% end %>
           </tr>

           <tr class="head">
			   <td colspan="2" align="right">Totales</td>
               <td align="center"> <%= qtd %></td>
               <td></td>
              <% if @venda.moeda == 0 %>
                <td width="60" align="right"><%=h number_to_currency( tot_us.to_f - @venda.desconto_us.to_f,      :format =>' %n ', :separeitor => "," ) %></td>
              <% elsif @venda.moeda == 1 %>
                <td width="60" align="right"><%=h number_to_currency( tot_gs.to_f - @venda.desconto_gs.to_f,      :format =>' %n ', :precision => 0 ) %></td>
              <% else %>
                <td width="60" align="right"><%=h number_to_currency( tot_rs,      :format =>' %n ', :separeitor => "," ) %></td>
              <% end %>
           </tr>
         </table>
       </td>
    </tr>

    <tr>
     <td colspan="3" style="padding: 15px">Concepto : <%= @venda.obs %> </td>
    </tr>

</table>

<style type="text/css">
	table {
		border-collapse: collapse;
		font-size: 10px
	}

	.grid-prod td{
		padding: 10px;
	}
	.cor2 {
  background-color: #fff;
}
.cor1 {
  background-color: #f9f9f9;
}
.head{
	font-weight: bold;
}
</style>

