<body onload="window.print()">
<style type="text/css">
	td{
		font-family: arial;
		font-size: 12px
	}

	.ft-header{
		text-align: center;
	}

</style>
<table align="center">
	<tr>
		<td colspan="4">------------------------------------------------------------------</td>
	</tr>
	<tr>
		<td align="left" style="font-size: 12px"><b>MI ABUELA</b></td>
	</tr>
	<tr>
		<td align="left">CIUDAD DEL ESTE</td>
	</tr>
	<tr>
		<td colspan="4">------------------------------------------------------------------</td>
	</tr>
	<tr>
		<td align="left">
			Cliente: <%= @venda.persona_nome %>
		</td>
	</tr>
	<tr>
		<td align="left">Fecha: <%= @venda.data.to_date.strftime("%d/%m/%Y") %> Hora: <%= Time.now.strftime("%H:%M") %></td>
	</tr>
	<tr>
		<td>Vendedor: <%= Persona.find(@venda.vendedor_id).nome unless @venda.vendedor_id.nil? %></td>
	</tr>

	<tr>
		<td>Comanda: <b><%= @venda.cartao.nome unless @venda.cartao.nil? %></b></td>
	</tr>
	<tr>
		<td align="left">Obs: <%= @venda.obs %></td>
	</tr>
	<tr>
		<td><% if @venda.finalidade.to_i == 0 %>
        	Comprobante Nº 
        <% else %>
					Presupuesto Nº 
        <% end %>
        <b><%= @venda.id.to_s.rjust(6,'0') %></b></td>
	</tr>
	<tr>
		<td colspan="4">--------------------------------------------------------------------</td>
	</tr>

  	<td colspan="4">
			<table>
				<tr>
					<td align="left">Cant.</td>
					<td align="left">Desc.</td>
					<td align="right">Precio</td>
					<td align="right">Total</td>

				</tr>
				<tr>
					<td colspan="4">------------------------------------------------------------------</td>
				</tr>

				<% @venda_produtos.each do |vp| %>
					<tr>
						<td align="left" width="3"><%= vp.quantidade.to_i %></td>
						<td align="left" width="150"><%= vp.produto_nome.to_s[0..18] %> <%= vp.obs %></td>
						<% if @venda.moeda == 0 %>
							<td align="right" width="30"><%= format_decimal(vp.unitario_dolar) %></td>
							<td align="right" width="30"><%= format_decimal(vp.total_dolar) %></td>
						<% else %>
							<td align="right" width="30"><%= format_int(vp.unitario_guarani) %></td>
							<td align="right" width="30"><%= format_int(vp.total_guarani) %></td>
						<% end %>
					</tr>
				<% end %>
			  <tr>
			  	<td colspan="4">------------------------------------------------------------------</td>
			  </tr>

				<tr>
					<td align="left">Total=></td>
					<td align="left"></td>
					<td align="left"></td>
					<td align="right"><b>
				    <% if @venda.moeda == 0 %>
				      <%= number_to_currency(@produto_sum_us, :format=>' %n ', :separeitor => ',') %>
				    <% else %>
				      <%= number_to_currency(@produto_sum_gs, :format=>' %n ', :precision => 0) %>
				    <% end %>
					</b></td>
					
				</tr>
				<tr>
					<td colspan="4">-------------------FORMA DE PAGO------------------------</td>
				</tr>

				<% @venda.vendas_financas.each do |vf| %>
					<tr>
						<td align="left" width="150" colspan="3"><%= vf.forma_pago.nome %></td>
						<% if @venda.moeda == 0 %>
							<td align="right" width="30"><%= format_decimal(vf.valor_dolar) %></td>
						<% else %>
							<td align="right" width="30"><%= format_int(vf.valor_guarani) %></td>
						<% end %>
					</tr>
				<% end %>
			  <tr>
			  	<td colspan="4">------------------------------------------------------------------</td>
			  </tr>
			</table>
	  </td>
  </tr>
		

	<tr>
		<td align="left">Muchas Gracias por la Preferencia </td>
	</tr>	


</table>
