<style>
  td {
    padding: 10px;
    border-bottom: 1px solid #efefef !important;
  }
  .cor1 {
    background-color: #f9f9f9 !important;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
  }
</style>
<table>
  <tr>
    <td width="600"><%= image_tag(wicked_pdf_asset_base64("logoc.png"), width: 250) %></td>
    <td width="600" align="center">
      <h1><%= current_unidade.razao_social %> </h1>
      <h1>Presupuesto Nº <%= @presupuesto.id.to_s.rjust(6,'0')%></h1>
    </td>
  </tr>
</table>

<table>
  <tr>
    <td>Fecha: <%= @presupuesto.data.strftime("%d/%m/%Y")%></td>
  </tr>

  <tr>
    <td>Tutor: <%= @presupuesto.persona_nome %></td>
  </tr>
</table>
<table>
      <tr class="head" >
        <td width="120" >Grupo</td>
        <td width="250" >Producto</td>
        <td width="40" align="right">Ctd</td>
        <td width="70" align="right">Unid.</td>
        <td width="90" align="right">Total</td>
        <td width="30" align="right">Desc.</td>
        <td width="70" align="right">Monto c/ Desc.</td>
        <td width="30" align="right">Cuotas</td>
        <td width="70" align="right">Valor Cuotas</td>
      </tr>
         <% indice     = 1 %>
         <% qtd        = 0 %>
         <% tot_us     = 0 %>
         <% tot_gs     = 0 %>
         <% tot_cus_gs = 0 %>
         <% tot_rs     = 0 %>
         <% quebra     = '' %>
         <% @presupuesto.presupuesto_produtos.order("persona_id, id").each do |pp| %>
           <% if quebra != pp.persona.nome %>
            <% if quebra != "" %>
              <tr>
                <td></td>
              </tr>
            <% end %>
            <tr>
              <td class="head" colspan="9" style="background: #1e479c; color: #fff"><%= quebra = pp.persona.nome %></td>
            </tr>

           <% end %>

            <tr class = "<%= cycle("cor1", "cor2") %> list">
              <td width="120">  <%= pp.produto.grupo.descricao %></td>
              <td width="250"><%= pp.produto_nome %></td>
              <td width="40"  align="right"><b><%= pp.quantidade.to_i %></b></td>
               <% if @presupuesto.moeda == 0 %>
                 <td width="70" align="right"><%= format_decimal( pp.unitario_dolar ) %></td>
                 <td width="70" align="right"><%= format_decimal( pp.total_dolar ) %></td>
                 <% tot_us += pp.total_dolar %>
               <% elsif @presupuesto.moeda == 1 %>
                 <td width="70" align="right"><%= format_int( pp.unitario_guarani) %></td>
                 <td width="70" align="right"><%= format_int( pp.total_guarani) %></td>
                 <td width="30" align="right">
                  <% if pp.desconto.to_i > 0 %>
                    -<%= pp.desconto.to_i %>%
                  <% end %>
                </td>
                 <td width="70" align="right">
                  <% if pp.desconto.to_i > 0 %>
                    <%= format_int( pp.total_guarani.to_f - (pp.total_guarani.to_f * (pp.desconto.to_f / 100))  ) %>
                  <% end %>
                </td>
                 <td width="30" align="right">
                  <% if pp.cuotas.to_i > 0 %>
                    <%= pp.cuotas.to_i %>
                  <% end %>
                </td>
                 <td width="70" align="right">
                  <% if pp.cuotas.to_i > 0 %>
                    <%= format_int( (pp.total_guarani.to_f - (pp.total_guarani.to_f * (pp.desconto.to_f / 100))) / pp.cuotas.to_i   ) %>
                  <% end %>
                </td>
                 <% tot_gs += pp.total_guarani.to_f - (pp.total_guarani.to_f * (pp.desconto.to_f / 100)) %>
                 <% tot_cus_gs += (pp.promedio_guarani.to_f * pp.quantidade) %>
               <% else %>
                 <td width="70" align="right"><%= format_decimal( pp.unitario_real ) %></td>
                 <td width="70" align="right"><%= format_decimal( pp.total_real ) %></td>
                  <% tot_rs += pp.total_real %>
               <% end %>

               <% qtd += pp.quantidade.to_f %>
            </tr>
            <% indice += 1 %>
         <% end %>
      </table>

      <table>
        <tr>
          <td class="head">TOTALES CURSOS: <%= format_int(@presupuesto.presupuesto_produtos.where(tipo: 1).sum("total_guarani - (total_guarani * (desconto / 100))") ) %></td>
        </tr>

        <tr>
          <td class="head">TOTALES Productos: <%= format_int( tot_gs.to_f - (@presupuesto.presupuesto_produtos.where(tipo: 1).sum("total_guarani - (total_guarani * (desconto / 100))")).to_f ) %></td>
        </tr>


        <tr>
          <td class="head">TOTALES GENERAL: <%= format_int(tot_gs) %></td>
        </tr>
      </table>

      <table>
        <tr>
          <td valign="top">

            <% sql_resumo = "SELECT PP.PRODUTO_ID,
                                  MAX(P.NOME) AS PRODUTO_NOME,
                                  SUM( (COALESCE( (pp.total_guarani - (pp.total_guarani * (pp.desconto / 100)) ), PP.TOTAL_GUARANI)) / COALESCE(PP.CUOTAS, 1) ) AS TOTAL
                              FROM PRESUPUESTO_PRODUTOS PP
                              INNER JOIN PRODUTOS P
                              ON P.ID = PP.PRODUTO_ID
                              WHERE PP.PRESUPUESTO_ID = #{@presupuesto.id}
                              GROUP BY 1"

                              resumen = PresupuestoProduto.find_by_sql(sql_resumo)
            %>
            <!--
            <table>
                <tr>
                  <td class="head" colspan="2" style="background: #fa4736; color: #fff">Resumen</td>
                </tr>
                <tr>
                  <td class="head">Description</td>
                  <td class="head" align="right">Monto</td>
                </tr>
                <% tot_resumen = 0 %>
                <% resumen.each do |r| %>
                  <tr class = "<%= cycle("cor1", "cor2") %> list">
                    <td width="150"><%= r.produto_nome %></td>
                    <td width="70" align="right"><%= format_int(r.total) %></td>
                  </tr>
                  <% tot_resumen += r.total.to_f %>
                <% end %>
                <tr  class="head">
                  <td>Totales</td>
                  <td width="70" align="right"><%= format_int(tot_resumen) %></td>
                </tr>
            </table>
            !-->

          </td>
          <td valign="top">
              <table>
                <tr>
                  <td class="head" colspan="4" style="background: #fa4736; color: #fff">Plan de Pago</td>
                </tr>
                <tr>
                  <td class="head">Cuotas</td>
                  <td class="head" width="150">Producto</td>
                  <td class="head" align="right">Monto</td>
                  <td class="head">Vencimiento</td>
                </tr>
                <% @presupuesto.presupuesto_cotas.order("vencimento").each do |pc| %>
                  <tr class = "<%= cycle("cor1", "cor2") %>">
                  <td><%= pc.cuotas %></td>
                  <td width="150"><%= format_int(pc.produto.nome) %></td>
                  <td align="right"><%= format_int(pc.valor_gs) %></td>
                  <td align="center"><%= pc.vencimento.strftime("%d/%m/%Y") %></td>
                  <% if @presupuesto.status.to_i == 0 %>
                    <td><%= link_to '', edit_presupuesto_cota_path(pc), class: 'icon-pencil' %></td>
                  <% end %>

                  </tr>
                <% end %>
                <tr  class="head">
                  <td>Totales</td>
                  <td width="70" align="right"><%= format_int(tot_gs) %></td>
                </tr>
            </table>
          </td>


        </tr>
      </table>

