<table>
  <tr>
    <td width="600"><%= wicked_pdf_image_tag(current_unidade.avatar.url, :height => 60) %></td>
    <td width="600" align="center">
      <h1><%= current_unidade.razao_social %> </h1>
      <h1>Presupuesto Nº <%= @presupuesto.id.to_s.rjust(6,'0')%></h1>
    </td>
  </tr>
</table>


<style>
  .border1{
    border: 2px solid #000;
    border-radius: 4px;   
  }

  .border1 table{
  }

  .border1 td{
    font-size: 12px;
  }

  .border1 label{
    color: #999;
    font-size: 12px;
  }

  h2{
    color: #000;
  }

  .grid td {
    padding: 10px;
    border-bottom: 1px solid #efefef !important;
  }
  .grid .cor1 {
    background-color: #f9f9f9 !important;
  }

  .grid {
    border-radius: 2px;
  }
</style>
<div class="border1">
  <table>
    <tr>
      <td width="600" colspan="3">
        <label>Cliente</label><br>
        <%= @presupuesto.persona.nome %>
      </td>

      <td>
        <label>Nº Contacto</label><br>
        <%= @presupuesto.persona.telefone %>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <label>Vendedor</label><br>
        <% vd = Persona.find(@presupuesto.vendedor_id)%>
        <%= vd.nome %>
      </td>
      <td>
        <label>Condición de Pago</label><br>
        <%= @presupuesto.plano.condicao unless @presupuesto.plano_id.blank? %>
      </td>

      <td>
        <label>Local</label><br>
        <b><%= @presupuesto.entrega %></b>
      </td>

    </tr>    
  </table>
</div>

<br>
<h2 align="center">Itens</h2>
<div class="border1" style="min-height:600px;">
  
  
<table class="grid"> 
  <tr style="font-weight: bold;background-color: #999;">
    <td align="center" width="20">#</td>
    <td align="center" width="80">Referencia</td>
    <td align="center" width="20">UM</td>
    <td align="center" width="100">Img</td>
    <td width="400">Producto/Servicios</td>
    <td align="right" width="50">Cantidad</td>
    <td align="right" width="70">Unit.</td>
    <td align="right" width="70">Tot.</td>
  </tr>
      <% qtd    = 0 %>
      <% tot    = 0 %>
      <% indice = 1 %>
      <% quebra     = '' %>
      <% PresupuestoProduto.joins(:produto).where("presupuesto_produtos.presupuesto_id = #{@presupuesto.id}").order("produtos.grupo_id").each do |pc|%>
           <% if quebra != pc.produto.grupo.descricao %>
            <% if quebra != "" %>
              <tr>
                <td></td>
              </tr>
            <% end %>
            <tr>
              <td colspan="4" style="background: #b0b0b0;"></td>
              <td class="head" colspan="4" style="background: #b0b0b0;"><%= quebra = pc.produto.grupo.descricao %></td>
            </tr>

           <% end %>

      <tr class="<%= cycle("cor1", "cor2")%>">
        <td align="center" width="20"><%= indice %></td>
        <td align="center" width="80"><%= pc.produto.fabricante_cod %></td>
        <td align="center" width="80"><%= pc.produto.unidade_medida.sigla unless pc.produto.unidade_medida.blank? %></td>
        <td width="100" align="center"><%= wicked_pdf_image_tag(pc.produto.produto_imagens.last.foto.url, :height => 60) unless pc.produto.produto_imagens.blank? %></td>
        <td align="left" width="400"><%= pc.produto_id.to_s.rjust(6,'0') %>-<%= pc.produto.nome %></td>
        <td align="right" width="50"><%= format_peso(pc.quantidade) %></td>
        <% if @presupuesto.moeda.to_i == 0 %>
          <td align="right" width="70"><%= format_decimal(pc.unitario_dolar) %></td>
          <td align="right" width="70"><%= format_decimal(pc.total_dolar) %></td>
          <% tot    += pc.total_dolar %>
        <% else %>
          <td align="right" width="70"><%= format_int(pc.unitario_guarani) %></td>
          <td align="right" width="70"><%= format_int(pc.total_guarani) %></td>
          <% tot    += pc.total_guarani %>
        <% end %>
      </tr>
      <% qtd    += pc.quantidade %>
      <% indice += 1 %>
     <% end %>
     <tr class="head">
      <td colspan="5" align="right">Total</td>
      <td align="right"> <%= format_peso(qtd.to_f) %></td>
      <td></td>
      <% if @presupuesto.moeda.to_i == 0 %>
        <td align="right" width="70"><%= format_decimal(tot) %></td>
      <% else %>
        <td align="right" width="70"><%= format_int(tot) %></td>
      <% end %>

     </tr>
   </table>



  <br>

  <table>
    <tr>
      <td width="600">
        <label>Obs</label><br>
        <%= @presupuesto.obs %>
      </td>
    </tr>
    
  </table>
</div>

  <br>
  <br>
  <br>

  <table style="font-size: 14px;">
    <tr>
      <td width="300" align="center">
        __________________________________________ <br>
        Firma 
      </td>
      <td width="300"></td>

      <td width="300" align="center">
        
      </td>     
    </tr>
  </table>

