<h1 id="header">Chaves</h1>
<%= form_for(@chafe) do |f| %>
  <div class="panel">
    <div class="panel-content">
        <table>
          <tr>
            <td>
              <label>Chave</label>
              <%= f.text_field :nome, class: 'panel-field' %>
            </td>
          </tr>
          <tr>
            <td  colspan="3">
              <label>Usuário</label>
              <%= f.collection_select :persona_id, Persona.all( :select     => ' id,nome', :conditions => ["tipo_frentista = 1"], :order      => '2'),:id,:nome, { :include_blank => true },:class => "selectize" %></td>
          </tr>
          <tr>
            <td  colspan="3">
              <label>Unidad</label>
              <%= f.collection_select :unidade_id, Unidade.all( :select     => ' id,unidade_nome', :order      => '2'),:id,:unidade_nome, { :include_blank => true },:class => "selectize" %></td>
          </tr>
          <tr>
            <td><%= f.check_box :status %> Status</td>
          </tr>
        </table>
        </div>

        <div class="buttons">
          <%= f.submit :value => " Grabar ", :class => "btn btn-green" %>
          <%= link_to 'Volver', chaves_path, :class => "btn back" %>
        </div>
    </div>
  </div>
</h1>
<% end %>