
<p>
  <strong>Turno:</strong>
  <%= @turno_horario.turno_id %>
</p>

<p>
  <strong>Dia semana:</strong>
  <%= @turno_horario.dia_semana %>
</p>

<p>
  <strong>Entrada 01:</strong>
  <%= @turno_horario.entrada_01 %>
</p>

<p>
  <strong>Saida 01:</strong>
  <%= @turno_horario.saida_01 %>
</p>

<p>
  <strong>Entrada 02:</strong>
  <%= @turno_horario.entrada_02 %>
</p>

<p>
  <strong>Saida 02:</strong>
  <%= @turno_horario.saida_02 %>
</p>


