<h1 id="header">Gasto Fiscal - [<%= t('EDITION') %>]</h1>
	<div class="group">
	<%= form_for(@compra) do |f| %>
		<% if @compra.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@compra.errors.count, "error") %> <%=  t('ERROR_ASSET_MESSAGE') %></h2>
				<ul>
					<% @compra.errors.full_messages.each do |msg| %>
					<li>
						<%= msg %>
					</li>
					<% end %>
				</ul>
			</div>
		<% end %>
	<% if params[:action] == 'new_gasto' %>
		<%= f.hidden_field :tipo_compra, value: 1 %>
		<%= f.hidden_field :fiscal, value: '1' %>
		<%= hidden_field_tag :moeda, '1' %>
	<% else %>
		<%= hidden_field_tag :moeda, @compra.moeda %>
	<% end %>
			<table>
				<tr>
					<td>
						<label><%= t('DATE') %></label>
						<%= f.date_select :data %>
					</td>
            <td>
            	<fieldset>
            		<legend><%= t('COIN') %></legend>
                <%= f.radio_button  :moeda, 1, Checked: "True", onfocus: "MoedaCompra('1')" %> Gs.
                <%= f.radio_button :moeda, 0, onfocus: "MoedaCompra('0')"%> Dolar
                <%= f.radio_button :moeda, 2, onfocus: "MoedaCompra('2')"%> Real
            	</fieldset>
            </td>
						<td colspan="2" style="padding: 10px">
							<fieldset>
								<legend>Tipo</legend>
						    <%= f.radio_button :tipo, 0, Checked: "True" %> Contado
						    <%= f.radio_button :tipo, 1 %> Credito
					    </fieldset>
						</td>
					</tr>
				<tr>
          <td>
          	<label>Competência</label>
          	<%= f.date_select :competencia, :discard_day => true %>
          </td>

          <td>
            <label>Cotz. U$xGs</label>
            <%= f.text_field :cotacao, size: 10, class: "money_gs", dir: "rtl" %>
          </td>

          <td style="padding: 10px">
          	<label>R$xGs</label>
          	<%= f.text_field :cotacao_real, size: 10, dir: "rtl", class: "money_gs" %>
        	</td>

          <td>
          	<label>R$xU$</label>
          	<%= f.text_field :cotacao_rs_us, size: 10, dir: "rtl", class: "money_us" %>
          </td>
				</tr>
				<tr>
					<td colspan="4">
						<label>Proveedor</label>
						<%= f.text_field :persona_nome, required: true, class: 'autocomplete panel-field' %>
						 <span id="sppiner" class="sppiner"><%= image_tag 'select2-spinner.gif' %></span>
			      <%= f.hidden_field :persona_id %>
			     </td>
			  <tr>
          <td colspan="4">
          <label>Rodados</label>
          	<%= f.collection_select :rodado_id,
                       Rodado.all( :select => 'id,placa',
                                   :order  => '2' ),:id,:placa,
                                 { :prompt => 'Seleccione el Rodado' } %>
          </td>
        </tr>
			  <tr>
          <td colspan="4">
          <label>Contrato</label>
          	<%= f.collection_select :contrato_id,
                       Contrato.find_by_sql("SELECT C.ID, (C.DOCUMENTO_NUMERO || ' - ' || P.NOME) AS PERSONA_NOME FROM CONTRATOS C INNER JOIN PERSONAS P ON P.ID = C.PERSONA_ID WHERE C.STATUS = 'Ativo' "),:id,:persona_nome,
                                 { :prompt => 'Seleccione' } %>
          </td>
        </tr>
			  <tr>
         	<td colspan="2">
         		<label>Empleado</label>
         		<%= f.collection_select :funcionario_id,
                       Persona.where(tipo_funcionario: 1).select('id,nome').order('nome'),:id, :nome,
                       { :prompt => 'Seleccione lo empleado' } %>
          </td>


         	<td colspan="2">
	          <label>Ref.</label>
	          <%= f.text_field :ob_ref, class: 'panel-field' %>
          </td>

        </tr>
				<tr>
					<td colspan="2">
					<label>Número</label>
					<%= f.text_field :documento_numero_01, size: 7, maxlength: 3, required: true, placeholder: '001' %> - <%= f.text_field :documento_numero_02, size: 7, maxlength: 3, required: true, placeholder: '001' %> - <%= f.text_field :documento_numero, size: 25, maxlength: 25, required: true, placeholder: 'numero del documiento' %>
					</td>
					<td colspan="2">
						<label>Timbrado</label>
						<%= f.text_field :documento_timbrado, size: 18, maxlength: 8, required: true %>
					</td>
				</tr>
			</table>

				<table class="valores-gs">
					<tr>
						<%= field_gs_label 'Exentas Gs.:',f,:exentas_guarani, style: 'margin-right: 70px' %>
					</tr>
					<tr>
						<%= field_gs_label 'Gravadas 5% Gs.:',f,:gravadas_05_guarani %>
					</tr>
					<tr>
						<%= field_gs_label 'Gravadas 10% Gs.:',f, :gravadas_10_guarani %>
					</tr>
					<tr>
						<%= field_gs_label 'Retención Gs.:',f, :retencao_gs %>
					</tr>

					<tr>
						<%= field_gs_label 'Total Descuento Gs.:',f,:desconto_guarani %>
						<%= field_gs_label 'Total Gs.:',f,:total_guarani, readonly: 'readonly' %>
					</tr>
				</table>

				<table hidden class="valores-us">
					<tr>
						<%= field_us_label 'Exentas U$:',f,:exentas_dolar, style: 'margin-right: 70px' %>
					</tr>
					<tr>
						<%= field_us_label 'Gravadas 5% U$:',f,:gravadas_05_dolar %>
					</tr>
					<tr>
						<%= field_us_label 'Gravadas 10% U$:',f, :gravadas_10_dolar %>
					</tr>
					<tr>
						<%= field_gs_label 'Retención U$:',f, :retencao_us %>
					</tr>

					<tr>
						<%= field_us_label 'Total Descuento U$:',f,:desconto_dolar %>
						<%= field_us_label 'Total U$:',f,:total_dolar, readonly: 'readonly' %>
					</tr>
				</table>

				<table hidden class="valores-rs">
					<tr>
						<%= field_us_label 'Exentas R$:',f,:exentas_real, style: 'margin-right: 70px' %>
					</tr>
					<tr>
						<%= field_us_label 'Gravadas 5% R$:',f,:gravadas_05_real %>
					</tr>
					<tr>
						<%= field_us_label 'Gravadas 10% R$:',f, :gravadas_10_real %>
					</tr>
					<tr>
						<%= field_us_label 'Total Descuento R$:',f,:desconto_real %>
						<%= field_us_label 'Total R$:',f,:total_real, readonly: 'readonly' %>
					</tr>
				</table>
				<table>
					<tr>
						<td>
						<br>
							<%= f.text_area :descricao, :cols => 87, :rows => 4, placeholder: 'Concepto:' %>
					 </td>
					</tr>
				</table>
			  <div class="footer-buttons">
			    <%= f.submit "Seguir", class: "btn btn-green", disable_with: "Aguarde...", "data-plus-as-tab" => "false"%>
			    <%= link_to t('BACK'), index_gasto_compras_url, :class => "btn btn-back" %>
			  </div>
<% end %>
</div>


	<script>
	  //cotacao
		$(document).ready(function() {
			$('#compra_data_3i').focus();
	    $.ajax({url: '/buscas/cotz_us_compra',
	            type: 'POST',
	            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            data: 'data=' + $('#compra_data_3i').val()+'/'+
	                            $('#compra_data_2i').val()+'/'+
	                            $('#compra_data_1i').val(),
	            success: function(data){
	            $('#compra_cotacao').val(number_format(data, 0, ',', '.'));} });

	    $.ajax({url: '/buscas/cotz_rs_compra',
	            type: 'POST',
	            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            data: 'data=' + $('#compra_data_3i').val()+'/'+
	                            $('#compra_data_2i').val()+'/'+
	                            $('#compra_data_1i').val(),
	            success: function(data){
	            $('#compra_cotacao_real').val(number_format(data, 0, ',', '.'));} });

	    $.ajax({url: '/buscas/cotz_rs_us_compra',
	            type: 'POST',
	            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            data: 'data=' + $('#compra_data_3i').val()+'/'+
	                            $('#compra_data_2i').val()+'/'+
	                            $('#compra_data_1i').val(),
	            success: function(data){
	            $('#compra_cotacao_rs_us').val(number_format(data, 2, ',', '.'));} });
		});
	</script>
	<% if params[:prov_gasto] == 'true' %>

		<script>
		$(document).ready(function() {
	    $.ajax({url: '/buscas/proveedor_pagar',
	            type: 'POST',
	            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            data: 'prev_gasto=' + <%= params[:titulo] %>,
	            success: function(data){
			          $('#compra_persona_id').val(data["prov"].persona_id);
			          $('#compra_persona_nome').val(data["prov"].persona_nome);
			          $('#compra_documento_numero').val(data["prov"].documento_numero);
			          $('#compra_proveedore_id').val(data["prov"].id);
								d = data["prov"].moeda;
								if (d == '1') {
							    $(".valores-gs").show();
							    $(".valores-rs").hide();
							    $(".valores-us").hide();
							    $("#compra_moeda_1").attr('checked', 'checked');
							    $('#compra_total_guarani').val(number_format(data["prov"].divida_guarani, 0, ',', '.'));

						   	} else if (d == '0') {

							    $(".valores-us").show();
							    $(".valores-rs").hide();
							    $(".valores-gs").hide();
							    $("#compra_moeda_0").attr('checked', 'checked');
							    $('#compra_total_dolar').val(number_format(data["prov"].divida_dolar, 2, ',', '.'));
						   	} else if (d == '2') {
							    $(".valores-rs").show();
							    $(".valores-us").hide();
							    $(".valores-gs").hide();
							    $("#compra_moeda_2").attr('checked', 'checked');
							    $('#compra_total_real').val(number_format(data["prov"].divida_real, 2, ',', '.'));
						   	}
	        		} });
			});
		</script>
	<% end %>


<script type="text/javascript">
  //moeda
	function MoedaCompra(d){
		moeda = $('#moeda').val(d);
    if (d == '1') {
	    $(".valores-gs").show();
	    $(".valores-rs").hide();
	    $(".valores-us").hide();

   	} else if (d == '0') {

	    $(".valores-us").show();
	    $(".valores-rs").hide();
	    $(".valores-gs").hide();
   	} else if (d == '2') {
	    $(".valores-rs").show();
	    $(".valores-us").hide();
	    $(".valores-gs").hide();
   	}
	}

  //calc valores
  $( "#compra_exentas_guarani, #compra_gravadas_05_guarani, #compra_gravadas_10_guarani" ).blur(function() {
  	var exentas_gs = $('#compra_exentas_guarani').val();
  	var grav_05_gs = $('#compra_gravadas_05_guarani').val();
  	var grav_10_gs = $('#compra_gravadas_10_guarani').val();
  	var tot_gs = (parseFloat(exentas_gs.replace(/\./g, "").replace(",", ".")) + parseFloat(grav_05_gs.replace(/\./g, "").replace(",", ".")) + parseFloat(grav_10_gs.replace(/\./g, "").replace(",", ".")) );
  	$('#compra_total_guarani').val(number_format(tot_gs, 0, ',', '.'));
  });

  $( "#compra_exentas_dolar, #compra_gravadas_05_dolar, #compra_gravadas_10_dolar" ).blur(function() {
  	var exentas_us = $('#compra_exentas_dolar').val();
  	var grav_05_us = $('#compra_gravadas_05_dolar').val();
  	var grav_10_us = $('#compra_gravadas_10_dolar').val();
  	var tot_us = (parseFloat(exentas_us.replace(/\./g, "").replace(",", ".")) + parseFloat(grav_05_us.replace(/\./g, "").replace(",", ".")) + parseFloat(grav_10_us.replace(/\./g, "").replace(",", ".")) );
  	$('#compra_total_dolar').val(number_format(tot_us, 2, ',', '.'));
  });

  $( "#compra_exentas_real, #compra_gravadas_05_real, #compra_gravadas_10_real" ).blur(function() {
  	var exentas_rs = $('#compra_exentas_real').val();
  	var grav_05_rs = $('#compra_gravadas_05_real').val();
  	var grav_10_rs = $('#compra_gravadas_10_real').val();
  	var tot_rs = (parseFloat(exentas_rs.replace(/\./g, "").replace(",", ".")) + parseFloat(grav_05_rs.replace(/\./g, "").replace(",", ".")) + parseFloat(grav_10_rs.replace(/\./g, "").replace(",", ".")) );
  	$('#compra_total_real').val(number_format(tot_rs, 2, ',', '.'));
  });

</script>

<script type="text/javascript">
	$(function() {
		$( "#compra_persona_nome" ).autocomplete({
				source: function( request, response ) {
					$("#sppiner").addClass("sppiner_show");
				$.ajax({
					url: "/personas/busca?per=PROVEEDOR",
					dataType: "json",

					data: {
						tipo: 'DESCRIPCION',
						busca: request.term
					},
					beforeSend: function(){
					$("#spinner").addClass("sppiner_show");
					},

					success: function( data ) {
						$("#sppiner").removeClass("sppiner_show");
						response( data );
					},
				});
			},
			minLength: 2,
			change: function( event, ui ) {
				$("#compra_persona_id").val("");
				$('#compra_persona_id').val(ui.item.id);
				return false;
			}
		});
		$( "#compra_persona_nome" ).change(function(){
			if ($( "#compra_persona_id" ).val() == ''){
			}
		});
	});

  $('#compra_rodado_id').selectize();
  $('#compra_funcionario_id').selectize();
  $('#compra_contrato_id').selectize();

</script>
