
<%= form_for(compras_produto) do |f| %>
<hr>
		<% if compras_produto.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(compras_produto.errors.count, "error") %> <%=  t('ERROR_ASSET_MESSAGE') %></h2>

			<ul>
				<% compras_produto.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>
				</li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= f.hidden_field :compra_id %>
	<%= f.hidden_field :unidade_id,    :value => @compra.unidade_id  %>
	<%= f.hidden_field :status,    :value => @compra.status %>
	<%= f.hidden_field :cotacao,   :value => @compra.cotacao.to_i %>
	<%= f.hidden_field :moeda,     :value => @compra.moeda %>
	<%= f.hidden_field :data,      :value => @compra.data %>
	<%= f.hidden_field :persona_id, :value => @compra.persona_id %>
	<%= f.hidden_field :persona_nome, :value => @compra.persona_nome %>
	<%= f.hidden_field :tipo_compra, :value => @compra.tipo_compra %>
			<table>
				<tr>
				 <td colspan="8">
				 	<label>Producto</label>
						<%= text_field :cod, :busca,
                :onkeypress  => "return bloqEnter(event)",
                :size        => 20, :placeholder => 'Ref. / Cod. Barra', :autofocus   => true %>				 		
					 <%= f.text_field :produto_nome, :size => 60, class: 'autocomplete', required: true, autofocus: true %>
					 <span id="sppiner" class="sppiner"><%= image_tag 'select2-spinner.gif' %></span>
					 <%= f.hidden_field :produto_id %> 
				 </td>
				</tr>

				<tr>
					<td>
						<label>Cantidad</label>
						<%= f.telephone_field :quantidade, size: 9, value: 1 %>
					</td>
					<% if @compra.moeda.to_i == 0  %>						
						<%= field_us_label 'Unit. U$', f, :unitario_dolar %>
						<%= field_us_label 'Desc. U$', f, :desconto_dolar %>
						<%= field_us_label 'Total U$', f, :total_dolar %>
					<% elsif @compra.moeda.to_i == 1 %>
						<%= field_gs_label 'Unit. Gs', f, :unitario_guarani %>
						<%= field_gs_label 'Desc. Gs', f, :desconto_guarani %>
						<%= field_gs_label 'Total Gs', f, :total_guarani %>
					<% elsif @compra.moeda.to_i == 2 %>
						<%= field_us_label 'Unit. R$', f, :unitario_real %>
						<%= field_us_label 'Desc. R$', f, :desconto_real %>
						<%= field_us_label 'Total R$', f, :total_real %>
					<% elsif @compra.moeda.to_i == 4 %>
						<%= field_us_label 'Unit. €$', f, :unitario_euro %>
						<%= field_us_label 'Total €$', f, :total_euro %>
					<% end %>
				</tr>
				<tr>
					<td  colspan="2">
					<label>Deposito</label>
					<%= f.collection_select :deposito_id, Deposito.where(unidade_id: current_unidade.id).select("id,nome"),:id, :nome %></td>
					<td>
						<%= f.submit t('SAVE'), :disable_with => "Aguarde...", :class => "btn btn-green", "data-plus-as-tab" => "false" %>
					</td>
				</tr>
			</table>
<% end %>

<script type="text/javascript">

$("#cod_busca").change(function(){
  $.ajax({url: "/buscas/busca_compra_produto",
          type: 'GET',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          data: "cod=" + escape($("#cod_busca").val()) +
                "&id="+ $("#id").val(),
          error: function(XMLHttpRequest, textStatus, errorThrown) { 
                  alert('Producto no Encontrado'); 
                  $('#cod_busca').focus();
                  $('#cod_busca').val('');
              },
          success: function(grade){
	          $('#compras_produto_produto_nome').val(grade["produto"].nome);
	          $('#compras_produto_produto_id').val(grade["produto"].produto_id);
        }
      });
});


$(function() {
	$( "#compras_produto_produto_nome" ).autocomplete({
			source: function( request, response ) {
			$("#sppiner").addClass("sppiner_show");
			$.ajax({
				url: "/buscas/search_all_produtos",
				dataType: "json",
				data: {
					tipo: 'DESCRIPCION',
					busca: request.term
				},
				success: function( data ) {
					response( data );
					$("#sppiner").removeClass("sppiner_show");
				},
			});
		},
		minLength: 2,
		select: function( event, ui ) {
			$("#compras_produto_produto_id").val("");
			$( "#compras_produto_produto_nome" ).val(ui.item.label);
			$('#compras_produto_produto_id').val(ui.item.id);
			return false;
		}
	});
});

  //calc valores gs
  $( "#compras_produto_unitario_guarani, #compras_produto_desconto_guarani" ).blur(function() {  
  	var qtd = $('#compras_produto_quantidade').val();
  	var unit_gs = $('#compras_produto_unitario_guarani').val();
  	var desc_gs = $('#compras_produto_desconto_guarani').val();
  	var tot_gs = ( (parseFloat(unit_gs.replace(/\./g, "").replace(",", ".")) - parseFloat(desc_gs.replace(/\./g, "").replace(",", "."))) * parseFloat(qtd.replace(/\./g, "").replace(",", ".")) );
  	$('#compras_produto_total_guarani').val(number_format(tot_gs, 0, ',', '.'));
  });

  $( "#compras_produto_total_guarani" ).change(function() {
  	var qtd = $('#compras_produto_quantidade').val();
  	var tot_gs = $('#compras_produto_total_guarani').val();
  	var desc_gs = $('#compras_produto_desconto_guarani').val();
  	var tot_des_gs = (parseFloat(desc_gs.replace(/\./g, "").replace(",", ".")) * parseFloat(qtd.replace(/\./g, "").replace(",", ".")) );
  	var unit_gs = ((parseFloat(tot_gs.replace(/\./g, "").replace(",", ".")) + tot_des_gs  ) / parseFloat(qtd.replace(/\./g, "").replace(",", ".")) )

  	$('#compras_produto_unitario_guarani').val(number_format(unit_gs, 0, ',', '.'));
  });

  //calc valores us
  $( "#compras_produto_unitario_dolar, #compras_produto_desconto_dolar" ).blur(function() {  
  	var qtd = $('#compras_produto_quantidade').val();
  	var unit_us = $('#compras_produto_unitario_dolar').val();
  	var desc_us = $('#compras_produto_desconto_dolar').val();
  	var tot_us = ( (parseFloat(unit_us.replace(/\./g, "").replace(",", ".")) - parseFloat(desc_us.replace(/\./g, "").replace(",", "."))) * parseFloat(qtd.replace(/\./g, "").replace(",", ".")) );
  	$('#compras_produto_total_dolar').val(number_format(tot_us, 2, ',', '.'));
  });

  $( "#compras_produto_total_dolar" ).change(function() {
  	var qtd = $('#compras_produto_quantidade').val();
  	var tot_us = $('#compras_produto_total_dolar').val();
  	var desc_us = $('#compras_produto_desconto_dolar').val();
  	var tot_des_us = (parseFloat(desc_us.replace(/\./g, "").replace(",", ".")) * parseFloat(qtd.replace(/\./g, "").replace(",", ".")) );
  	var unit_us = ((parseFloat(tot_us.replace(/\./g, "").replace(",", ".")) + tot_des_us  ) / parseFloat(qtd.replace(/\./g, "").replace(",", ".")) )

  	$('#compras_produto_unitario_dolar').val(number_format(unit_us, 2, ',', '.'));
  });

	//calc valores rs
  $( "#compras_produto_unitario_real, #compras_produto_desconto_real" ).blur(function() {  
  	var qtd = $('#compras_produto_quantidade').val();
  	var unit_rs = $('#compras_produto_unitario_real').val();
  	var desc_rs = $('#compras_produto_desconto_real').val();
  	var tot_rs = ( (parseFloat(unit_rs.replace(/\./g, "").replace(",", ".")) - parseFloat(desc_rs.replace(/\./g, "").replace(",", "."))) * parseFloat(qtd.replace(/\./g, "").replace(",", ".")) );
  	$('#compras_produto_total_real').val(number_format(tot_rs, 2, ',', '.'));
  });

  $( "#compras_produto_total_real" ).change(function() {
  	var qtd = $('#compras_produto_quantidade').val();
  	var tot_rs = $('#compras_produto_total_real').val();
  	var desc_rs = $('#compras_produto_desconto_real').val();
  	var tot_des_rs = (parseFloat(desc_rs.replace(/\./g, "").replace(",", ".")) * parseFloat(qtd.replace(/\./g, "").replace(",", ".")) );
  	var unit_rs = ((parseFloat(tot_rs.replace(/\./g, "").replace(",", ".")) + tot_des_rs ) / parseFloat(qtd.replace(/\./g, "").replace(",", ".")) )

  	$('#compras_produto_unitario_real').val(number_format(unit_rs, 2, ',', '.'));
  });

//calc valores eu
  $( "#compras_produto_unitario_euro" ).blur(function() {
  	var qtd = $('#compras_produto_quantidade').val();
  	var unit_rs = $('#compras_produto_unitario_euro').val();
  	var tot_rs = ( (parseFloat(unit_rs.replace(/\./g, "").replace(",", "."))) * parseFloat(qtd.replace(/\./g, "").replace(",", ".")) );
  	$('#compras_produto_total_euro').val(number_format(tot_rs, 2, ',', '.'));
  });


	document.onkeydown=function(e){
	  if(e.which == 113)
		  window.open('/produtos/busca_compra_produto', 'Pagina', ' SCROLLBARS=YES, TOP=10, LEFT=50, WIDTH=1000, HEIGHT=800');
	}

</script>




