
<%= form_for(@venda) do |vdc| %>
  <%= vdc.hidden_field :tabela_preco_id %>
  <input type='hidden' name='_method' value='put'>
    <%= hidden_field_tag :tela, params[:action] %>
    <% if @venda_config.multi_moeda == true %>
    <div class="row">
      <div class="col-md-12">
        <%= vdc.radio_button :moeda, 0, class: 'edit_moeda' %> Dolar
        <%= vdc.radio_button :moeda, 1, class: 'edit_moeda' %> Guaranies
        <%= vdc.radio_button :moeda, 2, class: 'edit_moeda' %> Real
      </div>
    </div>
    <% end %>

    <div class="row">
      <% if @venda_config.data == true %>
        <div class="col-md-7">
          <label><%= t('DATE') %></label>
          <%= vdc.date_select :data %>
        </div>
      <% end %>

      <% if @venda_config.cartao == true %>
        <div class="col-md-7">
          <label>Comanda</label>
          <%= vdc.text_field :cartao_nome, placeholder: 'Digite Comanda', autocomplete: "off", required: true %>
           <%= image_tag("check.png", align: "absmiddle", border: 0, id: "check-comanda", width: 15, height: 15, style: "position: absolute; right: 85px; top: 56%; display: none;" ) %>
           <%= image_tag("load.gif", align: "absmiddle", border: 0, id: "spinner-comanda", width: 15, height: 15, style: "position: absolute; right: 85px; top: 56%; display: none;") %>
           <%= image_tag("close.png", align: "absmiddle", border: 0, id: "close-comanda", width: 15, height: 15, style: "position: absolute; right: 85px; top: 56%; display: none;" ) %>
          <%= vdc.hidden_field :cartao_id %>
        </div>
      <% end %>

      <% if @venda_config.setor == true %>
        <div class="col-md-3">
          <label>Sector</label>
          <%= vdc.collection_select :setor_id, Setor.select('id,nome').order('2'), :id, :nome, { prompt: '' }, {class: 'selectize'} %>
        </div>
      <% end %>

      <% if Empresa.last.segmento.to_i == 3 %>
        <div class="col-md-3">
          <label>Ordem Carga</label>
          <%= vdc.collection_select :ordem_carga_id, OrdemCarga.select('id,cod_ext'), :id, :cod_ext, { :prompt => 'Selecione ' }, {class: 'selectize'} %>
        </div>
      <% end %>


      <% if @venda_config.centro_custo == true %>
        <div class="col-md-3">
          <label>Centro Costo</label>
          <%= vdc.collection_select :centro_custo_id, CentroCusto.select('id,nome').order('2'), :id, :nome, { prompt: '' }, {class: 'selectize'} %>
        </div>
      <% end %>

      <% if @venda_config.turma == true %>
        <div class="col-md-5">
          <label>Turma</label>
          <%= vdc.collection_select :turma_id, Turma.where(status: true).select('id,nome').order('2'), :id, :nome, { prompt: '' }, {class: 'selectize'} %>
        </div>
      <% end %>

      <% if @venda_config.plano == true %>
        <div class="col-md-4">
          <label>Cond. de Pagos</label>
          <%= vdc.collection_select :plano_id, Plano.select('id,condicao').order('2'), :id, :condicao, { prompt: '' }, {class: 'selectize'} %>
        </div>
      <% end %>
    </div>
  <div class="row">

    <div class="col-md-7">
      <label>
      <div class="pull-left" style="position: absolute; margin-left: 45px">
        <a href="#" data-toggle="modal" style="float: left; margin-right: 5px; margin-top: -4px" data-target="#ModalAddCliente"><span class="material-symbols-outlined">add_circle</span></a>

        <a href="#" data-toggle="modal" style="float: left; margin-right: 5px; margin-top: -4px" data-target="#ModalHistoricoVenda"><span class="material-symbols-outlined">history</span></a>
      </div>
      Cliente
      </label>
      <% unless @venda.vendas_produtos.present? %>
        <%= vdc.text_field :persona_nome, placeholder: 'Busca Cliente', style: 'width: 100%', onclick: "this.select();" %>
      <% else %>
        <%= vdc.text_field :persona_nome, placeholder: 'Busca Cliente', style: 'width: 100%', readonly: 'readonly', onclick: "this.select();"  %>
      <% end %>


      <%= image_tag("check.png", align: "absmiddle", border: 0, id: "check", width: 15, height: 15, style: "position: absolute; right: 20px; top: 56%;" ) %>
      <%= image_tag("load.gif", align: "absmiddle", border: 0, id: "spinner", width: 15, height: 15, style: "position: absolute; right: 20px; top: 56%; display: none;") %>
    </div>
    <%= vdc.hidden_field :persona_id, size: 5 %>
    <div class="col-md-5">
      <label>Vendedor</label>
      <%= vdc.collection_select :vendedor_id, Persona.where(tipo_vendedor: 1).select('id,nome').order('2'), :id, :nome, { prompt: 'Selecione o Cliente' }, {class: 'panel-field'} %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label></label>
      <%= vdc.text_area :obs, class: 'panel-field', rows: 1, placeholder: 'Obs' %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  function HistoricoCliente(){
        var deposito = document.getElementById('vendas_produto_deposito_id').value
        var dt       = document.getElementById('vendas_produto_data').value
      window.open('/personas/' + $("#venda_persona_id").val() + '/historico_vendas' , '', ' SCROLLBARS=YES, TOP=0, LEFT=50, WIDTH=2500, HEIGHT=600');
  };


    $("#venda_cartao_nome").change(function(){
        $("#spinner-comanda").show("fast");
        $.ajax({url: "/buscas/busca_cartao",
          type: 'GET',
          beforeSend: function(xhr) {
            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
          },

          data: 'unidade_id=<%= current_unidade.id %>&cod=' + $('#venda_cartao_nome').val(),

          success: function(find_cartao, textStatus, xhr){
            if (find_cartao["cartao"] == null) {
              alert('Tarjeta no Disponible! busque otra numeración');
              $('#spinner-comanda').hide("slow");
              $("#check-comanda").hide("fast");
              $("#close-comanda").show("fast");

              $('#venda_cartao_id').val('');
              $('#venda_cartao_nome').val('');
              $('#venda_cartao_nome').focus();
            }else{
              $('#venda_cartao_id').val(find_cartao["cartao"].id);
              $.ajax({
                type: 'PUT',
                url:  '/vendas/'+ <%= @venda.id %>,
                data: $('.edit_venda').serialize(),
                dataType: "JSON",
                success: function(data,textStatus,jqXHR) {
                  if (jqXHR.status == "204") {
                    $('#spinner-comanda').hide("slow");
                    $("#close-comanda").hide("fast");
                    $("#check-comanda").show("fast");

                  };
                }
            });
            }

          }
        });
    });


  $("#venda_setor_id, #venda_vendedor_id, #venda_obs, #venda_finalidade, #venda_nome_ref, #venda_tabela_preco_id, #venda_centro_custo_id, #venda_data_3i, #venda_data_2i, #venda_data_1i, #venda_plano_id, #venda_turma_id").change(function(){
      $("#spinner").css({"position": "absolute", "top": "55%", "right": "20px"}).show("fast");
      $.ajax({
        type: 'PUT',
        url:  '/vendas/'+ <%= @venda.id %>,
        data: $('.edit_venda').serialize(),
        dataType: "JSON",
        success: function(data,textStatus,jqXHR) {
          if (jqXHR.status == "204") {
            $('#spinner').hide("slow");
            $("#check").css({"position": "absolute", "top": "55%", "right": "20px"}).show("fast");
          };
        }
    });
  })

  $('.edit_moeda').bind('blur change click', function() {
    $("form:first").submit();
  });

  $(document).ready(function(){
    $.ajax({
      type: 'GET',
      url:  '/vendas/verifica_financas',
      data: {
        "venda_id": <%= @venda.id %>
      },
      success: function(data) {
        if (data == 1) {
          $('.edit_venda input,  .edit_venda select, .edit_venda textarea').attr('readonly', 'readonly');

        }
      }
    });
  });

    $(function() {
      $( "#venda_persona_nome" ).autocomplete({
          source: function( request, response ) {
          $.ajax({
            url: "/personas/busca?per=CLIENTE",
            dataType: "json",
            data: {
              tipo: 'DESCRIPCION',
              busca: request.term
            },
            beforeSend: function(){
              $("#spinner").css({"position": "absolute", "top": "55%", "right": "20px"}).show("fast");
              $("#check").css({"position": "absolute", "top": "55%", "right": "20px"}).hide("fast");
            },

            success: function( data ) {
              response( data );
            },
          });
        },
        minLength: 2,
        change: function( event, ui ) {
          if (ui.item === null) {
            $(this).val('');
            $("#venda_persona_id").val("");
            alert('seleccione de el nombre de la lista')
          } else{
            $("#venda_persona_id").val("");
            $('#venda_persona_id').val(ui.item.id);
            $('#venda_tabela_preco_id').val(ui.item.tabela_preco_id);
            $('#tabela_preco_id').val(ui.item.tabela_preco_id);
            $.ajax({
                type: 'PUT',
                url:  '/vendas/'+ <%= @venda.id %>,
                data: $('.edit_venda').serialize(),
                dataType: "JSON",
                success: function(data,textStatus,jqXHR) {
                  if (jqXHR.status == "204") {
                    $('#spinner').hide("slow");
                    $("#check").css({"position": "absolute", "top": "55%", "right": "20px"}).show("fast");
                  };
                }
            });
          }
        }
      });
    });
</script>

<% if @venda_config.altera_vendedor_obrig == true %>
<script>
    if ($( "#venda_vendedor_id" ).val() == ''){

      $(document).ready(function(){
        $("#ModalVendedor").modal('show');

        $('#ModalVendedor').on('shown.bs.modal', function() {
          $('#cod_vendedor').focus();
        })

        $("#cod_vendedor").change(function(){
          if (true) {}
            $.ajax({
              type: 'GET',
              url:  '/buscas/get_vendedor',
              data: {cod_vendedor: $("#cod_vendedor").val()},
              dataType: "JSON",
              success: function(data,textStatus,jqXHR) {
                if (data["persona"] == 'null'){
                  alert('Vendedor no Encontrado')
                  $('#cod_vendedor').focus();
                  $('#cod_vendedor').val('');
                } else {
                  $("#venda_vendedor_id").val(data["persona"].id);
                  $('#ModalVendedor').modal('hide');
                  $('#venda_cartao_nome').focus();

                    $.ajax({
                        type: 'PUT',
                        url:  '/vendas/'+ <%= @venda.id %>,
                        data: $('.edit_venda').serialize(),
                        dataType: "JSON",
                        success: function(data,textStatus,jqXHR) {
                          if (jqXHR.status == "204") {
                            $('#spinner').hide("slow");
                            $("#check").css({"position": "absolute", "top": "55%", "right": "20px"}).show("fast");
                          };
                        }
                    });

                }

              }
          });
        })

      });

    };
</script>
<% end %>


<div class="modal fade" id="ModalVendedor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header btn-primary">
        <h1 style="font-size: 16px; font-weight: bold; color: #fff">
        Selecione lo Vendedor
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #fff">
            <span aria-hidden="true">&times;</span>
          </button>
        </h1>

      </div>
      <div class="modal-body" style="padding: 5px 20px 20px 20px">

        <%= text_field_tag :cod_vendedor, nil, class: 'panel-field', placeholder: 'Código Vendedor' %>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="ModalHistoricoVenda">
  <div class="modal-dialog modal-lg" role="document"  style="height: 720px; width: 1300px;">
    <div class="modal-content">
      <div class="modal-header">
        <div class="close-button">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <h2 class="modal-title" id="myModalLabel" align="center">Historico de Ventas</h2>
      </div>
      <div class="modal-body-mhv" style="padding: 10px">

      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="ModalAddCliente">
  <div class="modal-dialog modal-lg" role="document"  style="height: 720px; width: 800px;">
    <div class="modal-content">
      <div class="modal-header">
        <div class="close-button">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <h2 class="modal-title" id="myModalLabel" align="center">Add Cliente</h2>
      </div>
      <div class="modal-body-mac" style="padding: 10px">

      </div>
    </div>
  </div>
</div>

<script>
  $('#ModalHistoricoVenda').on('show.bs.modal', function (e) {
    $(this).find('.modal-body-mhv').load('/personas/' + $("#venda_persona_id").val() + '/historico_vendas');
  });

  $('#ModalAddCliente').on('show.bs.modal', function (e) {
    $(this).find('.modal-body-mac').load('/personas/new?layout=resumido');
  });

</script>