<div class="group">
  <%= form_tag dinamic_busca_venda_produto_produtos_path, :method => "get" do %>

    <div class="row">
      <div class="col-md-3">
        <%= select("busca", "tabela_preco_id", TabelaPreco.all(:select => 'id,nome').collect {|p| [ p.nome, p.id ] }, {}, {onchange: "pesquisaf2()"}) %>
      </div>        
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default">
              <i class="icon-search" aria-hidden="true"></i>
            </button>
          </span>
          <input id="busca_f2" name="busca_f2" type="search" placeholder="Buscar" onKeyUp="pesquisaf2()" autocapitalize="off" autocomplete="off" autocorrect="off" autofocus, class="panel-field" />          
        </div>
      </div>
      <div class="col-md-2">
        <%= image_tag("load.gif", :align => "absmiddle", :border => 0, :id => "spinnerf2", :width => 21, :height => 21, :style =>"display: none;" ) %>
      </div>
    </div>
  <% end %>
</div>

<div class="group">
  <div id="paginaf2"></div>
</div>

<script>
    function Fecha(produto_nome,produto_id,preco_gs,preco_us,preco_rs){
      $("#vendas_produto_produto_nome").val(produto_nome)
      $("#vendas_produto_produto_id").val(produto_id)
      $("#vendas_produto_tabela_preco_id").val($("#busca_tabela_preco_id").val())
      
      if (<%= @venda.moeda %> == '0'){
        $("#vendas_produto_unitario_dolar").val(preco_us)
        $("#vendas_produto_preco_dolar").val(preco_us)
        $("#vendas_produto_total_dolar").val(preco_us)
        
      }else if (<%= @venda.moeda %> == '1'){        
        $("#vendas_produto_preco_guarani").val(preco_gs)
        $("#vendas_produto_unitario_guarani").val(preco_gs)
        $("#vendas_produto_total_guarani").val(preco_gs)
      }else{
        $("#vendas_produto_unitario_real").val(preco_rs)
        $("#vendas_produto_preco_real").val(preco_rs)
        $("#vendas_produto_total_real").val(preco_rs)
      }

      $("#vendas_produto_quantidade").focus()
      $('#ModalF2').modal('hide');
    }  
</script>

  <script language="javascript">

    function pesquisaf2(){
      count_caract = $("#busca_f2").val().length;
      if (count_caract > 2) {
        //FUNÇÃO QUE MONTA A URL E CHAMA A FUNÇÃO AJAX

        urlf2="/produtos/dinamic_busca_venda_produto?deposito_id=<%= @venda.terminal.deposito_id %>&tabela_preco_id="+ $("#busca_tabela_preco_id").val() +"&data=<%= @venda.data %>&moeda=<%= @venda.moeda %>&unidade=<%= @venda.unidade_id %>&busca="+$("#busca_f2").val();
        ajaxf2(urlf2);
      }

    }

    function ajaxf2(urlf2){

      $('#spinnerf2').show();

      req = null;

      // Procura por um objeto nativo (Mozilla/Safari)

      if (window.XMLHttpRequest) {

        req = new XMLHttpRequest();

        req.onreadystatechange = processReqChangef2;

        req.open("GET",urlf2,true);

        req.send(null);

        // Procura por uma versão ActiveX (IE)

      } else if (window.ActiveXObject) {

        req = new ActiveXObject("Microsoft.XMLHTTP");

        if (req) {

          req.onreadystatechange = processReqChangef2;

          req.open("GET",urlf2,true);

          req.send();

        }

      }

    }


    function processReqChangef2(){

      // apenas quando o estado for "completado"

      if (req.readyState == 4) {

        // apenas se o servidor retornar "OK"

        if (req.status ==200) {

          // procura pela div id="pagina" e insere o conteudo

          // retornado nela, como texto HTML

          onSuccess:$('#spinnerf2').hide();
          document.getElementById('paginaf2').innerHTML = req.responseText;

        } else {

          alert("Houve um problema ao obter os dados:n" + req.statusText);

        }

      }

    }
  </script>

<script>

 $(function () {  
        $(document).keydown(function (e) {  

             if((e.which || e.keyCode) == 40){

              valor = parseInt($("#foco").val()) + 1;
              $("#foco").val(valor)
               campo     = '#'+ valor
               c_campo   = '.'+ valor
               ant_campo = '.'+ (valor - 1)
              $(campo).focus()

              if ((valor - 1)%2 == 0){
                $(ant_campo).css('backgroundColor','#fff');
              }else{
                $(ant_campo).css('backgroundColor','#f9f9f9');
              };

              $(c_campo).css('backgroundColor','#e6ebf2');
             return false;

             }


            if((e.which || e.keyCode) == 38){

              valor = parseInt($("#foco").val()) - 1;
              $("#foco").val(valor)
               campo     = '#'+ valor
               c_campo   = '.'+ valor
               ant_campo = '.'+ (valor + 1)
              $(campo).focus()
              if ((valor + 1)%2 == 0){
                $(ant_campo).css('backgroundColor','#fff');
              }else{
                $(ant_campo).css('backgroundColor','#fff');
              };

              $(c_campo).css('backgroundColor','#e6ebf2');
             return false;
             }

        });  
    }); 

  </script>