
<% if @venda_config.caixa_separado.to_i == 1 #venda balcao caixa separado %>
	<a href="javascript:void(0)" class="btn btn-blue" onclick="FechaTela()" id="fecha-venda">Finalizar <%= image_tag("load.gif", align: "absmiddle", border: 0, id: "spinner-fecha-venda", width: 21, height: 21, style: "position: relative; display: none;") %></a>
  <% if current_user.tipo.to_i <= 1 %>
    <%= link_to 'Financeiro', financas_venda_path(@venda.id) , :class => "btn btn-default next" %>
  <% end %>
<% else %>
	<%= link_to 'Seguir', financas_venda_path(@venda.id) , :class => "btn btn-default next" %>
<% end %>

<% if @venda.op == true %>
  <%= link_to 'Re-Abrir', valida_processo_venda_path(@venda.id) , :class => "btn btn-danger" %>
<% end %>

<a href="javascript:void(0)" class="btn btn-blue" onClick="ComprovanteVenda()"><%= image_tag('printer.png') %> Comprovante</a>
<% if @venda_config.modelo_cp.to_i == 1 %>
  <a href="javascript:void(0)" class="btn btn-blue" onClick="QzComprovante()"><%= image_tag('printer.png') %> Matricial</a>
<% end %>

<% if @venda_config.pdv_cozinha == true %>
  <a href="javascript:void(0)" class="btn btn-blue" onClick="TicketCozinha()">Enviar Cocina</a>
<% end %>

<% if @venda_config.pedido == true %>

  <a href="#" class="btn" data-toggle="modal" data-target="#myModalPedido">Pedidos</a>

  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="myModalPedido">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="close-button">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <h2 class="modal-title" id="myModalLabel" align="center">Add Pedido</h2>
        </div>
        <div class="modal-body-pd" style="padding: 10px">

        </div>
      </div>
    </div>
  </div>

  <script>
    $('#myModalPedido').on('show.bs.modal', function (e) {
      $(this).find('.modal-body-pd').load("/vendas_pedidos/new?venda_id=<%= @venda.id%>&persona_id=" + $("#venda_persona_id").val());
    });
  </script>

<% end %>

<% if @venda_config.romaneio == true %>
  <a class="acao_rm btn btn-default">Romaneios</a>
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modal_romaneio">
    <div class="modal-dialog" role="document" style="width: 850px;">
      <div class="modal-content">
        <div class="modal-header">
          <div class="close-button">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <h4 class="modal-title us" id="myModalLabel" align="center">Add Romaneios</h4>
        </div>
        <div class="modal-body" style="padding: 10px 0px 10px 0px">
          <%= render partial: "/venda_romaneios/modal_romaneios", locals: {vendas_ordem_serv: VendasOrdemServ.new(venda_id: @venda.id)} %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<% if @venda_config.os == true %>


  <a href="#" class="btn" data-toggle="modal" data-target="#myModalOs">OS</a>

  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="myModalOs">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="close-button">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <h2 class="modal-title" id="myModalLabel" align="center">Add Os</h2>
        </div>
        <div class="modal-body-pd" style="padding: 10px">

        </div>
      </div>
    </div>
  </div>

  <script>
    $('#myModalOs').on('show.bs.modal', function (e) {
      $(this).find('.modal-body-pd').load("/vendas_ordem_servs/new?venda_id=<%= @venda.id%>&persona_id=" + $("#venda_persona_id").val());
    });
  </script>


<% end %>

<% if @venda_config.condicional == true %>
  <a class="acao btn btn-default">Condicional</a>
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="myModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="close-button">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <h4 class="modal-title us" id="myModalLabel" align="center">Add Condicional</h4>
        </div>
        <div class="modal-body" style="padding: 10px 0px 25px 0px">
          <%= render partial: "/vendas_cond_liqs/form", locals: {vendas_cond_liq: VendasCondLiq.new(venda_id: @venda.id)} %>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(".acao").click(function() {
      $('#myModal').modal('show');
      $('#myModal').on('shown.bs.modal', function () {
        $('#ordem_serv_prod_produto_id').focus();
      })
    });
  </script>

<% end %>


<script>
	function ComprovanteVenda(){
    window.open('/vendas/' + <%= @venda.id %> + '/comprovante' , '', ' SCROLLBARS=YES, TOP=150, LEFT=100, WIDTH=400, HEIGHT=500');
	}
</script>

<script>
  function TicketCozinha(){
    window.open('/vendas/send_print?proc=ticket_cozinha_multi_print&venda_id=' + <%= @venda.id %> , '', ' SCROLLBARS=YES, TOP=150, LEFT=100, WIDTH=400, HEIGHT=500');
  }

  function FechaTela() {
    $("#fecha-venda").prop('disabled',true);
    $("#spinner-fecha-venda").show("fast");

    if ( ($("#venda_cartao_nome").val() == '') ) {
      alert('Agrege la Comanda!');
      $("#venda_cartao_nome").focus();
    }else if ( ($("#venda_vendedor_id").val() == '' )) {
      alert('Agrege lo Vendedor!');
      $("#venda_vendedor_id").focus();
    }else{
          $.ajax({url: "/vendas/<%= @venda.id %>/valida_processo",
            type: 'GET',
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            success: function(){
              window.location.href='/vendas/new?tipo_venda=0'
            }
        });
    }

  }
</script>
