<style>
	.rolagem_cobro td{
		padding: 5px;
	}
</style>

  <div class="panel">
    <div class="panel-content">

<header class="panel-heading" style="font-family: 'prox'; font-size: 18px; padding-bottom: 10px;">
	Factura
	<div style="float: right">
	</div>
</header>
		      <table class="head_grid">
		        <tr>
		          <td width="70">Lanz.</td>
		          <td width="100">Factura</td>
              <td width="60">CDC</td>
              <td width="100">Estado SET</td>
		        </tr>
		      </table>

		      <div class="rolagem" dir="div" style="height: 180px">
		        <table>
		          <% @fts.each do |ft| %>
              <%= render partial: "/form_fiscals/consulta_estado", locals: {cdc: ft.cdc, terminal: ft.terminal} %>
		          <% if ft.status == 2 %>
		            <% anulada  = 'li-ft' %>
		          <% end %>

		            <tr class = "<%= cycle("cor1", "cor2") %> <%= raw anulada %>">
  		            <td  width="70">
                    <%= link_to  "#detalhe-doc-#{ft.id}", "data-toggle" => "modal", "data-target" =>"#detalhe-doc-#{ft.id}", "data-id" => "#{ft.id}" do %>
                      <%= ft.id %>
                    <% end %>
                  </td>
		              <td  width="100"><%= ft.doc_01 %>.<%= ft.doc_02 %>.<%= ft.doc %></td>


                  <td width="60" title="<%= ft.cdc %>"><small><%= ft.cdc.to_s[38..44] %></small></td>
                  <td>
                    <%= @get_resp["deList"][0]["situacion"].to_s %> -
                    <% if @get_resp["deList"][0]["situacion"].to_s == '0' %>
                      Generado DE
                    <% elsif @get_resp["deList"][0]["situacion"].to_s == '1' %>
                      Enviado en un Lote
                    <% elsif @get_resp["deList"][0]["situacion"].to_s == '2' %>
                      Aprobado
                    <% elsif @get_resp["deList"][0]["situacion"].to_s == '3' %>
                      Aprobado con observacion
                    <% elsif @get_resp["deList"][0]["situacion"].to_s == '4' %>
                      <span style="color: red">Rechazado</span>
                    <% elsif @get_resp["deList"][0]["situacion"].to_s == '98' %>
                      Inexistente
                    <% elsif @get_resp["deList"][0]["situacion"].to_s == '99' %>
                      Cancelado
                    <% end %><br>
                    <%= @get_resp["deList"][0]["respuesta_mensaje"] %>
                  </td>
		              <% if ft.status == 1 %>
                    <td><span class="btn-success">Activo</span></td>
                    <% if ft.tipo_emissao.to_i == 1 %>
                      <% if @get_resp["deList"][0]["situacion"].to_s == '2' %>
                        <td><%= link_to 'Anular', form_anula_nc_form_fiscal_path(ft, status: '2', modal: 'true') %></td>
                      <% else %>
                        <td>
                          <%= link_to  "Inutilizar", "#", "data-toggle" => "modal", "data-target" =>"#modal-inutilizacion" %>
                          <%= render partial: "form_fiscals/eventos/inutilizacion", locals: { form_fiscal: ft } %>
                        </td>
                      <% end %>
                      <td><%= link_to 'Gerar pdf', gera_pdf_cdc_form_fiscals_path( cdc: ft.cdc, id: ft.id) %></td>
                    <% else %>
                      <% if current_user.tipo.to_i == 0  %>
                        <td><%= link_to 'Retroceder', form_anula_nc_form_fiscal_path(ft, status: '0', modal: 'true') %></td>
                      <% end %>
                      <td><%= link_to 'Re-imprimir', "#",  :onclick => "MultiplaFaturaVenda(#{ft.id})" %></td>
                    <% end %>

		              <% elsif ft.status == 2 %>
		                <td><span class="btn-danger">Anulado</span></td>

                    <% if current_user.tipo.to_i == 0  %>
		                  <td><%= link_to 'Retroceder', form_anula_nc_form_fiscal_path(ft, status: '0', modal: 'true') %></td>
                    <% end %>

                    <% if ft.tipo_emissao.to_i == 1 %>
                      <td><%= link_to 'Gerar pdf', gera_pdf_cdc_form_fiscals_path( cdc: ft.cdc, id: ft.id) %></td>
                    <% end %>
                  <% elsif ft.status == 3 %>
                    <td><span class="btn-warning">Inutilizado</span></td>
                    <% if ft.tipo_emissao.to_i == 1 %>
                      <td><%= link_to 'Gerar pdf', gera_pdf_cdc_form_fiscals_path( cdc: ft.cdc, id: ft.id) %></td>
                    <% end %>
		              <% end %>
		            </tr>


                  <div class="modal fade" id="detalhe-doc-<%= ft.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <h4 class="modal-title" id="myModalLabel">Resumen Factura</h4>
                        </div>
                        <div class="modal-body" style="padding: 5px 20px 20px 20px">
                          <div class="group" >
                            <div class="row">
                              <div class="col-md-12">
                                <label>RUC/CI</label>
                                <%= ft.ruc %>
                              </div>

                              <div class="col-md-12">
                                <label>Nombre</label>
                                <%= ft.persona_nome %>
                              </div>

                              <div class="col-md-12">
                                <label>CDC</label>
                                <%= ft.cdc %>
                              </div>
                              <div class="col-md-12">
                                <label>Nº</label>

                              </div>
                              <div class="col-md-12">
                                <label>Status</label>
                                <% if ft.status == 1 %>
                                  <span class="btn-success">Activo</span>
                                <% else %>
                                  <span class="btn-danger">Anulado</span>
                                <% end %>
                              </div>
                              <div class="col-md-12">
                                <label class="bold">Estado SET</label>

                              </div>
                              <div class="col-md-12">
                                <label class="bold">Situacion SET</label>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

		          <% end %>
		        </table>
		      </div>
		    </div>
    </div>
<% unless @fts.present? %>
	<div class="group">
    <%= render partial: "form_fiscals/attr_forms/venda_update_ft_eletronico" %>
	</div>
<% else %>
	<% if @fts.first.status.to_i != 1 %>

	<div class="group">
		<%= render partial: "form_fiscals/attr_forms/venda_update_ft_eletronico" %>
	</div>
	<% end %>

		<script type="text/javascript">
			function MultiplaFaturaVenda(id){
				window.open('/form_fiscals/' + id +'/impressao_ft', 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
			}
		</script>
<% end %>
