<div class="panel">
		<h1 id="header">
			Orden Entregas
	  <div class="pull-right">
	    <a href="#" class="btn" data-toggle="modal" data-load-url="<%= modal_add_ordem_entregas_path(venda_id: @venda.id) %>" data-target="#ModalOrdemEntrega"><span class="material-symbols-outlined">local_shipping</span></a>
	  </div>
		</h1>


  <div class="panel-content">
		<table class="head_grid">
			<tr>
				<td width="100">OE</td>
				<td width="100">Status</td>
				<td width="100">Local Retirada</td>
				<td width="80" align="right">Qtd</td>
			</tr>
		</table>
		<div class="rolagem" dir="div" style="height:80px">
			<table>
				<% @venda.ordem_entregas.each do |o| %>
					<tr class = "<%= cycle("cor1", "cor2") %>">
						<td width="100"><%= o.id.to_s.rjust(6,'0') %></td>
						<td width="100">
							<% if o.status == 0 %>
								Pediente
							<% elsif o.status == 1 %>
								Separación
							<% elsif o.status == 2 %>
								En Rota
							<% elsif o.status == 3 %>
								Finalizado
							<% end %>
						</td>
						<td width="100">
							<% if o.local_retirada == 0 %>
								Showroom
							<% elsif o.local_retirada == 1 %>
								Ret. Deposito
							<% elsif o.local_retirada == 2 %>
								Entregar
							<% end %>
						</td>
						<td width="80" align="right"><%= format_peso(o.ordem_entrega_produtos.sum(:quantidade) ) %></td>
						<td><%= link_to '', o, :confirm => 'Estas Seguro?', :method => :delete, class: 'icon-trash' %></td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="ModalOrdemEntrega">
  <div class="modal-dialog modal-lg" role="document"  style="height: 720px; width: 1300px;">
    <div class="modal-content">
      <div class="modal-header">
        <div class="close-button">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <h2 class="modal-title" id="myModalLabel" align="center">Ordem Entrega</h2>
      </div>
      <div class="modal-body-oe" style="padding: 10px">

      </div>
    </div>
  </div>
</div>

<script>
	$('#ModalOrdemEntrega').on('show.bs.modal', function (e) {
    var loadurl = $(e.relatedTarget).data('load-url');
    $(this).find('.modal-body-oe').load(loadurl);
	});


</script>