<div class="panel">
  <div class="panel-content">
    <table class="head_grid">
      <tr>
        <td width="100">Cod</td>
        <td width="150">Doc.</td>
        <td width="80" align="right">Ctd</td>
        <td width="100" align="right">Tot</td>
      </tr>
    </table>
    <div class="rolagem" dir="div" style="height:80px">
      <table>
        <% @venda.venda_romaneios.each do |o| %>
          <tr class = "<%= cycle("cor1", "cor2") %>">
            <td width="100"><%= o.romaneio_id.to_s.rjust(6,'0') %></td>
            <td width="150"><%= o.romaneio.documento_numero %></td>
            <td width="80" align="right"><%= format_peso(o.romaneio.romaneio_produtos.sum(:quantidade) ) %></td>
            <td width="100" align="right"><%= format_int(o.romaneio.romaneio_produtos.sum(:total_guarani) ) %></td>
            <td><%= link_to '', o, :confirm => 'Estas Seguro?', :method => :delete, class: 'icon-trash' %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
