	<div class="group">
   <table class="head_grid">
      <tr>
         <td width="150">PA</td>
     	 <td width="70" align="right">Divida U$</td>
         <td width="70" align="right">Monto U$</td>
         <td width="70" align="right">Divida G$</td>
         <td width="70" align="right">Monto G$</td>
      </tr>
   </table>
   <div class="rolagem" dir="div" style="height: 250px">
      <table>
         <% @pagos_antecipados.each do |pa| %>
           <tr class = "<%= cycle( "cor1", "cor2" )%>"
               onclick="Fecha('<%= pa.cobro_guarani.to_i %>',
               				  '<%= pa.cobro_dolar.to_f %>',
                              '<%= pa.documento_numero_01 %>',
                              '<%= pa.documento_numero_02 %>',
                              '<%= pa.documento_numero %>',)">

              <td width="150"><%= pa.documento_numero_01 %>-<%= pa.documento_numero_02 %>-<%= pa.documento_numero %></td>
              <td width="70" align="right"><%= format_int(pa.divida_dolar) %></td>
              <td width="70" align="right"><%= format_int(pa.cobro_dolar) %></td>
              <td width="70" align="right"><%= format_int(pa.divida_guarani) %></td>
              <td width="70" align="right"><%= format_int(pa.cobro_guarani) %></td>
           </tr>
         <% end %>
      </table>
   </div>

   <%= hidden_field_tag :valor, @venda.tot_guarani %>
   
</div>

<script>
  function Fecha(cobro_gs, cobro_us, doc01, doc02, doc){
    window.opener.document.getElementById('fact_ad_01').value = doc01;
    window.opener.document.getElementById('fact_ad_02').value = doc02;
    window.opener.document.getElementById('fact_ad').value = doc;
 
    if (parseFloat($("#valor").val()) > parseFloat(cobro_gs)) {
      window.opener.document.getElementById('valor_gs').value = number_format( cobro_gs,0, ',', '.');
      window.opener.document.getElementById('valor_us').value = number_format( cobro_us,0, ',', '.');
    }
      
    self.close();
  }
</script>
