<ul>
  <% @mesas.each do |m| %>
    <% if m.status_op.to_i == 1 %>
        <li class="list_mesas_off" align="center" onclick="window.location='/vendas/<%= m.venda_id %>'">
          <p class="title-card"><%= m.nome %></p>
        </li>
    <% else %>
      <li class="list_mesas_on"  onclick="window.location='/vendas/new?cartao_nome=<%= m.nome %>&cartao_id=<%= m.id %>&tipo_venda=0&status_op=1&nome_ref=SALAO'">
        <p class="title-card">
          <a href="/vendas/new?cartao_nome=<%= m.nome %>&cartao_id=<%= m.id %>&tipo_venda=0&status_op=1&nome_ref=SALAO">
           <%= m.nome %>
          </a>
        </p>
      </li>
    <% end %>
  <% end %>
</ul>
