<h1 style="font-size: 22px;" class="bold"><b>Venta <%= @venda.id.to_s.rjust(6,'0')%> | <%= @venda.controle_caixa %></b></h1>
<div class="row">
  <div class="col-md-6">
  	<div class="panel">
  		<div class="panel-content">
				<%= render :partial => "atuliza_cliente" %>
  		</div>
  	</div>

    <div class="panel">
      <div class="panel-content">
      	<% if @venda.op == false %>
		  		<% unless @venda.vendas_financas.present? %>
			      <%= render partial: 'vendas_produtos/new_produto', locals: {vendas_produto: VendasProduto.new(venda_id: @venda.id)} %>
			    <% end %>
	    	<% end %>
			</div>
    </div>
  	<div class="panel">
  		<div class="panel-content">
				<%= render 'buttons' %>
  		</div>
  	</div>
  	<% if @venda_config.modelo_cp.to_i == 1 %>
  		<%= render 'set_print' %>
  	<% end %>

  </div>

  <div class="col-md-6">
  	<% if @venda_config.entrega == true %>
			<%= render 'local_entrega' %>
		<% end %>

  	<% if @venda_config.os == true %>
  		<%= render 'os' %>
  	<% end %>

  	<% if @venda_config.pedido == true %>
  		<%= render 'pedidos' %>
  	<% end %>

  	<% if @venda_config.romaneio == true %>
  		<%= render 'romaneios' %>
  	<% end %>

  	<% if @venda_config.condicional == true %>
  		<%= render 'condicionals' %>
  	<% end %>

    <div class="panel">
      <div class="panel-content">
      	<%= render 'list_produtos' %>
      </div>
    </div>
  </div>
</div>

