<h1 id="header">N.C. Proveedor - [<%= t('EDITION') %>]</h1>
<div class="panel">
  <div class="panel-content">
  <%= form_for(@nota_credito_proveedor) do |f| %>
  <div class="row">
    <div class="col-md-6">
      <label><%= t('DATE') %></label>
      <%= f.date_select :data %>
    </div>
    <div class="col-md-3">
      <label>Ctz. GsxU$</label>
      <%= text_field :nota_credito_proveedor, :cotacao, size: 10, value: @nota_credito_proveedor.cotacao.to_i %>
    </div>
    <div class="col-md-3">
      <label>Ctz. GsxR$</label>
      <%= text_field :nota_credito_proveedor, :cotacao_real, size: 10, value: @nota_credito_proveedor.cotacao_real.to_i %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label>Proveedor</label>
      <%= f.text_field :persona_nome, size: 75 %>
      <%= f.hidden_field :persona_id %>

    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <label>Doc.</label>
      <%= f.text_field :documento_numero_01,:size => 3, :maxlength => 3 %>-<%= f.text_field :documento_numero_02,:size => 3, :maxlength => 3 %>-<%= f.text_field :documento_numero,   :size => 9, :maxlength => 20 %>

    </div>

    <div class="col-md-3">
      <label><%= t('COIN') %></label>
      <% if params[:action] == 'index'%>
        <%= f.select :moeda, [['Gs.', 1], ['U$', 0], ['R$', 2]], selected: current_unidade.moeda %>
      <% else %>
        <%= f.select :moeda, [['Gs.', 1], ['U$', 0], ['R$', 2]] %>
      <% end %>

    </div>
    <div class="col-md-3 valores-gs" hidden>
      <%= panel_field_gs_label 'Valor Gs.',f,:total_guarani %>
    </div>

    <div class="col-md-3 valores-us" hidden>
      <%= panel_field_us_label 'Valor U$',f,:total_dolar %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <fieldset>
      <legend>Operaci贸n</legend>
        <%= f.radio_button :operacao, 0,  :Checked => "True" %> Devoluciones
        <br/>
        <%= f.radio_button :operacao, 1 %> Descuentos
        <%= f.radio_button :operacao, 2 %> Descuentos Por Productos
      </fieldset>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
        <fieldset>
        <legend>Tipo Aplicaci贸n</legend>
        <%= f.radio_button :tipo, 0 %> Devolci贸n Efectivo
        <br/>
        <%= f.radio_button :tipo, 1,  :Checked => "True" %> Aplicaci贸n en Titulos
        </fieldset>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <br>
      <%= f.text_area :concepto, :cols => 75, :rows => 5, class: 'panel-field', placeholder: 'Obs.' %>
    </div>
  </div>
    <div class="footer-buttons">
      <%= f.submit "Seguir",:disable_with => "Aguarde..." , :class => "btn btn-default add", "data-plus-as-tab" => "false" %>
      <%= link_to t('BACK'), nota_credito_proveedors_path,:class => 'btn back' %>
    </div>
  </div>
</div>

  <% end %>

  <script>



  $("#nota_credito_proveedor_moeda").change(function() {
      if (this.value == '1') {  
        $(".valores-gs").show();
        $(".valores-rs").hide();
        $(".valores-us").hide();

      } else if (this.value == '0') {
        $(".valores-us").show();
        $(".valores-rs").hide();
        $(".valores-gs").hide();

      } else if (this.value == '2') {
        $(".valores-rs").show();
        $(".valores-us").hide();
        $(".valores-gs").hide();
      };
  });


  $('#nota_credito_proveedor_moeda').trigger('change');


    //cotacao
    $(document).ready(function() {
      $.ajax({url: '/buscas/cotz_us_compra',
              type: 'POST',
              beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
              data: 'data=' + $('#nota_credito_proveedor_data_3i').val()+'/'+
                              $('#nota_credito_proveedor_data_2i').val()+'/'+
                              $('#nota_credito_proveedor_data_1i').val(),
              success: function(data){
              $('#nota_credito_proveedor_cotacao').val(number_format(data, 0, ',', '.'));} });

      $.ajax({url: '/buscas/cotz_rs_compra',
              type: 'POST',
              beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
              data: 'data=' + $('#nota_credito_proveedor_data_3i').val()+'/'+
                              $('#nota_credito_proveedor_data_2i').val()+'/'+
                              $('#nota_credito_proveedor_data_1i').val(),
              success: function(data){
              $('#nota_credito_proveedor_cotacao_real').val(number_format(data, 0, ',', '.'));} });

    });
  </script>


  <script>

    $(function() {
      $( "#nota_credito_proveedor_persona_nome" ).autocomplete({
          source: function( request, response ) {
          $.ajax({
            url: "/personas/busca",
            dataType: "json",
            data: {
              tipo: 'DESCRIPCION',
              busca: request.term
            },
            success: function( data ) {
              response( data );
            },
          });
        },
        minLength: 2,
        change: function( event, ui ) {
          $("#nota_credito_proveedor_persona_id").val("");
          $('#nota_credito_proveedor_persona_id').val(ui.item.id);
          return false;
        }
      });
      $( "#nota_credito_proveedor_persona_nome" ).change(function(){
      });
    });   

  </script>
</body>







