
<p>
  <strong>Cuotas:</strong>
  <%= @presupuesto_cota.cuotas %>
</p>

<p>
  <strong>Valor gs:</strong>
  <%= @presupuesto_cota.valor_gs %>
</p>

<p>
  <strong>Valor rs:</strong>
  <%= @presupuesto_cota.valor_rs %>
</p>

<p>
  <strong>Valor us:</strong>
  <%= @presupuesto_cota.valor_us %>
</p>

<p>
  <strong>Vencimento:</strong>
  <%= @presupuesto_cota.vencimento %>
</p>


