<%# MENU SUPER SIMPLES - FUNCIONA GARANTIDO NO RAILS 3.2 %>

<%# Cache simples que muda automaticamente por usuário e unidade %>
<% cache "menu_#{current_user&.id}_#{current_unidade&.id}", expires_in: 30.minutes do %>

  <%# Menu code com cache %>
  <%= raw Rails.cache.fetch("menu_code_#{current_user&.id}", expires_in: 30.minutes) { current_user&.menu_code || '' } %>

  <ul class="nav navbar-nav navbar-right">
    <li><a href="/tarefas"><i class="icon-white icon-calendar"></i></a></li>
    <li class="divider-vertical"></li>
    <li><i class="icon-white icon-th"></i>

      <%# Unidades com cache simples %>
      <% if current_user %>
        <% cached_unidades = Rails.cache.fetch("unidades_#{current_user.id}", expires_in: 30.minutes) do %>
          <% UnidadesUsuario.joins(:unidade)
                            .where(usuario_id: current_user.id)
                            .select('unidades_usuarios.id, unidades.unidade_nome, unidades_usuarios.unidade_id')
                            .map { |p| [p.unidade_nome, p.unidade_id] } %>
        <% end %>

        <%= select("busca", "unidade", cached_unidades,
                   {selected: current_unidade&.id},
                   {class: 'hidden-select'}) %>
      <% else %>
        <%= select("busca", "unidade", [], {}, {class: 'hidden-select'}) %>
      <% end %>
    </li>

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="icon-white icon-user"></i>
        <%= current_user&.usuario_nome %>
        <small>(<%= I18n.locale %>)</small>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <% if session[:logged] %>
          <li><%= link_to "logout", new_login_path, :action => :delete %></li>
        <% end %>
      </ul>
    </li>
  </ul>

<% end %>

<script>
$('#busca_unidade').change(function() {
  $.ajax({
    url: "/logins/troca_unidade",
    type: 'POST',
    data: {
      'busca[unidade_id]': $('#busca_unidade').val(),
      'busca[usuario_id]': <%= current_user&.id || 0 %>
    },
    beforeSend: function(xhr) {
      xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
    },
    success: function(){
      window.location.reload();
    }
  });
});
</script>