<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <h1 id="header">
        Romaneio # <%= @romaneio.documento_numero %> | Cliente: <%= @romaneio.persona_nome %>
        <div class="pull-right">
          <%= link_to t('BACK'), edit_romaneio_path(@romaneio), class: 'btn btn-blue' %>
          <%= link_to 'Salir', romaneios_url, class: 'btn btn-blue' %>
        </div>
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel">
        <%= render :partial=>"/romaneio_produtos/index", :locals=>{:romaneio_produtos => @romaneio.romaneio_produtos} %>
    </div>
  </div>
</div>
         
